<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.yedam.compani.business.reply.mapper.BusinessReplyMapper">
	<select id="getBusinessReply" resultType="CamelHashMap">
		SELECT T.*
		FROM (
			SELECT 	reply_no
					, br.buss_no
					, reply_cntn
					, reply_dt
					, pubcyn
					, br.memb_id
					, reply_upno
					, reply_show
					, buss_nm
					, FIND_CODENM(pubcyn) AS pubcyn_nm
					, ROW_NUMBER() OVER (ORDER BY reply_dt) ROW_NUM
			FROM 	business_reply br JOIN business b ON(br.buss_no = b.buss_no)
			WHERE 	br.buss_no IN  (
									SELECT buss_no
									FROM business
									WHERE prjt_no = #{prjtNo}
									)
					AND memb_id = #{membId}
					AND reply_show = '0N1'
			ORDER BY reply_dt
		) T
		WHERE #{pageNum}*#{amount} >= ROW_NUM AND ROW_NUM > (#{pageNum}-1)*#{amount}
	</select>

	<select id="selectListForLevel" resultType="CamelHashMap">
		SELECT level
			, reply_no
			, buss_no
			, reply_cntn
			, reply_dt
			, pubcyn
			, m.memb_id
			, reply_upno
			, m.memb_nm
			, reply_show
		FROM business_reply br LEFT JOIN member m ON(br.memb_id = m.memb_id)
		WHERE buss_no = #{bussNo}
		START WITH reply_upno IS NULL
		CONNECT BY PRIOR  reply_no = reply_upno
	</select>

	<insert id="insert" parameterType="BusinessReplyVO">
		<selectKey keyProperty="replyNo,replyDt" resultType="BusinessReplyVO" order="BEFORE">
			SELECT NVL(MAX(reply_no),0) + 1 AS replyNo, SYSDATE AS replyDt
			FROM business_reply
		</selectKey>

		INSERT INTO business_reply
			(
			reply_no
			, buss_no
			, reply_cntn
			, reply_dt
			<if test="pubcyn != null">
			, pubcyn
			</if>
			, memb_id
			<if test="replyUpno != null">
			, reply_upno
			</if>
			)
		VALUES
			(
			#{replyNo}
			, #{bussNo}
			, #{replyCntn}
			, #{replyDt}
			<if test="pubcyn != null">
			, #{pubcyn}
			</if>
			, #{membId}
			<if test="replyUpno != null">
			, #{replyUpno}
			</if>
			)
		
	</insert>

	<update id="update" parameterType="BusinessReplyVO">
		<selectKey keyProperty="replyDt" resultType="BusinessReplyVO" order="BEFORE">
			SELECT SYSDATE AS replyDt
			FROM dual
		</selectKey>

		UPDATE business_reply
		<set>
			<if test="replyCntn != null">
				reply_cntn = #{replyCntn},
			</if>
			<if test="replyShow != null">
                reply_show = #{replyShow},
            </if>
			reply_dt = #{replyDt}
		</set>
		WHERE reply_no = #{replyNo}
	</update>
  </mapper>