<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.compani.business.mapper.BusinessMapper">
	<!-- 개인캘린더 업무 목록 -->
	<select id="selectPersonalCalendarAllBusiness" resultType="BusinessVO">
		SELECT b.buss_no
			   , b.prjt_no
			   , p.prjt_nm
			   , b.buss_nm
			   , m.memb_id
			   , b.buss_imp
			   , b.buss_prgre
			   , b.buss_frdt
			   , b.buss_todt
			   , b.buss_st
		FROM business b
		INNER JOIN project p 
				ON b.prjt_no = p.prjt_no
		INNER JOIN business_member m 
				ON b.buss_no = m.buss_no
		WHERE buss_st = '진행중'
		<!-- AND memb_id = #{sessionId} -->
		ORDER BY buss_frdt
	</select>
	
	<!-- 프로젝트 캘린더 업무 목록 -->
	<select id="selectProjectCalendarAllBusiness" resultType="BusinessVO">
		Select buss_no
			   , prjt_no
			   , buss_nm
			   , buss_imp
			   , buss_prgre
			   , buss_frdt
			   , buss_todt
			   , buss_st
		FROM business
		WHERE buss_st = '진행중'
		ORDER BY buss_frdt
	</select>
	
	<select id="selectBusinessStateList" resultType="CamelHashMap">
		SELECT buss_st, COUNT(buss_st) AS buss_st_cnt
		FROM business
		<where>
			<if test="prjtNo != null and prjtNo > 0">
				AND prjt_no = #{prjtNo}
			</if>
		</where>
		GROUP BY buss_st
	</select>

	<select id="selectBusinessAndLevelList" resultType="CamelHashMap">
		SELECT level
				, buss_no
				, buss_nm
				, buss_upcd
				, buss_imp
				, buss_prgre
				, buss_st
				, TRUNC(buss_todt - sysdate,0) AS d_day
		FROM business
		<where>
			<if test="prjtNo != null and prjtNo > 0">
				AND prjt_no = #{prjtNo}
			</if>
		</where>
		START WITH buss_upcd IS NULL
		CONNECT BY PRIOR  buss_no = buss_upcd
	</select>
</mapper>