<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.compani.file.mapper.FileMapper">
	
				<!-- 드라이브 파일 리스트 + 검색 -->
				<select id="fileList" resultType="FileVO">
					SELECT	f.file_no
							, f.prjt_no
							, f.buss_no
							, f.file_nm
							, f.file_path
							, f.file_type
							, f.file_desct
							, f.file_dt
							, mem.memb_nm
							, f.file_size
					FROM   	project_file f, project p, business b, member mem
					WHERE	f.buss_no = b.buss_no
					AND		b.prjt_no = p.prjt_no
					AND		f.memb_id = mem.memb_id
					AND		f.prjt_no = #{prjtNo}
					<choose>
						<when test="pType == '파일명'">
							AND f.file_nm LIKE '%' || #{pKeyword} || '%'
						</when>
						<when test="pType == '작성자'">
							AND mem.memb_nm LIKE '%' || #{pKeyword} || '%'
						</when>
					</choose>
					ORDER BY file_no DESC
				</select>
				
				<!-- 드라이브 필터링 -->
				<select id="fileFilter" resultType="FileVO">
					SELECT	f.file_no
							, f.prjt_no
							, f.buss_no
							, f.file_nm
							, f.file_path
							, f.file_type
							, f.file_desct
							, f.file_dt
							, mem.memb_nm
							, f.file_size
					FROM   	project_file f, project p, business b, member mem
					WHERE	f.buss_no = b.buss_no
					AND		b.prjt_no = p.prjt_no
					AND		f.memb_id = mem.memb_id
					AND		f.prjt_no = #{prjtNo}
					<choose>
						<when test="filter != null and filter != ''">
							AND f.file_type LIKE '%' || #{filter} || '%'
						</when>
					</choose>
					ORDER BY file_no DESC
				</select>
				
				
				<!-- 파일 업로드 (모달) -->
				<insert id="fileInsert" parameterType="FileVO">
					<selectKey keyProperty="fileNo"
							   resultType="int"
							   order="BEFORE">
					SELECT NVL(MAX(FILE_NO), 0) +1
					FROM   PROJECT_FILE
					</selectKey>
					INSERT INTO project_file(file_no
											 , prjt_no
											 , buss_no
											 , file_nm
											 , file_path
											 , file_type
											 , file_desct
											 , memb_id
											 , file_size)
					VALUES (
							#{fileNo}
							, #{prjtNo}
							, #{bussNo}
							, #{fileNm}
							, #{filePath}
							, #{fileType}
							, #{fileDesct}
							, #{membId}
							, #{fileSize}
								)
						
				</insert>
				
				
				<!-- 파일 삭제 (모달, 드라이브)-->
				<delete id="fileDelete" parameterType="FileVO">
					DELETE FROM PROJECT_FILE
					WHERE 		FILE_NO = #{fileNo}
				</delete>
				
				
				<!-- 검색기능 + 리스트 -->
				<select id="findFile" resultType="FileVO">
					SELECT 	  f.file_no
							, f.prjt_no
							, f.buss_no
							, f.file_nm
							, f.file_path
							, f.file_type
							, f.file_desct
							, f.file_dt
							, mem.memb_nm
							, f.file_size
							, b.buss_nm
							, p.prjt_nm
							
				    FROM 	project_file f, project p, business b, member mem
					WHERE	f.buss_no = b.buss_no
					AND		b.prjt_no = p.prjt_no
					AND		f.memb_id = mem.memb_id
					AND		f.buss_no = #{bussNo}
					<choose>
						<when test="type == '파일명'">
							AND f.file_nm LIKE '%' || #{keywordFile} || '%'
						</when>
						<when test="type == '작성자'">
							AND mem.memb_nm LIKE '%' || #{keywordFile} || '%'
						</when>
					</choose>
					ORDER BY f.file_no DESC	
				</select>
				
				<!-- 드라이브 파일 업로드 -->
				<insert id="driveFileInsert" parameterType="list">
			        INSERT INTO   project_file
			                  (   file_no
			                  	, prjt_no
			                  	, buss_no
			                    , file_nm
			                    , file_path
			                    , file_type
			                    , file_dt
			                    , memb_id
			                    , file_size		                    
			                  )
			        SELECT file_seq.nextval, W.*
			        FROM (
			        <foreach item="files" collection="list" separator="UNION ALL ">
			            SELECT		1 as prjtNo
			                    ,	1 as bussNo
			                    , 	#{files.fileNm} as fileNm
			                    , 	#{files.filePath} as filePath
			                    ,   #{files.fileType} as fileType
			                    ,   SYSDATE as fileDt
			                    ,  	'ojunkwon' as membId
			                    ,   #{files.fileSize} as fileSize
			            FROM       DUAL
			        </foreach>
			             ) W
				</insert>
				
				<!-- 파일 다운로드 -->
				<select id="fileDownload" resultType="fileVO"> 
					SELECT 	  f.file_no
							, f.prjt_no
							, f.buss_no
							, f.file_nm
							, f.file_path
							, f.file_type
							, f.file_desct
							, f.file_dt
							, mem.memb_nm
							, f.file_size
							
				    FROM 	project_file f, project p, business b, member mem
					WHERE	f.buss_no = b.buss_no
					AND		b.prjt_no = p.prjt_no
					AND		f.memb_id = mem.memb_id
					AND		f.file_no = #{fileNo}
				</select>	
				
</mapper>