<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.compani.file.mapper.FileMapper">
	
				<!-- 파일 리스트 (업무 파일함)-->
				<select id="fileList" resultType="FileVO">
					SELECT	  FILE_NO
						    , FILE_NM
						    , FILE_SIZE
						    , MEMB_ID
						   	, FILE_DT
					FROM   	 PROJECT_FILE
					ORDER BY FILE_NO DESC
				</select>
				
				
				<!-- 파일 리스트 (프로젝트 자료함) -->
				<select id="fileInfo" resultType="FileVO">
				
				</select>	
				
				
				<!-- 파일 업로드 (업무 파일함) -->
				<insert id="fileInsert" parameterType="FileVO">
					<selectKey keyProperty="fileNo"
							   resultType="int"
							   order="BEFORE">
					SELECT NVL(MAX(FILE_NO), 0) +1
					FROM   PROJECT_FILE
					</selectKey>
					INSERT INTO project_file(file_no
											 , prjt_no
											 , file_nm
											 , file_path
											 , file_type
											 , memb_id
											 , file_size)
					VALUES (
							#{fileNo}
							, 1
							, #{fileNm}
							, #{filePath}
							, #{fileType}
							, 'm2'
							, #{fileSize}
								)
						
				</insert>
				
				
				<!-- 파일 삭제 (업무 파일함, 프로젝트 자료함)-->
				<delete id="fileDelete" parameterType="FileVO">
					DELETE FROM PROJECT_FILE
					WHERE 		FILE_NO = #{fileNo}
				</delete>
				
				
				<!-- 검색기능 -->
				<select id="fileSearch" resultType="map">
					SELECT  FILE_NO
							, PRJT_NO
							, BUSS_NO
							, FILE_NM
							, FILE_PATH
							, FILE_TYPE
							, FILE_DESCT
							, FILE_DT
							, MEMB_ID
							, FILE_SIZE
							
					FROM	PROJECT_FILE F, BUSINESS B, PROJECT P
					WHERE 	F.BUSS_NO = B.BUSS_NO
					AND		B.PRJT_NO = P.PRJT
					<choose>
						<when test="keyword == '파일명' and keyword.equals('파일명')">
							(fileNm like '%' || #{search} || '%')
						</when>
						<when test="keyword == '작성자' and keyword.equals('작성자')">
							(membId like '%' || #{search) || '%')
						</when>
					</choose>		
				</select>
		
				
		
</mapper>