<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.compani.file.mapper.FileMapper">
	
				<!-- 파일 리스트 (업무 파일함)-->
				<select id="fileList" resultType="FileVO">
					SELECT	  FILE_NO
						    , FILE_NM
						    , FILE_SIZE
						    , MEMB_ID
						   	, FILE_DT
					FROM   	 PROJECT_FILE
					<choose>
						<when test="type != null and tpye == ''">
						
						</when>
					</choose>
					
					ORDER BY FILE_NO DESC
				</select>
				
				
				<!-- 파일 리스트 (프로젝트 자료함) -->
				<select id="fileInfo" resultType="FileVO">
				
				</select>	
				
				
				<!-- 파일 업로드 (업무 파일함) -->
				<insert id="fileInsert" parameterType="FileVO">
					<selectKey keyProperty="fileNo"
							   resultType="int"
							   order="BEFORE">
					SELECT NVL(MAX(FILE_NO), 0) +1
					FROM   PROJECT_FILE
					</selectKey>
					INSERT INTO project_file(file_no
											 , prjt_no
											 , file_nm
											 , file_path
											 , memb_id
											 , file_size)
					VALUES (
							file_no = #{fileNo}
							, prjt_no = #{prjtNo}
							, file_nm = #{fileNm}
							, file_path = #{filePath}
							, memb_id = #{membId}
							, file_size = #{fileSize}
								)
						
				</insert>
				
				
				<!-- 파일 삭제 (업무 파일함, 프로젝트 자료함)-->
				<delete id="fileDelete" parameterType="FileVO">
					DELETE FROM PROJECT_FILE
					WHERE 		FILE_NO = #{fileNo}
				</delete>

		
</mapper>