<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.compani.issue.file.mapper.IssueFileMapper">
	<insert id="modalInsertIssueFile" parameterType="list">
					INSERT INTO issue_file
							(   issu_file_no
							  , issu_file_nm
							  , issu_file_path
							  , issu_no
							  , issu_file_size
							  , issu_file_del
							  , issu_file_dt
							  , issu_file_del_dt																		 
							)
					SELECT issue_file_seq.nextval, A.*
					FROM (	
							<foreach item="file" collection="list" separator="UNION ALL ">		   
								SELECT #{file.issuFileNm}
							  , 	   #{file.issuFilePath}
							  , 	  #{file.issuNo}
							  , 				 #{file.issuFileSize}
							  , 				 0 
							  ,              SYSDATE
							  ,              NULL
							   FROM     DUAL
						   </foreach>   	   
						   ) A								 
	</insert>
</mapper>