<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.compani.issue.hashtag.mapper.IssueHashtagMapper">
	<insert id="insert" parameterType="list">
		INSERT INTO 	issue_hashtag
				(   	issu_ht_no
				  	  , issu_no
				  	  , issu_ht_nm																 
				 )
		SELECT 			issue_hashtag_seq.nextval, A.*
		FROM 	 (
		<foreach collection="hashtags" item="hashtags" separator="UNION ALL ">
			SELECT  	#{issuNo}
			      	,	#{hashtags}
			FROM        DUAL
		</foreach>
			) A
	</insert>
	
	<select id="select" resultType="IssueHashtagVO">
		SELECT		issu_ht_no
				  , issu_no
				  , issu_ht_nm
		FROM        issue_hashtag
		WHERE       issu_no = #{issuNo}
		ORDER BY    issu_ht_no		  
	</select>
	
	<insert id="edit" parameterType="list">
		BEGIN
		
		DELETE 		
		FROM			issue_hashtag
		WHERE			issu_no = #{issuNo};
		
		INSERT INTO 	issue_hashtag
				(   	issu_ht_no
				  	  , issu_no
				  	  , issu_ht_nm																 
				 )
		SELECT 			issue_hashtag_seq.nextval, A.*
		FROM 	 (
		<foreach collection="hashtags" item="hashtags" separator="UNION ALL ">
			SELECT  	#{issuNo}
			      	,	#{hashtags}
			FROM        DUAL
		</foreach>
				 ) A;
			
		END;
	</insert>
	
	<delete id="delete" parameterType="int">
		DELETE
		FROM	issue_hashtag
		WHERE
				issu_no = #{issuNo}
	</delete>

	<select id="selectHashtagByPrjtNo" resultType="IssueHashtagVO">
		SELECT		h.issu_ht_no
		          , h.issu_no
		          , h.issu_ht_nm
		          , i.prjt_no
		FROM        issue_hashtag h, issue i
		WHERE       h.issu_no  = i.issu_no(+)
		AND         prjt_no = #{prjtNo}
		ORDER BY    issu_ht_no
	</select>
</mapper>