<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.compani.issue.mapper.IssueMapper">

	<select id="findIssue" resultType="IssueVO">
		SELECT  	 i.issu_no
				   , i.prjt_no
				   , i.buss_no
				   , i.memb_id
				   , i.issu_ttl
				   , i.issu_cntn
				   , i.issu_knd
				   , i.issu_rank
				   , i.issu_st
				   , i.issu_dt
				   , p.prjt_nm
				   , b.buss_nm
				   , memb.memb_nm
		FROM 	  	 issue  i, project p, business b, member memb
		WHERE 	  	 i.buss_no = b.buss_no
		AND 		 b.prjt_no = p.prjt_no
		AND			 memb.memb_id = i.memb_id
		AND          i.buss_no = #{bussNo}
		<choose>
			<when test="keyword == '작성자'">
				 AND memb_nm  LIKE '%' || #{searchBI} || '%'
			</when>
			<when test="keyword == '제목'">
				 AND issu_ttl LIKE '%' || #{searchBI} || '%'
			</when>
			<when test="keyword == '전체'">
				 AND (memb_nm LIKE '%' || #{searchBI} || '%'
				 OR issu_ttl LIKE '%' || #{searchBI} || '%'
				 )
			</when>
		</choose>
		ORDER BY 	issu_dt DESC
	</select>
	
	<!-- 프로젝트 이슈 페이지에서 이슈 리스트 조회 -->
	<select id="findProjectIssue" resultType="IssueVO">
		SELECT  	 i.issu_no
				   , i.prjt_no
				   , i.buss_no
				   , i.memb_id
				   , i.issu_ttl
				   , i.issu_cntn
				   , i.issu_knd
				   , i.issu_rank
				   , i.issu_st
				   , i.issu_dt
				   , p.prjt_nm
				   , b.buss_nm
				   , memb.memb_nm
		FROM 	  	 issue i, project p, business b, member memb
		WHERE 	  	 i.buss_no = b.buss_no(+)
		AND 		 b.prjt_no = p.prjt_no(+)
		AND			 memb.memb_id = i.memb_id
		AND          i.prjt_no = #{prjtNo}
		 <choose>
			<when test="keyword == '작성자'">
				 AND memb_nm  LIKE '%' || #{search} || '%'
			</when>
			<when test="keyword == '제목'">
				 AND issu_ttl LIKE '%' || #{search} || '%'
			</when>
			<when test="keyword == '업무명'">
				 AND buss_nm LIKE '%' || #{search} || '%'
			</when>
			<when test="keyword == '전체'">
				 AND (memb_nm LIKE '%' || #{search} || '%'
				 OR  issu_ttl LIKE '%' || #{search} || '%'
				 OR  buss_nm  LIKE '%'  || #{search} || '%')
			</when>
		</choose> 
		ORDER BY 	 issu_dt DESC
	</select>
	
	<!-- 회사이슈 페이지에서 이슈 리스트 조회 -->
	<select id="findCompanyIssue" resultType="IssueVO">
		SELECT  	 i.issu_no
				   , i.prjt_no
				   , i.buss_no
				   , i.memb_id
				   , i.issu_ttl
				   , i.issu_cntn
				   , i.issu_knd
				   , i.issu_rank
				   , i.issu_st
				   , i.issu_dt
				   , p.prjt_nm
				   , b.buss_nm
				   , p.co_cd
				   , memb.memb_nm
		FROM 	  	 issue i, project p, business b, member memb
		WHERE 	  	 i.buss_no = b.buss_no
		AND 		 b.prjt_no = p.prjt_no
		AND			 i.memb_id = memb.memb_id
		AND          p.co_cd   = #{coCd}
		AND          p.prjt_pubcyn = '0F1'
		 <choose>
			<when test="keyword == '작성자'">
				 AND memb_nm  LIKE '%' || #{search} || '%'
			</when>
			<when test="keyword == '제목'">
				 AND issu_ttl LIKE '%' || #{search} || '%'
			</when>
			<when test="keyword == '업무명'">
				 AND buss_nm LIKE '%' || #{search} || '%'
			</when>
			<when test="keyword == '프로젝트명'">
				 AND prjt_nm LIKE '%' || #{search} || '%'
			</when>
			<when test="keyword == '전체'">
				 AND (memb_nm LIKE '%' || #{search} || '%'
				 OR  issu_ttl LIKE '%' || #{search} || '%'
				 OR  buss_nm  LIKE '%' || #{search} || '%'
				 OR  prjt_nm  LIKE '%' || #{search} || '%')
			</when>
		</choose> 
		ORDER BY 	 issu_dt DESC
	</select>

	<select id="getIssueList" resultType="IssueVO">
		SELECT  p.prjt_nm, 
			    i.memb_id ,
			    i.issu_dt,
			    i.issu_st
		FROM    project p , issue i
		WHERE   p.prjt_no = i.prjt_no

	</select>
	
	<!-- 단건 조회 -->
	<select id="findById" resultType="IssueVO">
		SELECT 	  i.issu_no
				, i.prjt_no
				, i.buss_no
				, i.memb_id
				, i.issu_ttl
				, i.issu_cntn
				, i.issu_knd
				, i.issu_rank
				, i.issu_st
				, i.issu_dt
				, m.memb_nm
		FROM	  issue i, member m
		WHERE     i.memb_id = m.memb_id
		AND 	  issu_no = #{issuNo}	
	</select>

	<insert id="modalInsertIssue" parameterType="IssueVO">
		<selectKey keyProperty="issuNo" resultType="int" order="BEFORE">
				SELECT NVL(MAX(issu_no), 0) + 1
				FROM   issue
		</selectKey>
		INSERT INTO		 issue
					(   
						 issu_no
					   , prjt_no
					   , buss_no
					   , memb_id
					   , issu_ttl
					   , issu_cntn
					   , issu_knd
					   , issu_rank
					   , issu_st
				       , issu_dt																			 
					 )
			  VALUES  
			         (
						 #{issuNo}
					   , 1
			<choose>
				<when test="bussNo > 0">
					   , #{bussNo}
				</when>
				<otherwise>
					   , NULL	
				</otherwise>
			</choose>				  
					   , #{membId}
					   , #{issuTtl}
			<choose>
				<when test="issuCntn != null and !issuCntn.equals('')">
					   , #{issuCntn}
				</when>
				<otherwise>
				 	   ,  'No Contents'
				</otherwise>
			</choose>
					   ,  #{issuKnd}
					   ,  #{issuRank}
					   ,  '0E2'
					   ,  SYSDATE					
			 		   )								 
	</insert>
	
	<update id="update" parameterType="IssueVO">
		UPDATE    issue
		SET         
					    issu_ttl    = #{issuTtl}
					,   issu_cntn 	= #{issuCntn}
					,   issu_knd  	= #{issuKnd}
					,   issu_rank 	= #{issuRank}
					,   issu_st     = #{issuSt}
					,   issu_dt     = SYSDATE
		WHERE    
						issu_no    	= #{issuNo}								
	</update>
	
	<!--  이슈 삭제 -->
		<delete id="deleteById" parameterType="int">
			DELETE 
			FROM 		 issue
			WHERE      
						 issu_no = #{issuNo}
		</delete>
	
	<!-- 프로젝트 이슈 피드백 -->
	<select id="selectProjectFeedbackIssueList" resultType="IssueVO">
		SELECT issu_no
			   , prjt_no
			   , memb_nm
			   , issu_ttl
			   , CASE issu_knd WHEN '0L1' THEN '버그'
                               WHEN '0L2' THEN '개선사항'
                               WHEN '0L3' THEN '새기능'
                               WHEN '0L4' THEN '업무' END AS issu_knd
			   , CASE issu_st WHEN '0E1' THEN '해결'
                              WHEN '0E2' THEN '미해결'
                              WHEN '0E3' THEN '해결불가' END AS issu_st
			   , issu_dt
		FROM issue i LEFT JOIN member m
						   ON i.memb_id = m.memb_id
		<!-- WHERE prjt_no = {prjtNo} -->
		ORDER BY issu_no DESC
	</select>
</mapper>