<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.compani.member.mapper.MemberMapper">
	<!-- 로그인 -->
	<select id="selectMemberInfo" resultType="MemberVO">
		SELECT MEMB_ID
		,'{noop}'||MEMB_PWD MEMB_PWD
		,MEMB_NM
		,MEMB_BIRTH_DT
		,MEMB_EMAIL
		,MEMB_TELNO
		,CO_CD
		,MEMB_DEPT
		,MEMB_WKGD
		,MEMB_PHT_PATH
		,MEMB_MSG
		,MEMB_ACCP
		,'ROLE_'|| PERM_NO as PERM_NO
		FROM member
		WHERE memb_id =
		#{membId}
	</select>

	<!-- 중복체크 -->
	<select id="selectMemberIdList" resultType="Map">
		SELECT MEMB_ID
		FROM
		member
	</select>
	<!-- 사원 회원가입 -->
	<insert id="insertMemberInfo" parameterType="MemberVO">
		INSERT INTO member(
		memb_id
		,memb_pwd
		,memb_nm
		,memb_birth_dt
		<if test="membEmail != null and !membEmail.equals('')">,memb_email</if>
		<if test="membTelno != null and !membTelno.equals('')">,memb_telno</if>
		,co_cd
		<if test="membDept != null and !membDept.equals('')">,memb_dept</if>
		<if test="membWkgd != null and !membWkgd.equals('')">,memb_wkgd</if>
		,memb_accp
		,perm_no
		)
		VALUES(
		#{membId}
		,#{membPwd}
		,#{membNm}
		,#{membBirthDt}
		<if test="membEmail != null and !membEmail.equals('')">,#{membEmail}</if>
		<if test="membTelno != null and !membTelno.equals('')">,#{membTelno}</if>
		,#{coCd}
		<if test="membDept != null and !membDept.equals('')">,#{membDept}</if>
		<if test="membWkgd != null and !membWkgd.equals('')">,#{membWkgd}</if>
		,'0C2'
		,#{permNo}
		)
	</insert>
	<!-- 밑에 select로 나중에 통합 -->
	<select id="getMemberList" resultType="MemberVO">
		SELECT *
		FROM MEMBER
		<!-- WHERE CO_CD = #{coCd} -->
	</select>

	<select id="memberSearchList" resultType="map">
		SELECT *
		FROM MEMBER

		<if test="key == '전체'">
			WHERE MEMB_NM LIKE '%' || #{value} || '%'
			OR MEMB_DEPT LIKE '%' || #{value} || '%'
			OR MEMB_WKGD LIKE '%' || #{value} || '%'

		</if>
		<if test="key == '이름'">
			WHERE MEMB_NM LIKE '%' || #{value} || '%'
		</if>
		<if test="key== '부서'">
			WHERE MEMB_DEPT LIKE '%' || #{value} || '%'
		</if>
		<if test="key == '직책'">
			WHERE MEMB_WKGD LIKE '%' || #{value} || '%'
		</if>


	</select>

	<update id="updateMemberInfo" parameterType="MemberVO">
		UPDATE member SET
		<if test="membNm != null and !membNm.equals('')">memb_nm = #{membNm},</if>
		<if test="membDept != null and !membDept.equals('')">memb_dept = #{membDept},</if>
		<if test="membWkgd != null and !membWkgd.equals('')">memb_wkgd = #{membWkgd},</if>
		<if test="membMsg != null and !membMsg.equals('')">memb_msg = #{membMsg},</if>
		<if test="membBirthDt != null and !membBirthDt.equals('')">memb_birth_dt = #{membBirthDt},</if>
		<if test="membEmail != null and !membEmail.equals('')">memb_email = #{membEmail},</if>
		<if test="membTelno != null and !membTelno.equals('')">memb_telno = #{membTelno},</if>
		<if test="membPwd != null and !membPwd.equals('')">memb_pwd = #{membPwd}</if>
		WHERE memb_id = #{membId}
	</update>
	<update id="updateMemberPwd" parameterType="MemberVO">
		UPDATE member SET
		memb_pwd = #{membPwd}
		WHERE memb_id = #{membId}
	</update>
	
	<!-- 프로젝트 멤버목록 -->
	<select id="selectProjectFeedbackMemberList" resultType="list">
		SELECT m.memb_nm
		FROM member m JOIN project_member p ON m.memb_id = p.memb_id
		WHERE p.prjt_no = #{prjtNo}
	</select>

	<select id="memberList" resultType="MemberVO">
		SELECT 
			MEMB_ID,
			MEMB_NM,
			MEMB_DEPT,
			MEMB_WKGD,
			MEMB_PHT_PATH
		FROM MEMBER
		WHERE CO_CD = #{coCd}
	</select>
	
	<!-- 마스터 멤버리스트 -->
	<select id="masterMemberList" resultType="CamelHashMap">
		SELECT m.co_cd
			   , co_nm 
			   , memb_id
			   , memb_nm
			   , memb_birth_dt
			   , NVL(memb_email, '-') AS memb_email
			   , NVL(memb_telno, '-') AS memb_telno
			   , CASE memb_accp	WHEN '0C1' THEN '승인'
							    WHEN '0C2' THEN '대기' END AS memb_accp
		FROM	member m	LEFT JOIN	company c 
							ON			m.co_cd = c.co_cd
		ORDER BY memb_accp, co_cd DESC
	</select>

</mapper>