<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com/yedam/compani/project/member/mapper/ProjectMemberMapper">

	<select id="selectAllProjectMemberCount" resultType="ProjectMemberVO">
		SELECT PRJT_NO , COUNT(PRJT_NO) AS COUNT
		FROM PROJECT_MEMBER
		GROUP BY PRJT_NO
	</select>
	
 	<update id="UpdateFavorite" parameterType="ProjectMemberVO">
		UPDATE PROJECT_MEMBER
		SET PRJT_FAV = #{prjtFav}
	<!-- 	<set>
			<if test = "prjtFav.equals('Y')"> 
				PRJT_FAV = #{prjtFav},
			</if>
			<if test = "prjtFav.equals('N')"> 
				PRJT_FAV = #{prjtFav}
			</if>
		</set> -->
	</update>
</mapper>