<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.yedam.compani.project.mapper.ProjectMapper">

	<select id="selectAllProject" resultType="ProjectVO">

		SELECT PM.PRJT_FAV,
		P.PRJT_NO ,
		COUNT(P.PRJT_NO) AS count,
		P.PRJT_NM,P.PRJT_TDT,
		P.PRJT_FDT,
		P.PRJT_ST
		FROM PROJECT_MEMBER PM, PROJECT P
		WHERE PM.PRJT_NO = P.PRJT_NO
		AND   pm.memb_ID = #{membId} 
		GROUP BY PM.PRJT_FAV, P.PRJT_NO, P.PRJT_NM,P.PRJT_TDT, P.PRJT_FDT,
		P.PRJT_ST
		ORDER BY PRJT_FAV DESC
	</select>

	<select id="selectProjectAndMemberList"
		resultType="CamelHashMap">
		SELECT pm.prjt_no
		, memb_id
		, prjt_memb_perm
		, prjt_nm
		, prjt_pubcyn
		,
		prjt_fdt
		, prjt_tdt
		, prjt_cmpltdt
		, prjt_st
		FROM project_member pm LEFT
		JOIN project p ON(pm.prjt_no =
		p.prjt_no)
		<where>
			<if test="memberId != null">
				AND memb_id = #{membId}
			</if>
		</where>
		ORDER BY prjt_no

	</select>

	<select id="getProjectStateList" resultType="ProjectVO">

		SELECT PM.PRJT_FAV,
			   P.PRJT_NO ,
		       COUNT(P.PRJT_NO) AS count,
			   P.PRJT_NM,P.PRJT_TDT,
			   P.PRJT_FDT,
			   FIND_CODENM(P.PRJT_ST) as prjtStNm
		FROM   PROJECT_MEMBER PM, PROJECT P
		WHERE  PM.PRJT_NO = P.PRJT_NO
		AND    p.PRJT_ST = #{prjtSt}
		GROUP BY PM.PRJT_FAV, P.PRJT_NO, P.PRJT_NM,P.PRJT_TDT, P.PRJT_FDT, P.PRJT_ST
		ORDER BY PRJT_FAV DESC

	</select>
	<update id="updateFavorite" parameterType="ProjectVO">
		UPDATE PROJECT_MEMBER
		SET PRJT_FAV = #{prjtFav}
		WHERE PRJT_NO = #{prjtNo}
	</update>

	<insert id="insertProject" parameterType="ProjectVO">
		<selectKey keyProperty="prjtNo" resultType="ProjectVO"
			order="BEFORE">
			SELECT NVL(MAX(PRJT_NO),0) +1 AS PRJT_NO FROM PROJECT
		</selectKey>
		INSERT INTO PROJECT(
		PRJT_NO,
		CO_CD,
		PRJT_NM,
		PRJT_PUBCYN,
		PRJT_FDT,
		PRJT_TDT
		)
		VALUES(
		#{prjtNo},
		#{coCd},
		#{prjtNm},
		#{prjtPubcyn},
		#{prjtFdt},
		#{prjtTdt}
		)
	</insert>

	<select id="projectSelect" resultType="CamelHashMap">
		SELECT 	 p.PRJT_NO AS PRJT_NO,
				 p.PRJT_NM AS PRJT_NM,
			  	 'D-'||FLOOR(p.prjt_Tdt -SYSDATE) AS "DATE",
			     p.PRJT_ST ,
			     p.PRJT_PUBCYN ,
			     COUNT(b.BUSS_NO) AS COUNT,
			     p.PRJT_FDT,
			     p.PRJT_TDT
	
		FROM     PROJECT p, BUSINESS b
		WHERE    p.prjt_NO = b.PRJT_NO(+)
		AND      p.PRJT_NO = #{prjtNo}
		GROUP BY p.PRJT_NO, p.PRJT_NM ,p.PRJT_TDT, p.PRJT_ST, p.PRJT_PUBCYN, p.PRJT_FDT, p.PRJT_TDT

	</select>
	
	<update id="updateProject" parameterType="ProjectVO">
		UPDATE PROJECT
		SET    PRJT_NM     = #{prjtNm},
			   PRJT_PUBCYN = #{prjtPubcyn},
			   PRJT_FDT    = #{prjtFdt},
			   PRJT_TDT    = #{prjtTdt},
			   PRJT_ST     = #{prjtSt}
			
		WHERE  PRJT_NO     = #{prjtNo}
	
	</update>
</mapper>