<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.yedam.compani.project.mapper.ProjectMapper">

	<select id="selectAllProject" resultType="ProjectVO">

		SELECT PM.PRJT_FAV, P.PRJT_NO , COUNT(P.PRJT_NO) AS count ,
		P.PRJT_NM,P.PRJT_TDT, P.PRJT_FDT,P.PRJT_ST
		FROM PROJECT_MEMBER PM, PROJECT P
		WHERE PM.PRJT_NO = P.PRJT_NO
		GROUP BY PM.PRJT_FAV, P.PRJT_NO, P.PRJT_NM,P.PRJT_TDT, P.PRJT_FDT, P.PRJT_ST
	</select>
</mapper>