<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.yedam.compani.project.mapper.ProjectMapper">

	<select id="selectAllProject" resultType="ProjectVO">
	   SELECT     pm.prjt_fav,
			      p.prjt_no,
			      COUNT(pm.prjt_no) AS count,
			   	  p.prjt_nm,
			   	  p.prjt_tdt,
			   	  p.prjt_fdt,
			   	  p.prjt_st
                
		 FROM  	  project_member pm,  
		          project p

		WHERE     pm.prjt_no = p.prjt_no
          AND     pm.prjt_no IN (SELECT prjt_no 
        						   FROM project_member
                                  WHERE memb_id = #{membId})
        GROUP BY pm.prjt_fav, 
        		 p.prjt_no, p.prjt_nm,p.prjt_tdt, p.prjt_fdt, p.prjt_st

		ORDER BY prjt_fav DESC 
	</select>

	<select id="selectProjectAndMemberList"
		resultType="CamelHashMap">
		SELECT  pm.prjt_no
				, memb_id
				, prjt_memb_perm
				, prjt_nm
				, prjt_pubcyn
				, prjt_fdt
				, prjt_tdt
				, prjt_cmpltdt
				, prjt_st
		FROM 	project_member pm LEFT JOIN project p ON(pm.prjt_no = p.prjt_no)
		<where>
			<if test="memberId != null">
				AND memb_id = #{membId}
			</if>
		</where>
		ORDER BY prjt_no
	</select>

	<select id="getProjectStateList" resultType="ProjectVO">
	     SELECT   pm.prjt_fav,
			      p.prjt_no,
			      COUNT(pm.prjt_no) AS count,
			   	  p.prjt_nm,
			   	  p.prjt_tdt,
			   	  p.prjt_fdt,
			   	  FIND_CODENM(p.prjt_st) as prjtStNm
                
		FROM   	  project_member PM,  project P
		WHERE     pm.prjt_no = p.prjt_no
		AND       p.prjt_st = #{prjtSt}
        AND       pm.prjt_no IN (SELECT prjt_no 
        						 FROM 	project_member
                                 WHERE  memb_id = #{membId})
        GROUP BY pm.prjt_fav, p.prjt_no, p.prjt_nm,p.prjt_tdt, p.prjt_fdt, p.prjt_st
		ORDER BY prjt_fav DESC 

	</select>
	
	<update id="updateFavorite" parameterType="ProjectVO">
		UPDATE project_member
		SET prjt_fav = #{prjtFav}
		WHERE prjt_no = #{prjtNo}
	</update>

	<insert id="insertProject" parameterType="ProjectVO">
		<selectKey keyProperty="prjtNo" resultType="ProjectVO"
			order="BEFORE">
			SELECT NVL(MAX(prjt_no),0) +1 AS prjt_no FROM project
		</selectKey>
		INSERT INTO project(
							prjt_no,
							co_cd,
							prjt_nm,
							prjt_pubcyn,
							prjt_fdt,
							prjt_tdt
							)
					VALUES(
							#{prjtNo},
							#{coCd},
							#{prjtNm},
							#{prjtPubcyn},
							#{prjtFdt},
							#{prjtTdt}
							)
	</insert>

	<select id="projectSelect" resultType="CamelHashMap">
		SELECT 	 p.PRJT_NO AS PRJT_NO,
				 p.PRJT_NM AS PRJT_NM,
			  	 CASE   WHEN   PRJT_TDT  &lt; TRUNC(SYSDATE) AND PRJT_CMPLTDT IS null THEN   'D+'||CEIL(SYSDATE - p.prjt_Tdt)
                        WHEN   PRJT_TDT  &gt; TRUNC(SYSDATE) AND PRJT_CMPLTDT IS null THEN   'D-'||CEIL(p.prjt_Tdt -SYSDATE)
                        WHEN   PRJT_TDT  = TRUNC(SYSDATE) AND PRJT_CMPLTDT IS null THEN  'D-day'
                        ELSE    TO_CHAR(p.PRJT_CMPLTDT)
                        END AS "DATE",
			     p.PRJT_ST ,
			     p.PRJT_PUBCYN ,
			     COUNT(b.BUSS_NO) AS COUNT,
			     p.PRJT_FDT,
			     p.PRJT_TDT
	
		FROM     PROJECT p, BUSINESS b
		WHERE    p.prjt_NO = b.PRJT_NO(+)
		AND      p.PRJT_NO = #{prjtNo}
		GROUP BY p.PRJT_NO, p.PRJT_NM ,p.PRJT_TDT, p.PRJT_ST, p.PRJT_PUBCYN, p.PRJT_FDT, p.PRJT_TDT, p.PRJT_CMPLTDT
	</select>
	
	<update id="updateProject" parameterType="ProjectVO">
		UPDATE project
		<set>
			<if test="prjtSt == '0D2'">
				prjt_cmpltdt = SYSDATE,
			</if>
			  prjt_nm     = #{prjtNm},
			  prjt_pubcyn = #{prjtPubcyn},
			  prjt_fdt    = #{prjtFdt},
			  prjt_tdt    = #{prjtTdt},
			  PRJT_ST    = #{prjtSt}
		</set>
		WHERE  prjt_no     = #{prjtNo}
	
	</update>
	
	<select id="updateCheck" resultType="ProjectMemberVO">
		SELECT pm.memb_id 	
		FROM   PROJECT_MEMBER pm, PROJECT p
		WHERE  pm.prjt_No = p.prjt_No
		AND    pm.prjt_NO  = #{prjtNo}
		AND    pm.memb_id =  #{membId}
		AND    p.PRJT_ST not in ('0D2')
	</select>
	
	<select id="findCompanyProject" resultType="ProjectVO">
		SELECT P.PRJT_NO,
			   P.PRJT_NM,
			   COUNT(pm.PRJT_NO) AS count,
			   P.PRJT_PUBCYN,
			   FIND_CODENM(P.PRJT_PUBCYN) AS prjtPubcynNm,
			   P.PRJT_FDT,
			   P.PRJT_TDT,
			   P.PRJT_CMPLTDT,
			   P.PRJT_ST,
			   FIND_CODENM(P.PRJT_ST) AS prjtStNm
		FROM   	  PROJECT_MEMBER PM,  PROJECT P
		WHERE  PM.PRJT_NO = P.PRJT_NO
  		AND    p.CO_CD = #{coCd}
  		 <choose>
			<when test="keyword == '제목'">
				 AND prjt_nm LIKE '%' || #{search} || '%'
			</when>
			<when test="keyword == '전체'">
				 AND (prjt_nm LIKE '%' || #{search} || '%'
				 OR  prjt_St  LIKE '%' || #{search} || '%')
			</when>
		</choose> 
        GROUP BY P.PRJT_NO, 
        	  P.PRJT_NM,P.PRJT_PUBCYN, P.PRJT_TDT, P.PRJT_FDT,PRJT_CMPLTDT, P.PRJT_ST
        	  
        	  
	</select>
	
</mapper>