<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.yedam.compani.project.member.mapper.ProjectMemberMapper">

	<select id="selectAllProjectMemberCount" resultType="ProjectMemberVO">
		SELECT PRJT_NO , 
			   COUNT(PRJT_NO) AS COUNT
		FROM   PROJECT_MEMBER
		GROUP BY PRJT_NO
	</select>

	<select id="selectProjectMemberList" resultType="CamelHashMap">
		SELECT pm.memb_id
				, prjt_no
				, prjt_memb_perm
				, prjt_fav
				, memb_pwd
				, memb_nm
				, memb_birth_dt
				, memb_email
				, memb_telno
				, co_cd
				, memb_dept
				, memb_msg
		FROM project_member pm LEFT JOIN member m ON(pm.memb_id = m.memb_id)
		<where>
			<if test="prjtNo != null and prjtNo > 0">
				AND prjt_no = #{prjtNo}
			</if>
		</where>
	</select>
	<select id="selectBusinessCompleteStatus" resultType="CamelHashMap">
		SELECT pm.memb_id
				, NVL(mg.buss_st_cnt,0) AS end_cnt
				, NVL(mg.total,0) AS total
				, ROUND(NVL(buss_st_cnt/DECODE(total, 0, NULL, total)*100,0)) AS status
				, m.memb_nm
		FROM
		project_member pm LEFT JOIN
		(
			SELECT memb_id
					, COUNT(memb_id) AS buss_st_cnt
					, (
						SELECT COUNT(*)
						FROM business_member
						<where>
							<if test="prjtNo != null and prjtNo > 0">
								AND prjt_no = #{prjtNo}
							</if>
							AND memb_id = bm.memb_id
						</where>
					) total
			FROM business_member bm LEFT JOIN business b ON(bm.buss_no = b.buss_no)
			<where>
				<if test="prjtNo != null and prjtNo > 0">
					AND bm.prjt_no = #{prjtNo}
				</if>
				AND (buss_st = '0K2' OR buss_st = '0K4' OR buss_st IS NULL)
			</where>
			GROUP BY memb_id
		) mg ON(pm.memb_id = mg.memb_id)
		LEFT JOIN member m ON(pm.memb_id = m.memb_id)
		<where>
			<if test="prjtNo != null and prjtNo > 0">
				AND prjt_no = #{prjtNo}
			</if>
		</where>
		ORDER BY pm.memb_id
	</select>
</mapper>