<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script
	src="https://cdn.jsdelivr.net/npm/sweetalert2@11.9.0/dist/sweetalert2.all.min.js"></script>
<link
	href="https://cdn.jsdelivr.net/npm/sweetalert2@11.9.0/dist/sweetalert2.min.css"
	rel="stylesheet">

<style>
.editBtn {
	cursor: pointer;
}

.delBtn {
	cursor: pointer;
	margin-right: 3%;
}

.submitBtn {
	margin-right: 3%;
	cursor: pointer;
	display: none;
	color: blue;
}

.progress.mb-3 {
	margin-top: 10px;
}
</style>

</head>

<body>
	<th:block layout:fragment="content">
		<div class="row">
			<div class="col-lg-8">
				<div class="default-tab">
					<ul class="nav nav-tabs mb-3" role="tablist">
						<li class="nav-item"><a class="nav-link"
							th:href="@{/project/feedback/{prjtNo}(prjtNo=${prjtNo})}">홈</a></li>
						<li class="nav-item"><a class="nav-link"
							th:href="@{/project/feedback/{prjtNo}/issue(prjtNo=${prjtNo})}">이슈</a></li>
						<li class="nav-item"><a class="nav-link"
							th:href="@{/project/feedback/{prjtNo}/personal(prjtNo=${prjtNo})}">개인
								피드백</a></li>
						<li class="nav-item"><a class="nav-link"
							th:href="@{/project/home/{prjtNo}(prjtNo=${prjtNo})}">프로젝트 홈</a></li>
					</ul>
				</div>
				<div class="column">
					<div class="row">
						<div class="col-lg-3">
							<div class="card">
								<div class="card-body" style="padding-bottom: 42px;">
									<h4 class="card-title">총 업무 수</h4>
									<span id="bussCnt" th:text="${projectStatus.bussCnt}"></span>
								</div>
							</div>
						</div>
						<!-- mmmmmmmmmmmmmm		mmmmmmmmmmmmmm		mmmmmmmmmmmmmm		mmmmmmmmmmmmmm		mmmmmmmmmmmmmm		mmmmmmmmmmmmmm		mmmmmmmmmmmmmm -->
						<div class="col-lg-3">
							<div class="card">
								<div class="card-body" style="padding-bottom: 0px;">
									<h4 class="card-title">완료한 업무</h4>
									<span id="bussComp"
										th:text="${projectStatus.bussCmplCnt}+'/'+${projectStatus.bussCnt}"></span>
									<div class="progress mb-3">
										<div
											class="progress-bar bg-warning active progress-bar-striped"
											id="bussCompBar" role="progressbar">
											<span class="sr-only"></span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- mmmmmmmmmmmmmm		mmmmmmmmmmmmmm		mmmmmmmmmmmmmm		mmmmmmmmmmmmmm		mmmmmmmmmmmmmm		mmmmmmmmmmmmmm		mmmmmmmmmmmmmm -->
						<div class="col-lg-3">
							<div class="card">
								<div class="card-body" style="padding-bottom: 0px;">
									<h4 class="card-title">초과된 업무</h4>
									<span id="bussFair"
										th:text="${projectStatus.bussExceCnt}+'/'+${projectStatus.bussCnt}"></span>
									<div class="progress mb-3">
										<div
											class="progress-bar bg-warning active progress-bar-striped"
											id="bussFairBar" role="progressbar">
											<span class="sr-only"></span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- mmmmmmmmmmmmmm		mmmmmmmmmmmmmm		mmmmmmmmmmmmmm		mmmmmmmmmmmmmm		mmmmmmmmmmmmmm		mmmmmmmmmmmmmm		mmmmmmmmmmmmmm -->
						<div class="col-lg-3">
							<div class="card">
								<div class="card-body" style="padding-bottom: 0px;">
									<h4 class="card-title">미완료 업무</h4>
									<span id="bussUncomp"
										th:text="${projectStatus.bussUncmplCnt}+'/'+${projectStatus.bussCnt}"></span>
									<div class="progress mb-3">
										<div
											class="progress-bar bg-warning active progress-bar-striped"
											id="bussUncompBar" role="progressbar">
											<span class="sr-only"></span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="column">
						<div class="row">
							<div class="col-lg-6" style="padding-right: 15px;">
								<div class="card">
									<div class="card-body" id="chartCardBody">
										<div>
											<span id="cho"
												style="display: inline; font-size: 10px; margin: 0px">초과완료</span>
											<div
												style="width: 10px; display: inline; background-color: #6fd96f; font-size: 7px; color: #6fd96f; margin: 0px">ㅡㅡㅡㅡㅡ</div>
											<span style="display: inline; font-size: 10px; margin: 0px">미완료</span>
											<div
												style="width: 10px; display: inline; background-color: #ff5e5e; font-size: 7px;; color: #ff5e5e; margin: 0px">ㅡㅡㅡㅡㅡ</div>
											<span style="display: inline; font-size: 10px; margin: 0px">완료</span>
											<div
												style="height: 1px; width: 20px; background-color: #7571f9; display: inline; font-size: 7px; color: #7571f9; margin: 0px">ㅡㅡㅡㅡㅡ</div>
										</div>
										<div id="horizontal-bar-chart"
											class="ct-chart ct-golden-section" style="width: 100%"></div>
									</div>
								</div>
							</div>
							<div class="col-lg-6" style="padding-left: 15px;" 
								id="chartCardBody2">
								<div class="card">
									<div class="card-body"
										style="padding-bottom: 0px; padding-top: 20px;">
										<h4 class="card-title" id="chartPsn"
											style="margin-bottom: 0px; display: inline;">대상없음</h4>
									</div>
									<div class="card-body" style="padding-top: 10px;"
										id="chartCardBody3">
										<div>
											<span>진척도</span>&nbsp;
											<div
												style="width: 10px; display: inline; background-color: #7571f9; font-size: 7px; color: #7571f9">ㅡㅡㅡㅡㅡ</div>
										</div>
										<div id="horizontal-bar-chart2"
											class="ct-chart ct-golden-section" style="width: 100%"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Issue Status Chart Area End -->
			<!-- Comemnt Area -->
			<div class="col-lg-4">
				<div class="card" style="margin-top: 48px; height: 75vh;">
					<div class="card-header bg-white">
						<h5 class="card-title">
							<b id="feedtarget"></b>님의 개인 피드백 공간
						</h5>
						<h6 class="card-subtitle mb-2 text-muted"></h6>
					</div>


					<div class="card-body"
						style="overflow-y: auto; background-color: #FAFAFA;"
						id="commentBody"></div>
					<!-- 댓글 등록 영역 -->
					<div class="card-footer">
						<textarea class="form-control" name="inputCntn" id="inputCntn"
							cols="30" rows="2" maxlength="514" style="height: 56px;"></textarea>
						<span id="cntnLength"></span>
						<button id="input2" class="btn btn-primary px-3 ml-4 float-right"
							style="margin-top: 0.88rem;">추가</button>
					</div>
					<!-- 댓글 등록 영역 End -->
				</div>
			</div>
			<!-- Comment Area End -->
		</div>


		<!-- Hidden Insert Comment Body -->
		<div class="card" style="display: none;" id="insertBody">
			<div class="card-body">
				<div class="media">
					<div class="media-body">
						<div class="comment-content">
							<h5 class="mt-0"></h5>
							<div class="content-area"></div>
							<div class="edit-area" style="display: none;">
								<textarea class="form-control" id="editCntn" maxlength="514"></textarea>
							</div>
							<div class="float-left" id="date-area"></div>
							<span id="cntnLength2" style="margin-left: 150px"></span>
							<div class="float-right editBtn">수정</div>
							<!-- <div class="float-right delBtn">삭제</div> -->
							<div class="float-right submitBtn">확인</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="card" style="display: none;" id="insertBody2">
			<div class="card-body">
				<div class="media">
					<div class="media-body">
						<div class="comment-content">
							<h5 class="mt-0"></h5>
							<div class="content-area"></div>
							<div class="edit-area" style="display: none;"></div>
							<div class="float-left" id="date-area"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
		<script th:inline="javascript">
	$(document).ready( function () {
		let navItemHome = $('.nav-link').eq(2);
		navItemHome.addClass('active');	
	})
			$('#input2').css('display', 'none');
		$('#inputCntn').css('display', 'none'); 
	let prjtInfo = [];

	let memb = [];
	let cmpl = [];
	let uncmpl = [];
	let cmpllate = [];
	$(function(){
		
		$('#bussCompBar').css('width', ((parseInt($('#bussComp').text())*100)/parseInt($('#bussCnt').text()))+'%');
		$('#bussFairBar').css('width', ((parseInt($('#bussFair').text())*100)/parseInt($('#bussCnt').text()))+'%');
		$('#bussUncompBar').css('width', ((parseInt($('#bussUncomp').text())*100)/parseInt($('#bussCnt').text()))+'%');
	
		
		
		prjtInfo = [[${pfst}]];


		
		for(i = 0; i < prjtInfo.length; i++){
			memb.push(prjtInfo[i].MEMB_NM);
			cmpl.push(prjtInfo[i].K2);
			uncmpl.push(prjtInfo[i].K3);
			cmpllate.push(prjtInfo[i].K4);
		}
	
		  new Chartist.Bar('#horizontal-bar-chart', {
			    labels: memb,
			    series: [
			    	cmpllate,
			    	uncmpl,
			    	cmpl
			    ]
			  }, {
			    seriesBarDistance: 10,
			    reverseData: true,
			    horizontalBars: true,
			    low: 0,
			    axisY: {
			      offset: 70
			    },
			    plugins: [
			      Chartist.plugins.tooltip()
			    ]
		  });
		  
		  
		  new Chartist.Bar('#horizontal-bar-chart2', {
				labels: ['대상', '없음'],
			    series: [
			      [0,0],
			    ]
			  }, {
			    seriesBarDistance: 10,
			    reverseData: true,
			    horizontalBars: true,
			    height:300,
			    axisY: {
			      offset: 120
			    },
			    plugins: [
			      Chartist.plugins.tooltip()
			    ]
			    });
		  
		  //end of 차트 생성
		  
		  $('.ct-start').css('width', '100px');
		});	//end of window(ready)---------------------------------------------------------------------------
		
 		
 		
 		
		

			
	var charttarget = "";
	
	function feedbacks(result){
	 	
		// create tag
		let body = $('#commentBody');
		let card = $('#insertBody').clone();
		
		// input content values
		card.find('.comment-content').data('no',result.membFdbkNo);
		card.find('.mt-0').text([[${session.loginInfo.membNm}]]+"(나)");
		card.find('.content-area').text(result.membFdbkCntn);
		card.find('textarea').text(result.membFdbkCntn);
		card.find('#date-area').text(timestamp(result.membFdbkDt));
		card.css('display','block');
		card.find('.content-area').css('height', '350px');
		
		// insert comment tag to comment body
		body.append(card);
	}//end of feedbacks----------------------------------------------------------------------------
	
	function feedbackshide(result){
	 	

	}//end of feedbackshide-----------------------------------------------------------------------
	
	
	function myfeedbacks(result){
	 	
		// create tag
		let body = $('#commentBody');
		let card = $('#insertBody2').clone();
		
		// input content values
		card.find('.comment-content').data('no',result.membFdbkNo);
		card.find('.mt-0').text("익명");
		card.find('.content-area').text(result.membFdbkCntn);
		card.find('textarea').text(result.membFdbkCntn);
		card.find('#date-area').text(timestamp(result.membFdbkDt));
		card.css('display','block');
		
		// insert comment tag to comment body
		body.append(card);
		$('#input2').css('display', 'none');
		$('#inputCntn').css('display', 'none'); 
		$('#cntnLength').css('display', 'none');
	}//end of myfeedbacks-------------------------------------------------------------------
		 
	var mycomment = 0;
		 
 		setTimeout(() => {$('.ct-label.ct-vertical.ct-start').click(
 			function (event) {
	 			$('#inputCntn').val('');	 			
 			
	 			let targetnm = $(this).text();
	 			
	 			
	 			for(i = 0; i < prjtInfo.length; i++){
	 				if(prjtInfo[i].MEMB_NM == targetnm){
	 					charttarget = prjtInfo[i].MEMB_ID;
	 					break;
	 				}
	 			}
	 			
	 			
	 			
				let buss = [];
				let prgre = [];
	 			
	 			$.ajax('http://localhost/selectBusinessPersonal', {
	 				type : 'post',
	 				dateType : 'json',
	 				contentType : 'application/json',
	 				data : JSON.stringify({
	 						membId : charttarget,
	 						prjtNo : [[${prjtNo}]]
	 						}),
	 				async: false
	 			})
	 			.done(result => {
	 				 for(i = 0; i < result.length; i++){
	 					 buss.push(result[i].BUSS_NM);
	 					prgre.push(result[i].BUSS_PRGRE);
	 				 }
	 			})
	 			.fail(err =>console.log("err"));
	 			//end of ajax
	 			
	 			
	 			
				$('#feedtarget').text(targetnm);
				$('#chartPsn').text(targetnm);
		 				
		 				
	 			
				if($('#feedtarget').text().length > 0){
					if(buss.length > 3){
					 new Chartist.Bar('#horizontal-bar-chart2', {
						    labels: buss,
						    series: [prgre]
						  }, {
						    seriesBarDistance: 10,
						    reverseData: true,
						    horizontalBars: true,
						    height:buss.length*30,
						    axisY: {
						      offset: 120
						    },
						    plugins: [
						      Chartist.plugins.tooltip()
						    ]
					});
					}else{
						 new Chartist.Bar('#horizontal-bar-chart2', {
							    labels: buss,
							    series: [prgre]
							  }, {
							    seriesBarDistance: 10,
							    reverseData: true,
							    horizontalBars: true,
							    height:120,
							    axisY: {
							      offset: 120
							    },
							    plugins: [
							      Chartist.plugins.tooltip()
							    ]
						});
					}
				}else{
	 				
					 new Chartist.Bar('#horizontal-bar-chart2', {
						    labels: buss,
						    series: [prgre]
						  }, {
						    seriesBarDistance: 10,
						    reverseData: true,
						    horizontalBars: true,
						    height:buss.length*30,
						    axisY: {
						      offset: 120
						    },
						    plugins: [
						      Chartist.plugins.tooltip()
						    ]
					});//end of new Chartist.Bar('#horizontal-bar-chart2'
				}//end of if($('#feedtarget').text().
					
	 			$.ajax('http://localhost/feedbackList', {
	 				type : 'post',
	 				dateType : 'json',
	 				contentType : 'application/json',
	 				data : JSON.stringify({
	 						membFdbkObj : charttarget,
	 						prjtNo : [[${prjtNo}]]
	 						}),
	 				async: false
	 			})
	 			.done(result => {
	 				$('#commentBody').children().remove();
	 				$('#input2').css('display', 'inline');
	 				$('#inputCntn').css('display', 'inline'); 
	 				$('#cntnLength').css('display', 'inline');
	 				mycomment = 0;
	 				for(i = 0; i < result.length; i++){
	 					
		 				if(targetnm == [[${session.loginInfo.membNm}]]){
		 					myfeedbacks(result[i]);
		 				}else if(targetnm != [[${session.loginInfo.membNm}]] && result[i].membFdbkWriter == [[${session.loginInfo.membId}]]){
	 						feedbacks(result[i]);
	 						mycomment ++;
	 					}else if(targetnm != [[${session.loginInfo.membNm}]] && result[i].membFdbkWriter != [[${session.loginInfo.membId}]]){
	 						feedbackshide(result[i]);
	 					}
	 				}
	 			})
	 			.fail(err =>console.log("err"));
				
				
	 			//end of $.ajax('http://localhost/feedbackList',
 			});//end of event
 		}, 1000);//end of setTimeout-------------------------------------------------------------------
 		
 	 	
 		
 		
 		
 		$('#input2').on('click', function(){
/* 			for(i = 0; i < $('#commentBody').children().children().children().children().children().children('h5.mt-0').length; i++){
				if($('#commentBody').children().children().children().children().children().children('h5.mt-0')[i].innerText == [[${session.loginInfo.membId}]]){
					fail();
					return false;
 				}
			} */
			if(mycomment > 0){
					fail();
				return false;
			}
			mycomment ++;
 			$.ajax('http://localhost/insertFeedBackPersonal', {
 				type : 'post',
 				contentType : 'application/json',
 				dateType : 'json',
 				data : JSON.stringify({
 						membFdbkWriter : [[${session.loginInfo.membId}]],
 						membFdbkCntn : $('#inputCntn').val(),
 						membFdbkObj : charttarget,
 						prjtNo : [[${prjtNo}]]
 						}),
 				async: false
 			})
 			.done(result => {
 				$.ajax('http://localhost/feedbackPersonal', {
 	 				type : 'post',
 	 				contentType : 'application/json',
 	 				async: false
 	 			})
 	 			.done(result => {
 	 				feedbacks(result);
 	 				swal.fire('추가', $('#feedtarget').text() + "님에게 성공적으로 피드백을 추가하였습니다.", 'success').then((result)=>{
 	 					$('#cntnLength').hide();
 	 				});
 	 			})
 	 			.fail(err =>console.log("err"));
 			})
 			.fail(err =>console.log("err"));
 			$('#inputCntn').val('');
 		});//end of $('#input2')---------------------------------------------------
 		
 	    // -------------------------------onclick Event
// 	    $(document).on('click','.delBtn',deleteComment);
 	    $(document).on('click','.editBtn',toggleTags);
 	    $(document).on('click','.submitBtn',editSubmit);
 	    // ------------------------------onclick Event End----------------------------------------------
 	    
 	    
		// update textarea - copy to content text
	    function toggleTags(event){
	        let comment = $(event.target).closest('.comment-content');
	        let content = comment.find('.content-area');
	        let edit = comment.find('.edit-area');
	        let submitBtn = comment.find('.submitBtn');
	        content.val(comment.find('textarea').val());
	        $('#cntnLength2').show();
	        content.toggle();
	        edit.toggle();
	        submitBtn.toggle();
	        $('#editCntn').on('input', function(){
	    		$('#cntnLength2').text($('#editCntn').val().length + "/514");
	    	});
	    }//-------------------------------------------------------------------------------
	    
	    function editSubmit(event){
	        let comment = $(event.target).closest('.comment-content');
	        let textCntn = comment.find("textarea");
	        
	        let obj = {};
	        obj["membFdbkCntn"] = textCntn.val();
	        obj["membFdbkNo"] = comment.data('no');
	        updateAjax(obj, comment);
	        
	        toggleTags(event);
	    }//-------------------------------------------------------------------------------
/* 	 	// ----------------------------------Delete Comment
	    function deleteComment(event){
	        let comment = $(event.target).closest('.comment-content');
	        
	        let obj = {};
	        obj["prjtFdbkShow"] = '0N2';		// Delete State Change
	        obj["prjtFdbkNo"] = comment.data('no');
	        
	        updateAjax(obj,comment);
	    }
	    // ----------------------------------end Delete Comment  */
	    
		// update - using edit
		function updateAjax(obj, comment){
	        $.ajax('http://localhost/editFeedbackPersonal', {
	            type: 'put',
	            contentType: "application/json",
	            data:JSON.stringify(obj),
	            async: false
	        })
	        .done(data => {
	        	changeComment(data, comment);
	        	swal.fire('수정', $('#feedtarget').text() + "님에게 작성한 피드백을 성공적으로 수정하였습니다.", 'success').then((result)=>{
	        	$('#cntnLength2').hide();
	        	});
	        })
	        .fail(err => {});
	    }
		// -------------------------------Update Ajax End
		 		
 		 // date, content change
    function changeComment(data, comment){
        if (data.membFdbkShow == null){
            comment.find(".content-area").text(data.membFdbkCntn);
            comment.find("#date-area").text(timestamp(data.membFdbkDt));
        } else {
            comment.find(".content-area").text('삭제된 내용입니다.');
            comment.find(".content-area").show();
            comment.find(".btn-area").remove();
            comment.find("textarea").css('display','none');
        	$('#editCntn').on('input', function(){
        		$('#cntnLength2').text($('#editCntn').val().length + "/514");
        	});
        }
    }//-------------------------------------------------------------------------------
 		
 		//------------ Date formatting
 	    function timestamp(convertDate){
 	        let today = new Date(convertDate);
 	        today.setHours(today.getHours() + 9);
 	        return today.toISOString().replace('T', ' ').substring(0, 16);
 	    }//-------------------------------------------------------------------------------
 		
	function fail(){
		swal.fire('추가 불가!', "이미 " + $('#feedtarget').text() + "님에게 피드백을 작성하였습니다.", 'error');
	}//-------------------------------------------------------------------------------
	
	$(function(){
		$('#horizontal-bar-chart').slimScroll({
	    	height: '30rem'
	    });
		$('#horizontal-bar-chart2').slimScroll({
	    	height: '29rem'
	    });
	});
	
	$('#inputCntn').on('input', function(){
		$('#cntnLength').text($('#inputCntn').val().length + "/514");
	});

	</script>
		<script src="plugins/common/common.min.js"></script>
		<script src="js/custom.min.js"></script>
		<script src="js/settings.js"></script>
		<script src="js/gleek.js"></script>
		<script src="js/styleSwitcher.js"></script>
	</th:block>
</body>
</html>