<!DOCTYPE html>
<html class="h-100" lang="ko" xmlns:th="http://www.thymeleaf.org"	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=chrome">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>MemberSignUp</title>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.9.0/dist/sweetalert2.all.min.js"></script>
		<link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.9.0/dist/sweetalert2.min.css" rel="stylesheet">
<!-- Favicon icon -->
<link rel="icon" type="image/png" sizes="16x16"
	href="images/favicon.png">
<!-- Custom Stylesheet -->
<link href="css/style.css" rel="stylesheet">
<style>
label{
	margin-left:30px;
}
#save, #edit{
	margin-left : 350px;
}
[id^="condition"] {
	display: none;
	color: red;
}

[id^="forms"] {
	display: none;
	color: red;
}
#nokPw {
	display: none;
	color: red;
}
#okPw {
	display: none;
	color: green;
}
</style>
</head>

<body>


	<th:block layout:fragment="content">

	<!--**********************************
            Content body start
        ***********************************-->

	<div class="content-body" style="margin-left:0px">


		<!-- row -->

		<div class="container-fluid">
		
			<div class="row justify-content-center">
				<div class="col-lg-8">
					<div class="card">
					<h2 style="margin-top: 30px; margin-bottom:0px;margin-left: 50px"><b>회원 정보</b></h2>
						<div class="card-body">
							<div class="form-validation" style="postiion : relative;">
									<img class="form-group" id="membPhtPath2" width="200"
										height="200" style="border-radius: 70%; border: 10px solid #fff; box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.1); display : block; margin : auto;" src=""
										/>
 										<img
										src="images/member/buttons.png" onclick="$('#profilePht').trigger('click')" width="30"
										height="30" style="vertical-align: bottom;cursor: pointer;border: 2px solid #fff; position: absolute; top: 260px; left : 560px; background: #cccccc; border-radius: 20%;box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 1)">

										<input id="profilePht" type="file" name="profilePht"
											accept="image/png, image/jpeg" hidden/>

									<div class="form-group row" style="margin-top:30px">
									<label class="col-lg-3 col-form-label" for="coNm">소속기관
									</label>
									<div class="col-lg-6">
										<input class="form-control" id="coNm" name="coNm"
											placeholder="" readonly="readonly"></input>
									</div>

								</div>
								<form class="form-valide" id="formEditInfo" method="post"
									action="memberEditInfo">

									<div class="form-group row">
										<label class="col-lg-3 col-form-label" for="membId">아이디
										</label>
										<div class="col-lg-6">
											<input class="form-control" id="membId" name="membId"
												placeholder="" readonly="readonly"></input>

										</div>

									</div>
									<div class="form-group row">
										<label class="col-lg-3 col-form-labell" for="membNm">성명
										</label>
										<div class="col-lg-6">
											<input class="form-control" id="membNm" name="membNm"
												placeholder=""></input> <span id="conditionNm">이름을
												입력하시오.</span>
										</div>
									</div>
									<div class="form-group row">
										<label class="col-lg-3 col-form-label" for="membDept">부서
										</label>
										<div class="col-lg-6">
											<input type="text" class="form-control" id="membDept"
												name="membDept" placeholder="">
										</div>
									</div>
									<div class="form-group row">
										<label class="col-lg-3 col-form-label" for="membWkgd">직급
										</label>
										<div class="col-lg-6">
											<input type="text" class="form-control" id="membWkgd"
												name="membWkgd" placeholder="">
										</div>
									</div>
									<div class="form-group row">
										<label class="col-lg-3 col-form-label" for="membMsg">상태메세지
										</label>
										<div class="col-lg-6">
											<input type="text" class="form-control" id="membMsg"
												name="membMsg" placeholder="">
										</div>
									</div>



									<div class="form-group row">
										<label class="col-lg-3 col-form-label" for="membBirthDt">생년월일

										</label>
										<div class="col-lg-6">
											<input type="date" class="form-control" id="membBirthDt"
												name="membBirthDt" pattern="\d{4}-\d{2}-\d{2}"
												th:value="${#dates.format(session.loginInfo.membBirthDt, 'yyyy-MM-dd')}" />
											<span id="conditionBd">생년월일을 확인하시오.</span> <span
												id="formsMembBd">생년월일을 입력하시오.</span>
										</div>
									</div>
									<div class="form-group row">
										<label class="col-lg-3 col-form-label" for="membEmail">이메일
										</label>
										<div class="col-lg-6">
											<input type="text" class="form-control" id="membEmail"
												name="membEmail" placeholder="ex) abc@example.com"
												hidden="true"> 
												<input type="text" id="email_id"
												class="form-control col-lg-4" value="" title="이메일 아이디" placeholder=""
												style="display: inline-block;" />&nbsp; @&nbsp;
											<input class="form-control col-lg-3" type="text" name="str_email02"
												id="str_email02"
												style="display: inline-block;"
												value=""> 
												<select 
												style="display: inline-block;"
												name="selectEmail" id="selectEmail" class="form-control col-lg-4">
												<option value=""selected>직접입력</option>
												<option value="naver.com">naver.com</option>
												<option value="hanmail.net">hanmail.net</option>
												<option value="hotmail.com">hotmail.com</option>
												<option value="nate.com">nate.com</option>
												<option value="yahoo.co.kr">yahoo.co.kr</option>
												<option value="empas.com">empas.com</option>
												<option value="dreamwiz.com">dreamwiz.com</option>
												<option value="freechal.com">freechal.com</option>
												<option value="lycos.co.kr">lycos.co.kr</option>
												<option value="korea.com">korea.com</option>
												<option value="gmail.com">gmail.com</option>
												<option value="hanmir.com">hanmir.com</option>
												<option value="paran.com">paran.com</option>
											</select> <span id="conditionEid">이메일 아이디를 입력하시오.</span><span
												id="conditionEmail">잘못된 이메일 주소입니다.</span>
										</div>
									</div>
									<div class="form-group row">
										<label class="col-lg-3 col-form-label" for="membTelno">전화번호
										</label>
										<div class="col-lg-6">
											<input type="tel" class="form-control" id="membTelno"
												name="membTelno" hidden="true"> <select
												style="display: inline-block; text-align: right; font-weight: 900;"
												name="selectTel" id="selectTel" class="form-control col-lg-4">

												<option value="" selected>선택 &nbsp;&nbsp;</option>
												<option value="010">010 &nbsp;&nbsp;</option>
												<option value="070">070 &nbsp;&nbsp;</option>
												<option value="02">02 &nbsp;&nbsp;</option>
												<option value="031">031&nbsp;&nbsp;</option>
												<option value="032">032&nbsp;&nbsp;</option>
												<option value="033">033 &nbsp;&nbsp;</option>
												<option value="041">041 &nbsp;&nbsp;</option>
												<option value="042">042 &nbsp;&nbsp;</option>
												<option value="043">043 &nbsp;&nbsp;</option>
												<option value="051">051 &nbsp;&nbsp;</option>
												<option value="052">052 &nbsp;&nbsp;</option>
												<option value="053">053 &nbsp;&nbsp;</option>
												<option value="054">054 &nbsp;&nbsp;</option>
												<option value="054">054 &nbsp;&nbsp;</option>
												<option value="055">055 &nbsp;&nbsp;</option>
												<option value="061">061 &nbsp;&nbsp;</option>
												<option value="062">062 &nbsp;&nbsp;</option>
												<option value="063">063 &nbsp;&nbsp;</option>
												<option value="064">064 &nbsp;&nbsp;</option>


											</select>&nbsp;&nbsp;&nbsp;<b>ㅡ</b> &nbsp;<input type="text" class="form-control col-lg-3"
												id="tel1" name="tel1"
												style=" display: inline-block;"> &nbsp;&nbsp;<b>ㅡ</b>&nbsp;

											<input type="text" id="tel2" class="form-control col-lg-3"
												style="display: inline-block;" /> <span
												id="conditionTel">전화번호를 학인하시오.</span>
										</div>
									</div>





									<div class="form-group row">
										<div class="col-lg-8 ml-auto">
											<button type="button" 
												class="btn btn-primary" id="save">저장</button>

										</div>
									</div>
									<hr style="width:900px; display: block; margin: auto; margin-bottom:20px; background: f3f3f9;">
									<div class="form-group row">
										<label class="col-lg-3 col-form-label" for="checkPwd">현재 비밀번호
										</label>
										<div class="col-lg-6">
											<input type="password" class="form-control" id="checkPw"
												name="checkPw" >
											<span id="nokPw">비밀번호가 틀립니다.</span> <span
												id="okPw" >비밀번호 확인완료</span>
										</div>
									</div>
									<div class="form-group row">
										<label class="col-lg-3 col-form-label" for="membPwd">비밀번호
										</label>
										<div class="col-lg-6">
											<input type="password" class="form-control" id="membPwd"
												name="membPwd" placeholder="※ 마우스 올릴 시, 설명"
												title="영문(대/소문자), 숫자 및 특수문자 4가지로 구성하여 최소 8자 이상, 20자 이하으로 입력합니다.&#13;&#10;&#13;&#10;※ 특수문자 # ? ! @ $ % ^ & * -">
											<span id="conditionPw">잘못된 비밀번호입니다.</span> <span
												id="conditionPw2" style="color: green;">정상적인 비밀번호입니다.</span>
											<span id="formsMembPw">비밀번호를 입력하시오.</span>
										</div>
									</div>
									<div class="form-group row">
										<label class="col-lg-3 col-form-label" for="membPwd2">비밀번호
											확인 </label>
										<div class="col-lg-6">
											<input type="password" class="form-control" id="membPwd2"
												name="membPwd2" placeholder=""> <span
												id="conditionPw3">비밀번호가 일치하지않습니다.</span> <span
												id="conditionPw4" style="color: green;">비밀번호가 일치합니다.</span>
											<span id="formsMembPw2">비밀번호확인을 하시오.</span>
										</div>
									</div>
									<div class="form-group row">
										<div class="col-lg-8 ml-auto">
											<button type="button" class="btn btn-primary" id="edit">변경</button>

										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- #/ container -->


	</div>

	<!--**********************************
            Content body end
        ***********************************-->




	<!--**********************************
        Scripts
    ***********************************-->
	<script src="plugins/common/common.min.js"></script>
	<script src="js/custom.min.js"></script>
	<script src="js/settings.js"></script>
	<script src="js/gleek.js"></script>
	<script src="js/styleSwitcher.js"></script>

	<script src="./plugins/validation/jquery.validate.min.js"></script>
	<script src="./plugins/validation/jquery.validate-init.js"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	

	<script>
	let companyInfo = {};
	let memberInfo = {};
	let emails=[];
	let tels=[];
	
	let year;
	let month;
	let date;
	
	 $(function(){
		$.ajax('/memberInfo', {
			type : 'post',
			async: false
		})
		.done(result => {
			 memberInfo = result;
		})
		.fail(err =>console.log("err"));
		 
	 	$.ajax('/companyInfo', {
		 	type : 'post',
		 	dataType : 'json', 
		 	data : {coCd : "[[${session.loginInfo.coCd}]]"},
		 	async: false
			})
			.done(result => {
				 companyInfo = result;
			})
			.fail(err =>console.log("err")
		);
	 	
	 	$('#coNm').val(companyInfo.coNm);
	 	$('#membId').val(memberInfo.membId);
	 	$('#membNm').val(memberInfo.membNm);
	 	$('#membDept').val(memberInfo.membDept);
	 	$('#membWkgd').val(memberInfo.membWkgd);
 		$('#membPhtPath2').prop('src', '/uploads/'+memberInfo.membPhtPath);
	 	
	 	year = new Date(memberInfo.membBirthDt).getFullYear();
	 	month = new Date(memberInfo.membBirthDt).getMonth()+1;
	 	date = new Date(memberInfo.membBirthDt).getDate();
	 	if(month<10 && date<10){
	 		$('#membBirthDt').val(year+"-0"+month+"-0"+ date);
	 	}else if(month<10){
	 		$('#membBirthDt').val(year+"-0"+month+"-"+ date);
	 	}else if(date<10){
	 		$('#membBirthDt').val(year+"-"+month+"-0"+ date);
	 	}else{
	 		$('#membBirthDt').val(year+"-"+month+"-"+ date);
	 	}
	 	
	 	//이메일 동강
	 	$('#membEmail').val(memberInfo.membEmail);
	 	$.each($('#membEmail').val().split('@'), function(index, element){
	 		emails.push(element);
	 	});
	 	
	 	$('#email_id').val(emails[0]);
	 	$('#str_email02').val(emails[1]);
	 	if(emails[1] == '' || emails[1] == null){
	 	}
	 	 $("select#selectEmail option").each(function(){
	         if($(this).val()==emails[1]){ 
	        	 $("#selectEmail").val(emails[1]).attr("selected", "selected");
	        	 $("#str_email02").attr("disabled", true);
	          	return false;
	         } else if($(this).val() != $('#str_email02').val(emails[1])){
	        	 $("#selectEmail").val("").attr("selected", "selected");
	        	 $("#str_email02").attr("disabled", false);
	         }
	  	});
	 	
	 	 //전화번호 동강
	 	$('#membTelno').val(memberInfo.membTelno);
	 	 
		if($('#membTelno').val().length == 10 && $('#membTelno').val().substring(0, 2) == "02"){
		 	$('#tel1').val($('#membTelno').val().substring(2, 6));
		 	$('#tel2').val($('#membTelno').val().substring(6, 10));
		 	 $("select#selectTel option").each(function(){
		 		 
		         if($(this).val() == $('#membTelno').val().substring(0, 2)){ 
		        	 
		        	 $("#selectTel").val($('#membTelno').val().substring(0, 2)).attr("selected", "selected");
		        	 
		          	return false;
		         }
		  	});//서울2-4-4
		 	 
		}else if($('#membTelno').val().length == 10 && $('#membTelno').val().substring(0, 2) != "02"){
			
		 	$('#tel1').val($('#membTelno').val().substring(3, 6));
		 	$('#tel2').val($('#membTelno').val().substring(6, 10));
		 	
		 	 $("select#selectTel option").each(function(){
		         if($(this).val() == $('#membTelno').val().substring(0, 3)){ 
		        	 
		        	 $("#selectTel").val($('#membTelno').val().substring(0, 3)).attr("selected", "selected");
		        	 
		          	return false;
		         }
		     });//3-3-4
		 	 
		}else{
		 	$('#tel1').val($('#membTelno').val().substring(3, 7));
		 	$('#tel2').val($('#membTelno').val().substring(7, 11));
		 	 $("select#selectTel option").each(function(){
		         if($(this).val() == $('#membTelno').val().substring(0, 3)){ 
		        	 
		        	 $("#selectTel").val($('#membTelno').val().substring(0, 3)).attr("selected", "selected");
		        	 
		          	return false;
		         }
		  	});//3-4-4
		}
		 	 
		 	
		 	
		 	$('#membMsg').val(memberInfo.membMsg);
	 	
	 }); //end of ready
	 
	 
	 
	 
	 



//이름확인
$('#membNm').on("input", function(event){
	
	let inputVal = $(this).val();
	
	if(inputVal.length > 15){
		$(this).val(inputVal.substr(0, 15)); 
	}
	
	if($(this).val() != null && $(this).val() != ''){
		$('#conditionNm').hide();
		
	}
});
//생년월일확인
$('#membBirthDt').on("input", function(event){
	$('#formsMembBd').hide();
	let inputVal = $(this).val();
	
	if($(this).val() != null && $(this).val() != ''){
		$('#conditionBd').hide();
		
	}else{
		$('#conditionBd').show();
	}
});

//이메일형식 확인

let testEmail = /^[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*\.[a-zA-Z]{2,3}$/i;

//이메일아이디 입력하시오.
$('#email_id').on("input", function(event){
	$('#conditionEmail').hide();
	let inputVal = $(this).val();
	

	
	$(this).val(inputVal.replace(/[^a-zA-Z0-9]/gi,''));
	
	if(inputVal.length > 20){
		$('#email_id').val(inputVal.substr(0, 20)); 
	}
	
	if(testEmail.test($('#str_email02').val()) == false && $('#str_email02').val().length > 0){
		$('#conditionEmail').show();
	}else if(testEmail.test($('#str_email02').val()) == false && $('#str_email02').val().length == 0){
		$('#conditionEmail').hide();
	}
});
//이메일 입력방식 선택
$('#selectEmail').change(function(){

  $("#selectEmail option:selected").each(function () {
		
		if($(this).val()== ''){ //직접입력일 경우
			 $("#str_email02").val('');                        //값 초기화
			 $("#str_email02").attr("disabled",false); //활성화
		}else{ //직접입력이 아닐경우
			 $("#str_email02").val($(this).text());      //선택값 입력
			 $("#str_email02").attr("disabled",true); //비활성화
		}
  });
});

//이메일 형식 검사
$('#selectEmail').change(function(){
	
	if($('#str_email02').val() == null || $('#str_email02').val() == ''){
		if($('#email_id').val().length!=0){
			$('#conditionEmail').show();
			$('#conditionEid').hide();
		}else{
			$('#conditionEmail').hide();
			$('#conditionEid').hide();
		}
	}else{
		$('#conditionEmail').hide();
		if($('#email_id').val().length!=0){
			$('#conditionEmail').hide();
			$('#conditionEid').hide();
		}else{
			$('#conditionEmail').hide();
			$('#conditionEid').show();
		}
	}
	
});

$('#str_email02').on("input", function(event){
	let inputVal = $(this).val();
	if(inputVal.length > 20){
		$('#str_email02').val(inputVal.substr(0, 20)); 
	}
	$('#conditionEid').hide();
	if(testEmail.test(inputVal) == false){
		$('#conditionEmail').css('display', 'block');
		if(inputVal.length == 0){
			$('#conditionEmail').hide();
		}
	}else{
		$('#conditionEmail').hide();
	}
	
});


//휴대폰 형식 검사
$('#selectTel').change(function(){
	if($('#selectTel').val().length+$('#tel1').val().length+$('#tel2').val().length > 9 || $('#selectTel').val().length+$('#tel1').val().length+$('#tel2').val().length == 0){
		$('#conditionTel').css('display', 'none');
	}else{
		$('#conditionTel').css('display', 'block');
	}
});
$('#tel1').on("input", function(event){ 
	let inputVal = $(this).val();
	
	$(this).val(inputVal.replace(/[^0-9]/gi,''));
	
	if(inputVal.length > 4){
		$('#tel1').val(inputVal.substr(0, 4)); 
	}
	
	if(inputVal.length < 3 && inputVal.length > 0){
		$('#conditionTel').css('display', 'block');
	}else if(inputVal.length == 0 && $('#tel2').val().length == 0){
		$('#conditionTel').css('display', 'none');
	}else if(inputVal.length >= 3 && $('#tel2').val().length == 4){
		$('#conditionTel').css('display', 'none');
	}
});

$('#tel2').on("input", function(event){ 
	let inputVal = $(this).val();
	
	$(this).val(inputVal.replace(/[^0-9]/gi,''));
	
	if(inputVal.length > 4){
		$('#tel2').val(inputVal.substr(0, 4)); 
	}
	
	if(inputVal.length < 4 && inputVal.length > 0){
		$('#conditionTel').css('display', 'block');
	}else if(inputVal.length == 0 && $('#tel1').val().length==0){
		$('#conditionTel').css('display', 'none');
	}else if(inputVal.length == 4 && $('#tel1').val().length >=3){
		$('#conditionTel').css('display', 'none');
	}
});

//부서
$('#membDept').on("input", function(event){

let inputVal = $(this).val();

if(inputVal.length > 15){
	$(this).val(inputVal.substr(0, 15)); 
}
});

//직급 
$('#membWkgd').on("input", function(event){

	let inputVal = $(this).val();

	if(inputVal.length > 15){
		$(this).val(inputVal.substr(0, 15)); 
	}

});

//저장클릭
   $('#save').on("click", function(e) {
		if($('#conditionId').css("display") != 'inline' && $('#conditionId2').css("display") != 'inline' && $('#conditionNm').css("display") != 'inline' && $('#conditionBd').css("display") != 'inline' && $('#conditionEid').css("display") != 'inline' && $('#conditionEmail').css("display") != 'inline' && $('#conditionTel').css("display") != 'inline' 
			&& $('#membNm').val().length != 0 && $('#membBirthDt').val().length != 0){
			if(($('#email_id').val().length > 0 && $('#str_email02').val().length > 2)){
				$('#membEmail').val($('#email_id').val()+"@"+$('#str_email02').val());
				$("#conditionEmail").hide();
			}else if(($('#email_id').val().length == 0 && $('#str_email02').val().length == 0)){
				$('#membEmail').val("");
				$("#conditionEmail").hide();
			}else{
				$("#conditionEmail").show();
				return false;
			}
			if($('#selectTel').val().length + $('#tel1').val().length + $('#tel2').val().length > 9||$('#selectTel').val().length + $('#tel1').val().length + $('#tel2').val().length == 0){
				if($('#selectTel').val().length + $('#tel1').val().length + $('#tel2').val().length == 10 && ($('#selectTel').val() == '010' || $('#selectTel').val() == '070')){
					$("#conditionTel").show();
					return false;
				}else if(  $('#selectTel').val().length + $('#tel1').val().length + $('#tel2').val().length == 11 
						&& ($('#selectTel').val() != '010' && $('#selectTel').val() != '070')){
					$("#conditionTel").show();
					return false;
				}
				$("#conditionTel").hide();
				$('#membTelno').val($('#selectTel').val()+$('#tel1').val()+$('#tel2').val());
			}else{
				$("#conditionTel").show();
				return false;
			}
			$(function(){
				swal.fire({title : '완료!', text : "정상적으로 정보가 저장되었습니다.", icon : 'success', button : '확인'}).then((value)=>{
					$('form').attr('action','memberEditInfo').submit();
				});	
			})
			
			
		}else if($('#membNm').val().length == 0 && $('#membBirthDt').val().length != 10){
			$("#formsMembBd").show();
			$("#conditionNm").show();
			return false;
		}else if($('#membNm').val().length == 0){
			$("#conditionNm").show();
			return false;
		}else if($('#membBirthDt').val().length != 10){
			$("#conditionBd").show();
			return false;
		}else{
			$(function(){
				swal.fire({title : '오류!', text : "저장할 정보를 정확하게 입력해주세요.", icon : 'error', button : '뒤로'}).then((value)=>{
					return false;
				});	
			})
		}
   });
   
   
//비밀번호 20자 제한
$('#checkPw').on("input", function(event){
	let inputVal = $(this).val();
	if(inputVal.length > 20){
		$(this).val(inputVal.substr(0, 20)); 
	}
	

	
	/* let inputVal = $(this).val();
	

	
	if($(this).val() != memberInfo.membPwd.substr(6,25)){
		$('#okPw').hide();
		$('#nokPw').show();
		if($(this).val().length == 0){
			$('#okPw').hide();
			$('#nokPw').hide();
		}
	}else{
		$('#okPw').show();
		$('#nokPw').hide();
	} */
});

//비밀번호 일치확인
$('#checkPw').on("keyup", function(event){
	
	let inputVal = $(this).val();
	if(inputVal.length > 0){
	  $.ajax({
          url: 'testpwd',	
          type: 'POST',
          dataType: 'json',
          contentType: 'application/json',
          data: JSON.stringify({
        	  		membId: "[[${session.loginInfo.membId}]]",
					pwd: $('#checkPw').val()
          		}),             
          success: function(result){
        	  if(result==true){
				$('#okPw').show();
        		$('#nokPw').hide();
        	  }else{
        		$('#okPw').hide();
        		$('#nokPw').show();
        	  }
          },
          error: function(reject){	
              console.log(reject);
          }
      }); 
	}else{
		$('#okPw').hide();
		$('#nokPw').hide();
	}
	
	/* let inputVal = $(this).val();
	

	
	if($(this).val() != memberInfo.membPwd.substr(6,25)){
		$('#okPw').hide();
		$('#nokPw').show();
		if($(this).val().length == 0){
			$('#okPw').hide();
			$('#nokPw').hide();
		}
	}else{
		$('#okPw').show();
		$('#nokPw').hide();
	} */
});
//비밀번호 조건검사

let testPw1 = /^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}/;
let testPw2 = /[^A-Za-z\d#?!@$%^&*-]/;
$('#membPwd').on("input", function(event){
	$('#formsMembPw').hide();
	let inputVal = $(this).val();
	
	if(inputVal.length > 20){
		$(this).val(inputVal.substr(0, 20));
	}
	
	if(testPw1.test(inputVal) != false && testPw2.test(inputVal) == false){
		$('#conditionPw').hide();
		$('#conditionPw2').show();
	}else{
		$('#conditionPw').show();
		$('#conditionPw2').hide();
		if(inputVal.length == 0){
			$('#conditionPw').hide();
			$('#conditionPw2').hide();
		}
	}
	if($('#membPwd2').val() != $('#membPwd').val()){
		$('#conditionPw4').hide();
		$('#conditionPw3').show();
		if($('#membPwd2').val().length == 0){
			$('#conditionPw3').hide();
			$('#conditionPw4').hide();
		}
	}else{
		$('#conditionPw4').show();
		$('#conditionPw3').hide();
		if($('#membPwd2').val().length == 0){
			$('#conditionPw3').hide();
			$('#conditionPw4').hide();
		}
	}
});

//비밀번호 조건확인
$('#membPwd2').on("input", function(event){
	$('#formsMembPw2').hide();
	let inputVal = $(this).val();
	
	if(inputVal.length > 20){
		$(this).val(inputVal.substr(0, 20));
	}
	
	if($(this).val() != $('#membPwd').val()){
		$('#conditionPw4').hide();
		$('#conditionPw3').show();
		if($(this).val().length == 0){
			$('#conditionPw3').hide();
			$('#conditionPw4').hide();
		}
	}else{
		$('#conditionPw4').show();
		$('#conditionPw3').hide();
		if($(this).val().length == 0){
			$('#conditionPw3').hide();
			$('#conditionPw4').hide();
		}
	}
});




//변경클릭

   $('#edit').on("click", function(e) {
		if($('#okPw').css('display') == 'inline'
		&& $('#conditionPw2').css('display') == 'inline'
		&& $('#conditionPw4').css('display') == 'inline'){
			$(function(){
				swal.fire({title : '변경 완료!', text : "정상적으로 비밀번호가 변경되었습니다.", icon : 'success', button : '확인'}).then((value)=>{
					$('form').attr('action','memberEditPwd').submit();
				});
			})
		}else{
			$(function(){
				swal.fire({title : '오류!', text : "입력한 비밀번호를 다시 확인하세요.", icon : 'error', button : '뒤로'}).then((value)=>{
					return false;
				});	
			})
		}
   });
 



///////////////////////프로필변경
  	$('#profilePht').change(function() {
  		let path = memberInfo.membPhtPath;
  		 $.ajax({
             url: 'deletesAjaxs',
             type: 'POST',
             data: {path},
             success: function(result){
             },
             error: function(reject){
                 console.log(reject);
             }
         });
  		
  		
  		
  		var formData = new FormData(); //FormData 객체 생성(content-type을 갖고있는 클레스임. servlet-context.xml에 multipartResolver가 필요함.)
		var files = $('#profilePht')[0].files[0];

		formData.append("image", files);//키,값으로 append 
        //2)jQuery.ajax
        $.ajax({
            url: 'uploadsAjaxs',
            type: 'POST',
            processData: false,	//기본값은 true, ajax 통신을 통해 데이터를 전송할 때, 기본적으로 key와 value값을 Query String으로 변환해서 보냅니다.
            contentType: false,	// multipart/form-data타입을 사용하기위해 false 로 지정합니다.
            data: formData,
            success: function(result){
				$('#membPhtPath2').prop('src', 'uploads/'+result);
				$('#profile').prop('src', 'uploads/'+result);
            },
            error: function(reject){
                console.log(reject);
            }
        });
	});
	</script>
</th:block>
</body>

</html>