<!DOCTYPE html>
<html class="h-100" lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=chrome">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>COMPANi</title>
<!-- Favicon icon -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.9.0/dist/sweetalert2.all.min.js"></script>
		<link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.9.0/dist/sweetalert2.min.css" rel="stylesheet">
<link rel="icon" type="image/png" sizes="16x16"
	href="../../assets/images/favicon.png">
<!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous"> -->
<link href="css/style.css" rel="stylesheet">

</head>

<body class="h-100">

	<!--*******************
        Preloader start
    ********************-->
	<div id="preloader">
		<div class="loader">
			<svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none"
					stroke-width="3" stroke-miterlimit="10" />
            </svg>
		</div>
	</div>
	<!--*******************
        Preloader end
    ********************-->





	<div class="login-form-bg h-100">
		<div class="container h-100">
			<div class="row justify-content-center h-100">
				<div class="col-xl-6">
					<div class="form-input-content">
						<div class="card login-form mb-0">
							<div class="card-body pt-5">
								<a class="text-center"><h1>COMPANi</h1></a>

								<form class="mt-5 mb-5 login-input" th:action="@{login}" method="post" id="loginForm">
									<div class="form-group">
										<input type="text" class="form-control" placeholder="아이디" name="loginId" id="loginId">
									</div>
									<div class="form-group">
										<input type="password" class="form-control" placeholder="비밀번호" name="loginPwd" id="loginPwd">
									</div>
									<button class="btn login-form__btn submit w-100" id="loginBtn" type="button">로그인</button>
								</form>
								<p class="mt-5 login-form__footer">
									<a href="signUp" class="text-primary">회원가입</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>




	<!--**********************************
        Scripts
    ***********************************-->
	<script src="plugins/common/common.min.js"></script>
	<script src="js/custom.min.js"></script>
	<script src="js/settings.js"></script>
	<script src="js/gleek.js"></script>
	<script src="js/styleSwitcher.js"></script>
	<script th:inline="javascript">
	let testId = /^(?=.*?[a-z])(?=.*?[0-9]).{4,}/;
	let testPw1 = /^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}/;
	$('#loginId').on("input", function(event){ 
		
		let inputVal = $(this).val();
		
		$(this).val(inputVal.toLowerCase().replace(/[^a-z0-9]/gi,''));
		
		if(inputVal.length > 20){
			$(this).val(inputVal.substr(0, 20)); 
		}
	});
	$('#loginPwd').on("input", function(event){ 
		
		let inputVal = $(this).val();
		
		if(inputVal.length > 20){
			$(this).val(inputVal.substr(0, 20)); 
		}
	});
 	$("#loginBtn").on("click", function(event){ 
 		if($('#loginId').val().length < 4){
			swal.fire({title : '아이디 오류!', text : "※ 4~20자 / 영문(소문자), 숫자 2가지 구성.", icon : 'error', button : '뒤로'})
			return false;
		}else if($('#loginPwd').val().length < 8){
			swal.fire({title : '비밀번호 오류!', text : "※ 8~20자 / 영문(대/소문자), 숫자 및 특수문자 4가지 구성.", icon : 'error', button : '뒤로'})
			return false;
		}else if(testId.test($('#loginId').val()) == false){
			swal.fire({title : '아이디 오류!', text : "※ 4~20자 / 영문(소문자), 숫자 2가지 구성.", icon : 'error', button : '뒤로'})
			return false;
		}else if(testPw1.test($('#loginPwd').val()) == false){
			swal.fire({title : '비밀번호 오류!', text : "※ 8~20자 / 영문(대/소문자), 숫자 및 특수문자 4가지 구성.", icon : 'error', button : '뒤로'})
			return false;
		}
    	var modify = /*[[@{login}]]*/;
	   	$("#loginForm").attr("action", modify).submit();
		 
	}); 
	
	</script>
</body>
</html>