<!DOCTYPE html>
<html class="h-100" lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=chrome">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>MemberSignUp</title>
<!-- Favicon icon -->
<link rel="icon" type="image/png" sizes="16x16"
	href="images/favicon.png">
<!-- Custom Stylesheet -->
<link href="css/style.css" rel="stylesheet">
<style>
.autocomplete>div.active {
	background: #58ACFA;
	color: #000000;
}

mark, .mark {
	padding: 0.2em;
	font-weight: 900;
	background-color: transparent;
}
</style>
</head>

<body>

	<!--*******************
        Preloader start
    ********************-->
	<div id="preloader">
		<div class="loader">
			<svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none"
					stroke-width="3" stroke-miterlimit="10" />
            </svg>
		</div>
	</div>
	<!--*******************
        Preloader end
    ********************-->


	<!--**********************************
        Main wrapper start
    ***********************************-->
	<div id="main-wrapper">

		<!--**********************************
            Nav header start
        ***********************************-->
		<div class="nav-header">
			<div class="brand-logo">
				<a href="loginForm"> <b class="logo-abbr"><img
						src="images/logo.png" alt=""> </b> <span class="logo-compact"><img
						src="./images/logo-compact.png" alt=""></span> <span
					class="brand-title"> <img src="images/logo-text.png" alt="">
				</span>
				</a>
			</div>
		</div>
		<!--**********************************
            Nav header end
        ***********************************-->

		<div class="header" style="background: #F3F3F9;">
			<div class="header-content clearfix">

				<div class="nav-control"></div>
				<div class="header-left">
					<div class="input-group icons"></div>
				</div>
				<div class="header-right">
					<ul class="clearfix">
						<li class="icons dropdown"></li>
						<li class="icons dropdown"></li>
						<li class="icons dropdown d-none d-md-flex"></li>
						<li class="icons dropdown">
							<div class="user-img c-pointer position-relative"
								data-toggle="dropdown"></div>
							<div class="drop-down dropdown-profile   dropdown-menu">
								<div class="dropdown-content-body"></div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>



		<!--**********************************
            Content body start
        ***********************************-->

		<div class="content-body">


			<!-- row -->

			<div class="container-fluid">
				<div class="row justify-content-center">
					<div class="col-lg-12">
						<div class="card">
							<div class="card-body">
								<div class="form-validation">
									<form class="form-valide" action="SignUpped" method="post">
										<h1>
											<b>회원가입(사원)</b>
										</h1>
										<div class="form-group row">
											<span class="text-danger">*</span><label
												class="col-lg-4 col-form-label" for="coNm">소속기관 </label>

											<div class="col-lg-6">
												<input type="text" class="form-control" id="coNm" name="coNm"
													readonly="readonly" required>

												<span>소속기관을 등록하시오.</span>
											<!-- 	////////////////////////////////////////////// -->
												<input type="text"
													class="form-control" id="coRpstr" name="coRpstr"
													readonly="readonly" required hidden="true"
													th:value='${companyVO.coRpstr}'> 
												<input type="text"
													class="form-control" id="coCd" name="coCd"
													readonly="readonly" required hidden="true"> 
												<input type="text"
													class="form-control" id="coBizno" name="coBizno"
													readonly="readonly" required hidden="true"
													th:value='${companyVO.coBizno}'>
												<input type="date"
													class="form-control" id="coDt" name="coDt"
													readonly="readonly" required hidden="true"
													th:value="${#dates.format(companyVO.coDt, 'yyyy-MM-dd')}">						
											<!-- 	////////////////////////////////////////////// -->							
											</div>
											<!-- Button trigger modal -->
											<button type="button" class="btn btn-primary"
												data-toggle="modal" data-target="#modalGrid" onclick="selectCompList()">소속기관 찾기</button>
										</div>

										<div class="form-group row">
											<span class="text-danger">*</span> <label
												class="col-lg-4 col-form-label" for="membId">아이디 </label>
											<div class="col-lg-6">
												<input type="text" class="form-control" id="membId"
													name="membId"
													placeholder="※ 4~50자 이내 / 영문(소문자), 숫자로만 입력 가능" required>
												<span>※ 4~50자 이내 / 영문(소문자), 숫자로만 입력 가능</span>
											</div>

										</div>
										<div class="form-group row">
											<span class="text-danger">*</span> <label
												class="col-lg-4 col-form-label" for="membPwd">비밀번호 </label>
											<div class="col-lg-6">
												<input type="password" class="form-control" id="membPwd"
													name="membPwd" placeholder="※ 마우스 올릴 시, 설명"
													title="영문(대/소문자), 숫자 및 특수문자 3가지로 구성하여 최소 10자 이상으로 입력합니다.&#13;&#10;&#13;&#10;※ 특수문자 ~ ! @ # $ % ^ & * ( ) _ - + = [ ] | \ ; : ‘ “ < > , . ? /"
													required> <span>비밀번호를 확인하시오.</span>
											</div>
										</div>
										<div class="form-group row">
											<span class="text-danger">*</span> <label
												class="col-lg-4 col-form-label" for="confirm-password">비밀번호
												확인 </label>
											<div class="col-lg-6">
												<input type="password" class="form-control"
													id="confirm-password" name="confirm-password"
													placeholder="" required> <span>비밀번호가
													일치하지않습니다.</span>
											</div>
										</div>
										<div class="form-group row">
											<span class="text-danger">*</span> <label
												class="col-lg-4 col-form-label" for="membNm">성명 </label>
											<div class="col-lg-6">
												<input class="form-control" id="membNm" name="membNm"
													placeholder="" required></input> <span>이름을 확인하시오.</span>
											</div>
										</div>

										<div class="form-group row">
											<span class="text-danger">*</span> <label
												class="col-lg-4 col-form-label" for="membBirthDt">생년월일

											</label>
											<div class="col-lg-6">
												<input type="date" class="form-control" id="membBirthDt"
													name="membBirthDt" pattern="\d{4}-\d{2}-\d{2}"  required/>
												<span>생년월일을 확인하시오.</span>
											</div>
										</div>
										<div class="form-group row">
											<label class="col-lg-4 col-form-label" for="membEmail">이메일
											</label>
											<div class="col-lg-6">
												<input type="email" class="form-control" id="membEmail"
													name="membEmail" placeholder="ex) abc@example.com">
											</div>
										</div>

										<div class="form-group row">
											<label class="col-lg-4 col-form-label" for="membTelno">전화번호
											</label>
											<div class="col-lg-6">
												<input type="text" class="form-control" id="membTelno"
													name="membTelno" placeholder="ex) 010-0000-0000"> <span>전화번호를
													학인하시오.</span>
											</div>
										</div>
										<div class="form-group row">
											<label class="col-lg-4 col-form-label" for="membDept">부서
											</label>
											<div class="col-lg-6">
												<input type="text" class="form-control" id="membDept"
													name="membDept" placeholder="">
											</div>
										</div>
										<div class="form-group row">
											<label class="col-lg-4 col-form-label" for="membWkgd">직급
											</label>
											<div class="col-lg-6">
												<input type="text" class="form-control" id="membWkgd"
													name="membWkgd" placeholder="">
											</div>
										</div>
										<div><input type="number" class="form-control" id="permNo"
													name="permNo" placeholder="" hidden></div>



										<div class="form-group row">
											<div class="col-lg-8 ml-auto">
												<button type="submit" class="btn btn-primary">가입신청</button>
												<button type="button" class="btn btn-primary"
													onclick="location.href='loginForm';">메인으로</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- #/ container -->

			<!-- Modal -->
			<div class="modal fade" id="modalGrid">
				<div class="modal-dialog" role="document">
					<div class="modal-content" id="sea">
						<div class="modal-header">
							<h5 class="modal-title">소속기관 찾기</h5>
							<button type="button" class="close" data-dismiss="modal"
								onclick="removeValue()">
								<span>&times;</span>
							</button>
						</div>
						<div class="modal-body">


							<div class="container-fluid">
								<div class="case">
									<!-- 검색어 입력 폼 -->
									<input type="text" id="search" placeholder="상호명을 입력하시오.">
									<span id="notice"
										style="display: none; color: red; border: 900px; font-size: 12px">존재하지
										않는 상호명입니다.</span>
									<!-- 자동완성 단어 리스트 -->
									<div class="autocomplete" style="width: 163px"></div>
								</div>
							</div>


						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"
								data-dismiss="modal" onclick="removeValue()">취소</button>
							<button type="button" id="addBtn" class="btn btn-primary"
								data-dismiss="modal" onclick="entryValue()">등록</button>
						</div>
					</div>
				</div>
			</div>

		</div>

		<!--**********************************
            Content body end
        ***********************************-->



	</div>
	<!--**********************************
        Main wrapper end
    ***********************************-->

	<!--**********************************
        Scripts
    ***********************************-->
	<script src="plugins/common/common.min.js"></script>
	<script src="js/custom.min.js"></script>
	<script src="js/settings.js"></script>
	<script src="js/gleek.js"></script>
	<script src="js/styleSwitcher.js"></script>

	<script src="./plugins/validation/jquery.validate.min.js"></script>
	<script src="./plugins/validation/jquery.validate-init.js"></script>
	
	<script th:inline="javascript">
	/*<![CDATA[*/
		$(function(){
			if('[(${companyVO.coNm})]'!= null && '[(${companyVO.coNm})]' != ''){
				$('#coNm').val('[(${companyVO.coNm})]');
				$('#coCd').val('[(${companyVO.coCd})]');
				$('#permNo').val("0A2");
			}
		})
    /*]]>*/
	</script>
	<script>
//@@@@@@@@@@@@@@@회원가입폼@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@


/* 	$('#val-suggestions').onkeyup = (event) => {
		const value1 = $('#val-suggestions').value;
		

	};
	
	//아이디
	$('#val-suggestions').keyup(function (e){
		var content = $(this).val();
		var special_pattern = /[`~!@#$%^&*|\\\'\";:\/?]/gi;
		var blank_pattern = /[\s]/g;
		var blank_pattern2 = /^\s+|\s+$/g;
		
	    if (content.length > 50 || content.length<4 || content.replace(blank_pattern2, '' ) == "" || blank_pattern.test(content) == true || special_pattern.test(str) == true){
	        alert("아이디는 4~50자 이내(영문/대소문자, 숫자로만 입력 가능합니다.");
	    }
}); */


	
//@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@End of 회원가입폼@@@@@@@@@@@@

//@@@@@@@@@@@@@@@@소속기관@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@	
	// 검색어 리스트
	const compList = [];
	const compNm = [];
	const myComp = '';
	
	function selectCompList(){
	    $.ajax('http://localhost/companyList', {
	        type : 'post'
	    })
	    .done(result => {
	        $.each(result.data, function(index, element){
	        	compList.push(element);
	        });
	        $.each(compList, function(index, element){
	        	compNm.push(element.CO_NM);
	        });
	    })
	    .fail(err =>console.log(err));
	    
	    
	    
	}

	
	// 검색 입력 요소
	const $search = document.querySelector("#search");
	// 검색어 리스트 요소
	const autoComplete = document.querySelector(".autocomplete");
	const $autoComplete = $(".autocomplete");
	// 현재 가르키고 있는 검색어 순번
	let nowIndex = 0;
	

	
	//-----------------------------------------------------------------------------------------------
	
	
	// 리스트 키보드 누를 때////////////////////////////////////////////////////////////////
	$search.onkeyup = (event) => {
		$('#notice').css('display', 'none');
		const value = $search.value.trim();
		
		// 리스트 필터링
		const matchCompList = value
		  ? compNm.filter((label) => label.includes(value))
		  : [];
		switch (event.keyCode) {
		  // UP KEY
		  case 38:
		    nowIndex = Math.max(nowIndex - 1, 0);
		    break;
		
		  // DOWN KEY
		  case 40:
		    nowIndex = Math.min(nowIndex + 1, matchCompList.length - 1);
		    break;
		
		  // ENTER KEY
		  case 13:
			if(autoComplete.children.length>0){
				$search.value = matchCompList[nowIndex] || "";
			    // 초기화
			    nowIndex = 0;
			    matchCompList.length = 0;
		    }else{
		    	if($search.value.length>0){
		    		for(var i = 0; i<compList.length; i++){
		    			if(compList[i].CO_NM==$search.value){
		    				$('button[id="addBtn"]').click();
		    				break;
			    		}else{
			    			$('#notice').css('display', 'block');
			    		}
		    		}
		    	}
		    }
			break;	
		  // 그외 다시 초기화
		  default:
		    nowIndex = 0;
		    break;
		}
	
	// 리스트 보여주기
		showList(matchCompList, value, nowIndex);
	};/////////////////////////////////////////////////////////////End of 리스트 키보드 누를 때
	
	const showList = (data, value, nowIndex) => {
		  // 정규식으로 변환
		const regex = new RegExp(`(${value})`, "g");
		autoComplete.innerHTML = data
			.map(
			  (label, index) => `<div data-keyword='${label}' class='${nowIndex === index ? "active" : ""}'>${label.replace(regex, "<mark>$1</mark>")}</div>`
			)
			.join("");
	};
	
	// 리스트 마우스 오버 때////////////////////////////////////////////////////////////////
	$autoComplete.on('mouseover', '[data-keyword]', (event) => {
		//console.log('mou', event); 
		$(".autocomplete [data-keyword]").removeClass("active");
		$(event.currentTarget).addClass("active");
	});//////////////////////////////////////////////////////////End of 리스트 마우스 오버 때/////
	
	
	// 리스트 클릭 때///////////////////////////////////////////////////////////////////
	$autoComplete.on('click', '[data-keyword]', (event) => {
		$search.value = $(event.currentTarget).data("keyword");
		$(".autocomplete div").remove();
	});
	
	///////////////////////////////////////////////////////End of 리스트 클릭 때//////////
	
	/////리스트 외부 클릭할때///////////////////////////////////////////////////////////////
	$('div').on('click', $('.case'), (event) => {
		$(".autocomplete div").remove();
	});
	/////////////////////////////////////////////////////////End of 리스트 외부 클릭할때///
	
	//모달창 버튼/////////////////////////////////////////////////////////////////////////
	function removeValue(){
		$search.value = '';
	}
	
	function entryValue(){
		document.querySelector('#coNm').value = $search.value;
 		for(var i = 0; i<compList.length; i++){
			if(document.querySelector('#coNm').value==compList[i].CO_NM){
				document.querySelector('#coCd').value = compList[i].CO_CD;
				break;
			}
		} 
		$search.value = '';
		$('#permNo').val("0A4");
	}
	/////////////////////////////////////////////////////////////End of 모달창 버튼///////
//@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@End of 소속기관@@@@@@@@@@@@@
		

		
		
	</script>

</body>

</html>