<!DOCTYPE html>
<html class="h-100" lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=chrome">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>CompanySignUp</title>
<!-- Favicon icon -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.9.0/dist/sweetalert2.all.min.js"></script>
		<link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.9.0/dist/sweetalert2.min.css" rel="stylesheet">
<link rel="icon" type="image/png" sizes="16x16"
	href="images/favicon.png">
<!-- Custom Stylesheet -->
<link href="css/style.css" rel="stylesheet">
<style type="text/css">
[id^="checks"] {
	display: none;
	color: red;
}
</style>
</head>

<body>

	<!--*******************
        Preloader start
    ********************-->
	<div id="preloader">
		<div class="loader">
			<svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none"
					stroke-width="3" stroke-miterlimit="10" />
            </svg>
		</div>
	</div>
	<!--*******************
        Preloader end
    ********************-->


	<!--**********************************
        Main wrapper start
    ***********************************-->
	<div id="main-wrapper">

		<!--**********************************
            Nav header start
        ***********************************-->
		<div class="nav-header">
			<div class="brand-logo">
				<a href="loginForm"> <b class="logo-abbr"><img
						src="images/logo.png" alt=""> </b> <span class="logo-compact"><img
						src="./images/logo-compact.png" alt=""></span> <span
					class="brand-title"> <img src="images/logo-text.png" alt="">
				</span>
				</a>
			</div>
		</div>
		<!--**********************************
            Nav header end
        ***********************************-->

		<div class="header" style="background: #F3F3F9;">
			<div class="header-content clearfix">

				<div class="nav-control"></div>
				<div class="header-left">
					<div class="input-group icons"></div>
				</div>
				<div class="header-right">
					<ul class="clearfix">
						<li class="icons dropdown"></li>
						<li class="icons dropdown"></li>
						<li class="icons dropdown d-none d-md-flex"></li>
						<li class="icons dropdown">
							<div class="user-img c-pointer position-relative"
								data-toggle="dropdown"></div>
							<div class="drop-down dropdown-profile   dropdown-menu">
								<div class="dropdown-content-body"></div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>



		<!--**********************************
            Content body start
        ***********************************-->

		<div class="content-body">


			<!-- row -->

			<div class="container-fluid">
				<div class="row justify-content-center">
					<div class="col-lg-8">
						<div class="card">
							<div class="card-body">
								<div class="form-validation">
									<form class="form-valide" action="companySignUpped" id="form1"
										method="post">
										<h1 style="margin-bottom: 50px">
											<b>회원가입(기업)</b>
										</h1>
										<div class="form-group row">
											<span class="text-danger">*</span> <label
												class="col-lg-3 col-form-label" for="coRpstr">대표자명 </label>
											<div class="col-lg-6">
												<input type="text" class="form-control" id="coRpstr"
													name="coRpstr" placeholder="">
											</div>
										</div>
										<div class="form-group row">
											<span class="text-danger">*</span> <label
												class="col-lg-3 col-form-label" for="coNm">상호명 </label>
											<div class="col-lg-6">
												<input type="text" class="form-control" id="coNm"
													name="coNm" placeholder=""> <span id="checksCoNm">이미
													존재하는 상호명입니다.</span>
											</div>

										</div>

										<div class="form-group row">
											<span class="text-danger">*</span> <label
												class="col-lg-3 col-form-label" for="coDt">개업일자 </label>
											<div class="col-lg-6">
												<input type="date" class="form-control" id="coDt"
													name="coDt" pattern="\d{4}-\d{2}-\d{2}">
											</div>
										</div>


										<div class="form-group row">
											<span class="text-danger">*</span> <label
												class="col-lg-3 col-form-label" for="coBizno">사업자등록번호
											</label>
											<div class="col-lg-6">
												<input type="text" class="col-lg-6" id="coBizno"
													name="coBizno" 
													style="margin-right: 10px; width: 200px; border-color: transparent; border-bottom-color: black;"
													>

												<button type="button" class="btn btn-primary"
													onclick="auths()">인증하기</button>
											</div>
										</div>

										<div class="form-group row">
											<div class="col-lg-8 ml-auto">
												<span id="checksCoBno">이미 등록된 번호입니다.</span>
												<span id="checksCoBno2">인증되지 않았습니다.</span>
												<span id="checksCoBno3" style="color:green;">인증이 완료되었습니다.</span>
											</div>
										</div>
										<div class="form-group row">
											<div class="col-lg-8 ml-auto">

												<button type="button" id="nextBtn" class="btn btn-primary">다음으로</button>
												<button type="button" class="btn btn-primary"
													onclick="location.href='loginForm';">메인으로</button>
											</div>
										</div>

									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- #/ container -->
		</div>

		<!--**********************************
            Content body end
        ***********************************-->



	</div>
	<!--**********************************
        Main wrapper end
    ***********************************-->

	<!--**********************************
        Scripts
    ***********************************-->
	<script src="plugins/common/common.min.js"></script>
	<script src="js/custom.min.js"></script>
	<script src="js/settings.js"></script>
	<script src="js/gleek.js"></script>
	<script src="js/styleSwitcher.js"></script>

	<script src="./plugins/validation/jquery.validate.min.js"></script>
	<script src="./plugins/validation/jquery.validate-init.js"></script>
	<script>
	
	const compList = [];
	
	$(function(){

		//회사 중복체크용 데이터		

	    $.ajax('companyList', {
	        type : 'post'
	    })
	    .done(result => {
	        $.each(result.data, function(index, element){
	        	compList.push(element);
	        });
	    })
	    .fail(err =>console.log(err));
	});
	
	
	//대표자명
	$('#coRpstr').on("input", function(event){
		$('#checksCoBno3').hide();
		$('#checksCoBno2').hide();
		$('#checksCoBno').hide();
		let inputVal = $(this).val();
	
		if(inputVal.length > 15){
			$(this).val(inputVal.substr(0, 15)); 
		}
		

	});
	
	
	//회사명
	$('#coNm').on("input", function(event){
		$('#checksCoBno3').hide();
		$('#checksCoBno2').hide();
		$('#checksCoBno').hide();
		let inputVal = $(this).val();
	
		if(inputVal.length > 20){
			$(this).val(inputVal.substr(0, 20)); 
		}
		
		if(compList.some(data => data.CO_NM == inputVal) == true){
			$('#checksCoNm').show();
		}else if(compList.some(date => date.CO_NM == inputVal) != true){
			$('#checksCoNm').hide();
		}
	});
	
	//개업일자
	$('#coDt').change(function(){
		$('#checksCoBno3').hide();
		$('#checksCoBno2').hide();
		$('#checksCoBno').hide();
	})
	
	//사업자번호
	
	let date = document.querySelector("#coBizno");
	
	// 문자열, 하이픈을 막기 위해 input event 사용
	date.addEventListener("input", () => {
		$('#checksCoBno3').hide();
		$('#checksCoBno2').hide();
		$('#checksCoBno').hide();
	  // 사용자 입력값은 모두 숫자만 받는다.(나머지는 ""처리)
	 	date.value = date.value.replace(/\D/g, "");
		
		if(date.value.length > 10){
			date.value = date.value.substr(0, 10); 
		}
		  
		  //중복검사
		if(compList.some(datas => datas.CO_BIZNO == date.value) == true){
			$('#checksCoBno').show();
		      $('#checksCoBno3').hide();
		      $('#checksCoBno2').hide();
		}else if(compList.some(date => date.CO_BIZNO == date.value) != true){
			$('#checksCoBno').hide();
		      $('#checksCoBno3').hide();
		      $('#checksCoBno2').hide();
		}
	  
	})
	
	//등록버튼
	$('#nextBtn').on('click', function(){
		if($('#checksCoBno3').css("display") != 'inline'){
			$(function(){
				swal.fire({title : '인증 오류!', text : "사업자등록번호 인증이 완료되지 않았습니다.", icon : 'error', button : '뒤로'}).then((value)=>{
					return false;
				});	
			})
		}else{
			$('#form1').submit();
		}
	});

	//인증하기
	function auths(){
		var data = {
				  "businesses": [
					    {
					      "b_no": $('#coBizno').val().replace(/[^0-9]/gi,''),
					      "start_dt": $('#coDt').val().replace(/[^0-9]/gi,''),
					      "p_nm": $('#coRpstr').val(),
					      "b_nm": $('#coNm').val()
					    }
					  ]
					};
			   
			$.ajax({
			  url: "https://api.odcloud.kr/api/nts-businessman/v1/validate?serviceKey=JP%2FuS23NqgUgilDn%2FvnUHyVnLBbGdRPSaWrNrnL8DcrinFauMWB9nFtZZPhGM%2FQoi22l9AfUDmJJKzULzej6lw%3D%3D",
			  type: "POST",
			  data: JSON.stringify(data), // json 을 string으로 변환하여 전송
			  dataType: "JSON",
			  contentType: "application/json",
			  accept: "application/json",
			  success: function(result) {
				  if($('#checksCoBno2').css('display') == 'inline' || $('#checksCoBno').css('display') == 'inline' || result.valid_cnt == null){
					  $('#checksCoBno3').hide();
				      $('#checksCoBno2').show();
				      $('#checksCoBno').hide();
				  }else if(result.valid_cnt > 0){
					  $('#checksCoBno3').show();
				      $('#checksCoBno2').hide();
				  }else{
					  $('#checksCoBno3').hide();
				      $('#checksCoBno2').show();
				      $('#checksCoBno').hide();
				  }
			  },
			  error: function(result) {
				  $('#checksCoBno3').hide();
			      $('#checksCoBno2').show();
			      $('#checksCoBno').hide();
			  }
			});
	}
	</script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</body>

</html>