<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout}">

<th:block layout:fragment="content">
    <!--/* 검색, 글쓰기 버튼 START */-->
    <h2 class="common-title">회사 이슈 게시판</h2>
    <div class="TopBarCompanyIssueControlArea">
        <div class="piSearchBox">
            <div class="cissue-filterBox">
                <div class="cissue-filtered" id="cissue-filtered">
                    <div class="cissue-filter-value"></div>
                    <div class="arrow"></div>
                    <input type="hidden" id="filterType" name="filterType" value="정렬">
                </div>
                <ul class="cissue-filter-ul" style="width: 100px; display: none;">
                    <li class="cissue-filter-option" data-value="날짜순">날짜순</li>
                    <li class="cissue-filter-option" data-value="상태순">상태순</li>
                    <li class="cissue-filter-option" data-value="우선순위순">우선순위순</li>
                    <li class="cissue-filter-option" data-value="종류순">종류순</li>
                </ul>
            </div>
            <label for="SearchToggleCheckBox"
                   th:attr="onclick='companyIssuePaging(1)'"></label> <input
                type="hidden" id="keyword" name="keyword" value="전체">
            <div class="piSearchInputBox" style="width: 350px;">
                <div>
                    <div class="cissue-selectBox" style="width: 100px;">
                        <div class="cissue-selected" id="cissue-selected">
                            <div class="cissue-selected-value">전체</div>
                            <div class="arrow"></div>
                        </div>
                        <ul class="cissue-select-ul" style="width: 100px; display: none;">
                            <li class="cissue-select-option" data-value="전체">전체</li>
                            <li class="cissue-select-option" data-value="작성자">작성자</li>
                            <li class="cissue-select-option" data-value="제목">제목</li>
                            <li class="cissue-select-option" data-value="업무명">업무명</li>
                            <li class="cissue-select-option" data-value="프로젝트명">프로젝트명</li>
                            <li class="cissue-select-option" data-value="해시태그">해시태그</li>
                        </ul>
                    </div>
                </div>
                <input class="ciSearchInput" id="search" name="search" type="text"
                       placeholder="검색어를 입력하세요."><span class="ciDeleteSearchWord" onclick="delSearchValc()"></span>
            </div>
        </div>
    </div>
    <!--/* 검색, 글쓰기 버튼 END */-->

    <div class="ModalInfoArea IssueInfoArea">

        <div class="col-lg-8" style="width: 100%; max-width: 100%;">

            <div class="table-responsive">
                <table class="table table-hover">
                    <thead style="text-align: center;">
                    <tr>
                        <th style="font-weight: normal;">종류</th>
                        <th style="font-weight: normal;">제목</th>
                        <th style="font-weight: normal;">이름</th>
                        <th style="font-weight: normal;">상태</th>
                        <th style="font-weight: normal;">우선순위</th>
                        <th style="font-weight: normal;">프로젝트명</th>
                        <th style="font-weight: normal;">등록날짜</th>
                    </tr>
                    </thead>
                    <tbody class="companyIssueLists" style="text-align: center;">
                    <th:block th:each="ci : ${companyIssueList}">
                        <tr th:attr="onclick='selectCIssueInfo(\'' + ${ci.issuNo} + '\')'">
                            <th th:if="${ci.issuKnd == '0L1'}"><span
                                    class="badge badge-danger" th:text="버그"></span></th>
                            <th th:if="${ci.issuKnd == '0L2'}"><span
                                    class="badge badge-warning" th:text="개선사항"></span></th>
                            <th th:if="${ci.issuKnd == '0L3'}"><span
                                    class="badge badge-info" th:text="새기능"></span></th>
                            <th th:if="${ci.issuKnd == '0L4'}"><span
                                    class="badge badge-light" th:text="업무"></span></th>
                            <td th:class="cocdIssu" th:attr="data-issuno=${ci.issuNo}" th:text="${ci.issuTtl}"></td>
                            <td th:text="${ci.membNm}"></td>
                            <th th:if="${ci.issuSt == '0E1'}"><span
                                    class="badge badge-pill badge-success" th:text="해결"></span></th>
                            <th th:if="${ci.issuSt == '0E2'}"><span
                                    class="badge badge-pill badge-dark" th:text="미해결"></span></th>
                            <th th:if="${ci.issuSt == '0E3'}"><span
                                    class="badge badge-pill badge-secondary" th:text="해결불가"></span></th>

                            <th th:if="${ci.issuRank == '0G1'}"><span
                                    class="badge badge-primary" th:text="매우높음"></span></th>
                            <th th:if="${ci.issuRank == '0G2'}"><span
                                    class="badge badge-secondary" th:text="높음"></span></th>
                            <th th:if="${ci.issuRank == '0G3'}"><span
                                    class="badge badge-success" th:text="보통"></span></th>
                            <th th:if="${ci.issuRank == '0G4'}"><span
                                    class="badge badge-warning" th:text="낮음"></span></th>
                            <th th:if="${ci.issuRank == '0G5'}"><span
                                    class="badge badge-danger" th:text="매우낮음"></span></th>
                            <td th:text="${ci.prjtNm}"></td>
                            <td
                                    th:text="${#dates.format(ci.issuDt, 'yyyy-MM-dd')}"></td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="paginate-container d-none d-sm-flex flex-sm-justify-center">
        <div role="navigation" aria-label="ciPagination" class="ciPagination">

            <a id="previous_page"
               th:classappend="${companyIssue.prePage == 0} ? 'disabled'"
               th:attr="onclick='companyIssuePaging(\'' + ${companyIssue.prePage} + '\')'">Previous</a>
            <a class="cur_page"
               th:each="page: ${#numbers.sequence(companyIssue.navigateFirstPage, companyIssue.navigateLastPage)}"
               th:text="${page}"
               th:attr="onclick='companyIssuePaging(\'' + ${page} + '\')'"></a> <a
                id="next_page"
                th:classappend="${companyIssue.nextPage == 0} ? 'disabled'"
                th:attr="onclick='companyIssuePaging(\'' + ${companyIssue.nextPage} + '\')'">Next</a>
        </div>
    </div>
    <script
            src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
    <script th:inline="javascript">
		window.onload = function () {
			hashtagByCoCd()
		}
        let coCd = [[${session.loginInfo.coCd}]];

          //검색 조건 (제목, 작성자, 전체)
          $('.cissue-selectBox').on('click', function () {
			    if($('.cissue-select-ul').css('display') == 'none') {
			  	$('.cissue-select-ul').css('display', 'block');
			} else {
				$('.cissue-select-ul').css('display', 'none');
			}
		  })
          $('.cissue-filterBox').on('click', function () {
                if($('.cissue-filter-ul').css('display') == 'none') {
                   $('.cissue-filter-ul').css( 'display', 'block');
                } else {
                    $('.cissue-filter-ul').css('display', 'none');
                }
          })
          // 현재 페이지에 current 클래스 붙이기!
          $('.cur_page').each(function () {
              let page = $(this).text();

              if (page == 1) {
                  $(this).addClass('current').css('color', '#ffffff');
              } else {
                  $(this).removeClass('current').css('color', '#76838F');
              }
          });

          // disabled 일 때 , onclick 지우기
          $(".disabled").css("color", "#8C959F").removeAttr("onclick");

          $('.cissue-select-option').on('click', function (e) {
              let selectValue = e.currentTarget.textContent;
              $('.cissue-selected-value').text(selectValue);
              $('#keyword').val(selectValue);
              $('.cissue-select-ul').css('display', 'none');
              e.stopPropagation();

          });

          // filter링.
		$('.cissue-filter-option').on('click', function (e) {
			let selectValue = e.currentTarget.textContent;
			$('#filterType').val(selectValue);
			$('.cissue-filter-ul').css('display', 'none');
			e.stopPropagation();
			companyIssuePaging(1);
		});
            function dateFormatting(date) {

            let parseDate = new Date(date);

            let year = parseDate.getFullYear();
            let month = ('0' + (parseDate.getMonth() + 1)).slice(-2);
            let day = ('0' + parseDate.getDate()).slice(-2);
            return year + '-' + month + '-' + day;
          }

          // ajax
          function companyIssuePaging(pageNum) {

              let keywordVal = $('#keyword').val();
              let searchVal = $('#search').val();
              let issueLists = $('.companyIssueLists');
              let pagination = $('.ciPagination');
              let filterTypeVal = $('#filterType').val();

              $.ajax('/company/aissues/' + coCd + '?pageNum=' + pageNum + '&keyword='
                  + keywordVal + '&search=' + searchVal + '&filterType=' + filterTypeVal,
                  {
                      type: 'GET'
                  }).done(function (data) {
                      $('.ciSearchInput').val('');
                      issueLists.empty();
                      hashtagByCoCd();
                      $.each(data.cissueList, function (idx, item) {
                          let trTag = $('<tr/>').attr('onclick', 'selectCIssueInfo(' + item.issuNo + ')');

                          if (item.issuKnd == '0L1') {
                              trTag.append('<th><span class="badge badge-danger" th:text="버그">버그</span></th>');
                          } else if (item.issuKnd == '0L2') {
                              trTag.append('<th><span class="badge badge-warning" th:text="개선사항">개선사항</span></th>');
                          } else if (item.issuKnd == '0L3') {
                              trTag.append('<th><span class="badge badge-info" th:text="새기능">새기능</span></th>');
                          } else if (item.issuKnd == '0L4') {
                              trTag.append('<th><span class="badge badge-light" th:text="업무">업무</span></th>');
                          }
                          let coIssuTd = $('<td/>').attr('class', 'cocdIssu').attr('data-issuno', item.issuNo).text(item.issuTtl);
  						  trTag.append(coIssuTd);
                          trTag.append('<td>' + item.membNm + '</td>');

                          if (item.issuSt == '0E1') {
                              trTag.append('<th><span class="badge badge-pill badge-success" th:text="해결">해결</span></th>');
                          } else if (item.issuSt == '0E2') {
                              trTag.append('<th><span class="badge badge-pill badge-dark" th:text="미해결">미해결</span></th>');
                          } else if (item.issuSt == '0E3') {
                              trTag.append('<th><span class="badge badge-pill badge-secondary" th:text="해결불가">해결불가</span></th>');
                          }

                          if (item.issuRank == '0G1') {
                              trTag.append('<th><span class="badge badge-primary" th:text="매우높음">매우높음</span></th>');
                          } else if (item.issuRank == '0G2') {
                              trTag.append('<th><span class="badge badge-secondary" th:text="높음">높음</span></th>');
                          } else if (item.issuRank == '0G3') {
                              trTag.append('<th><span class="badge badge-success" th:text="보통">보통</span></th>');
                          } else if (item.issuRank == '0G4') {
                              trTag.append('<th><span class="badge badge-warning" th:text="낮음">낮음</span></th>');
                          } else if (item.issuRank == '0G5') {
                              trTag.append('<th><span class="badge badge-danger" th:text="매우낮음">매우낮음</span></th>');
                          }
                          trTag.append('<td>' + item.prjtNm + '</td>');
                          trTag.append('<td>' + dateFormatting(item.issuDt) + '</td>');
                          issueLists.append(trTag);

                          /* 여기까지 tbody에 데이터 넣는 것 */

                      })
                      // 페이징 업데이트..
                      updateCIPaging(data.cissue);


                      let prePageNum = data.cissue.prePage;
                      let nextPageNum = data.cissue.nextPage;
                      let curPageNum = data.cissue.pageNum;
                      let navFirstPage = data.cissue.navigateFirstPage;
                      let navLastPage = data.cissue.navigateLastPage;
                      let lastPage = data.cissue.pages;

                      // 현재 페이지에 current 클래스 붙이기!
                      $('.cur_page').each(function () {
                          let page = $(this).text();

                          if (page == curPageNum) {
                              $(this).addClass('current').css('color', '#ffffff');
                          } else {
                              $(this).removeClass('current').css('color', '#76838F');
                          }
                      });

                      // 현재 페이지 업데이트.
                      $('#previous_page').attr('onclick',
                          'companyIssuePaging(' + prePageNum + ')');
                      $('#next_page').attr('onclick',
                          'companyIssuePaging(' + nextPageNum + ')');

                      // previous, next disabled 설정 + onclick 속성 제거
                      if (prePageNum == 0) {
                          $('#previous_page').addClass('disabled').css("color", "#8C959F").removeAttr("onclick");
                      } else {
                          $('#previous_page').css("color", "#0969DA");
                      };

                      if (nextPageNum == 0) {
                          $('#next_page').addClass('disabled').css("color", "#8C959F").removeAttr("onclick");
                      } else {
                          $('#next_page').css("color", "#0969DA");
                      };


                  }).fail(function () {
                      alert('실패');
                  });
          }
		  
          function hashtagByCoCd() {
  			$.ajax({
  				url: '/company/' + coCd  +'/hashtags',
  				type: 'GET',
  				success: function (data) {
  					
  					$('.cocdIssu').each(function () {
  						let issuNo = $(this).data('issuno');
  						let curelem = $(this);
  						$.each(data, function(idx, item) {
  							if(item.issuNo == issuNo) {
  								let showList = $('<div/>').attr('class', 'showPIHt');
  								let showtb = $('<div/>').attr('class', 'showTBPI task').attr('title', item.issuHtNm);
  								let pht = $('<p/>').text('#');
  								let phtnm = $('<p/>').attr('class', 'showTextPI').text(item.issuHtNm);
  													
  								showtb.append(pht);
  								showtb.append(phtnm);
  								showList.append(showtb);
  								curelem.append(showList)
  							}
  						})						
  					})					
  				},
  				error: function (reject) {
  					console.log(reject);
  				}
  			})
 			
  		}         
                          
          function updateCIPaging(paging) {
              let pagination = $('.ciPagination');
              pagination.empty();

              let pagesPer = 8;  // 한 번에 보이는 페이지 수
              let endPage = (Math.ceil(paging.pageNum / pagesPer) * pagesPer);  // 끝 페이지
              let realEndPage = paging.pages;
              let startPage = (endPage - pagesPer) + 1;

              if (endPage > realEndPage) {
                  endPage = realEndPage;
              };

              for (let i = startPage; i <= endPage; i++) {
                  let aTag = $('<a/>');
                  aTag.addClass('cur_page').text(i);
                  aTag.attr('onclick', 'companyIssuePaging(' + i + ')');
                  pagination.append(aTag);
              };

              if (startPage >= 1) {
                  let prevTag = $('<a/>');
                  prevTag.attr('id', 'previous_page');
                  prevTag.text('Previous');
                  prevTag.attr('onclick', 'companyIssuePaging(' + (paging.prePage) + ')');
                  pagination.prepend(prevTag);
              };

              if (endPage <= paging.pages) {
                  let nextTag = $('<a/>');
                  nextTag.attr('id', 'next_page');
                  nextTag.text('Next');
                  nextTag.attr('onclick', 'companyIssuePaging(' + (paging.nextPage) + ')');
                  pagination.append(nextTag);
              };
          }

          function delSearchValc() {
              $('.ciSearchInput').val('');
          }

      function selectCIssueInfo(issuNo) {
              location.href = '/company/issues/' + coCd + '/' + issuNo;
              }
    </script>
</th:block>
</html>