<!DOCTYPE html>
<html class="h-100" lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=chrome">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>CompanySignUp</title>
<!-- Favicon icon -->
<link rel="icon" type="image/png" sizes="16x16"
	href="images/favicon.png">
<!-- Custom Stylesheet -->
<link href="css/style.css" rel="stylesheet">

</head>

<body>

	<!--*******************
        Preloader start
    ********************-->
	<div id="preloader">
		<div class="loader">
			<svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none"
					stroke-width="3" stroke-miterlimit="10" />
            </svg>
		</div>
	</div>
	<!--*******************
        Preloader end
    ********************-->


	<!--**********************************
        Main wrapper start
    ***********************************-->
	<div id="main-wrapper">

		<!--**********************************
            Nav header start
        ***********************************-->
		<div class="nav-header">
			<div class="brand-logo">
				<a href="loginForm"> <b class="logo-abbr"><img
						src="images/logo.png" alt=""> </b> <span class="logo-compact"><img
						src="./images/logo-compact.png" alt=""></span> <span
					class="brand-title"> <img src="images/logo-text.png" alt="">
				</span>
				</a>
			</div>
		</div>
		<!--**********************************
            Nav header end
        ***********************************-->

		<div class="header" style="background: #F3F3F9;">
			<div class="header-content clearfix">

				<div class="nav-control"></div>
				<div class="header-left">
					<div class="input-group icons"></div>
				</div>
				<div class="header-right">
					<ul class="clearfix">
						<li class="icons dropdown"></li>
						<li class="icons dropdown"></li>
						<li class="icons dropdown d-none d-md-flex"></li>
						<li class="icons dropdown">
							<div class="user-img c-pointer position-relative"
								data-toggle="dropdown"></div>
							<div class="drop-down dropdown-profile   dropdown-menu">
								<div class="dropdown-content-body"></div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>



		<!--**********************************
            Content body start
        ***********************************-->

		<div class="content-body">


			<!-- row -->

			<div class="container-fluid">
				<div class="row justify-content-center">
					<div class="col-lg-12">
						<div class="card">
							<div class="card-body">
								<div class="form-validation">
									<form class="form-valide" action="companySignUpped"
										method="post">
										<h1>
											<b>회원가입(기업)</b>
										</h1>
										<div class="form-group row">
											<span class="text-danger">*</span> <label
												class="col-lg-4 col-form-label" for="coRpstr">대표자명 </label>
											<div class="col-lg-6">
												<input type="text" class="form-control" id="coRpstr"
													name="coRpstr" placeholder="" required>
											</div>
										</div>
										<div class="form-group row">
											<span class="text-danger">*</span> <label
												class="col-lg-4 col-form-label" for="coNm">상호명 </label>
											<div class="col-lg-6">
												<input type="text" class="form-control" id="coNm"
													name="coNm" placeholder="" required>
											</div>
										</div>

										<div class="form-group row">
											<span class="text-danger">*</span> <label
												class="col-lg-4 col-form-label" for="coDt">개업일자 </label>
											<div class="col-lg-6">
												<input type="date" class="form-control" id="coDt"
													name="coDt" pattern="\d{4}-\d{2}-\d{2}" required>
											</div>
										</div>


										<div class="form-group row">
											<span class="text-danger">*</span> <label
												class="col-lg-4 col-form-label" for="coBizno">사업자등록번호
											</label>
											<div class="col-lg-6">
												<input type="text" class="col-lg-6" id="coBizno"
													name="coBizno" minlength="14" maxlength="14"
													style="margin-right: 10px; width: 200px; border-color: transparent; border-bottom-color: black;" required>
												<button type="button" class="btn btn-primary"
													onclick="location.href='login';">인증하기</button>
											</div>
										</div>

										<div class="form-group row">
											<div class="col-lg-8 ml-auto">
												<button type="submit" class="btn btn-primary">다음으로</button>
												<button type="button" class="btn btn-primary"
													onclick="location.href='loginForm';">메인으로</button>
											</div>
										</div>
										<input type="text" class="form-control" id="coCd" name="coCd" hidden="true">
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- #/ container -->
		</div>

		<!--**********************************
            Content body end
        ***********************************-->



	</div>
	<!--**********************************
        Main wrapper end
    ***********************************-->

	<!--**********************************
        Scripts
    ***********************************-->
	<script src="plugins/common/common.min.js"></script>
	<script src="js/custom.min.js"></script>
	<script src="js/settings.js"></script>
	<script src="js/gleek.js"></script>
	<script src="js/styleSwitcher.js"></script>

	<script src="./plugins/validation/jquery.validate.min.js"></script>
	<script src="./plugins/validation/jquery.validate-init.js"></script>
	<script>
	$(function(){
	    $.ajax('http://localhost/makeCoCd', {
	        type : 'post'
	    })
	    .done(result => {
			$('#coCd').val(result);
	    })
	    .fail(err =>console.log(err));

	});
	
	
	
	
	//사업자번호 제한
	
	let date = document.querySelector("#coBizno");
	
	// 문자열, 하이픈을 막기 위해 input event 사용
	date.addEventListener("input", () => {
	  
	  // 사용자 입력값은 모두 숫자만 받는다.(나머지는 ""처리)
	  let val = date.value.replace(/\D/g, "");
	  let leng = val.length;
	  
	  // 출력할 결과 변수
	  let result = '';
	  
	  if(leng > 6){
	  	result += val.substring(0,6);
	    result += "-";
	    result += val.substring(6);
	  }else if(leng <=6){
		  	result += val;
	  }
	  date.value = result;
	})
	</script>
</body>

</html>