<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/projectlayout}">
<head>
<meta charset="UTF-8">
<title>업무</title>
<link rel="stylesheet" href="/plugins/nouislider/nouislider.min.css">
 <link href="/plugins/nestable/css/nestable.css" rel="stylesheet">
</head>
<body>
	<th:block layout:fragment="content">
		<div>
			<!-- Bussiness Header -->
			<div class="row mx-0">
				<ul class="nav nav-pills mb-3">
					<li class="nav-item" id="kanbanTab"><a href="#kanbanBoard"
						class="nav-link active" data-toggle="tab" aria-expanded="false">칸반보드</a>
					</li>
					<li class="nav-item" id="bussTab"><a href="#businessList" class="nav-link"
						data-toggle="tab" aria-expanded="false">리스트</a></li>
				</ul>
				<div class="col p-md-0">
					<button th:if ="${session.updateCheck != null}" type="button" id="insertModal"
						 class="btn mb-1 btn-primary float-right">업무추가</button>
				</div>
			</div>
			<!-- Bussiness Header End -->

			<div class="tab-content br-n pn">
				<div id="kanbanBoard" class="tab-pane active show">
					<!-- Kanban board -->
					<div class="row flex-row flex-sm-nowrap py-3">
						<div class="col-sm-6 col-md-4 col-xl-3">
							<div class="card">
								<div class="card-body">
									<h6 class="card-title text-uppercase text-truncate py-2">진행중</h6>
									<div class="items border-light">
										<!-- Card Body -->
										<th:block th:each="business : ${businessLevelList}"
											th:if="${business.bussSt == '0K1'}">
											<div class="card shadow-sm border">
												<div class="card-body p-3">
													<input type="hidden" id="bussNo"
														th:value="${business.bussNo}" />
													<div class="card-title">
														<a th:text="${business.bussNm}"></a>
													</div>
													<div style="padding-top: 10px; padding-bottom: 10px;">
														<div class="progress" style="height: 10px">
															<div class="progress-bar gradient-1"
																th:style="|width:${business.bussPrgre}%;|"
																role="progressbar"></div>
														</div>
													</div>
													<div>
														<span
															th:class="${business.dDay < 0} ? 'badge badge-danger px-2' : 'badge badge-primary px-2' "
															th:text="${business.dDay < 0} ? |지연 + ${-business.dDay}|: |D-${business.dDay}|"></span>

														<th:block th:switch="${business.bussImp}">
															<th:block th:case="0J1">
																<span class="badge badge-pill badge-danger px-2">상</span>
															</th:block>
															<th:block th:case="0J2">
																<span class="badge badge-pill badge-warning px-2">중</span>
															</th:block>
															<th:block th:case="0J3">
																<span class="badge badge-pill badge-info px-2">하</span>
															</th:block>
														</th:block>
													</div>
												</div>
											</div>
										</th:block>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-4 col-xl-3">
							<div class="card">
								<div class="card-body">
									<h6 class="card-title text-uppercase text-truncate py-2">완료</h6>
									<th:block th:each="business : ${businessLevelList}"
										th:if="${business.bussSt == '0K2'}">
										<div class="card shadow-sm border">
											<div class="card-body p-3">
												<input type="hidden" id="bussNo"
													th:value="${business.bussNo}" />
												<div class="card-title">
													<a th:text="${business.bussNm}"></a>
												</div>
												<div style="padding-top: 10px; padding-bottom: 10px;">
													<div class="progress" style="height: 10px">
														<div class="progress-bar gradient-1"
															th:style="|width:${business.bussPrgre}%;|"
															role="progressbar"></div>
													</div>
												</div>
												<div>
													<span class="badge badge-success px-2" th:text="완료"></span>
													<th:block th:switch="${business.bussImp}">
														<th:block th:case="0J1">
															<span class="badge badge-pill badge-danger px-2">상</span>
														</th:block>
														<th:block th:case="0J2">
															<span class="badge badge-pill badge-warning px-2">중</span>
														</th:block>
														<th:block th:case="0J3">
															<span class="badge badge-pill badge-info px-2">하</span>
														</th:block>
													</th:block>
												</div>
											</div>
										</div>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-4 col-xl-3">
							<div class="card">
								<div class="card-body">
									<h6 class="card-title text-uppercase text-truncate py-2">초과완료</h6>
									<th:block th:each="business : ${businessLevelList}"
										th:if="${business.bussSt == '0K4'}">
										<div class="card shadow-sm border">
											<div class="card-body p-3">
												<input type="hidden" id="bussNo"
													th:value="${business.bussNo}" />
												<div class="card-title">
													<a th:text="${business.bussNm}"></a>
												</div>
												<div style="padding-top: 10px; padding-bottom: 10px;">
													<div class="progress" style="height: 10px">
														<div class="progress-bar gradient-1"
															th:style="|width:${business.bussPrgre}%;|"
															role="progressbar"></div>
													</div>
												</div>
												<div>
													<span class="badge badge-success px-2"
														th:text="|${business.endDelayDay}일 초과|"></span>
													<th:block th:switch="${business.bussImp}">
														<th:block th:case="0J1">
															<span class="badge badge-pill badge-danger px-2">상</span>
														</th:block>
														<th:block th:case="0J2">
															<span class="badge badge-pill badge-warning px-2">중</span>
														</th:block>
														<th:block th:case="0J3">
															<span class="badge badge-pill badge-info px-2">하</span>
														</th:block>
													</th:block>
												</div>
											</div>
										</div>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-4 col-xl-3">
							<div class="card">
								<div class="card-body">
									<h6 class="card-title text-uppercase text-truncate py-2">초과</h6>
									<th:block th:each="business : ${businessLevelList}"
										th:if="${business.bussSt == '0K3'}">
										<div class="card shadow-sm border">
											<div class="card-body p-3">
												<input type="hidden" id="bussNo"
													th:value="${business.bussNo}" />
												<div class="card-title">
													<a th:text="${business.bussNm}"></a>
												</div>
												<div style="padding-top: 10px; padding-bottom: 10px;">
													<div class="progress" style="height: 10px">
														<div class="progress-bar gradient-1"
															th:style="|width:${business.bussPrgre}%;|"
															role="progressbar"></div>
													</div>
												</div>
												<div>
													<span
														th:class="${business.dDay < 0} ? 'badge badge-danger px-2' : 'badge badge-primary px-2' "
														th:text="${business.dDay < 0} ? |지연 + ${-business.dDay}|: |D-${business.dDay}|">
													</span>

													<th:block th:switch="${business.bussImp}">
														<th:block th:case="0J1">
															<span class="badge badge-pill badge-danger px-2">상</span>
														</th:block>
														<th:block th:case="0J2">
															<span class="badge badge-pill badge-warning px-2">중</span>
														</th:block>
														<th:block th:case="0J3">
															<span class="badge badge-pill badge-info px-2">하</span>
														</th:block>
													</th:block>
												</div>
											</div>
										</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Kanban board End -->
				</div>

				<div id="businessList" class="tab-pane">
					<!-- Business List -->
					<div class="row">
						<div class="col-lg-12">
							<div class="card">
								<div class="card-body">
									<h4 class="card-title">업무 목록</h4>
									<div class="table-responsive">
										<table class="table">
											<thead>
												<tr>
													<th scope="col">업무명</th>
													<th scope="col">일정</th>
													<th scope="col">진행률</th>
													<th scope="col">&nbsp</th>
													<th scope="col">상태</th>
												</tr>
											</thead>
											<tbody>
												<tr th:each="business : ${businessLevelList}">
													<td><th:block
															th:each="i : ${#numbers.sequence(3,business.level,1)}">
															<span>&nbsp;&nbsp;&nbsp;</span>
														</th:block> <th:block th:if="${business.level > 1}">
															<i class="bi bi-arrow-return-right"></i>
														</th:block> <span th:utext="${business.bussNm}"></span></td>
													<th:block th:switch="${business.bussSt}">
														<th:block th:case="0K1">
															<td th:text="|D-${business.dDay}|"></td>
														</th:block>
														<th:block th:case="0K3">
															<td th:text="|지연 + ${-business.dDay}|"
																style="color: red;"></td>
														</th:block>
														<th:block th:case="0K2">
															<td style="color: green;">완료</td>
														</th:block>
														<th:block th:case="0K4">
															<td style="color: green;"
																th:text="|${business.endDelayDay}일 초과|"></td>
														</th:block>
													</th:block>
													<td>
														<div class="progress" style="height: 10px">
															<div class="progress-bar gradient-1"
																th:style="|width:${business.bussPrgre}%;|"
																role="progressbar"></div>
														</div>
													</td>
													<td><span class="label gradient-1 btn-rounded"
														th:text="|${business.bussPrgre}%|"></span></td>
													<td><th:block th:switch="${business.bussSt}">
															<span th:case="0K1" th:text="진행중"
																class="badge badge-info px-2"></span>
															<span th:case="0K2" th:text="완료"
																class="badge badge-success px-2"></span>
															<span th:case="0K3" th:text="초과"
																class="badge badge-danger px-2"></span>
															<span th:case="0K4" th:text="초과완료"
																class="badge badge-light px-2"></span>
														</th:block></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--  -->
			</div>

		</div>

		<div data-include1="showModalMain"></div>
		<div data-include2="showModalInsert"></div>
		
		<script>
			$(document).on('click','#kanbanTab',function(){
				$('#kanbanBoard').toggle();
				$('#businessList').toggle();
			})
			
			$(document).on('click','#bussTab',function(){
				$('#kanbanBoard').toggle();
				$('#businessList').toggle();
			})
		</script>

		<script th:inline="javascript">
		    window.onload = function () {
		        var navItemHome = $('.nav-link').eq(2);
		        navItemHome.addClass('active');
		    }
		    
			// 권오준 추가
			var miPrjtNo = [[${prjtNo}]];
			
			//업무 등록 모달
			$('#insertModal').on('click', businessModal)
			//업무 칸반보드 클릭시 모달
			$('.card-body.p-3').on('click', infoBusiness)
			
			function infoBusiness(){
				bussNo = $(this).find('input').val();
				$('#workModal').modal('toggle');
			}
			
			function businessModal(){
				$('#insertbuss').modal('show');
			} 
			
		 	$(function(){
	            var includes1 = $('[data-include1="showModalMain"]');
	            var includes2 = $('[data-include2="showModalInsert"]');
	            jQuery.each(includes1, function(){
	               $(this).load('/modal/modal-home.html');
	            });
		 	
	            jQuery.each(includes2, function(){
		            	$(this).load('/modal/business/insert');
		        });
		 	})
    		
		</script>
	</th:block>
</body>
</html>