<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<th:block layout:fragment="content">
	<div class="row">
		<div class="col-lg-8">
		<div class="column">
			<div>
				<div class="row">
			        <div class="col-lg-2">
			            <div class="card">
			                <div class="card-body">
								<h4 class="card-title">총 소요일수</h4>
								<span th:text="${projectStatus.prjtStatDtCnt}">
								</span>
			                </div>
			            </div>
			        </div>
			        <div class="col-lg-2">
			            <div class="card">
			                <div class="card-body">
								<h4 class="card-title">참여자</h4>
								<span th:text="${projectStatus.prjtMembCnt}">
								</span>
			                </div>
			            </div>
			        </div>
			        <div class="col-lg-2">
			            <div class="card">
			                <div class="card-body">
								<h4 class="card-title">총 업무개수</h4>
								<span th:text="${projectStatus.bussCnt}">
								</span>
			                </div>
			            </div>
			        </div>
			        <div class="col-lg-2">
			            <div class="card">
			                <div class="card-body">
								<h4 class="card-title">완료한 업무</h4>
								<span th:text="${projectStatus.bussCmplCnt}">
								</span>
			                </div>
			            </div>
			        </div>
			        <div class="col-lg-2">
			            <div class="card">
			                <div class="card-body">
								<h4 class="card-title">초과완료한 업무</h4>
								<span th:text="${projectStatus.bussExceCnt}">
								</span>
			                </div>
			            </div>
			        </div>
			        <div class="col-lg-2">
			            <div class="card">
			                <div class="card-body">
								<h4 class="card-title">미완료한 업무</h4>
								<span th:text="${projectStatus.bussUncmplCnt}">
								</span>
			                </div>
			            </div>
			        </div>
				</div>
				<div class="row">
			        <div class="col-lg-3">
			            <div class="card">
			                <div class="card-body">
								<h4 class="card-title">총 이슈 개수</h4>
								<span th:text="${projectStatus.issuCnt}">
								</span>
			                </div>
			            </div>
			        </div>
			        <div class="col-lg-3">
			            <div class="card">
			                <div class="card-body">
								<h4 class="card-title">해결 이슈</h4>
								<span th:text="${projectStatus.issuSolveCnt}">
								</span>
			                </div>
			            </div>
			        </div>
			        <div class="col-lg-3">
			            <div class="card">
			                <div class="card-body">
								<h4 class="card-title">미해결 이슈</h4>
								<span th:text="${projectStatus.issuUnsolveCnt}">
								</span>
			                </div>
			            </div>
			        </div>
			        <div class="col-lg-3">
			            <div class="card">
			                <div class="card-body">
								<h4 class="card-title">해결불가 이슈</h4>
								<span th:text="${projectStatus.issuUnsolvableCnt}">
								</span>
			                </div>
			            </div>
			        </div>
				</div>
			</div>
			<!-- Project Status Chart Area -->
			<div>
			        <div class="col-lg-12">
			            <div class="card">
			                <div class="card-body">
			                    <h4 class="card-title">업무 통계</h4>
			                    <div class="row">
			        				<div class="col-lg-7">
			                    	<canvas id="bussDonutChart" width="300" height="250"></canvas>
			                    	</div>
			        				<div class="col-lg-5">
			                    	<canvas id="bussStBar" width="200" height="300"></canvas>
			                    	</div>    
			                    </div> 
			                </div>
			            </div>
		        </div>
			</div>
			<!-- Project Status Chart Area End -->
			<!-- Issue Status Chart Area -->
			<div>
			    <div class="col-lg-12">
			        <div class="card">
			            <div class="card-body">
			            	<h4 class="card-title">이슈 통계</h4>
		                    <div class="row">
		        				<div class="col-lg-7">
		                    	<canvas id="issuDonutChart" width="300" height="250"></canvas>
		                    	</div>
		        				<div class="col-lg-5">
		                    	<canvas id="issuStBar" width="200" height="300"></canvas>
		                    	</div>    
		                    </div>              
			            </div>
			        </div>
			    </div>
			</div>
		</div>
		</div>
		<!-- Issue Status Chart Area End -->
		<!-- Comemnt Area -->
	    <div class="col-lg-4">
	        <div class="card"  style="height:80vh;">
	        	<div class="card-header bg-white">
                    <h5 class="card-title">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                </div>
	            <div class="card-body" style="overflow-y:auto; background-color:#FAFAFA;" id="commentBody">
					<th:block th:each="feedback : ${projectFeedbackList}">
						<th:block th:if="${feedback.rootNo} == ${feedback.prjtFdbkNo}">
						<div class="card">
							<div class="card-body">
								<div class="media">
									<div class="media-body">
										<h5 class="mt-0" th:text="${feedback.membNm}"></h5>
										<i class="bi bi-reply-fill float-right"></i>
										<th:block th:text="${feedback.prjtFdbkCntn}"></th:block>
										<!-- 대댓글 출력 Start							-->
										<div style="background-color:#F3F1FA;">
											<th:block th:each="child : ${projectFeedbackList}"
													  th:if="${child.rootNo} == ${feedback.rootNo} and ${child.prjtFdbkNo} != ${feedback.prjtFdbkNo}">
												<div class="media mt-3">
													<th:block th:each="i : ${#numbers.sequence(3,child.level,1)}">
														<span>&nbsp;&nbsp;&nbsp;</span>
													</th:block>
													<i class="bi bi-arrow-return-right" style="padding:1.5%;"></i>
													<div class="media-body">
														<h5 class="mt-0" th:text="${child.membNm}"></h5>
														<th:block th:text="${child.prjtFdbkCntn}"></th:block>
													</div>
												</div>
											</th:block>
											
										</div>
										<!-- 대댓글 출력 End								-->
									</div>
								</div>
							</div>
						 </div>
						</th:block>
					</th:block>
	            </div>
				<!-- 댓글 등록 영역 -->
	            <div class="card-footer">
					<textarea class="form-control" name="inputCntn" id="inputCntn" cols="30" rows="2" placeholder="Post a new message" style="height: 56px;"></textarea>
		            <button id="insertBtn" class="btn btn-primary px-3 ml-4">Send</button>
	            </div>
				<!-- 댓글 등록 영역 End -->
	        </div>
	    </div>
	    <!-- Comment Area End -->
	</div>

	<div id="replyArea" style="display:none;">
		<div class="media mt-3">
			<textarea class="form-control" name="inputCntn" id="inputCntn" cols="30" rows="2" placeholder="Post a new message" style="height: 56px;"></textarea>
		    <button id="insertBtn" class="btn btn-primary px-3 ml-4">Send</button>
		</div>
	</div>
	
	<script th:inline="javascript">
		// -------------------- Status Data Start
		const projectStatus = [[${projectStatus}]];
		const cpnStatForCurrDt = [[${cpnStatForCurrDt}]];
		const cpnStatForPrjtDt = [[${cpnStatForPrjtDt}]];
		const prjtNo = [[${prjtNo}]];
		const membNm = [[${session.loginInfo.membNm}]];
		// -------------------- Status Data End
	</script>
	
	<script th:inline="javascript" th:src="@{/js/project-feedback-chart.js}"></script>
	
	<script th:inline="javascript">
		function insertComment(){
			let value = $('#inputCntn').val();
			let obj = {};
			obj["prjtFdbkCntn"] = value;
			obj["prjtNo"] = prjtNo;
			
			insertAjax(obj);
			
			$('#inputCntn').val('');
		}
		
		function insertAjax(obj){
            $.ajax({
                url:'/project/feedback/insert',
                type: 'post',
                contentType: "application/json",
                data:JSON.stringify(obj)
            })
            .done(data => {insertCommentHTML(data)})
            .fail(err => {});
		}
		
		function insertCommentHTML(data){
			// create tag
			let body = $('#commentBody');
			let card = $('<div/>').addClass('card');
			let cardBody = $('<div/>').addClass('card-body');
			let media = $('<div/>').addClass('media');
			let content = $('<div/>').addClass('media-body');
			
			// input content values
			let name = $('<h5/>').addClass("mt-0").text(membNm);
			content.append(name);
			content.append($('<div/>').text(data.prjtFdbkCntn));
			
			// insert comment tag to comment body
			body.append(card.append(cardBody.append(media.append(content))));
		}
		
		$('#insertBtn').on('click', insertComment);
		
		$('.bi-reply-fill').on('click',function(event){
		})
		
	</script>
</th:block>
</body>
</html>