<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout}">
<head>
<meta charset="UTF-8">
<title>피드백 이슈</title>
<style>

/* .card-body {
	text-align: center;
} */

.progress.mb-3 {
	margin-top: 10px;
}

.issuTtl {
	text-align: left;
}

</style>

</head>
<body>
	<th:block layout:fragment="content">
		<div class="row">
			<div class="col-lg-8">
				<!-- 피드백 탭 시작 -->
				<div class="default-tab">
					<ul class="nav nav-tabs mb-3" role="tablist">
						<li class="nav-item"><a class="nav-link"
							th:href="@{/project/feedback/{prjtNo}(prjtNo=${prjtNo})}">홈</a></li>												
						<li class="nav-item"><a class="nav-link"
							href="#">이슈</a></li>
						<li class="nav-item"><a class="nav-link" th:href="@{/project/feedback/{prjtNo}/personal(prjtNo=${prjtNo})}">개인 피드백</a></li>
						<li class="nav-item"><a class="nav-link" th:href="@{/project/home/{prjtNo}(prjtNo=${prjtNo})}">프로젝트 홈</a></li>
					</ul>
				</div>
				<!-- 피드백 탭 끝 -->
				<div class="column">
					<!-- 이슈 데이터 - 시작 -->
					<div class="row">
						<div class="col-lg-3">
							<div class="card">
								<div class="card-body" style="padding-bottom: 42px;">
									<h4 class="card-title">총 이슈 개수</h4>
									<span th:text="${projectStatus.issuCnt}"> </span>
								</div>
							</div>
						</div>
						<div class="col-lg-3">
							<div class="card">
								<div class="card-body" style="padding-bottom: 0px;">
									<h4 class="card-title">해결 이슈</h4>
									<span th:text="|${projectStatus.issuSolveCnt} / ${projectStatus.issuCnt}|"> </span>
									<div class="progress mb-3">
										<div class="progress-bar bg-warning active progress-bar-striped" role="progressbar">
											<span class="sr-only"></span>
	                                   	</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-3">
							<div class="card">
								<div class="card-body" style="padding-bottom: 0px;">
									<h4 class="card-title">미해결 이슈</h4>
									<span th:text="|${projectStatus.issuUnsolveCnt} / ${projectStatus.issuCnt}|"> </span>
									<div class="progress mb-3">
										<div class="progress-bar bg-warning active progress-bar-striped" role="progressbar">
											<span class="sr-only"></span>
	                                   	</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-3">
							<div class="card">
								<div class="card-body" style="padding-bottom: 0px;">
									<h4 class="card-title">해결불가 이슈</h4>
									<span th:text="|${projectStatus.issuUnsolvableCnt} / ${projectStatus.issuCnt}|"> </span>
									<div class="progress mb-3">
										<div class="progress-bar bg-warning active progress-bar-striped" role="progressbar">
											<span class="sr-only"></span>
	                                   	</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- 이슈 데이터 - 끝 -->
					<!-- 이슈 리스트 시작 -->
					<div class="row">
	                    <div class="col-12">
		                   	<div class="card">
		                       	<div class="card-body">
									<div class="table-responsive">
										<table class="table table-striped table-bordered zero-configuration">
											<thead>
												<tr>
													<th style="width: 5%;">#</th>
													<th>제목</th>
													<th style="width: 10%;">종류</th>
													<th style="width: 10%;">상태</th>
													<th style="width: 10%;">작성자</th>
													<th style="width: 10%;">작성일</th>
												</tr>
											</thead>
											<tbody>
												<tr th:each="info : ${projectFeedbackIssueList}" role="row">
													<td class="issueListTr"></td>
													<td th:text="${info.issuTtl}" class="issuTtl"></td>
													<td class="issuKnd">
														<span th:text="${info.issuKnd}"></span>
													</td>
													<td class="issuSt">
														<span th:text="${info.issuSt}"></span>
													</td>
													<td th:text="${info.membNm}"></td>
													<td th:text="${#dates.format(info.issuDt, 'yy.MM.dd')}"></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- 이슈 리스트 끝 -->
				</div>
			</div>
			<!-- Comment Area -->
		    <div class="col-lg-4">
		        <div class="card"  style="height:80vh;">
		        	<div class="card-header bg-white">
	                    <h5 class="card-title">프로젝트 피드백</h5>
	                </div>
		            <div class="card-body comment-body" style="background-color:#FAFAFA;" id="commentBody">
						<th:block th:each="feedback : ${projectFeedbackList}">
							<div class="media border-bottom-1 pt-3 pb-3 hover-overlay" th:data-no="${feedback.prjtFdbkNo}"
							th:style="${feedback.level} >= 2 ? |margin-left:${feedback.level-1}rem;| : ''"
							th:data-level="${feedback.level}">
	                            <div class="media-body">
	                                <h5 th:text="${feedback.membNm}"></h5>
									<th:block th:switch="${feedback.prjtFdbkShow}">
	                                	<p class="mb-0" th:case="0N1" th:text="${feedback.prjtFdbkCntn}"></p>
	                                	<p class="mb-0" th:case="0N2">삭제되었습니다.</p>
	                                </th:block>
									<div class="edit-area" style="display:none;">
										<textarea class="form-control" id="editCntn" th:text="${feedback.prjtFdbkCntn}"></textarea>
									
									</div>
	                            </div>
	                            <th:block th:if="${feedback.prjtFdbkShow} == '0N1'">
	                            <ul class="btn-area">
	                           		<li>
	                           			<span class="text-muted" th:text="${#dates.format(feedback.prjtFdbkDt,'yyyy-MM-dd HH:mm')}"></span>
	                           		</li>
	                           		<th:block th:if="${feedback.membId} == ${session.loginInfo.membId}">
		                           		<li>
		                           			<span class="editBtn">수정</span>
		                           			<span class="delBtn">삭제</span>
		                           			<span class="submitBtn">확인</span>
		                           		</li>
	                           		</th:block>
	                           		<li>
	                           			<span class="replyBtn float-right"><i class="bi bi-reply-fill"></i></span>
	                           		</li>
	                            </ul>
	                            </th:block>
	                        </div>
						</th:block>
		            </div>
					<!-- 댓글 등록 영역 -->
		            <div class="card-footer">
						<textarea class="form-control" name="inputCntn" id="inputCntn" cols="30" rows="2" style="height: 56px;"></textarea>
			            <button id="insertBtn" class="btn btn-primary px-3 ml-4 float-right" style="margin-top:0.88rem;">추가</button>
		            </div>
					<!-- 댓글 등록 영역 End -->
		        </div>
		    </div>
		    <!-- Comment Area End -->
		</div>
	
		<!-- Hidden Insert Comment Body -->
		<div class="media border-bottom-1 pt-3 pb-3" id="insertBody" style="display:none;">
		    <div class="media-body">
		        <h5></h5>
		        <p class="mb-0"></p>
				<div class="edit-area" style="display:none;">
					<textarea class="form-control" id="editCntn"></textarea>
				</div>
		    </div>
		    <ul class="btn-area">
		   		<li>
		   			<span class="text-muted" id="date-area"></span>
		   		</li>
		   		<li>
		            <span class="editBtn">수정</span>
		            <span class="delBtn">삭제</span>
		            <span class="submitBtn">확인</span>
		   		</li>
	       		<li>
	       			<span class="replyBtn float-right"><i class="bi bi-reply-fill"></i></span>
	       		</li>
		    </ul>
		</div>
		<div id="insert-reply-area" style="display:none;">
	    	<span class="replyInsertBtn">등록</span>
	    	<span class="replyDeleteBtn">취소</span>
		</div>
		<!-- Hidden Insert Comment Body -->
	
	<script th:inline="javascript">
	let issueList = [[${projectFeedbackIssueList}]];
	const prjtNo = [[${prjtNo}]];
	const membNm = [[${session.loginInfo.membNm}]];
	
	/*----------------------------
		업무리스트 정렬
	------------------------------*/
	let stripedBar1 = 100 * [[${projectStatus.issuSolveCnt}]] / [[${projectStatus.issuCnt}]];
	let stripedBar2 = 100 * [[${projectStatus.issuUnsolveCnt}]] / [[${projectStatus.issuCnt}]];
	let stripedBar3 = 100 * [[${projectStatus.issuUnsolvableCnt}]] / [[${projectStatus.issuCnt}]];
	
	$('.progress-bar.bg-warning.active.progress-bar-striped').eq(0).css("width", stripedBar1+'%');
	$('.progress-bar.bg-warning.active.progress-bar-striped').eq(1).css("width", stripedBar2+'%');
	$('.progress-bar.bg-warning.active.progress-bar-striped').eq(2).css("width", stripedBar3+'%');
	
	/*----------------------------
		업무리스트 넘버링
	------------------------------*/
	for(let i=0; i<issueList.length; i++){
		$('.issueListTr').eq(i).append(i+1);
	}
	
	/*----------------------------
		데이터 디자인
	------------------------------*/
	for(let i=0; i<issueList.length; i++){
		
		if($('.issuKnd').eq(i).children('span').text() == '버그'){
			$('.issuKnd').eq(i).children('span').addClass('badge badge-danger');
		} else if($('.issuKnd').eq(i).children('span').text() == '개선사항'){
			$('.issuKnd').eq(i).children('span').addClass('badge badge-warning');
		} else if($('.issuKnd').eq(i).children('span').text() == '새기능'){
			$('.issuKnd').eq(i).children('span').addClass('badge badge-info');
		} else if($('.issuKnd').eq(i).children('span').text() == '업무'){
			$('.issuKnd').eq(i).children('span').addClass('badge badge-light');
		}
		
		if($('.issuSt').eq(i).children('span').text() == '해결'){
			$('.issuSt').eq(i).children('span').addClass('badge badge-pill badge-success');
		} else if($('.issuSt').eq(i).children('span').text() == '미해결'){
			$('.issuSt').eq(i).children('span').addClass('badge badge-pill badge-dark');
		} else if($('.issuSt').eq(i).children('span').text() == '해결불가'){
			$('.issuSt').eq(i).children('span').addClass('badge badge-pill badge-secondary');
		}
		
	}
	window.onload = function () {
		let navItemHome = $('.nav-link').eq(1);
		navItemHome.addClass('active');
	}
	
	// 코멘트창 스크롤바
	$(function(){
		$('#commentBody').slimScroll({
	    	height: '35rem'
	    })
	})
	
	</script>
	<script th:inline="javascript" th:src="@{/js/project-feedback-comment.js}"></script>
	
</th:block>
	

</body>
</html>