<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/projectlayout}">
<head>
<meta charset="UTF-8">
<title>내 코멘트</title>

</head>
<body>
	
<th:block layout:fragment="content">
	<div class="col-lg-10" style="float:none; margin:0 auto;">
		<div class="card">
			<div class="card-body">
				<div class="table-responsive">
					<table class="table header-border table-hover verticle-middle">
					    <thead>
					        <tr>
					            <th width="20%" scope="col">업무</th>
					            <th width="50%" scope="col">내용</th>
					            <th width="15%" scope="col">작성날짜</th>
					            <th width="15%" scope="col">공개여부</th>
					        </tr>
					    </thead>
					    <tbody id="table-body">
					    
		                	<th:block th:each="reply : ${personalReplys}">
					        <tr>
					            <td>
					            	<span class="badge badge-primary" th:text="${reply.bussNm}"></span>
					            </td>
					            <!-- N자 이상일 경우 : 문자열 잘라서 출력 , 툴팁에 전체 내용 출력 -->
					            <th:block th:if="${#strings.length(reply.replyCntn) >= 15}">
					            	<td th:title="${reply.replyCntn}" th:text="|${#strings.substring(reply.replyCntn, 0, 15)}...|"></td>
					            </th:block>
					            <!-- N자 미만일 경우 : 일반 출력 -->
					            <th:block th:unless="${#strings.length(reply.replyCntn) >= 15}">
					            	<td th:text="${reply.replyCntn}"></td>
					            </th:block>
					            <td th:text="${#dates.format(reply.replyDt,'yyyy-MM-dd HH:mm')}"></td>
					            <td th:text="${reply.pubcynNm}"></td>
					        </tr>
					        </th:block>
						</tbody>
					</table>
				</div>
				
				<div class="bootstrap-pagination d-sm-flex flex-sm-justify-center">
                    <nav>
                        <ul class="pagination">
                            <li class="page-item" id="prevBtn"><a class="page-link" aria-label="Previous"><span aria-hidden="true">«</span> <span class="sr-only">Previous</span></a></li>
                            <th:block th:if="${naviCount} > 0">
	                            <li class="page-item" th:each="page: ${#numbers.sequence(1, (naviCount > 5) ? 5 : naviCount )}">
	                            <a class="page-link"
	               					th:text="${page}"
	               					th:attr="onclick='pageDataUpdate(\'' + ${page} + '\')'"></a>
	                            </li>	
                            </th:block>
                            <li class="page-item" id="nextBtn"><a class="page-link" aria-label="Next"><span aria-hidden="true">»</span> <span class="sr-only">Next</span></a></li>
                        </ul>
                    </nav>
                </div>
				
			</div>
		</div>
	</div>

	<script th:inline="javascript">
		// 맨 첫 페이지 : 1 ~ perPageCount번 페이지 번호 출력됨
		let startNaviPage = 1;
		const perPageCount = 5;
		const naviCount = [[${naviCount}]];
		
		$(document).on('click','#prevBtn',{isBefore: true},setNaviPage);
		$(document).on('click','#nextBtn',{isBefore: false},setNaviPage);
	
		function pageDataUpdate(pageNum){
	        $.ajax({
	            url:'/personalReply',
	            type: 'get',
	            contentType: "application/json",
	            data: {'pageNum' : pageNum}
	        })
	        .done(data => {commentHTML(data)})
	        .fail(err => {});
		}
		
		function commentHTML(data){
			let tbody = $('#table-body');
			tbody.empty();
			
            $.each(data.replys, function (idx, item) {
    			let tr = $('<tr/>');
    			
    			let spanTag = $('<span/>').addClass('badge badge-primary').text(item.bussNm);
    			let nmTd = $('<td/>').append(spanTag);
    			let dtTag = $('<td/>').text(timestamp(item.replyDt));
    			
    			tr.append(nmTd);
    			tr.append(getTdCntnTag(item.replyCntn));
    			tr.append(dtTag);
    			tr.append(`<td>${item.pubcynNm}</td>`);
    			
    			tbody.append(tr);
            });
			
		}
		
		function getTdCntnTag(cntn){
			let td = $('<td/>');
			let txt = cntn;
			
			if (cntn.length >= 15){
				txt = cntn.substr(0,15) + '...';
				td.attr('title',cntn);
			}
			
			td.text(txt);
			
			return td;
		}
		
		function setNaviPage(event){
			if (event.data.isBefore){
				// 페이지 번호는 0 이하 값이 올 수 없음
				if ((startNaviPage-perPageCount) < 1){
					return;
				}
			} else {
				// 총 페이지 개수(navCount)보다 시작 페이지 번호가 높을 수 없음
				if (naviCount < (startNaviPage + perPageCount)){
					return;
				}
			}
			
			startNaviPage += (event.data.isBefore) ? (-perPageCount) : (+perPageCount);
			pageDataUpdate(startNaviPage);
			createPaginationHTML();	
		}
		
		function createPaginationHTML(){
			let ulPage = $('.pagination');
			let prev = ulPage.find('#prevBtn').clone();
			let next = ulPage.find('#nextBtn').clone();
			
			ulPage.empty();
			ulPage.append(prev);
			for (let i = startNaviPage; i < startNaviPage + perPageCount; ++i){
				if (i > naviCount){
					break;
				}
				
				let liTag = $('<li/>').addClass('page-item');
				let aTag = $('<a/>').attr('onclick',`pageDataUpdate(${i})`)
									.text(i)
									.addClass('page-link');
				ulPage.append(liTag.append(aTag));
			}
			ulPage.append(next);
		}
	
	    //------------ Date formatting
	    function timestamp(convertDate){
	        let today = new Date(convertDate);
	        today.setHours(today.getHours() + 9);
	        return today.toISOString().replace('T', ' ').substring(0, 16);
	    }
		
	</script>


	<script>
		window.onload = function(){
		    var navItemHome = $('.nav-link').eq(5);
		    navItemHome.addClass('active');
		}
	</script>
</th:block>
</body>
</html>