<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/projectlayout}">
<head>
<meta charset="UTF-8">
<title>내 코멘트</title>

</head>
<body>
	
<th:block layout:fragment="content">
	<div class="col-lg-8">
		<div class="card">
			<div class="card-body">
				<div class="table-responsive">
					<table class="table header-border table-hover verticle-middle">
					    <thead>
					        <tr>
					            <th scope="col">업무</th>
					            <th scope="col">내용</th>
					            <th scope="col">작성날짜</th>
					            <th scope="col">공개여부</th>
					        </tr>
					    </thead>
					    <tbody>
					    
		                	<th:block th:each="reply : ${personalReplys}">
					        <tr>
					            <td>
					            	<span class="badge badge-primary" th:text="${reply.bussNm}"></span>
					            </td>
					            <!-- N자 이상일 경우 : 문자열 잘라서 출력 , 툴팁에 전체 내용 출력 -->
					            <th:block th:if="${#strings.length(reply.replyCntn) >= 15}">
					            	<td th:title="${reply.replyCntn}" th:text="|${#strings.substring(reply.replyCntn, 0, 15)}...|"></td>
					            </th:block>
					            <!-- N자 미만일 경우 : 일반 출력 -->
					            <th:block th:unless="${#strings.length(reply.replyCntn) >= 15}">
					            	<td th:text="${reply.replyCntn}"></td>
					            </th:block>
					            <td th:text="${#dates.format(reply.replyDt,'yyyy-MM-dd HH:mm')}"></td>
					            <td th:text="${reply.pubcynNm}"></td>
					        </tr>
					        </th:block>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>



	<script>
		window.onload = function(){
		    var navItemHome = $('.nav-link').eq(5);
		    navItemHome.addClass('active');
		}
	</script>
</th:block>
</body>
</html>