<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/projectlayout}">

<th:block layout:fragment="content">
	<!--/* 검색, 글쓰기 버튼 START */-->
	<div class="TopBarProjectIssueControlArea">
		<div class="pissue-filterBox" style="width: 100px;">
							<div class="pissue-filtered" id="pissue-filtered">
								<div class="pissue-filter-value">정렬</div>
								<div class="arrow"></div>
								<input type="hidden" id="filterType" name="filterType" value="정렬">
							</div>
							<ul class="pissue-filter-ul" style="width: 100px; display: none;">
								<li class="pissue-filter-option" data-value="날짜순">날짜순</li>
								<li class="pissue-filter-option" data-value="상태순">상태순</li>
								<li class="pissue-filter-option" data-value="우선순위순">우선순위순</li>
								<li class="pissue-filter-option" data-value="종류순">종류순</li>
							</ul>
		</div>
		<div class="piSearchBox">
			<label for="SearchToggleCheckBox" th:attr="onclick='projectIssuePaging(1)'"></label> <input type="hidden"
				id="keyword" name="keyword" value="전체">
			<div class="piSearchInputBox" style="width: 350px;">
				<div>
					<div class="pissue-selectBox" style="width: 100px;">
						<div class="pissue-selected" id="pissue-selected">
							<div class="pissue-selected-value">전체</div>
							<div class="arrow"></div>
						</div>
						<ul class="pissue-select-ul" style="width: 100px; display: none;">
							<li class="pissue-select-option" data-value="전체">전체</li>
							<li class="pissue-select-option" data-value="작성자">작성자</li>
							<li class="pissue-select-option" data-value="제목">제목</li>
							<li class="pissue-select-option" data-value="업무명">업무명</li>
						</ul>
					</div>
				</div>
				<input class="piSearchInput" id="search" name="search" type="text"
					placeholder="검색어를 입력하세요."><span class="piDeleteSearchWord" onclick="delSearchValp()"></span>
			</div>
		</div>
	</div>
	<!--/* 검색, 글쓰기 버튼 END */-->

	<div class="ModalInfoArea IssueInfoArea">

		<div class="col-lg-8" style="width: 100%; max-width: 100%;">

			<div class="table-responsive">
				<table class="table table-hover">
					<thead style="text-align: center;">
						<tr>
							<th style="font-weight: normal;">종류</th>
							<th style="font-weight: normal;">제목</th>
							<th style="font-weight: normal;">이름</th>
							<th style="font-weight: normal;">상태</th>
							<th style="font-weight: normal;">우선순위</th>
							<th style="font-weight: normal;">업무명</th>
							<th style="font-weight: normal;">등록날짜</th>
						</tr>
					</thead>
					<tbody class="projectIssueLists" style="text-align: center;">
						<th:block th:each="projectIssueList : ${projectIssueList}">
							<tr th:attr="onclick='selectIssueInfo(\'' + ${projectIssueList.issuNo} + '\')'">
								<th th:if="${projectIssueList.issuKnd == '0L1'}"><span class="badge badge-danger"
										th:text="버그"></span></th>
								<th th:if="${projectIssueList.issuKnd == '0L2'}"><span class="badge badge-warning"
										th:text="개선사항"></span></th>
								<th th:if="${projectIssueList.issuKnd == '0L3'}"><span class="badge badge-info"
										th:text="새기능"></span></th>
								<th th:if="${projectIssueList.issuKnd == '0L4'}"><span class="badge badge-light"
										th:text="업무"></span></th>
								<td th:text="${projectIssueList.issuTtl}"></td>
								<td th:text="${projectIssueList.membNm}"></td>
								<th th:if="${projectIssueList.issuSt == '0E1'}"><span
										class="badge badge-pill badge-success" th:text="해결"></span></th>
								<th th:if="${projectIssueList.issuSt == '0E2'}"><span
										class="badge badge-pill badge-dark" th:text="미해결"></span></th>
								<th th:if="${projectIssueList.issuSt == '0E3'}"><span
										class="badge badge-pill badge-secondary" th:text="해결불가"></span></th>

								<th th:if="${projectIssueList.issuRank == '0G1'}"><span class="badge badge-primary"
										th:text="매우높음"></span></th>
								<th th:if="${projectIssueList.issuRank == '0G2'}"><span class="badge badge-secondary"
										th:text="높음"></span></th>
								<th th:if="${projectIssueList.issuRank == '0G3'}"><span class="badge badge-success"
										th:text="보통"></span></th>
								<th th:if="${projectIssueList.issuRank == '0G4'}"><span class="badge badge-warning"
										th:text="낮음"></span></th>
								<th th:if="${projectIssueList.issuRank == '0G5'}"><span class="badge badge-danger"
										th:text="매우낮음"></span></th>
								<td th:text="${projectIssueList.bussNm}"></td>
								<td th:text="${#dates.format(projectIssueList.issuDt, 'yyyy-MM-dd')}"></td>
							</tr>
						</th:block>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div class="paginate-container d-none d-sm-flex flex-sm-justify-center">
		<div role="navigation" aria-label="piPagination" class="piPagination">

			<a id="previous_page" th:classappend="${projectIssue.prePage == 0} ? 'disabled'"
				th:attr="onclick='projectIssuePaging(\'' + ${projectIssue.prePage} + '\')'">Previous</a>
			<a class="cur_page"
				th:each="page: ${#numbers.sequence(projectIssue.navigateFirstPage, projectIssue.navigateLastPage)}"
				th:text="${page}" th:attr="onclick='projectIssuePaging(\'' + ${page} + '\')'"></a> <a id="next_page"
				th:classappend="${projectIssue.nextPage == 0} ? 'disabled'"
				th:attr="onclick='projectIssuePaging(\'' + ${projectIssue.nextPage} + '\')'">Next</a>
		</div>
	</div>

	<!--/* 등록폼 모달 START */-->
	<div class="modal fade" id="piSaveModal" tabindex="-1" aria-labelledby="sidebarModalLabel" aria-hidden="true"
		style="overflow: auto; cursor: auto;">
		<div class="modal-dialog">
			<div class="modal-content"
				style="box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.15); width: 780px; top: calc(( 86vh - 601px)/2); height: 671px; opacity: 1; z-index: 500; overflow: auto;">
				<!--/* 모달 헤더 부분 */-->
				<div class="modal-header">
					<div class="ContentTitleBox">
						<div class="ContentImg" style="background-image: url(/images/tab_issue.png);"></div>
						<p class="ContentText">이슈 등록하기</p>
					</div>
					<button type="button" class="modalClose" data-dismiss="modal"></button>
				</div>
				<div class="modal-content-container">


					<!--/* 이슈 수정 폼 START */-->
					<div class="modal-body">
						<div class="modalPIssueSaveForm">

							<div class="modalPISaveContent">
								<div class="pIssueSaveContentTopBar">
									<span class="cancelPISaving"></span>
									<button type="button" class="completePISaving">등록</button>
								</div>
							</div>


							<div class="savePIssueName">
								<div class="savePIssueNameBack">
									<textarea class="modalPIssueNameSave" id="savePIssuTtlVal" maxlength="200"
										style="height: 34px;"></textarea>
								</div>
							</div>

							<hr style="margin: 0; height: 2px; background-color: #eaeaea; width: 608px;">

							<!--/* 이슈 종류, 중요도 START */-->
							<div class="savePIssueKnd">
								<p>종류</p>
								<div class="dropBoxAreaPI">
									<div class="basic-dropdown" style="display: inline;">
										<div class="dropdown">
											<button type="button" id="savePIssuKndVal" class="badge badge-dark"
												data-toggle="dropdown">선택</button>
											<div class="dropdown-menu" style="cursor: pointer;">
												<a class="dropdown-item"><span
														class="badge badge-pill badge-warning">개선사항</span></a> <a
													class="dropdown-item"><span
														class="badge badge-pill badge-info">새기능</span></a> <a
													class="dropdown-item"><span
														class="badge badge-pill badge-light">업무</span></a> <a
													class="dropdown-item"><span
														class="badge badge-pill badge-danger">버그</span></a>
											</div>
										</div>
									</div>
								</div>

								<div class="savePIssueRank">
									<p>중요도</p>
									<div class="dropBoxAreaPI">
										<div class="basic-dropdown">
											<div class="dropdown">
												<button type="button" class="badge badge-dark" data-toggle="dropdown"
													id="savePIssuRankVal">선택</button>
												<div class="dropdown-menu" style="cursor: pointer;">
													<a class="dropdown-item"><span
															class="badge badge-primary">매우높음</span></a> <a
														class="dropdown-item"><span
															class="badge badge-secondary">높음</span></a> <a
														class="dropdown-item"><span
															class="badge badge-success">보통</span></a> <a
														class="dropdown-item"><span
															class="badge badge-warning">낮음</span></a> <a
														class="dropdown-item"><span
															class="badge badge-danger">매우낮음</span></a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!--/* 이슈 종류, 중요도 END */-->

							<div class="savingPIContent">
								<div class="savingPISection">
									<div class="sectionTitle">
										<p class="sectionTitleText">내용</p>
									</div>
									<div id="pieditor" style="width: 630px;"></div>
								</div>

								<div class="savingPIAttachSection">
									<div class="sectionTitle">
										<p class="sectionTitleText">파일</p>
										<div class="savingPILoadBtn upload">
											<span></span>
											<p>파일 업로드</p>
											<input type="file" class="savePIReal-upload" id="savePIFiles"
												name="savePIFiles" multiple onchange="savePIssueFile(this);"
												style="display: none;">
										</div>
									</div>
									<div class="piFileUpload dz">
										<div class="dz-message" style="width: 630px;">
											<table class="table">
												<thead>
													<tr>
														<th>파일명</th>
														<th>크기</th>
														<th></th>
													</tr>
												</thead>
												<tbody id="savePIssueFileList">
												</tbody>
											</table>
										</div>
									</div>
								</div>


								<div class="savingFindBNSection">
									<div class="sectionBN">
										<p class="sectionTitleText">업무 찾기</p>
										<div class="bussNm-selectBox">
											<div class="bussNm-selected" id="bussNm-selected">
												<div class="bussNm-selected-value" data-bno="0">이슈가
													발생한 업무를 선택하세요.</div>
												<div class="arrow"></div>
											</div>
											<ul class="bussNm-select-ul" style="display: none;">
												<li class="bussNm-select-option" data-bno="0">(없음)</li>
												<th:block th:each="bussNmList : ${bussNmList}">
													<li th:class="bussNm-select-option" th:text="${bussNmList.bussNm}"
														th:value="${bussNmList.bussNo}"></li>
												</th:block>
											</ul>
										</div>
									</div>
								</div>

								<div class="hashtagSection">
									<div class="sectionTitle">
										<p class="sectionTitleText">해시태그</p>
									</div>
									<input name='input-custom-dropdownPI' class='tagify__dropdown__itemPI'
										placeholder='Enter키로 등록하세요. 최대 10개까지 등록이 가능합니다.'>
								</div>
							</div>
							<!--/* 프로젝트 이슈 등록폼에서 등록 취소 확인 START */-->
							<div class="modal fade" id="cancelPISaveConfirmationModal" tabindex="-1"
								style="display: none; margin-top: 200px; margin-left: 200px;" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header" style="border-bottom: none;">
										</div>
										<div class="modal-body" id="cancelPISaveConfirmationModalBody">
											<img class="cancelWarning"> <span id="modal-meg" class="notice_msg"> 현재 작성중인
												글은 저장되지 않습니다.<br> 뒤로
												가시겠습니까?
											</span>
										</div>
										<div class="modal-footer" style="border-top: none;">
											<button type="button" class="btn btn-danger btn-sm"
												id="cancelPISaveCancel">취소</button>
											<button type="button" class="btn btn-light btn-sm"
												id="confirmPISaveCancel">확인</button>
										</div>
									</div>
								</div>
							</div>
							<!--/* 프로젝트 이슈 등록폼에서 등록 취소 확인 END */-->

							<!--/* 프로젝트 이슈 등록폼에서 제목, 종류, 중요도가 다 입력되지 않았을 때 START */-->
							<div class="modal fade" id="savePICheckingInput" tabindex="-1"
								style="display: none; margin-top: 200px; margin-left: 200px;" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header" style="border-bottom: none;">
											<button type="button" class="modalClose" data-dismiss="modal"></button>
										</div>
										<div class="modal-body" id="savePIConfirmationModalBody">
											<img class="cancelWarning"> <span id="modal-meg" class="notice_msg">제목, 종류,
												중요도를 입력하세요!<br>
											</span>
										</div>
										<div class="modal-footer" style="border-top: none;">
											<button type="button" class="btn btn-info btn-sm"
												id="confirmPISaveCheckingInput" style="margin: auto;">확인
											</button>
										</div>
									</div>
								</div>
							</div>
							<!--/* 프로젝트 이슈 등록폼에서 제목, 종류, 중요도가 다 입력되지 않았을 때 END */-->
						</div>
						<!--/* 프로젝트 이슈 게시판에서 이슈 등록폼 END */-->
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
	<!-- Tagify -->
	<script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify"></script>
	<script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.polyfills.min.js"></script>
	<script th:inline="javascript">

		window.onload = function () {
			let navItemHome = $('.nav-link').eq(3);
			navItemHome.addClass('active');
		}
		let piMemberId = [[${ session.loginInfo.membId }]];
		let piprjtNo = [[${ prjtNo }]];
		let piprjtNm = [[${projects.prjtNm}]];
		
		// 프로젝트 멤버만 '글쓰기' 버튼 활성화
		let memvo = [[${memvo}]];
		for(let i=0; i<memvo.length; i++) {
			if(memvo[i].membId == piMemberId) {			
			let makebtn = $('<button/>').attr('class', 'postWritingBoxP');
			let spans = $('<span/>');
			let ps = $('<p/>').text('글쓰기');
			makebtn.append(spans)
			makebtn.append(ps)
			$('.TopBarProjectIssueControlArea').append(makebtn)
			break;
			}
		}
		
		//검색 조건 (제목, 작성자, 전체) 
		$('.pissue-selectBox').on('click', function () {
			$('.pissue-select-ul').css('display', 'block');
		});
		$('.pissue-filterBox').on('click', function () {
			$('.pissue-filter-ul').css('display', 'block');
		});


		// 현재 페이지에 current 클래스 붙이기!
		$('.cur_page').each(function () {
			let page = $(this).text();

			if (page == 1) {
				$(this).addClass('current').css('color', '#ffffff');
			} else {
				$(this).removeClass('current').css('color', '#76838F');
			}
		});

		// disabled 일 때 , onclick 지우기
		$(".disabled").css("color", "#8C959F").removeAttr("onclick");

		$('.pissue-select-option').on('click', function (e) {
			let selectValue = e.currentTarget.textContent;
			$('.pissue-selected-value').text(selectValue);
			$('#keyword').val(selectValue);
			$('.pissue-select-ul').css('display', 'none');
			e.stopPropagation();

		});
		
		// filter링.
		$('.pissue-filter-option').on('click', function (e) {
			let selectValue = e.currentTarget.textContent;
			$('.pissue-filter-value').text(selectValue);
			$('#filterType').val(selectValue);
			$('.pissue-filter-ul').css('display', 'none');
			e.stopPropagation();
			projectIssuePaging(1);

		});
		function dateFormatting(date) {

			let parseDate = new Date(date);

			let year = parseDate.getFullYear();
			let month = ('0' + (parseDate.getMonth() + 1)).slice(-2);
			let day = ('0' + parseDate.getDate()).slice(-2);
			return year + '-' + month + '-' + day;
		}
		// ajax 
		function projectIssuePaging(pageNum) {

			let keywordVal = $('#keyword').val();
			let searchVal = $('#search').val();
			let issueLists = $('.projectIssueLists');
			let pagination = $('.piPagination');
			let filterTypeVal = $('#filterType').val();

			$.ajax('/project/aissues/' + piprjtNo + '?pageNum=' + pageNum + '&keyword='
				+ keywordVal + '&search=' + searchVal +'&filterType=' + filterTypeVal,
				{
					type: 'GET'
				}).done(function (data) {
					issueLists.empty();
					$.each(data.projectIssueList, function (idx, item) {
						let trTag = $('<tr/>').attr('onclick', 'selectIssueInfo(' + item.issuNo + ')');

						if (item.issuKnd == '0L1') {
							trTag.append('<th><span class="badge badge-danger" th:text="버그">버그</span></th>');
						} else if (item.issuKnd == '0L2') {
							trTag.append('<th><span class="badge badge-warning" th:text="개선사항">개선사항</span></th>');
						} else if (item.issuKnd == '0L3') {
							trTag.append('<th><span class="badge badge-info" th:text="새기능">새기능</span></th>');
						} else if (item.issuKnd == '0L4') {
							trTag.append('<th><span class="badge badge-light" th:text="업무">업무</span></th>');
						}
						trTag.append('<td>' + item.issuTtl + '</td>');
						trTag.append('<td>' + item.membNm + '</td>');

						if (item.issuSt == '0E1') {
							trTag.append('<th><span class="badge badge-pill badge-success" th:text="해결">해결</span></th>');
						} else if (item.issuSt == '0E2') {
							trTag.append('<th><span class="badge badge-pill badge-dark" th:text="미해결">미해결</span></th>');
						} else if (item.issuSt == '0E3') {
							trTag.append('<th><span class="badge badge-pill badge-secondary" th:text="해결불가">해결불가</span></th>');
						}

						if (item.issuRank == '0G1') {
							trTag.append('<th><span class="badge badge-primary" th:text="매우높음">매우높음</span></th>');
						} else if (item.issuRank == '0G2') {
							trTag.append('<th><span class="badge badge-secondary" th:text="높음">높음</span></th>');
						} else if (item.issuRank == '0G3') {
							trTag.append('<th><span class="badge badge-success" th:text="보통">보통</span></th>');
						} else if (item.issuRank == '0G4') {
							trTag.append('<th><span class="badge badge-warning" th:text="낮음">낮음</span></th>');
						} else if (item.issuRank == '0G5') {
							trTag.append('<th><span class="badge badge-danger" th:text="매우낮음">매우낮음</span></th>');
						}
						
						if(item.bussNm == null) {							
							trTag.append('<td>(없음)</td>')
						} else {
							trTag.append('<td>' + item.bussNm + '</td>');
						}
						
						trTag.append('<td>' + dateFormatting(item.issuDt) + '</td>');
						issueLists.append(trTag);

						/* 여기까지 tbody에 데이터 넣는 것 */

					})
					// 페이징 업데이트..
					updatePiPaging(data.pissue);


					let prePageNum = data.pissue.prePage;
					let nextPageNum = data.pissue.nextPage;
					let curPageNum = data.pissue.pageNum;
					let navFirstPage = data.pissue.navigateFirstPage;
					let navLastPage = data.pissue.navigateLastPage;
					let lastPage = data.pissue.pages;

					// 현재 페이지에 current 클래스 붙이기!
					$('.cur_page').each(function () {
						let page = $(this).text();

						if (page == curPageNum) {
							$(this).addClass('current').css('color', '#ffffff');
						} else {
							$(this).removeClass('current').css('color', '#76838F');
						}
					});

					// 현재 페이지 업데이트.
					$('#previous_page').attr('onclick',
						'projectIssuePaging(' + prePageNum + ')');
					$('#next_page').attr('onclick',
						'projectIssuePaging(' + nextPageNum + ')');

					// previous, next disabled 설정 + onclick 속성 제거
					if (prePageNum == 0) {
						$('#previous_page').addClass('disabled').css("color", "#8C959F").removeAttr("onclick");
					} else {
						$('#previous_page').css("color", "#0969DA");
					};

					if (nextPageNum == 0) {
						$('#next_page').addClass('disabled').css("color", "#8C959F").removeAttr("onclick");
					} else {
						$('#next_page').css("color", "#0969DA");
					};


				}).fail(function () {
					alert('실패')
				});
		}

		function updatePiPaging(paging) {
			let pagination = $('.piPagination');
			pagination.empty();

			let pagesPer = 8;  // 한 번에 보이는 페이지 수
			let endPage = (Math.ceil(paging.pageNum / pagesPer) * pagesPer);  // 끝 페이지
			let realEndPage = paging.pages;
			let startPage = (endPage - pagesPer) + 1;

			if (endPage > realEndPage) {
				endPage = realEndPage;
			};

			for (let i = startPage; i <= endPage; i++) {
				let aTag = $('<a/>');
				aTag.addClass('cur_page').text(i);
				aTag.attr('onclick', 'projectIssuePaging(' + i + ')');
				pagination.append(aTag);
			};

			if (startPage >= 1) {
				let prevTag = $('<a/>');
				prevTag.attr('id', 'previous_page');
				prevTag.text('Previous');
				prevTag.attr('onclick', 'projectIssuePaging(' + (paging.prePage) + ')');
				pagination.prepend(prevTag);
			};

			if (endPage <= paging.pages) {
				let nextTag = $('<a/>');
				nextTag.attr('id', 'next_page');
				nextTag.text('Next');
				nextTag.attr('onclick', 'projectIssuePaging(' + (paging.nextPage) + ')');
				pagination.append(nextTag);
			};
		};

		function delSearchValp() {
			$('.piSearchInput').val('');
		}

		function selectIssueInfo(issuNo) {
			location.href = '/project/issues/1/' + issuNo;
		}

		<!-- 이슈 등록 시작 -->

		let inputHashPI = document.querySelector('input[name="input-custom-dropdownPI"]');

		let tagifyPI = new Tagify(inputHashPI, {
			maxTags: 10, // 최대 허용 태그 개수
			dropdown: {
				position: "input",
				classname: "tags-look", // 드롭다운 메뉴 엘리먼트 클래스 이름.
				enabled: 0
				// always opens dropdown when input gets focus
			}
		})
		// 글쓰기 버튼
		$('.postWritingBoxP').on('click', function () {
			$('#piSaveModal').modal('show');
			inputHashPI.value = piprjtNm;
		});

		// "등록" 버튼 활성화 or 비활성화 (제목, 종류, 중요도) 3개의 값이 다 들어오는 경우 활성화 된다.
		function checkPISaveInput() {
			let issuKndVal = $('#savePIssuKndVal').text();
			let issuRankVal = $('#savePIssuRankVal').text();
			let issuTtlVal = $('#savePIssuTtlVal').val();

			if (issuKndVal !== '선택' && issuRankVal !== '선택' && issuTtlVal !== '') {
				$('.completePISaving').addClass('registrable');
			} else {
				$('.completePISaving').removeClass('registrable');
			}
		}

		$('#savePIssuTtlVal').on('change', function () {
			checkPISaveInput();
		});

		// toastuieditor
		const pieditor = new toastui.Editor({
			el: document.querySelector('#pieditor'), // 에디터를 적용할 요소 (컨테이너)
			height: '600px', // 에디터 영역의 높이 값 (OOOpx || auto)
			initialEditType: 'wysiwyg', // 최초로 보여줄 에디터 타입 (markdown || wysiwyg)
			initialValue: '내용을 입력해 주세요.', // 내용의 초기 값으로, 반드시 마크다운 문자열 형태여야 함
			previewStyle: 'vertical',
		})
		pieditor.removeToolbarItem("image");

		// 글쓰기 취소 버튼
		$('.modalPIssueSaveForm').on('click', '.cancelPISaving', function () {
			$('#cancelPISaveConfirmationModal').modal('show');

			// ' 확인' 버튼이 클릭 시
			$('#confirmPISaveCancel').on('click', function () {
				// 입력 필드 초기화
				$('#savePIssuKndVal').text('선택');
				$('#savePIssuRankVal').text('선택');
				$('#savePIssuTtlVal').val('');
				pieditor.setHTML('');
				$('#savePIssueFileList').empty();
				$('.bussNm-selected-value').text('이슈가 발생한 업무를 선택하세요.');
				$('.tagify__tag').remove();
				checkPISaveFile();
				checkPISaveInput();

				$('#cancelPISaveConfirmationModal').modal('hide');
				$('#piSaveModal').modal('hide');
			});

			// '취소' 버튼 클릭 시
			$('#cancelPISaveCancel').on('click', function () {
				$('#cancelPISaveConfirmationModal').modal('hide');
			});
		});

		// 제목 입력하는 textarea 클릭시 focus
		$('.modalPIssueNameSave').on('click', function () {
			$('.savePIssueNameBack').addClass('focus');
		});
		// textarea 벗어날 때 focus 클래스 삭제하기.
		$('.modalPIssueNameSave').on('blur', function () {
			$('.savePIssueNameBack').removeClass('focus');
		});
		// 엔터 누를 때 줄바꿈 방지하기..
		$('.modalPIssueNameSave').on('keydown', function (e) {
			if (e.keyCode == 13) {
				e.preventDefault();
			}
		});

		$('.completePISaving').on('click', function () {
			// "등록" 버튼이 활성화 상태일 때만 실행됨
			if ($(this).hasClass('registrable')) {
				savePIssue();
			} else {
				$('#savePICheckingInput').modal('show');

				// 확인 버튼 클릭 시
				$('#confirmPISaveCheckingInput').on('click', function () {
					$('#savePICheckingInput').modal('hide');
				});
			}

		});

		function savePIssue() {

			let formData = new FormData();
			formData.append('issuTtl', $('#savePIssuTtlVal').val());
			formData.append('membId', piMemberId);
			formData.append('bussNo', $('.bussNm-selected-value').data('bno'));
			formData.append('prjtNo', piprjtNo);

			let htPIobj = tagifyPI.value;
			let htPIobjVal = htPIobj.map(row => row.value);
			formData.append('inserthashtagsp', htPIobjVal);

			// 중요도 text 값 확인 후 data로 넣기 !
			if ($('#savePIssuRankVal').text() == '매우높음') {
				formData.append('issuRank', '0G1');
			} else if ($('#savePIssuRankVal').text() == '높음') {
				formData.append('issuRank', '0G2');
			} else if ($('#savePIssuRankVal').text() == '보통') {
				formData.append('issuRank', '0G3');
			} else if ($('#savePIssuRankVal').text() == '낮음') {
				formData.append('issuRank', '0G4');
			} else if ($('#savePIssuRankVal').text() == '매우낮음') {
				formData.append('issuRank', '0G5');
			}
			// 종류 text 값 확인 후 data로 넣기 !
			if ($('#savePIssuKndVal').text() == '버그') {
				formData.append('issuKnd', '0L1');
			} else if ($('#savePIssuKndVal').text() == '개선사항') {
				formData.append('issuKnd', '0L2');
			} else if ($('#savePIssuKndVal').text() == '새기능') {
				formData.append('issuKnd', '0L3');
			} else if ($('#savePIssuKndVal').text() == '업무') {
				formData.append('issuKnd', '0L4');
			}

			let content = pieditor.getHTML();
			formData.append('issuCntn', content);

			let inputFile = document.querySelector('.savePIReal-upload');
			let fileInfo = inputFile.files;

			for (i = 0; i < fileInfo.length; i++) {
				formData.append("savefiles", fileInfo[i]);
			};

			$.ajax({
				url: '/project/issues/save',
				type: 'POST',
				processData: false,	//기본값은 true, ajax 통신을 통해 데이터를 전송할 때, 기본적으로 key와 value값을 Query String으로 변환해서 보냅니다.
				contentType: false,	// multipart/form-data타입을 사용하기위해 false 로 지정합니다.
				data: formData,
				success: function () {
					$('#piSaveModal').modal('hide');
					location.reload();
				},
				error: function (reject) {
					alert("등록에 실패");
					console.log(reject);
				}
			});
		};

		// 드랍다운 
		$('.dropdown-item').on('click', function () {
			$(this).parent().siblings().attr('class', $(this).children().attr('class'));
			$(this).parent().siblings().text($(this).text());
			checkPISaveInput();
		});

		// 파일 업로드 클릭
		const savePIRealUpload = document.querySelector('.savePIReal-upload');
		const savePIupload = document.querySelector('.savingPILoadBtn.upload');

		savePIupload.addEventListener('click', () => savePIRealUpload.click());

		checkPISaveFile();

		// 업로드 된 파일이 없을 경우 ..
		function checkPISaveFile() {
			if ($('#savePIssueFileList tr').length == 0) {
				let trTag = $('<tr/>').attr('class', 'fileEmpty');
				let fileEmptyTag = $('<td/>').text('등록된 파일은 여기에 저장됩니다').css('color', '#A8A8A8');
				let emptyTdTag = $('<td/>');
				let emptyTdTags = $('<td/>');
				trTag.append(fileEmptyTag);
				trTag.append(emptyTdTag);
				trTag.append(emptyTdTags);
				$('#savePIssueFileList').append(trTag);
			};
		};

		// 파일 삭제 버튼 누를 시 ..
		function saveRemovePIFile(element) {
			removeSavePIFileFromDataTransfer(element);
			let tr = $(element).closest('tr');
			tr.remove();

			checkPISaveFile();
		}
		const savePIDataTransfer = new DataTransfer();

		$("#savePIFiles").change(function () {

			let fileArr = document.getElementById("savePIFiles").files

			if (fileArr != null && fileArr.length > 0) {

				// =====DataTransfer 파일 관리========
				for (let i = 0; i < fileArr.length; i++) {
					savePIDataTransfer.items.add(fileArr[i])
				}

				document.getElementById('savePIFiles').files = savePIDataTransfer.files;
				// ==========================================

			}
		})

		function removeSavePIFileFromDataTransfer(element) {
			let parent = $(element).parent().parent();
			let children = $(parent).children();
			let index = children.index($(element).parent());

			if (index != -1) {
				savePIDataTransfer.items.remove(index);
				document.getElementById('savePIFiles').files = savePIDataTransfer.files;
			}
		}

		function getByteSize(size) {
			const byteUnits = ["KB", "MB", "GB", "TB"];
			for (let i = 0; i < byteUnits.length; i++) {
				size = Math.floor(size / 1024);
				if (size < 1024) return size.toFixed(1) + byteUnits[i];
			}
		};

		// 파일 추가
		function savePIssueFile(element) {
			const file = element.files[0];
			// 1.  파일 선택 창에서 취소 버튼이 클릭되는 경우
			if (!file) {
				return false;
			}

			// 2. 파일 크기가 10MB을 초과하는 경우
			const fileSize = Math.floor(file.size / 1024 / 1024);

			if (fileSize > 10) {
				Swal.fire({
					icon: 'error',                         // Alert 타입
					text: '10MB 이하의 파일을 업로드 해 주세요.',  // Alert 내용
				});
				return false;
			}

			if (file) {
				$('.fileEmpty').remove();
				let trTag = $('<tr/>');
				let fileNameTag = $('<td/>').text(file.name);
				let fileSizeTag = $('<td/>').text(getByteSize(file.size));
				let deleteFileTag = $('<td/>').attr('class', 'deletePISaveFile').attr('onclick', ' saveRemovePIFile(this);');
				trTag.append(fileNameTag);
				trTag.append(fileSizeTag);
				trTag.append(deleteFileTag);

				$('#savePIssueFileList').append(trTag);

			}
		};

		//업무 찾기 ( 업무 리스트 나오게 )
		$('.bussNm-selectBox').on('click', function () {
			let bussNmSelectUl = $('.bussNm-select-ul');
			if (bussNmSelectUl.css('display') === 'block') {
				bussNmSelectUl.css('display', 'none');
			} else {
				bussNmSelectUl.css('display', 'block');
			}
		});

		$('.bussNm-select-option').on('click', function (e) {
			let selectValue = e.currentTarget.textContent;
			$('.bussNm-selected-value').text(selectValue);
			$('.bussNm-selected-value').data('bno', $(this).val());
			$('.bussNm-select-ul').css('display', 'none');

			e.stopPropagation();
		})

	</script>
</th:block>
</body>

</html>