<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<th:block layout:fragment="content">
	<div class="row">
	<div class="col-lg-6">
    <div class="column">
        <!-- Pie Chart -->
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">업무 요약</h4>
                    <canvas id="businessChart" width="500" height="250"></canvas>
                </div>
            </div>
        </div>
        <!-- Pie Chart End -->
        <!-- Member List -->
       	<div class="col-lg-12">
            <div class="card">
               <div class="card-body">
                    <h4 class="card-title">참여자별 업무 진행률</h4>
                   <div class="active-member">
                       <div class="table-responsive">
                           <table class="table table-xs mb-0">
                               <thead>
                                   <tr>
                                       <th>참여자</th>
                                       <th>개수</th>
                                       <th>진행률</th>
                                       <th></th>
                                   </tr>
                               </thead>
                               <tbody>
                                   <tr th:each="member : ${memberStatusList}">
                                       <td th:text="${member.membNm}">
                                       <!-- <img src="./images/avatar/1.jpg" class=" rounded-circle mr-3" alt="">
                                       -->
                                       </td>
                                       <td th:text="|${member.endCnt}/${member.total}|"></td>
                                       <td style="width:45%">
		                                   <div class="progress" style="height: 10px">
		                                  		<div class="progress-bar bg-success" th:style="|width:${member.status}%|"></div>
		                                   </div>
                                       </td>
                                       <td style="width:10%">
                                       <span class="label label-pill label-success" th:text="|${member.status}%|"></span>
                                       </td>
                                   </tr>
                               </tbody>
                           </table>
                       </div>
                   </div>
               </div>
           </div>
        </div>
        <!-- Member List End -->
    </div>
	
	</div>
		<div class="col-lg-6">
	       <div class="card">
	           <div class="card-body">
                    <h4 class="card-title">업무 목록</h4>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">업무명</th>
                                    <th scope="col">일정</th>
                                    <th scope="col">진행률</th>
                                    <th scope="col">&nbsp</th>
                                    <th scope="col">상태</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="business : ${businessLevelList}">
                                    <td>
                                    	<th:block th:each="i : ${#numbers.sequence(3,business.level,1)}">
                                    	<span>&nbsp;&nbsp;&nbsp;</span>
                                    	</th:block>
                                    	<th:block th:if="${business.level > 1}">
                                    		<i class="bi bi-arrow-return-right"></i>
                                    	</th:block>
                                    	<span th:utext="${business.bussNm}"></span>
                                    </td>
                                    <th:block th:if="${business.bussSt} == 'PROCEED' or ${business.bussSt} == 'DELAY'">
                                        <td th:text="${business.dDay < 0} ? |지연 + ${-business.dDay}|: |D-${business.dDay}|"
                                            th:style="${business.dDay < 0 ? 'color:red;' : ''}"></td>
                                    </th:block>
                                    <th:block th:unless ="${business.bussSt} == 'PROCEED' or ${business.bussSt} == 'DELAY'">
                                    	<td></td>
                                    </th:block>
                                    <td>
                                        <div class="progress" style="height: 10px">
                                            <div class="progress-bar gradient-1" th:style="|width:${business.bussPrgre}%;|" role="progressbar">
                                            </div>
                                        </div> 
                                    </td>
                                    <td><span class="label gradient-1 btn-rounded" th:text="|${business.bussPrgre}%|"></span>
                                    </td>
                                    <td>
                                    <span class="badge badge-primary px-2" th:text="${business.bussSt}">진행중</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
	       </div>
	    </div>
    </div>
    <script th:inline="javascript">
    const stateType = new Map([    	
    	['PROCEED','참여중'],
    	['DELAY','초과'],
    	['END','완료'],
    	['DELAYEND','초과완료']
  	]);
    
    window.onload = function () {
        pieChartDraw();
    }
    
    let pieChartData = {
        labels: Array.from(stateType.values()),
        datasets: [{
            data: getStateValues(),
            backgroundColor: ['rgb(255, 99, 132)', 'rgb(255, 159, 64)', 'rgb(255, 205, 86)', 'rgb(75, 192, 192)']
        }] 
    };

    let pieChartDraw = function () {
        let ctx = document.getElementById('businessChart').getContext('2d');
        
        window.pieChart = new Chart(ctx, {
            type: 'pie',
            data: pieChartData,
            options: {
                responsive: false
            }
        });
    };
    
    function getStateValues(){
        let bussStatList = [[${businessStateList}]];
    	let valueMap = new Map();
    	
    	for (let stateName of stateType.keys()){
    		valueMap.set(stateName,0);
    	}
    	
        for(let i in bussStatList[0]){
        	valueMap.set(bussStatList[0][i],bussStatList[1][i]); 
        }
        
        return Array.from(valueMap.values());
    }
    
    </script>
</th:block>
</body>
</html>