<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="row">
        <!-- Pie Chart -->
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Pie chart</h4>
                    <canvas id="pieChart" width="500" height="250"></canvas>
                </div>
            </div>
        </div>
        <!-- Member List -->
       	<div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    
                </div>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>