
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout}">
<head>

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js">
	
</script>

<style>
.content-body {
	margin-left: 200px;
}

hr {
	width: 60%;
}

#FileSearch {
	margin-right: 30px;
	width: 200px;
	height: 41px;
	border-radius: 5px;
	text-align: center;
	border-color: #C0C0C0;
}

.card {
	display: block;
}

.content-body {
	padding-left: 20px;
}

#upAnddown {
	display: inline-block;
	float: right;
	margin-left: 100px;
}

.weCard {
	margin-top: 70px;
	display: flex;
	flex-wrap: wrap;
	width: 80%;
}

.card {
	flex: 1;
	cursor: pointer;
}

.card:hover {
	border: solid 0.5px red;
}
</style>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
	integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://code.jquery.com/jquery-3.7.1.js"
	integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
	crossorigin="anonymous"></script>
</head>
<th:block layout:fragment="content">
	<div class="content-container">
		<div class="content-body">


			<!-- 검색 필터 -->

			<div id="backWidth" class="SearchBox">
				<label for="SearchToggleCheckBox" th:attr="onclick='fileSearch()'"></label>
				<input type="hidden" id="pType" name="pType" value="파일명">
				<div class="SearchInputBox" style="width: 270px;">
					<div>
						<div class="file-selectBox"
							style="width: 100px; background-color: white;">
							<div class="file-selected" id="file-selected">
								<div class="file-selected-value">파일명</div>
								<div class="arrow"></div>
							</div>
							<ul class="file-select-ul"
								style="width: 100px; top: 20%; display: none;">
								<li class="file-select-option" data-value="파일명">파일명</li>
								<li class="file-select-option" data-value="작성자">작성자</li>
							</ul>
						</div>
					</div>

					<!-- 검색 인풋 -->
					<input class="SearchInputModalView" id="pKeyword" name="pKeyword"
						type="text" placeholder="검색어를 입력하세요.">
				</div>

				<!-- 파일업로드 및 삭제 -->
				<div id="upAnddown">

					<!-- 확장자 필터 드랍다운 -->
					<select id="filter" name="filter" onchange="driveFilter(this)"
						style="width: 70px; border-radius: 20px; text-align: center; padding: 5px; margin-right: 40px;">
						<option value="">유형</option>
						<optgroup label="스프레드시트">
							<option value="xls">XLS</option>
						</optgroup>
						<optgroup label="프레젠테이션">
							<option value="ppt">PPTX</option>
						</optgroup>
						<optgroup label="압축파일">
							<option value="zip">ZIP</option>
						</optgroup>
						<optgroup label="텍스트">
							<option value="txt">TXT</option>
						</optgroup>
						<optgroup label="사진">
							<option value="jpg">JPG</option>
							<option value="png">PNG</option>
						</optgroup>
					</select> <input type="file" id="selectedFile" style="display: none;" /> <input
						type="button" id="FileUpload" value="업로드"
						onclick="document.getElementById('selectedFile').click();"
						class="btn mb-1 btn-info" style="margin-right: 30px" />

					<button id="FileDown" type="button" class="btn mb-1 btn-info"
						style="margin-right: 30px;">다운로드</button>

					<button id="FileDelete" type="button" class="btn mb-1 btn-dark">삭제</button>

				</div>
			</div>
			<hr>
			<br> <br>

			<div class="ModalInfoArea IssueInfoArea">
				<div class="col-lg-6" style="width: 100%; max-width: 100%;">
					<div class="table-responsive">
						<table class="table table-hover" style="overflow: auto;">
							<thead>
								<tr>
									<th style="font-weight: normal;">파일명</th>
									<th style="font-weight: normal;">크기</th>
									<th style="font-weight: normal;">작성자</th>
									<th style="font-weight: normal;">등록일자</th>
									<th style="font-weight: normal;">확장자</th>
									<th style="font-weight: normal;"></th>
									<th style="font-weight: normal;"></th>
								</tr>

							</thead>
							<form id="checkBoxForm">
								<tbody id="newTrTd">
									<th:block th:each="fileList : ${pFileList}">
										<tr id="tdData" th:data-fileno="${fileList.fileNo}">
											<td th:text="${fileList.fileNm}" />
											<td class="fSize" th:text="${fileList.fileSize}" />
											<td th:text="${fileList.membNm}" />
											<td
												th:text="${#temporals.format(fileList.fileDt, 'yyyy-MM-dd')}" />
											<td th:text="${fileList.fileType}" />
											<!-- 다운로드 아이콘 -->
											<td class="downIcon"><i class="fa-solid fa-download"></i></td>
											<!-- 쓰레기 아이콘 -->
											<td class="trashIcon"><i class="fa-solid fa-trash"></i></td>
											<td><input type="hidden" name="files"
												th:value="${fileList.fileNo}"></td>
										</tr>
									</th:block>
								</tbody>
							</form>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
	
		var prjtNo = "[[${prjtNo}]]";
		var membId = "[[${session.loginInfo.membId}]]";
		
		// ======== 파일 바이트 계산 ========
		function ByteSize(size) {
			const byteUnits = [ "KB", "MB", "GB", "TB" ];
			for (let i = 0; i < byteUnits.length; i++) {
				size = Math.floor(size / 1024);
				if (size < 1024)
					return size.toFixed(1) + byteUnits[i];
			}
		};

		// ======== 파일 리스트에서 size를 byte로 계산하여 출력 ========
		$('.fSize').each(function(idx, node) {
			$(node).text(ByteSize($(node).text()));
		})

		// ======== 카드 클릭 시 테두리 지정 ========
		$('.card').on('click', function() {

			let cBody = document.getElementsByClassName("card")[0]; // 배열을 안붙이면 클래스 인식 불가능

			if ($(this).hasClass('active')) { // 만약 클릭한놈이 클래스가 있으면(hassClass) active 지정
				this.style.border = "solid 2px red"; // 그놈한테 테두리 지정해
				$('.card').removeClass('active'); // 
				this.style.border = "none"; // 
			} else {
				$('.card').removeClass('active'); // 카드 클래스 active ㄹ
				this.style.border = "none";
				$(this).addClass('active');
				this.style.border = "solid 2px red";
			}
		});

		// ======== 파일 업로드 ========

		// ======== tr 선택시 active 지정 + style 부여 ========
		$('#newTrTd').on('click', '#tdData', function() {
			if ($(this).hasClass('active')) {
				$(this).css("backgroundColor", "");
				$(this).removeClass('active');
			} else {
				let trColor = $(this).addClass("active"); // 클릭한 tr에 액티브 지정
				trColor.css("backgroundColor", "#ADD8E6");
				trColor.css
			}
		})

		// ======== 쓰레기통 아이콘 클릭시 삭제 AJAX ========
		$('#newTrTd').on('click', '.trashIcon', function() {
			let fileDel = $(event.target).closest('#tdData').data('fileno');
			// 클릭한 아이콘의 부모(tr)의 데이터 (파일번호를 가짐)

			let delTarget = $(event.target)

			$.ajax({
				type : "get",
				url : "/fileOneDelete",
				dataType : "text",
				data : {
					fileNo : fileDel
				},
				success : function() {
					if (confirm("해당 파일을 삭제 하시겠습니까?")) {
						alert("삭제가 완료되었습니다.");
						delTarget.closest('#tdData').remove();
					}
				},
				error : function() {
					alert("AJAX 오류");
				}
			});
		});

		// ======== active(색깔 지정) 클릭한 얘들 삭제 AJAX ========
		$('#FileDelete').on('click', selectCkbDel);

		function selectCkbDel() {

			let fNum = $('input[name="files"]')
			let id = $('#tdData.active');
			let dd = id.append(fNum);
			
			let ww = $('#tdData.active').append(fNum);
			
			console.log(fNum);
			console.log(id);
			console.log(dd);
			console.log(ww);
			
			// ajax
			$.ajax({
				type : "get",
				url : "/fileSelectDel",
				data : ww.serialize(),
				success : function() {
					if (confirm("해당 파일들을 삭제 하시겠습니까?")) {
						alert("삭제가 완료 되었습니다.")
					}
				},
				error : function(err) {

					alert("선택된 파일이 존재하지 않습니다.");
				}
			});
		};

		// ======== 검색 AJAX ========
		function fileSearch() {
		var typeVal = $('#pType').val(); // type
		var keywordVal = $('#pKeyword').val(); // keyword
		var fileList = $('#newTrTd'); // tBody 비우고 새로 만들기

		$.ajax('/project/driveAjax/' + prjtNo +'?pType=' + typeVal + 
			'&pKeyword=' + keywordVal,
			{
				type: 'GET'
			}).done(function (data) {
				alert("와우")		

			}).fail(function () {
				alert('실패');
			});
	};
	
	// ======== 파일 검색 or 페이징 시 나오는 리스트 함수로 제작 ========
	function makeTrTd(item){
		var trTag = `<tr id="tdData" data-fileno="${item.fileNo}">
			<td>${item.fileNm}</td>
			<td class="fSize">${(ByteSize(item.fileSize))}</td>
			<td>${item.membNm}</td>
			<td>${item.fileDt}</td>
			<td>${item.fileType}</td>
			<td class="downIcon"><i class="fa-solid fa-download"></i></td>
			<td class="trashIcon"><i class="fa-solid fa-trash"></i></td>
			</tr>`
			
		return trTag;
	}
	
	// ======== 필터링 AJAX ========
	function driveFilter() {
	var filterVal = $('#filter').val(); // type
	var fileList = $('#newTrTd'); // tBody 비우고 새로 만들기

	$.ajax('/project/driveFilterAjax/' + prjtNo +'?filter=' + filterVal,
		{
			type: 'GET'
		}).done(function (data) {
			fileList.empty();
			
			$each(data.files, function(idx, fit){
				fileList.append(fit);
			})
			
		}).fail(function () {
			alert('실패');
		});
	};
	
	</script>
</th:block>
</html>