<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/projectlayout}">
<head>
<title>이슈</title>
</head>
<th:block layout:fragment="content">
	<!--/* 이슈 상세보기 START */-->
	<div class="pIssueInfoForm">
		<div class="pIssueInfoContent">
			<div class="pIssueInfoContentTopBar">
				<span class="returnPIssueList" onclick="returnPIssueList()"></span>
				<th:block th:if="${session.loginInfo.membId eq pissueInfo.membId}">
				<button type="button" class="pIssueEditing" onclick="switchPIEditForm()">수정</button>
				<button type="button" class="pIssueDeleting" onclick="deletePIssue()">삭제</button>
				</th:block>
			</div>

			<div class="pIssueNameInfo">
				<div class="pIssueNames">
					<textarea class="modalPIssueName" maxlength="200" style="height: 34px;" readonly
						th:text="${pissueInfo.issuTtl}"></textarea>
				</div>
			</div>
			<hr style="margin: 0; height: 2px; background-color: #eaeaea;">
			<div class="read-content">
				<div class="showPIHashtagList">
					<th:block th:each="phash : ${phash}">
						<div class="showTagBoxPI task" th:attr="title=${phash.issuHtNm}">
							<p>#</p>
							<span class="ready"></span>
							<p class="showTextEllipsisPI" th:text="${phash.issuHtNm}"></p>
						</div>
					</th:block>
				</div>

				<div class="media pt-5" style="padding-top: 20px !important;">
					<img class="pimr-3 rounded-circle" th:src="'/upload/'+${pissueInfo.membPhtPath}" style="height:50px; width:50px; margin-right: 1rem !important;">
					<div class="media-body" style="margin-right: 50px; flex: 0;">
						<h5 class="pim-b-3" th:text="${pissueInfo.membNm}"></h5>
						<p class="pim-b-2" style="width: 75px;"
							th:text="${#dates.format(pissueInfo.issuDt, 'yyyy-MM-dd')}"></p>

					</div>
					<div class="pIssueRankInfo"></div>
					<div class="pIssueKndInfo"></div>
					<div class="pIssueStInfo"></div>
				</div>
				<hr style="margin: 0; height: 1px; background-color: #eaeaea;">
				<div class="card-body">
					<div id="piviewer"></div>
				</div>
				<h6 class="p-t-15p" style="display: inline-block; padding: 3px;">
					<i class="fa fa-download mb-2"></i> 첨부파일 <span id="countFileP"></span>
				</h6>
				<h6 class="p-t-16p" style="display: inline-block; margin-left: 20px; padding: 3px;">
					<i class="fa fa-comment mb-2" style="margin-right: 5px;"></i>댓글 <span id="countReplyP"></span>
				</h6>
				<hr style="margin: 0; height: 1px; background-color: #eaeaea;">

				<div class="pIssueInfoFileList" style="display: none;">
					<div class="list-message" style="width: 750px;">
						<table class="table">
							<thead>
								<tr>
									<th>파일명</th>
									<th>크기</th>
									<th></th>
								</tr>
							</thead>
							<tbody id="pIssueInfoFiles">
								<th:block th:each="pissueFile : ${pissueFile}">
									<tr th:data-fno="${pissueFile.issuFileNo}">
										<td th:text="${pissueFile.issuFileNm}"></td>
										<td class="fs" th:text="${pissueFile.issuFileSize}"></td>
										<td th:class="downloadFile"
											th:attr="onclick='fileDownloading(\'' + ${pissueFile.issuNo} +'\', \'' + ${pissueFile.issuFileNo} + '\')'">
										</td>
									</tr>
								</th:block>
							</tbody>
						</table>
					</div>
				</div>
				<div class="pIssueInfoCommentList" style="display: none;">
					<div class="pIssueReviews"></div>
					<!--/* 이슈 상세보기에서 댓글 등록 START */-->
					<div class="pIssueReply__details__form">
						<div class="pIssueReply__section-title">
							<h5>
								댓글<i id="counter">0/300자</i>
							</h5>
						</div>
						<textarea id="pIssueReplyCntn" name="pIssueReplyCntn" onkeyup="countingLengthP(this);"
							placeholder="댓글을 입력하세요"></textarea>

						<button type="button" id="issueReplySave" onclick="saveReplyP();">
							<i class="fa fa-location-arrow"></i>등록
						</button>
					</div>

				</div>
			</div>
		</div>
	</div>
	<!--/* 이슈 상세보기 END */-->
	<!--/* 이슈 삭제시 경고창 START */-->
	<div class="modal fade" id="delPConfirmationModal" tabindex="-1" style="display: none; margin: auto;"
		aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header" style="border-bottom: none;">

				</div>
				<div class="modal-body" id="delPConfirmationModalBody">
					<img class="cancelWarning"> <span id="modal-meg" class="notice_msg"> 정말 삭제하시겠습니까? </span>
				</div>
				<div class="modal-footer" style="border-top: none;">
					<button type="button" class="btn btn-danger btn-sm" id="delPCancel">취소
					</button>
					<button type="button" class="btn btn-light btn-sm" id="delPConfirm">확인
					</button>
				</div>
			</div>
		</div>
	</div>

	<!--/* 수정폼 모달 START */-->
	<div class="modal fade" id="piEditModal" tabindex="-1" aria-labelledby="sidebarModalLabel" aria-hidden="true"
		style="overflow: auto; cursor: auto;">
		<div class="modal-dialog">
			<div class="modal-content"
				style="box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.15); width: 780px; top: calc(( 86vh - 601px)/2); height: 671px; opacity: 1; z-index: 500; overflow: auto;">
				<!--/* 모달 헤더 부분 */-->
				<div class="modal-header">
					<div class="ContentTitleBox">
						<div class="ContentImg" style="background-image: url(/images/tab_issue.png);"></div>
						<p class="ContentText">이슈 수정하기</p>
					</div>
					<button type="button" class="modalClose" data-dismiss="modal"></button>
				</div>
				<div class="modal-content-container">


					<!--/* 이슈 수정 폼 START */-->
					<div class="modal-body">
						<div class="modalPIssueEditForm">

							<div class="modalPIEditContent">
								<div class="pIssueEditContentTopBar">
									<span class="cancelPIEditing"></span>
									<button type="button" class="completePIEditing">수정</button>
								</div>
							</div>
							<div class="editPIssueName">
								<div class="editPIssueNameBack">
									<input class="modalPIssueNameEdit" id="editPIssuTtlVal" maxlength="200"
										style="height: 34px;"></input>
								</div>
							</div>
							<hr style="margin: 0; height: 2px; background-color: #eaeaea; width: 608px;">

							<!--/* 이슈 종류, 상태, 중요도 START */-->
							<div class="editPIssueKnd">
								<p>종류</p>
								<div class="dropBoxArea">
									<div class="basic-dropdown" style="display: inline;">
										<div class="dropdown">
											<button type="button" id="editPIssuKndVal" class="badge badge-dark"
												data-toggle="dropdown"></button>
											<div class="dropdown-menu" style="cursor: pointer;">
												<a class="dropdown-item"><span
														class="badge badge-pill badge-warning">개선사항</span></a> <a
													class="dropdown-item"><span
														class="badge badge-pill badge-info">새기능</span></a> <a
													class="dropdown-item"><span
														class="badge badge-pill badge-light">업무</span></a> <a
													class="dropdown-item"><span
														class="badge badge-pill badge-danger">버그</span></a>
											</div>
										</div>
									</div>
								</div>

								<div class="editPIssueSt">
									<p>상태</p>
									<div class="dropBoxArea">
										<div class="basic-dropdown" style="display: inline;">
											<div class="dropdown">
												<button type="button" id="editPIssuStVal" class="badge badge-dark"
													data-toggle="dropdown"></button>
												<div class="dropdown-menu" style="cursor: pointer;">
													<a class="dropdown-item"><span
															class="badge badge-pill badge-success">해결</span></a> <a
														class="dropdown-item"><span
															class="badge badge-pill badge-info">미해결</span></a> <a
														class="dropdown-item"><span
															class="badge badge-pill badge-light">해결불가</span></a>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="editPIssueRank">
									<p>중요도</p>
									<div class="dropBoxArea">
										<div class="basic-dropdown">
											<div class="dropdown">
												<button type="button" class="badge badge-dark" data-toggle="dropdown"
													id="editPIssuRankVal"></button>
												<div class="dropdown-menu" style="cursor: pointer;">
													<a class="dropdown-item"><span
															class="badge badge-primary">매우높음</span></a> <a
														class="dropdown-item"><span
															class="badge badge-secondary">높음</span></a> <a
														class="dropdown-item"><span
															class="badge badge-success">보통</span></a> <a
														class="dropdown-item"><span
															class="badge badge-warning">낮음</span></a> <a
														class="dropdown-item"><span
															class="badge badge-danger">매우낮음</span></a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!--/* 이슈 종류, 중요도, 상태 END */-->
							<div class="editingPIContent">
								<div class="editingPISection">
									<div class="sectionTitle">
										<p class="sectionTitleText">내용</p>
									</div>

									<div id="editorPIEditing" style="width: 630px;"></div>

								</div>

								<div class="editingPIAttachSection">
									<div class="sectionTitle">
										<p class="sectionTitleText">파일</p>
										<div class="editingPILoadBtn upload">
											<span></span>
											<p>파일 업로드</p>
											<input type="file" class="editPIReal-upload" id="editPIFiles"
												name="editPIFiles" multiple onchange="addPIssueFile(this);"
												style="display: none;">
										</div>
									</div>
									<div class="piFileUpload dz">
										<div class="dz-message" style="width: 630px;">
											<table class="table">
												<thead>
													<tr>
														<th>파일명</th>
														<th>크기</th>
														<th></th>
													</tr>
												</thead>
												<tbody id="editPIssueFileList">
												</tbody>
											</table>
										</div>
									</div>
								</div>

								<div class="editPIHashtagSection">
									<div class="sectionTitle">
										<p class="sectionTitleText">해시태그</p>
									</div>
									<input name='input-custom-dropdownPIE' class='tagify__dropdown__itemPIE'
										placeholder='Enter키로 등록하세요. 최대 5개까지 등록이 가능합니다.'>
								</div>
							</div>
							<!--/* 이슈 수정폼에서 수정 취소 확인 START */-->
							<div class="modal fade" id="cancelPIEditConfirmationModal" tabindex="-1"
								style="display: none; margin-top: 200px; margin-left: 200px;" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header" style="border-bottom: none;">

										</div>
										<div class="modal-body" id="cancelPIEditConfirmationModalBody">
											<img class="cancelWarning"> <span id="modal-meg" class="notice_msg"> 현재 수정중인
												글은 저장되지 않습니다.<br> 뒤로
												가시겠습니까?
											</span>
										</div>
										<div class="modal-footer" style="border-top: none;">
											<button type="button" class="btn btn-danger btn-sm"
												id="cancelPIEditCancel">취소</button>
											<button type="button" class="btn btn-light btn-sm"
												id="confirmPIEditCancel">확인</button>
										</div>
									</div>
								</div>
							</div>
							<!--/* 이슈 수정폼에서 수정 취소 확인 END */-->

							<!--/* 이슈 수정폼에서 제목 입력되지 않았을 때 START */-->
							<div class="modal fade" id="editPICheckingInput" tabindex="-1"
								style="display: none; margin-top: 200px; margin-left: 200px;" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header" style="border-bottom: none;">

										</div>
										<div class="modal-body" id="editPIConfirmationModalBody">
											<img class="cancelWarning"> <span id="modal-meg" class="notice_msg">제목 을
												입력하세요!<br>
											</span>
										</div>
										<div class="modal-footer" style="border-top: none;">
											<button type="button" class="btn btn-info btn-sm"
												id="confirmPIEditCheckingInput" style="margin: auto;">확인
											</button>
										</div>
									</div>
								</div>
							</div>
							<!--/* 이슈 수정폼에서 제목 입력되지 않았을 때 END */-->
						</div>
						<!--/* 이슈 수정폼 END */-->
					</div>
				</div>
			</div>
		</div>
	</div>
	<th:block th:if="${pissueInfo.bussNo > 0}">
		<button type="button" class="openBM" onclick="theBusinessModal()">해당 업무로 이동</button>
	</th:block>
	<div data-include1="showModalMain"></div>
	<!--/* 이슈 삭제시 경고창 END */-->
	<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify"></script>
	<script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.polyfills.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
	<script src="/js/common.js"></script>
	<script th:inline="javascript">
		window.onload = function () {
			let navItemHome = $('.nav-link').eq(3);
			navItemHome.addClass('active');
		}

		let piMemberId = [[${ session.loginInfo.membId }]];
		let pIssuNo = [[${ pissueInfo.issuNo }]];
		let bussNo = [[${ pissueInfo.bussNo }]];
		let piprjtNo = [[${ prjtNo }]];
		$('.fs').each(function (idx, item) {
			$(item).text(getByteSize($(item).text()));
		});

		$(document).ready(function () {
			countReplyP(pIssuNo);
			countFileP(pIssuNo);
			checkPIFile();
		})

		function fileDownloading(issuNo, issuFileNo) {
			location.href = '/issues/' + issuNo + '/files/' + issuFileNo + '/download';
		}
		const piviewer = toastui.Editor.factory({
			el: document.querySelector('#piviewer'),
			viewer: true,
			height: '600px'
		})

		piviewer.setMarkdown([[${ pissueInfo.issuCntn }]]);
		// 종류
		let piKndVal = $('.pIssueKndInfo');
		let piStVal = $('.pIssueStInfo');
		let piRankVal = $('.pIssueRankInfo');

		if ([[${ pissueInfo.issuKnd }]] == '0L1') {
			piKndVal.append('<p>종류</p><div class="label label-danger" style="margin-bottom: 15px; ">버그</div>');
		} else if ([[${ pissueInfo.issuKnd }]] == '0L2') {
			piKndVal.append('<p>종류</p><div class="label label-warning" style="margin-bottom: 15px; ">개선사항</div>');
		} else if ([[${ pissueInfo.issuKnd }]] == '0L3') {
			piKndVal.append('<p>종류</p><div class="label label-info" style="margin-bottom: 15px; ">새기능</div>');
		} else if ([[${ pissueInfo.issuKnd }]] == '0L4') {
			piKndVal.append('<p>종류</p><div class="label label-light" style="margin-bottom: 15px; ">업무</div>');
		}
		// 상태
		if ([[${ pissueInfo.issuSt }]] == '0E1') {
			piStVal.append('<p>상태</p><div class="label label-success" style="margin-bottom: 15px; ">해결</div>');
		} else if ([[${ pissueInfo.issuSt }]] == '0E2') {
			piStVal.append('<p>상태</p><div class="label label-dark" style="margin-bottom: 15px; ">미해결</div>');
		} else if ([[${ pissueInfo.issuSt }]] == '0E3') {
			piStVal.append('<p>상태</p><div class="label label-primary" style="margin-bottom: 15px; ">해결불가</div>');
		}

		if ([[${ pissueInfo.issuRank }]] == '0G1') {
			piRankVal.append('<p>중요도</p><div class="label label-secondary" style="margin-bottom: 15px; ">매우높음</div>');
		} else if ([[${ pissueInfo.issuRank }]] == '0G2') {
			piRankVal.append('<p>중요도</p><div class="label label-primary" style="margin-bottom: 15px; ">높음</div>');
		} else if ([[${ pissueInfo.issuRank }]] == '0G3') {
			piRankVal.append('<p>중요도</p><div class="label label-success" style="margin-bottom: 15px; ">보통</div>');
		} else if ([[${ pissueInfo.issuRank }]] == '0G4') {
			piRankVal.append('<p>중요도</p><div class="label label-warning" style="margin-bottom: 15px; ">낮음</div>');
		} else if ([[${ pissueInfo.issuRank }]] == '0G5') {
			piRankVal.append('<p>중요도</p><div class="label label-danger" style="margin-bottom: 15px; ">매우낮음</div>');
		}

		$(document).on('click', '.p-t-15p', function () {
			if ($('.pIssueInfoFileList').css("display") == "none") {
				$('.pIssueInfoFileList').css('display', 'block');
			} else {
				$('.pIssueInfoFileList').css('display', 'none');
			}

			$('.pIssueInfoCommentList').css('display', 'none');
		});

		$(document).on('click', '.p-t-16p', function () {
			if ($('.pIssueInfoCommentList').css("display") == "none") {
				$('.pIssueInfoCommentList').css('display', 'block');
				findAllReplyP();
			} else {
				$('.pIssueInfoCommentList').css('display', 'none');
			}

			$('.pIssueInfoFileList').css('display', 'none');
		});

		// 댓글 카운트

		function countReplyP(issuNo) {
			$.ajax({
				url: '/issues/' + issuNo + '/reply/count',
				type: 'get'
			})
				.done(function (response) {
					$('#countReplyP').text('(' + response + ')');
				})
				.fail(function (err) {
					console.log(err)
				})
		}

		// 파일 카운트
		function countFileP(issuNo) {
			$.ajax({
				url: '/issues/' + issuNo + '/files/count',
				type: 'get'
			})
				.done(function (response) {
					$('#countFileP').text('(' + response + ')');
				})
				.fail(function (err) {
					console.log(err)
				})
		}
		
		// 제목 입력하는 textarea 클릭시 focus
		$('.modalPIssueNameEdit').on('click', function () {
			$('.editPIssueNameBack').addClass('focus');
		});
		// textarea 벗어날 때 focus 클래스 삭제하기.
		$('.modalPIssueNameEdit').on('blur', function () {
			$('.editPIssueNameBack').removeClass('focus');
		});

		// 댓글 길이 카운팅
		function countingLengthP(content) {
			if (content.value.length > 300) {
				Swal.fire({
					icon: 'error',                         // Alert 타입
					text: '댓글을 300자 이하로 입력해 주세요.',  // Alert 내용
				});
				content.value = content.value.substring(0, 300);
				content.focus();
			}
			document.getElementById('counter').innerText = content.value.length + '/300자';
		}

		// 댓글 저장
		function saveReplyP() {
			let issueReplyCntn = document.getElementById('pIssueReplyCntn').value;
			issueReplyCntn = issueReplyCntn.replaceAll(/(\n|\r\n)/g, '<br>');
			const issuNo = pIssuNo;
			const params = {
				issuNo: issuNo,
				issuRplyCntn: issueReplyCntn,
				membId: piMemberId
			}

			$.ajax({
				url: '/issues/' + issuNo + '/reply',
				type: 'post',
				contentType: 'application/json;',
				data: JSON.stringify(params)
			})
				.done(function () {
					findAllReplyP();
					countReplyP(issuNo);
					$('#pIssueReplyCntn').val('');
				})
				.fail(function (error) {
					console.log(error)
				})
		}

		// 전체 댓글 조회
		function findAllReplyP() {
			const issuNo = pIssuNo;

			$.ajax({
				url: '/issues/' + issuNo + '/reply',
				type: 'GET'
			})
				.done(function (response) {

					// 1. 조회된 데이터가 없는 경우
					if (!response.length) {
						document.querySelector('.pIssueReviews').innerHTML = '<div class="cm_none"><p>등록된 댓글이 없습니다.</p></div>';
						return false;
					}

					// 2. 렌더링 할 HTML을 저장할 변수
					let commentHtml = '';

					// 3. 댓글 HTML 추가
					response.forEach(row => {
						commentHtml += `                            
		                            <div class="pIssueReviews">
									<div class="issue__reply__itemP">
										<div class="issue__reply__itemP__pic">
											<img src="/upload/${row.membPhtPath}" alt="">
										</div>
										<div class="issue__reply__itemP__text">
											<h6>${row.membNm} - <span>${dateFormatting(row.issuRplyDt)}</span>
											${row.membId == piMemberId ? `
											<a id="edit_btn" onclick="openReplyPUpdateForm(${row.issuRplyNo})"> <img class="toolsIcon"
												src="https://community.akamai.steamstatic.com/public/images//sharedfiles/icons/icon_edit.png" 
												style="margin-left: 345px; ">
												수정
											</a>
											<a id="del_btn" onclick="deleteReplyP(${row.issuRplyNo});"> <img class="toolsIcon"
												src="https://community.akamai.steamstatic.com/public/images//sharedfiles/icons/icon_delete.png">
												삭제
											</a>` : ''}
											
											</h6>
											
											<div id="IssueReplyPEditForm_${row.issuRplyNo}" style="display: none;">
													<textarea id="updateReplyCommentP_${row.issuRplyNo}" class="replyP_edit_text_area" maxlength="300" rows="2"
														cols="30" placeholder="수정할 내용을 입력"></textarea>
													<button type="button" class="button condensed save" id="replyPUpdateBtn" onclick="updateReplyP(${row.issuRplyNo})">저장</button>
													<button type="button" class="button condensed cancel"
														onclick="closeReplyPUpdateForm(${row.issuRplyNo});">취소</button>
											</div>
											
											
											<p id="replyPText_${row.issuRplyNo}">${row.issuRplyCntn}</p>
										</div>
									</div>
		                        `;

						// 4. class가 "IssueReviews"인 요소를 찾아 HTML을 렌더링
						document.querySelector('.pIssueReviews').innerHTML = commentHtml;

					})
					countReplyP(issuNo);
				})
				.fail(function (err) {
					console.log(err)
				})
		}
		// 드랍다운
		$('.dropdown-item').on('click', function () {
			$(this).parent().siblings().attr('class', $(this).children().attr('class'));
			$(this).parent().siblings().text($(this).text());
			checkPIEditInput();
		});
		// 댓글 수정 div open
		function openReplyPUpdateForm(id) {

			const issuNo = pIssuNo;
			const issuRplyNo = id;
			$.ajax({
				url: '/issues/' + issuNo + '/reply/' + issuRplyNo,
				type: 'get'
			})
				.done(function (response) {
					let editForm = document.getElementById('IssueReplyPEditForm_' + id);
					let replyText = document.getElementById('replyPText_' + id);

					if (editForm.style.display === 'none') {
						editForm.style.display = 'block';
						replyText.style.display = 'none';
					} else {
						editForm.style.display = 'none';
						replyText.style.display = 'block';
					}
					var text = response.issuRplyCntn;
					text = text.replaceAll('<br>', '\r\n');
					document.getElementById('updateReplyCommentP_' + id).value = text;

				})

				.fail(function (err) {
					console.log(err)
				})

		}

		// 댓글 수정 div close
		function closeReplyPUpdateForm(id) {
			document.getElementById('updateReplyCommentP_' + id).value = '';
			document.getElementById('replyPUpdateBtn').removeAttribute('onclick');

			document.getElementById('IssueReplyPEditForm_' + id).style.display = 'none';
			document.getElementById('replyPText_' + id).style.display = 'block';
		}

		// 댓글 수정 ajax
		function updateReplyP(id) {
			const issuNo = pIssuNo;
			const issuRplyNo = id;
			const writer = piMemberId;
			let content = document.getElementById('updateReplyCommentP_' + id);
			content = content.value.replaceAll(/(\n|\r\n)/g, '<br>');

			const params = {
				issuRplyNo: id,
				issuNo: issuNo,
				issuRplyCntn: content,
				membId: writer
			}

			$.ajax({
				url: '/issues/' + issuNo + '/reply/' + issuRplyNo,
				type: 'put',
				contentType: 'application/json;',
				data: JSON.stringify(params)
			})
				.done(function (response) {
					findAllReplyP();
					closeReplyPUpdateForm(id);
					countReplyP(issuNo);
				})

				.fail(function (err) {
					console.log(err)
				})
		}

		// 댓글 삭제
		function deleteReplyP(id) {

			$('#delPConfirmationModal').modal('show');

			$('#delPCancel').on('click', function () {
				$('#delPConfirmationModal').modal('hide');
			})

			$('#delPConfirm').on('click', function () {
				const issuNo = pIssuNo;
				const issuRplyNo = id;

				$.ajax({
					url: '/issues/' + issuNo + '/reply/' + issuRplyNo,
					type: 'delete'
				})
					.done(function (response) {
						findAllReplyP();
						countReplyP(issuNo);
						$('#delPConfirmationModal').modal('hide');
					})

					.fail(function (err) {
						console.log(err)
					})
			})
		}
		// 프로젝트 이슈 게시판으로 돌아가기
		function returnPIssueList() {
			location.href = '/project/issues/' + piprjtNo;
		}

		// 프로젝트 게시판에서 이슈 삭제
		function deletePIssue() {
			let issuNo = pIssuNo;
			// 경고창
			$('#delPConfirmationModal').modal('show');

			$('#delPCancel').on('click', function () {
				$('#delPConfirmationModal').modal('hide');
			})

			$('#delPConfirm').on('click', function () {
				$.ajax({
					url: '/project/issues/del',
					type: 'post',
					data: { issuNo: issuNo } // 데이터를 객체 형식으로 전달
				})
					.done(function (response) {
						$('#delPConfirmationModal').modal('hide');
						location.href = '/project/issues/' + piprjtNo;
					})
					.fail(function (err) {
						console.log(err)
					})
			})
		}
		// 업로드 된 파일이 없을 경우 ..
		function checkPIFile() {
			if ($('#pIssueInfoFiles tr').length == 0) {
				let trTag = $('<tr/>').attr('class', 'fileEmpty');
				let fileEmptyTag = $('<td/>').text('등록된 파일이 없습니다.').css('color', '#A8A8A8');
				let emptyTdTag = $('<td/>');
				let emptyTdTags = $('<td/>');
				trTag.append(fileEmptyTag);
				trTag.append(emptyTdTag);
				trTag.append(emptyTdTags);
				$('#pIssueInfoFiles').append(trTag);
			};
		};

		// 업로드 된 파일이 없을 경우 ..
		function checkPIEditFile() {
			if ($('#editPIssueFileList tr').length == 0) {
				let trTag = $('<tr/>').attr('class', 'fileEmpty');
				let fileEmptyTag = $('<td/>').text('등록된 파일은 여기에 저장됩니다.').css('color', '#A8A8A8');
				let emptyTdTag = $('<td/>');
				let emptyTdTags = $('<td/>');
				trTag.append(fileEmptyTag);
				trTag.append(emptyTdTag);
				trTag.append(emptyTdTags);
				$('#editPIssueFileList').append(trTag);
			};
		};
		<!-- 프로젝트 게시판 내 이슈 수정 시작 -->

		// 수정 폼에서 HashTag 폼.
		let inputHashPIE = document.querySelector('input[name="input-custom-dropdownPIE"]');

		let tagifyPIE = new Tagify(inputHashPIE, {
			maxTags: 5, // 최대 허용 태그 개수
			dropdown: {
				position: "input",
				classname: "tags-look", // 드롭다운 메뉴 엘리먼트 클래스 이름.
				enabled: 0
				// always opens dropdown when input gets focus
			}
		})

		// 이슈 수정 창에서 해시태그 리스트 조회
		function findAllPIHashtag() {
			let issuNo = pIssuNo;
			$('.tagify__tag').remove();

			$.ajax({
				url: '/issues/' + issuNo + '/hashtags',
				type: 'get',
				success: function (response) {
					let hts = [];
					$.each(response, function (idx, item) {
						hts.push(item.issuHtNm);
					})
					inputHashPIE.value = hts.join(',');
				},
				error: function (err) {
					console.log(err);
				}

			});
		}
		const editorPIEditing = new toastui.Editor({
			el: document.querySelector('#editorPIEditing'), // 에디터를 적용할 요소 (컨테이너)
			height: '400px', // 에디터 영역의 높이 값 (OOOpx || auto)
			initialEditType: 'wysiwyg', // 최초로 보여줄 에디터 타입 (markdown || wysiwyg)
			initialValue: '내용을 입력해 주세요.', // 내용의 초기 값으로, 반드시 마크다운 문자열 형태여야 함
			previewStyle: 'vertical' // 마크다운 프리뷰 스타일 (tab || vertical)
		})

		editorPIEditing.removeToolbarItem("image");

		// 이슈 수정 폼
		function switchPIEditForm() {

			const issuNo = pIssuNo;

			$.ajax({
				url: '/ModalIssueInfo?issuNo=' + issuNo,
				type: 'get'
			})
				.done(function (response) {
					let issueEditForm = $('#piEditModal');
					issueEditForm.modal('show');
					let kndVal = document.getElementById('editPIssuKndVal');
					let stVal = document.getElementById('editPIssuStVal');
					let rankVal = document.getElementById('editPIssuRankVal');
					
					let starr= {'0E1':['success','해결'], 
						    	'0E2':['dark','미해결'],
						    	'0E3':['secondary','해결불가']
					       	   }
			
			 		let kndarr = {'0L1':['danger','버그'], 
					          	  '0L2':['warning','개선사항'],
					          	  '0L3':['info','새기능'],
					          	  '0L4':['light','업무']
					         	 }  
			
			  		let rankarr = {'0G1':['primary','매우높음'], 
						       	   '0G2':['secondary','높음'],
						           '0G3':['success','보통'],
						           '0G4':['warning','낮음'],
						           '0G5': ['danger','매우낮음']						          
								  }
					
					document.getElementById('editPIssuTtlVal').value = response.issueInfo.issuTtl;
					editorPIEditing.setHTML(response.issueInfo.issuCntn);
					
					kndVal.className ='badge badge-pill badge-' + kndarr[response.issueInfo.issuKnd][0];
					kndVal.innerHTML = kndarr[response.issueInfo.issuKnd][1];			
					
					stVal.className = 'badge badge-' + starr[response.issueInfo.issuSt][0];
					stVal.innerHTML = starr[response.issueInfo.issuSt][1];
					
					rankVal.className = 'badge badge-' + rankarr[response.issueInfo.issuRank][0];
					rankVal.innerHTML = rankarr[response.issueInfo.issuRank][1];				

					findAllPIHashtag();
					checkPIEditInput();
					findAllPIFile();
					checkPIEditFile();
				})

				.fail(function (err) {
					console.log(err)
				})
		}
		// 이슈 수정 창에서 파일 리스트 조회
		function findAllPIFile() {
			let issuNo = pIssuNo;
			$('#editPIssueFileList').empty();
			$.ajax({
				url: '/issues/' + issuNo + '/files',
				type: 'get'
			})
				.done(function (response) {
				
					$.each(response, function (idx, item) {
						$('.fileEmpty').remove();
						let trTag = $('<tr/>').data('editFileNo', item.issuFileNo);
						let fileNameTag = $('<td/>').text(item.issuFileNm);
						let fileSizeTag = $('<td/>').text(getByteSize(item.issuFileSize));
						let deleteFileTag = $('<td/>').attr('class', 'deletePIEditFile').attr('onclick', 'removePIExistingFile(this,' + item.issuFileNo + ')'); // 기존꺼 삭제하는 함수.

						trTag.append(fileNameTag);
						trTag.append(fileSizeTag);
						trTag.append(deleteFileTag);

						$('#editPIssueFileList').append(trTag);
						checkPIEditFile();

					})
				})
				.fail(function (err) {
					console.log(err);
				})
		}
		// "수정" 버튼 활성화 or 비활성화 (제목, 종류, 중요도) 3개의 값이 다 들어오는 경우 활성화 된다.
		function checkPIEditInput() {
			let issuTtlVal = $('#editPIssuTtlVal').val();

			if (issuTtlVal == '') {
				$('.completePIEditing').removeClass('registrable');
			} else {
				$('.completePIEditing').addClass('registrable');
			}
		}

		$('#editPIssuTtlVal').on('change', function () {
			checkPIEditInput();
		});



		// 이슈 수정하기 취소 버튼
		$('.modalPIssueEditForm').on('click', '.cancelPIEditing', function () {
			$('#cancelPIEditConfirmationModal').modal('show');

			// ' 확인' 버튼이 클릭 시
			$('#confirmPIEditCancel').on('click', function () {
				// 입력 필드 초기화

				$('#editPIssuTtlVal').val('');
				editorPIEditing.setHTML('');
				editPIDataTransfer.clearData();
				$('#cancelPIEditConfirmationModal').modal('hide');
				$('#piEditModal').modal('hide');

			});

			// '취소' 버튼 클릭 시
			$('#cancelPIEditCancel').on('click', function () {
				$('#cancelPIEditConfirmationModal').modal('hide');
			});
		});

		$('.completePIEditing').on('click', function () {
			// "수정" 버튼이 활성화 상태일 때만 실행됨
			if ($(this).hasClass('registrable')) {
				updatePIssue();
			} else {
				$('#editPICheckingInput').modal('show');
				// 확인 버튼 클릭 시
				$('#confirmPIEditCheckingInput').on('click', function () {
					$('#editPICheckingInput').modal('hide');
				});
			}
		});

		// ajax 프로젝트 게시판 내에서 이슈 수정
		function updatePIssue() {
			let formData = new FormData();

			let issuNo = pIssuNo;
			formData.append('issuNo', issuNo);

			let title = $('#editPIssuTtlVal').val();
			formData.append('issuTtl', title);

			let content = editorPIEditing.getHTML();
			formData.append('issuCntn', content);

			let pihtupdateobj = tagifyPIE.value;
			let pihtupdateobjVal = pihtupdateobj.map(row => row.value);
			formData.append('edithashtags', pihtupdateobjVal);

			let kind = $('#editPIssuKndVal').text();
			let rank = $('#editPIssuRankVal').text();
			let status = $('#editPIssuStVal').text();

			// 중요도 text 값 확인 후 data로 넣기 !
			if (rank == '매우높음') {
				rank = '0G1';
			} else if (rank == '높음') {
				rank = '0G2';
			} else if (rank == '보통') {
				rank = '0G3';
			} else if (rank == '낮음') {
				rank = '0G4';
			} else if (rank == '매우낮음') {
				rank = '0G5';
			}
			// 종류 text 값 확인 후 data로 넣기 !
			if (kind == '버그') {
				kind = '0L1';
			} else if (kind == '개선사항') {
				kind = '0L2';
			} else if (kind == '새기능') {
				kind = '0L3';
			} else if (kind == '업무') {
				kind = '0L4';
			}

			// 상태 text 값 확인 후 data로 넣기 !
			if (status == '해결') {
				status = '0E1';
			} else if (status == '미해결') {
				status = '0E2';
			} else if (status == '해결불가') {
				status = '0E3';
			}
			formData.append('issuRank', rank);
			formData.append('issuKnd', kind);
			formData.append('issuSt', status);

			let inputFiles = document.querySelector('.editPIReal-upload');
			let filesInfo = inputFiles.files;

			for (i = 0; i < filesInfo.length; i++) {
				formData.append("editFiles", filesInfo[i]);
			}
			formData.append('removeFileIds', removePIFileId.getAll().join());

			$.ajax({
				url: '/ModalIssueUpdate',
				type: 'post',
				processData: false,	//기본값은 true, ajax 통신을 통해 데이터를 전송할 때, 기본적으로 key와 value값을 Query String으로 변환해서 보냅니다.
				contentType: false,	// multipart/form-data타입을 사용하기위해 false 로 지정합니다.
				data: formData
			})
				.done(function (response) {
					$('#piEditModal').modal('hide');
					removePIFileId.removeAll();
					editPIDataTransfer.clearData();
					location.reload();
				})
				.fail(function (err) {
					console.log(err)
				})
		}

		// 수정 폼에서 파일 추가
		const editPIRealUpload = document.querySelector('.editPIReal-upload');
		const editPIUpload = document.querySelector('.editingPILoadBtn.upload');
		editPIUpload.addEventListener('click', () => editPIRealUpload.click());

		function addPIssueFile(element) {
			const file = element.files[0];

			// 1. 파일 선택 창에서 취소 버튼이 클릭 되는 경우
			if (!file) {
				return false;
			}
			// 2. 파일 크기가 10MB을 초과하는 경우
			const editFileSize = Math.floor(file.size / 1024 / 1024);
			if (editFileSize > 10) {
				Swal.fire({
					icon: 'error',                         // Alert 타입
					text: '10MB 이하의 파일을 업로드 해 주세요.',  // Alert 내용
				});
				return false;
			}

			if (file) {
				$('.fileEmpty').remove();
				let trTag = $('<tr/>').addClass('added');
				let fileNameTag = $('<td/>').text(file.name);
				let fileSizeTag = $('<td/>').text(getByteSize(file.size));
				let deleteFileTag = $('<td/>').attr('class', 'deletePIEditFile').attr('onclick', 'editRemovePIFile(this);');

				trTag.append(fileNameTag);
				trTag.append(fileSizeTag);
				trTag.append(deleteFileTag);

				$('#editPIssueFileList').append(trTag);
			}
		}

		const editPIDataTransfer = new DataTransfer();

		$("#editPIFiles").change(function () {
			let fileArr = document.getElementById("editPIFiles").files

			if (fileArr != null && fileArr.length > 0) {
				let maxSize = 10 * 1024 * 1024;

				for (let i = 0; i < fileArr.length; i++) {
					let fileSize = fileArr[i].size;
						if (fileSize > maxSize) {
							$(this).val('');
						} else {
							editPIDataTransfer.items.add(fileArr[i])
						}
				}
			  	document.getElementById('editPIFiles').files = editPIDataTransfer.files;
			}
		})
		// 수정 폼에서 새롭게 추가된 파일 삭제 시
		function removeEditPIFileFromDataTransfer(element) {
			let addedFiles = $(".added");
			let index = addedFiles.index($(element).parent());
			if (index != -1) {
				editPIDataTransfer.items.remove(index);
				document.getElementById("editPIFiles").files = editPIDataTransfer.files;

			}
		}
		// 수정 폼에서 새롭게 추가된 파일 삭제 시
		function editRemovePIFile(element) {
			removeEditPIFileFromDataTransfer(element);
			let tr = $(element).closest('tr');
			tr.remove();
			checkPIEditFile();
		}

		// 파일 삭제 처리용 익명 함수
		const removePIFileId = (function () {
			const ids = [];
			return {
				add(id) {
					if (ids.includes(id)) {
						return false;
					}
					ids.push(id);
				},
				getAll() {
					return ids;
				},
				removeAll() {
					ids.length = 0;
				}
			}
		}());

		// 수정 폼 기존 파일 삭제
		function removePIExistingFile(element, id) {
			// 1. 삭제할 파일 id 추가
			if (id) {
				removePIFileId.add(id);
			}
			// 2. 파일 영역 삭제
			let tr = $(element).closest('tr');
			tr.remove();
			checkPIEditFile();
		}


		// Modal Open
		$(function () {
			let includes1 = $('[data-include1="showModalMain"]');
			jQuery.each(includes1, function () {
				$(this).load('/modal/modal-home.html');
			});
		})

		function theBusinessModal() {
			bussNo = [[${ pissueInfo.bussNo }]];
			miPrjtNo = [[${ pissueInfo.prjtNo }]];
			$('#workModal').modal('toggle');
		}
	</script>

</th:block>

</html>