
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout}">
<head>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js">
	
</script>

<style>
.content-body {
	margin-left: 200px;
}

#FileSearch {
	margin-right: 30px;
	width: 200px;
	height: 41px;
	border-radius: 5px;
	text-align: center;
	border-color: #C0C0C0;
}

.card {
	display: block;
}

.content-body {
	padding-left: 20px;
}

#upAnddown {
	display: inline-block;
	float: right;
	margin-left: 100px;
}

.weCard {
	margin-top: 70px;
	display: flex;
	flex-wrap: wrap;
	width: 80%;
}

.card {
	flex: 1;
	cursor: pointer;
}

.card:hover {
	border: solid 0.5px red;
}

hr {
	width: 100%;
}

#FileInsert {
	float: right;
	display: block;
	width: 50px;
	height: 30px;
	margin-right: 130px;
	border-radius: 5px;
	color: white;
	font-size: 15px;
	width: 120px;
	font-weight: bold;
}

.FileText {
	font-weight: bold;
	font-size: 20px;
}

#DataBox {
	width: 500px;
	height: 150px;
	padding: 20px;
	background-color: #DCDCDC;
	display: block;
}

#jobDown {
	width: 180px;
	display: block;
	float: right;
	margin-right: 127px;
}

#FileSearch {
	display: block;
	margin-right: 30px;
	width: 300px;
	height: 41px;
	border-radius: 5px;
	text-align: left;
	border-color: black;
	padding-left: 15px;
}

#ulLeft {
	display: inline-block;
}

#ulLeft li {
	float: left;
}

#modal {
	margin-left: 150px;
}

#FileUpload {
	margin-bottom: 20px;
	font-size: 15px;
}

#fileBoxName {
	font-weight: bold;
	padding-right: 30px;
}

#fileBoxSize {
	font-weight: bold;
	padding-right: 30px;
}

#closeBtn {
	
}
</style>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
	integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://code.jquery.com/jquery-3.7.1.js"
	integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
	crossorigin="anonymous"></script>
</head>
<th:block layout:fragment="content">
	<div class="content-container">
		<div class="content-body">

			<!-- ===================== 모달 업로드 부분 ============================ -->
			<div class="modal fade" id="workModal" tabindex="-1"
				aria-labelledby="sidebarModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content"
						style="box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.15); width: 780px; top: calc(( 86vh - 601px)/2); height: 671px; opacity: 1; z-index: 500;">
						<!-- 모달 헤더 부분 -->
						<div class="modal-header">
							<button type="button" class="btn-close" data-dismiss="modal"
								aria-label="Close"></button>
						</div>
						<div class="modal-content-container">

							<div class="modal-body"></div>
						</div>
						<div id="modal">
							<button id="FileInsert" type="button" class="btn mb-1 btn-info"
								onclick="saveFiles()">등록</button>
							<br> <br> <br> <br> <br> <br> <br>
							<ul id="ulLeft">
								<li class="FileText" style="margin-right: 300px"><p>첨부파일</p></li>
								<li><input type="file" id="selectedFile"
									style="display: none;" multiple="multiple"
									onchange="saveRealRealFile(this)" /> <input type="button"
									id="FileUpload" value="업로드" class="btn mb-1 btn-info" /></li>
							</ul>

							<!-- 데이터 들어갈 박스 -->
							<span id="DataBox">
								<table>
									<thead>
										<tr>
										</tr>
									</thead>
									<tbody id="modalTbody">

									</tbody>
								</table>

							</span> <br>

							<!-- 업무선택 드랍다운 -->
							<div class="form-group">
								<select class="form-control" id="jobDown" name="jobDown">
									<th:block th:each="bussNm : ${driveBussName}">
										<option th:value="${bussNm.bussNo}"
												th:text="${bussNm.bussNm}"></option>
									</th:block>
								</select>
							</div>
							<br> <br> <br>

							<p class="FileText">파일설명</p>
							<input id="FileSearch" type="text" placeholder="설명을 입력해주세요">
						</div>
					</div>

				</div>
			</div>
			<!-- 모달 끝 ============================================================================= -->

			<!-- 검색 필터 -->

			<div id="backWidth" class="SearchBox">
				<label for="SearchToggleCheckBox" th:attr="onclick='fileSearch()'"></label>
				<input type="hidden" id="pType" name="pType" value="파일명">
				<div class="SearchInputBox" style="width: 270px;">
					<div>
						<div class="file-selectBox"
							style="width: 100px; background-color: white;">
							<div class="file-selected" id="file-selected">
								<div class="file-selected-value">파일명</div>
								<div class="arrow"></div>
							</div>
							<ul class="file-select-ul"
								style="width: 100px; top: 20%; display: none;">
								<li class="file-select-option" data-value="파일명">파일명</li>
								<li class="file-select-option" data-value="작성자">작성자</li>
							</ul>
						</div>
					</div>

					<!-- 검색 인풋 -->
					<input class="SearchInputModalView" id="pKeyword" name="pKeyword"
						type="text" placeholder="검색어를 입력하세요.">
				</div>

				<!-- 파일업로드 및 삭제 -->
				<div id="upAnddown">

					<!-- 확장자 필터 드랍다운 -->
					<select id="filter" name="filter" onchange="driveFilter(this)"
						style="width: 70px; border-radius: 20px; text-align: center; padding: 5px; margin-right: 40px;">
						<option value="">전체</option>
						<option value="xls">XLS</option>
						<option value="pptx">PPTX</option>
						<option value="pdf">PDF</option>
						<option value="zip">ZIP</option>
						<option value="txt">TXT</option>
						<option value="jpg">JPG</option>
						<option value="png">PNG</option>
					</select> <input type="button" id="driveFile " value="업로드"
						class="btn mb-1 btn-info" style="margin-right: 30px"
						data-toggle="modal" data-target="#workModal" />

					<button id="FileDown" type="button" class="btn mb-1 btn-info"
						style="margin-right: 30px;">다운로드</button>

					<button id="FileDelete" type="button" class="btn mb-1 btn-dark">삭제</button>

				</div>
			</div>
			<hr>
			<br> <br>

			<div class="ModalInfoArea IssueInfoArea">
				<div class="col-lg-6" style="width: 100%; max-width: 100%;">
					<div class="table-responsive">
						<table class="table table-hover" style="overflow: auto;">
							<thead>
								<tr>
									<th style="font-weight: normal;">파일명</th>
									<th style="font-weight: normal;">크기</th>
									<th style="font-weight: normal;">작성자</th>
									<th style="font-weight: normal;">등록일자</th>
									<th style="font-weight: normal;">확장자</th>
									<th style="font-weight: normal;"></th>
									<th style="font-weight: normal;"></th>
								</tr>

							</thead>
							<form id="checkBoxForm">
								<tbody id="newTrTd">
									<th:block th:each="fileList : ${pFileList}">
										<tr id="tdData" th:data-fileno="${fileList.fileNo}" style="padding-bottom: 15px;">
											<td th:text="${fileList.fileNm}" />
											<td class="fSize" th:text="${fileList.fileSize}" />
											<td th:text="${fileList.membNm}" />
											<td
												th:text="${#temporals.format(fileList.fileDt, 'yyyy-MM-dd')}" />
											<td th:text="${fileList.fileType}" />
											<!-- 다운로드 아이콘 -->
											<td class="downIcon"><i class="fa-solid fa-download"></i></td>
											<!-- 쓰레기 아이콘 -->
											<td class="trashIcon"><i class="fa-solid fa-trash"></i></td>
											<td><input type="hidden" name="files"
												th:value="${fileList.fileNo}"></td>
										</tr>
									</th:block>
								</tbody>
							</form>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
	
		var drivePrjtNo = "[[${prjtNo}]]";
		var driveMembId = "[[${session.loginInfo.membId}]]";
		var driveBussNo = "[[${bussNo}]]";
		
		// ======== 파일 바이트 계산 ========
		function ByteSize(size) {
			const byteUnits = [ "KB", "MB", "GB", "TB" ];
			for (let i = 0; i < byteUnits.length; i++) {
				size = Math.floor(size / 1024);
				if (size < 1024)
					return size.toFixed(1) + byteUnits[i];
			}
		};

		// ======== 파일 리스트에서 size를 byte로 계산하여 출력 ========
		$('.fSize').each(function(idx, node) {
			$(node).text(ByteSize($(node).text()));
		})

		// ======== 카드 클릭 시 테두리 지정 ========
		$('.card').on('click', function() {

			let cBody = document.getElementsByClassName("card")[0]; // 배열을 안붙이면 클래스 인식 불가능

			if ($(this).hasClass('active')) { // 만약 클릭한놈이 클래스가 있으면(hassClass) active 지정
				this.style.border = "solid 2px red"; // 그놈한테 테두리 지정해
				$('.card').removeClass('active'); // 
				this.style.border = "none"; // 
			} else {
				$('.card').removeClass('active'); // 카드 클래스 active ㄹ
				this.style.border = "none";
				$(this).addClass('active');
				this.style.border = "solid 2px red";
			}
		});

		// ======== tr 선택시 active 지정 + style 부여 ========
		$('#newTrTd').on('click', '#tdData', function() {
			if ($(this).hasClass('active')) {
				$(this).css("backgroundColor", "");
				$(this).removeClass('active');
			} else {
				let trColor = $(this).addClass("active"); // 클릭한 tr에 액티브 지정
				trColor.css("backgroundColor", "#ADD8E6");
				trColor.css
			}
		})

		// ======== 쓰레기통 아이콘 클릭시 삭제 AJAX ========
		$('#newTrTd').on('click', '.trashIcon', function() {
			let fileDel = $(event.target).closest('#tdData').data('fileno');
			// 클릭한 아이콘의 부모(tr)의 데이터 (파일번호를 가짐)

			let delTarget = $(event.target)
			
			Swal.fire({
		                    title: '파일을 삭제 하시겠습니까?',
		                    text: "삭제 시 복구할 수 없습니다.",
		                    icon: 'warning',
		                    showCancelButton: true,
		                    confirmButtonColor: '#3085d6',
		                    cancelButtonColor: '#d33',
		                    confirmButtonText: '예',
		                    cancelButtonText: '아니요'
		    }).then((result) => {
		      if (result.isConfirmed) {
			
						$.ajax({
							type : "get",
							url : "/fileOneDelete",
							dataType : "text",
							data : {
								fileNo : fileDel
							},
							success : function() {
					             Swal.fire('삭제가 완료되었습니다.', '삭제된 파일은 복구할 수 없습니다.', 'success');
							     delTarget.closest('#tdData').remove();
					        },
							error : function() {
								alert("AJAX 오류");
							}
						});  // END OF AJAX
		      }
		    })
		});
			

		// ======== active(색깔 지정) 클릭한 얘들 삭제 AJAX ========
		$('#FileDelete').on('click', selectCkbDel);

		function selectCkbDel() {

			let test = $('[name="files"].active') // 네임이 files인 애들중 active 클래스
			
			let ww = $('input[name="files"]');
			
			console.log(ww);

			// ajax
			$.ajax({
				type : "get",
				url : "/fileSelectDel",
				data : ww.serialize(),
				success : function() {
					if (confirm("해당 파일들을 삭제 하시겠습니까?")) {
						alert("삭제가 완료 되었습니다.")
					}
				},
				error : function(err) {

					alert("선택된 파일이 존재하지 않습니다.");
				}
			});
		};

		// ======== 검색 AJAX ========
		function fileSearch() {
		var typeVal = $('#pType').val(); // type
		var keywordVal = $('#pKeyword').val(); // keyword
		var fileList = $('#newTrTd'); // tBody 비우고 새로 만들기

		$.ajax('/project/driveAjax/' + prjtNo +'?pType=' + typeVal + 
			'&pKeyword=' + keywordVal,
			{
				type: 'GET'
			}).done(function (data) {
				fileList.empty();
				
				$.each(data.files, function(idx, item){
					fileList.append(makeTrTd(item));
				});
				
			}).fail(function () {
				alert('실패');
			});
	};
	
	// ======== 파일 검색 or 페이징 시 나오는 리스트 함수로 제작 ========
	function makeTrTd(item){
		var trTag = `<tr id="tdData" data-fileno="${item.fileNo}">
			<td>${item.fileNm}</td>
			<td class="fSize">${(ByteSize(item.fileSize))}</td>
			<td>${item.membNm}</td>
			<td>${item.fileDt}</td>
			<td>${item.fileType}</td>
			<td class="downIcon"><i class="fa-solid fa-download"></i></td>
			<td class="trashIcon"><i class="fa-solid fa-trash"></i></td>
			</tr>`
			
		return trTag;
	}
	
	// ======== 필터링 AJAX ========
	function driveFilter() {
	var filterVal = $('#filter').val(); // type
	var fileList = $('#newTrTd'); // tBody 비우고 새로 만들기

	$.ajax('/project/driveFilterAjax/' + prjtNo +'?filter=' + filterVal,
		{
			type: 'GET'
		}).done(function (data) {
			
			fileList.empty();
			
			$.each(data.files, function(idx, fit){
				fileList.append(makeFilter(fit));
			})
			
		}).fail(function () {
			alert('실패');
		});
	};
	
	// ======== 필터 선택시 해당 확장자 보이게끔 설정하기 ========
	function makeFilter(fit){
		var trTag = `<tr id="tdData" data-fileno="${fit.fileNo}">
			<td>${fit.fileNm}</td>
			<td class="fSize">${(ByteSize(fit.fileSize))}</td>
			<td>${fit.membNm}</td>
			<td>${fit.fileDt}</td>
			<td>${fit.fileType}</td>
			<td class="downIcon"><i class="fa-solid fa-download"></i></td>
			<td class="trashIcon"><i class="fa-solid fa-trash"></i></td>
			</tr>`
			
		return trTag;
	}
	
	// 파일 업로드 클릭
	const RealFile = document.querySelector('#selectedFile');
	const secondFile = document.querySelector('#FileUpload');

	secondFile.addEventListener('click', () => RealFile.click());

	// 파일 삭제 버튼 누를 시 ..
	function saveFileRemove(element) {
		removeFileTransFer(element);
		var tr = $(element).closest('tr');
		tr.remove();
	}
	
	const saveFileDataTransFer = new DataTransfer();
	
	$("#selectedFile").change(function () {

		let fileArr = document.getElementById("selectedFile").files

		if (fileArr != null && fileArr.length > 0) {

			// =====DataTransfer 파일 관리========
			for (var i = 0; i < fileArr.length; i++) {
				saveFileDataTransFer.items.add(fileArr[i])
				console.log("dataTransfer =>", saveFileDataTransFer.files)
				console.log("input FIles =>", document.getElementById("selectedFile").files)
			}

			document.getElementById('selectedFile').files = saveFileDataTransFer.files;
			// ==========================================

		}
	})

	function removeFileTransFer(element) {
		var parent = $(element).parent().parent();
		var children = $(parent).children();
		var index = children.index($(element).parent());
	
		if (index != -1) {
			saveFileDataTransFer.items.remove(index);
			document.getElementById('selectedFile').files = saveFileDataTransFer.files;
		}
	}
	
	// 파일 추가
	function saveRealRealFile(element) {
		const file = element.files[0];
		// 1.  파일 선택 창에서 취소 버튼이 클릭되는 경우
		if (!file) {
			return false;
		}

		// 2. 파일 크기가 10MB을 초과하는 경우
		const fileSize = Math.floor(file.size / 1024 / 1024);

		if (fileSize > 10) {
			alert('10MB 이하의 파일로 업로드해 주세요.');
			return false;
		}

		if (file) {
			$('.fileEmpty').remove();
			var trTag = $('<tr/>').attr('id', 'tdData');
			var fileNameTag = $('<td/>').attr('id', 'fileBoxName').text(
					file.name); // li 파일이름
			var fileSizeTag = $('<td/>').attr('id', 'fileBoxSize').text(
					ByteSize(file.size)); // li 파일크기
			var deleteFileTag = $('<td/>').attr('id', 'closeBtn').attr('class', 'deletePISaveFile').attr('onclick', ' saveFileRemove(this);');
			trTag.append(fileNameTag);
			trTag.append(fileSizeTag);
			trTag.append(deleteFileTag);

			$('#modalTbody').append(trTag);

		}
	};
	
	function saveFiles() {

		var formData = new FormData();
		formData.append('membId', driveMembId);
		formData.append('prjtNo', drivePrjtNo);
		formData.append('bussNo', driveBussNo);
		
		var inputFile = document.querySelector('#selectedFile');
		var fileInfo = inputFile.files;

		for (i = 0; i < fileInfo.length; i++) {
			formData.append("drivefile", fileInfo[i]);
		};

		$.ajax({
			url: '/project/driveInsertAjax/save',
			type: 'POST',
			processData: false,	//기본값은 true, ajax 통신을 통해 데이터를 전송할 때, 기본적으로 key와 value값을 Query String으로 변환해서 보냅니다.
			contentType: false,	// multipart/form-data타입을 사용하기위해 false 로 지정합니다.
			data: formData,
			success: function () {
				alert("등록에 성공 !!");
				location.reload();
			},
			error: function (reject) {
				alert("등록에 실패");
				console.log(reject);
			}
		});
	};
	</script>

</th:block>
</html>