<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="/plugins/fullcalendar/css/fullcalendar.min.css"
	rel="stylesheet">
<link href="/css/style.css" rel="stylesheet">
</head>
<body>
	<div id="main-wrapper">
		<header th:replace="fragments/header :: header"></header>
		<aside th:replace="fragments/aside:: aside"></aside>
		<div class="content-body">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="card">
							<div class="card-body">
								<div class="row">
									<div class="col-md-8">
										<div class="card-box m-b-50">
											<div id="calendar"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="plugins/common/common.min.js"></script>
	<script src="js/custom.min.js"></script>
	<script src="js/settings.js"></script>
	<script src="js/gleek.js"></script>
	<script src="js/styleSwitcher.js"></script>

	<script src="./plugins/jqueryui/js/jquery-ui.min.js"></script>
	<script src="./plugins/moment/moment.min.js"></script>
	<script src="./plugins/fullcalendar/js/fullcalendar.min.js"></script>
	<script src="./js/plugins-init/fullcalendar-init.js"></script>
	
	<script>
	document.addEventListener('DOMContentLoaded', function() {
		var calendarEl = document.getElementById('calendar');
		var calendar = new FullCalendar.Calendar(calendarEl, {
			initialView : 'timeGridMonth',
			headerToolbar : {
				right : 'dayGridMonth',
				center : 'prev title next',
				left : 'today',
			},
		}
	});
	</script>
</body>
</html>