<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="/css/style.css" rel="stylesheet">
<script src='https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@6.1.9/index.global.min.js'></script>
    <script>

      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
			initialView: 'dayGridMonth',
        	headerToolbar: {
				left: 'today',
				center: 'prev title next',
				right: 'dayGridMonth,timeGridWeek,timeGridDay'
			},
			titleFormat: function (date) {
		    // YYYY년 MM월
		    	return `${date.date.year}년 ${date.date.month + 1}월`;
		    },
        });
        calendar.render();
      });

    </script>
</head>
<body>
	<div id="main-wrapper">
		<header th:replace="fragments/header :: header"></header>
		<aside th:replace="fragments/aside:: aside"></aside>
		<div class="content-body">
		111
			<div id='calendar'></div>
		222
		</div>
	</div>
	<script src="plugins/common/common.min.js"></script>
	<script src="js/custom.min.js"></script>
	<script src="js/settings.js"></script>
	<script src="js/gleek.js"></script>
	<script src="js/styleSwitcher.js"></script>
</body>
</html>