<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout}">
<head>
<meta charset="UTF-8">
<title>내 캘린더</title>
<!-- 간트차트 css & js -->
<link rel="stylesheet" href="http://cdn.dhtmlx.com/gantt/edge/dhtmlxgantt.css" type="text/css"> 
<script src="http://cdn.dhtmlx.com/gantt/edge/dhtmlxgantt.js"></script>
<!-- 캘린더 js -->
<script src='https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@6.1.9/index.global.min.js'></script>

<style type="text/css">
body{
	overflow: auto;
}

#main-wrapper {
	overflow: visible;
}

#personalCalendarBox {
	width: 70%;
	float: right;
	background-color: white;
}

.calendarBusinessInfo {
	min-height: 1000px;
	height: 100%;
	width: 30%;
	padding: 10px;
	background-color: #dddddd;
	float: right;
}

select {
	appearance: none;
	text-align: center;
}

.fc .fc-toolbar.fc-header-toolbar {
	margin: 0px;
	margin-top: 10;
}

.fc-toolbar-chunk {
    display: flex;
    align-items: center;
}

#fc-dom-1 {
	margin-left: 0;
}

.fc .fc-prev-button {
	margin-right: 0.75em;
}

.fc .fc-button-primary {
	background-color: #7571f9;
	border-color: #7571f9;
}

.fc .fc-button-primary:hover {
	background-color: #4540f7;
}

.fc .fc-button-primary:disabled {
	background-color: #2c3e50;
}

.fc-event {
	padding: 0;
}

.fc-event-title-container {
	height: 1.5em;
	padding-top: 0.15em;
}

.fc-event-title.fc-sticky {
	font-size: 0.75em;
	margin-bottom: 0;
}

.fc-license-message {
	display: none;
}

.button-group {
	float: left;
	margin-bottom: 10px;
}

.btn.btn-primary.dropdown-toggle {
	float: right;
	padding: 7px 10px;
}

.dropdown-menu {
	min-width: 3em;
}

.businessList {
	background-color: white;
	width: 100%;
	border-radius: 5px;
	float: left;
	padding: 10px;
	margin: 3px 0px;
}

.businessList:hover {
	background-color: #eeeeee;
}

.businessList2 {
	overflow: hidden;
	text-overflow: ellipsis;
	height: 18px;
	font-size: 1em;
	word-wrap : brek-word;
	display : -webkit-box;
	-webkit-line-clamp : 1;
	-webkit-box-orient: vertical;
}

#personalGanttchart {
	padding: 10px;
	float: left;
	display: none;
}

.gantt_tree_content {
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.gantt_link_control.task_left.task_start_date {
	display: none;
}

</style>

</head>
<body>
<th:block layout:fragment="content">
	<div class="row">
		<!-- 달력&차트 시작 -->
		<div id="personalCalendarBox">
			<div id='personalCalendar' class="tab-pane p-2"></div>
			
			<div id='personalGanttchart' class="tab-pane" style='width: 100%; height:900px;'></div>
		</div>
		<!-- 달력&차트 끝 -->
		
		<!--  업무리스트 박스 시작 -->
		<div class='calendarBusinessInfo'>
			<div>
				<!-- 달력 간트 스위치 시작 -->
				<div class="button-group">
					<div class="btn-group">
						<button type="button" class="btn btn-primary calendar">달력</button>
						<button type="button" class="btn btn-primary gantt">차트</button>
					</div>
				</div>
				<!-- 달력 간트 스위치 끝 -->
				
				<!-- 정렬 버튼 시작 -->
				<div class="basic-dropdown">
					<div class="dropdown">
						<button type="button" class="btn btn-primary dropdown-toggle sort" 
							data-toggle="dropdown" aria-expanded="true">
							정렬
						</button>
						<div class="dropdown-menu sort">
							<a class="dropdown-item sort">날짜순</a>
							<a class="dropdown-item sort">진척도</a>
							<a class="dropdown-item sort">중요도</a>
						</div>
					</div>
				</div>
				<!-- 정렬 버튼 끝-->
			
				<!-- 필터링 버튼 시작 -->
				<div class="basic-dropdown">
					<div class="dropdown">
						<button type="button" class="btn btn-primary dropdown-toggle filter" 
							data-toggle="dropdown" aria-expanded="true"
							style="margin-right: 10px;">
							프로젝트
						</button>
						<div class="dropdown-menu filter">
							<a class="dropdown-item selectAll">전체</a>
						</div>
					</div>
				</div>
				<!-- 필터링 버튼 끝 -->
			</div>
			<!--  업무리스트 박스 끝 -->
			
			<!-- 업무 목록 - 리스트 시작 -->
			<div class="businessListBox">
				<th:block th:each="bussInfo : ${personalCalendarPage}">
					<div class="businessList" onclick="infoBusiness()">
						<div class="businessList2" 
							th:text="${#dates.format(bussInfo.bussFrdt, 'yy.MM.dd')} + ' ~ ' + ${#dates.format(bussInfo.bussTodt, 'yy.MM.dd')} +
							 ' | 중요도 ' + ${bussInfo.bussImp} + ' | 진척도 ' + ${bussInfo.bussPrgre} + '%'">
						</div>
						<div class="businessList2" 
							th:text="${bussInfo.bussNm}">
						</div>
						<input type="hidden" id="bussNo" th:value="${bussInfo.bussNo}" />
					</div>
				</th:block>
			</div>
			<!-- 업무 목록 - 리스트 끝 -->
		</div>
		<!--  업무리스트 박스 끝 -->
	</div>
	
	<!-- 업무 모달 -->
	<div data-include1="showModalMain"></div>
	
	<script th:inline="javascript">
	let calendarData = [[${personalCalendarPage}]]; // 전체 업무리스트
	let calendarArr = calendarData; // 화면 출력할 업무리스트
	
	let prjtArr = []; // 프로젝트 목록 중복제거
	
	// 중복제거한 프로젝트 목록 만들기
	if(calendarData != null){
		let prjtNum = [];
		
		$.each(calendarData, function(idx, item){
			prjtNum.push(item.prjtNm);
		});
		let set = new Set(prjtNum);
		prjtArr = [...set]; // 중복 처리한 프로젝트 이름 배열.
	}
	
	/*----------------------------
		리셋 데이터
	------------------------------*/
	// 업무리스트에 다시 뿌리기
	function resetBussList(){
		$('.businessList').remove();
		
		$.each(calendarArr, function(idx, item){
			$('.businessListBox').append($('<div class="businessList" onclick="infoBusiness()"></div>'));
			$('.businessList:last').append($('<div class="businessList2"></div>'));
			$('.businessList2:last').append(formatDate(item.bussFrdt).substr(2) + ' ~ ' + formatDate(item.bussTodt).substr(2)
					+ ' | 중요도 ' + item.bussImp + ' | 진척도 ' + item.bussPrgre + '%');
			$('.businessList:last').append($('<div class="businessList2"></div>'));
			$('.businessList2:last').append(item.bussNm);
			$('.businessList:last').append($('<input type="hidden" id="bussNo" />'));
			$('.businessList:last').find('input').val(item.bussNo);
		});
		$('.businessList').on('click', infoBusiness);
	}
	// 캘린더에 다시 뿌리기
	function resetCal(){
		calendarEl = document.getElementById('personalCalendar');
		calendar = new FullCalendar.Calendar(calendarEl, {
	      	height: "900px",
	      	expandRows: true,
			initialView: 'dayGridMonth',	// 나타낼 달력 형식(dayGridMonth: 월단위)
	      	dayMaxEvents: 3,		// 이벤트가 오버되면 높이 제한 (+ 몇 개식으로 표현)
	      	locale: 'ko',			// 한국어 설정
	      	editable: true,			// 수정 가능
	      	selectable: true,			// 달력 일자 드래그 기능
	      	eventChange: function(data) { // 이벤트가 수정되면 발생하는 이벤트
	      		var obj = new Object();
       			var end = new Date(data.event.endStr);
       			end.setDate(end.getDate() - 1);
       			var endYear = end.getFullYear();
       			var endMonth = end.getMonth()+1;
       			if(endMonth<10) endMonth = '0'+endMonth;
       			var endDate = (String)(end.getDate());
       			if(endDate<10) endDate = '0' + endDate;
	      		
	      		obj.bussNo = data.event.id;
	      		obj.bussFrdt = data.event.startStr;
	      		obj.bussTodt = endYear + '-' + endMonth + '-' + endDate;
	      		
	      		$.ajax({
	      			type: 'post',
	      			url: '/updateCalendarBuss',
	      			contentType: 'application/json',
	         		data: JSON.stringify(obj),
	         		success: function(){
	         			
	         		},
	         		error: function(error){
	         			console.log(error);
	         		}
	      		})
			},
	      	headerToolbar: {		// 헤더 꾸미기
				left: 'today',
				center: 'prev title next',
				right: ''
			},
			titleFormat: function (date) {		// 타이틀 날짜 형식 설정
	    		// YYYY년 MM월
	    		return `${date.date.year}년 ${date.date.month + 1}월`;
	    	},
	    	events: personalCalendarArr()		// 내용 데이터
		});
		calendar.render();
	}
	// 간트에 다시 뿌리기
	function resetGantt(){
		gantt.attachEvent("onBeforeTaskDisplay", function(id, task){
			for(let i=0; i<calendarArr.length; i++){
				if (task.id == calendarArr[i].bussNo){
			        return true;
			    }
		    }
		    return false;
		});
		gantt.init("personalGanttchart");
	}
	
	/*----------------------------
		필터링
	------------------------------*/
	// 필터링 메뉴 생성
	$.each(prjtArr, function(idx, item){
		$('.dropdown-menu.filter').append('<a class="dropdown-item filter">'+item+'</a>');
	});
	
	// 필터링-전체 클릭하면
	$('.dropdown-item.selectAll').on('click', function(){
		calendarArr = [];
		calendarArr = calendarData;
		
		resetBussList();
		resetCal();
		resetGantt();
	});
	
	// 필터링-선택 클릭하면
	$('.dropdown-item.filter').on('click', function(){
		let target = event.target;
		calendarArr = [];
		
		// 필터링 업무리스트 만들기
		$.each(calendarData, function(idx, item){
			if(item.prjtNm == $(target).text()){
				calendarArr.push(item);
			}
		});
		
		resetBussList();
		resetCal();
		resetGantt();
	});
	
	/*----------------------------
		업무리스트 정렬
	------------------------------*/
	$('.dropdown-item.sort').eq(0).on('click', function(){ // 날짜
		calendarArr.sort(function(a, b){
			if(a.bussFrdt<b.bussFrdt) return -1;
			if(a.bussFrdt>b.bussFrdt) return 1;
			if(a.bussFrdt===b.bussFrdt) return 0;
		});
		resetBussList();
	});
	$('.dropdown-item.sort').eq(1).on('click', function(){ // 진척도
		calendarArr.sort(function(a, b){
			if(a.bussPrgre>b.bussPrgre) return -1;
			if(a.bussPrgre<b.bussPrgre) return 1;
			if(a.bussPrgre===b.bussPrgre) return 0;
		});
		resetBussList();
	});
	$('.dropdown-item.sort').eq(2).on('click', function(){ // 중요도
		$.each(calendarArr, function(idx, item){
			if(item.bussImp == "상") item.bussImp == 1;
   			if(item.bussImp == "중") item.bussImp == 2;
   			if(item.bussImp == "하") item.bussImp == 3;
		});
   		calendarArr.sort(function(a, b){
			if(a.bussImp<b.bussImp) return -1;
			if(a.bussImp<b.bussImp) return 0;
			if(a.bussImp<b.bussImp) return 1;
		});
   		$.each(calendarArr, function(idx, item){
   			if(item.bussImp == 1) item.bussImp == "상";
   			if(item.bussImp == 2) item.bussImp == "중";
   			if(item.bussImp == 3) item.bussImp == "하";
   		});
		resetBussList();
	});
	
	/*----------------------------
		Calendar 구현
	------------------------------*/
   	document.addEventListener('DOMContentLoaded', function() {
       	var calendarEl = document.getElementById('personalCalendar');
       	var calendar = new FullCalendar.Calendar(calendarEl, {
       		height: "900px",
       		expandRows: true,
			initialView: 'dayGridMonth',	// 나타낼 달력 형식(dayGridMonth: 월단위)
       		dayMaxEvents: 3,		// 이벤트가 오버되면 높이 제한 (+ 몇 개식으로 표현)
       		locale: 'ko',			// 한국어 설정
       		editable: true,			// 수정 가능
       		selectable: true,			// 달력 일자 드래그 기능
       		eventChange: function(data) { // 이벤트가 수정되면 발생하는 이벤트
       			var obj = new Object();
       			var end = new Date(data.event.endStr);
       			end.setDate(end.getDate() - 1);
       			var endYear = end.getFullYear();
       			var endMonth = end.getMonth()+1;
       			if(endMonth<10) endMonth = '0'+endMonth;
       			var endDate = (String)(end.getDate());
       			if(endDate<10) endDate = '0' + endDate;
       			
       			obj.bussNo = data.event.id;
       			obj.bussFrdt = data.event.startStr;
       			obj.bussTodt = endYear + '-' + endMonth + '-' + endDate;
       			
       			$.ajax({
       				type: 'post',
       				url: '/updateCalendarBuss',
       				contentType: 'application/json',
          			data: JSON.stringify(obj),
          			success: function(){
          				
          				$.each(calendarArr, function(idx, item){
          					if(item.bussNo == obj.bussNo){
          						item.bussFrdt = obj.bussFrdt;
          						item.bussTodt = obj.bussTodt;
          						return false;
          					}
          				});
          				resetBussList();
          				gantt.parse({
          				    data: ganttData(),
          				    links: ganttLink()
          				});
          				resetGantt();
          				gantt.refreshData();
          			},
          			error: function(error){
          				console.log(error);
          			}
       			})
            },
       		headerToolbar: {		// 헤더 꾸미기
				left: 'today',
				center: 'prev title next',
				right: ''
			},
			titleFormat: function (date) {		// 타이틀 날짜 형식 설정
	    		// YYYY년 MM월
	    		return `${date.date.year}년 ${date.date.month + 1}월`;
	    	},
	    	events: personalCalendarArr()		// 내용 데이터
       	});
       	calendar.render();
   	});
   	
   	/*----------------------------
		Calendar - events 출력
	------------------------------*/
	function personalCalendarArr(){
		let arr = [];
		let color = ['red', 'orange', 'sky', 'silver', 'green', 'fuchsia', 'olive', 'teal', 
			'blueviolet', 'purple', 'chocolate', 'deeppink'];
		
		$.each(calendarArr, function(idx, item){
			let obj = new Object();
			
			var todt = new Date(new Date(item.bussTodt).getTime() + 1000*60*60*24);
   			var todtDate = (String)(todt.getDate());
   			if(todtDate < 10) todtDate = '0' + todtDate;
   			var toMonth = (todt.getMonth() + 1);
   			if(toMonth<10) toMonth = '0'+toMonth;
   			var newTodt = todt.getFullYear() + '-' + toMonth + '-' + todtDate;
   			
   			var frdt = new Date(item.bussFrdt);
   			var frMonth = (frdt.getMonth() + 1);
   			if(frMonth<10) frMonth = '0'+frMonth;
   			var frdtDate = (String)(frdt.getDate());
   			if(frdtDate < 10) frdtDate = '0' + frdtDate;
   			var newFrdt = frdt.getFullYear() + '-' + frMonth + '-' + frdtDate;
   			
   			obj.id = item.bussNo; // id
   			obj.title = item.bussNm;		// 제목
   			obj.start = newFrdt;	// 시작 날짜
   			obj.end = newTodt;		// 종료 날짜
   			obj.className = 'calendarEvent_' + item.prjtNm;
   			obj.color = color[idx%12];
   			
   			arr.push(obj);
   			
   			todt = new Date(new Date(item.bussTodt).getTime());
   			todtDate = (String)(todt.getDate());
   			if(todtDate < 10) todtDate = '0' + todtDate;
   			newTodt = todt.getFullYear() + '-' + (todt.getMonth() + 1) + '-' + todtDate;
   			
   			item.bussFrdt = newFrdt;
   			item.bussTodt = newTodt;
		});
   		return arr;
   	}
   	
	/*----------------------------
		Calendar - formatDate
	------------------------------*/
	function formatDate(date){
		var d = new Date(date),
		year = d.getFullYear(),
		month = '' + (d.getMonth() + 1),
		day = '' + d.getDate();
		
		if(month.length<2) month = '0'+month;
		if(day.length<2) day = '0'+day;
		
		return [year, month, day].join('.');
	}
	
	/*----------------------------
		Gantt Chart 구현
	------------------------------*/
	document.addEventListener('DOMContentLoaded', function() {
		gantt.config.scales = [
		    {unit: "month", step: 1, format: "<Strong style='font-size:16px'>%Y / %m</Strong>"},
		    {unit: "day", step: 1, format: "%j"}
		];
		
		gantt.config.min_column_width = 50;
		gantt.config.scale_height = 60;
		
		gantt.config.columns = [
			{name: "text", label: "업무명", tree: true, width: '*'},
			{name: "start_date", label: "시작일", align: "center", width: 100},
			{name: "duration", label: "기간", align: "center", width: 50}
		];
		// 업무바 수정 ajax
		gantt.attachEvent("onAfterTaskupdate", function(id, item){
			var obj = new Object();
			var newEnd = new Date(getMilliseconds(item.end_date)-1000*60*60*24);	
			
			var frMonth = ('0'+(item.start_date.getMonth() + 1)).slice(-2);
			var frDate = ('0'+item.start_date.getDate()).slice(-2);
			var toMonth = ('0'+(newEnd.getMonth()+1)).slice(-2);
			var toDate = ('0'+newEnd.getDate()).slice(-2);
			
			var start = item.start_date.getFullYear() + "-" + frMonth + "-" + frDate;
			var end = newEnd.getFullYear() + "-" + toMonth + "-" + toDate;
			
			obj.bussNo = item.id;
			obj.bussFrdt = start;
			obj.bussTodt = end;
			obj.bussPrgre = Math.floor(item.progress * 100);
			
			$.ajax({
				type: 'post',
				url: '/updateCalendarBuss',
				contentType: 'application/json',
				data: JSON.stringify(obj),
				success: function(){
					
					$.each(calendarArr, function(idx, item){
      					if(item.bussNo == obj.bussNo){
      						item.bussFrdt = obj.bussFrdt;
      						item.bussTodt = obj.bussTodt;
      						item.bussPrgre = obj.bussPrgre;
      						return false;
      					}
      				});
					resetBussList();
					resetCal();
				},
				error: function(error){
					console.log(error);
				}
			})
		});
		// 상위업무 수정 ajax
		gantt.attachEvent("onBeforeLinkAdd", function(id,item){
			var obj = new Object();
			obj.bussNo = item.target;
			obj.bussUpcd = item.source;
			
			// 중복 상위업무에 대한 처리
			$.each(calendarArr, function(idx, item2){
				
			})
			for(let i=0; i<calendarArr.length; i++){
				if(obj.bussNo == calendarArr[i].bussNo){ // 해당업무번호와 같은 업무번호 찾기.
					if(calendarArr[i].bussUpcd == 0){ // 업무번호의 상위업무가 0이면 통과
						$.ajax({
							type: 'post',
							url: '/updateGanttUpcd',
							contentType: 'application/json',
							data: JSON.stringify(obj),
							success: function(){
								console.log('성공');
							},
							error: function(error){
								console.log(error);
							}
						})
						// 캘린더 배열의 상위업무 정보 업데이트.
						calendarArr[i].bussUpcd = obj.bussUpcd;
						return false;
					} // 업무번호의 상위업무가 0이 아니면
					// 경고창 띄워주기
					ganttUpcdDuplAlert();
					// 방금 만든 간트 링크 없애기
					/* let thisId = item.id;
					gantt.deleteLink(thisId); */
					return false;
				}
			}
		});
		// 상위업무 삭제 ajax
		gantt.attachEvent("onAfterLinkDelete", function(id,item){
			var obj = new Object();
			obj.bussNo = item.target;
			obj.bussUpcd = null;
			
			$.ajax({
				type: 'post',
				url: '/updateGanttUpcd',
				contentType: 'application/json',
				data: JSON.stringify(obj),
				success: function(){
					
				},
				error: function(error){
					console.log(error);
				}
			})
			for(let i=0; i<calendarData.length; i++){
				if(obj.bussNo == calendarData[i].bussNo){ // 해당업무번호와 같은 업무번호 찾기.
					calendarData[i].bussUpcd = 0;	// 캘린더 배열의 상위업무 0으로 업데이트.
					return false;
				}
			}
		});
		// 더블클릭 했을 때 - 수정 버튼 가리기
		gantt.attachEvent("onLightbox", function (task_id){
			gantt.hideLightbox();
		});
		// 간트 실행 코드
		gantt.init("personalGanttchart");
		// 데이터+상위업무 데이터 구현
		if(calendarData.length != 0){
			gantt.parse({
			    data: ganttData(),
			    links: ganttLink()
			});
		}
	});
	
	/*----------------------------
		Gantt Chart - data 출력
	------------------------------*/
	// 간트차트 내용 구현
	function ganttData(){
		let arr = [];
		
		$.each(calendarArr, function(idx, item){
			let obj = new Object();
			let frdt = item.bussFrdt;
			let todt = item.bussTodt;
			
			obj.id = item.bussNo;
			obj.text = item.bussNm;
			obj.start_date = getddmmyyyy(frdt);
			obj.duration = ((getMilliseconds(todt) - getMilliseconds(frdt)) / (24*60*60*1000)) + 1;
			obj.progress = item.bussPrgre/100;
			arr.push(obj);
		});
		return arr;
	}
	
	// 간트차트 상위업무 구현
	function ganttLink(){
		let arr = [];
		
		$.each(calendarArr, function(idx, item){
			let obj = new Object();
			if(item.bussUpcd != null){
				obj.id = item.bussNo;
				obj.source = item.bussUpcd;
				obj.target = item.bussNo;
				obj.type = "0";
			}
			arr.push(obj);
		});
		return arr;
	}
	
	// 간트차트 중복 상위업무 경고 Sweet Alert
	function ganttUpcdDuplAlert(){
		Swal.fire({
			icon: 'error',
			title: '상위업무가 이미 존재합니다.',
		});
	}
	
	// 간트차트 날짜 형식 포맷
	function getddmmyyyy(dt){
		var date = new Date(dt);
		var year = date.getFullYear();
		var month = ('0' + (date.getMonth() + 1)).slice(-2);
		var day = ('0' + date.getDate()).slice(-2);
		
		return day + '-' + month + '-' + year;
	}
	
	// 간트차트 날짜 초단위 포맷
	function getMilliseconds(dt){
		var date = new Date(dt);
		var milli = date.getTime();
		return milli;
	}
	
	/*----------------------------
		Calendar&Gantt switch
	------------------------------*/
	$('.btn.btn-primary.calendar').on('click', function(){
		$('#personalCalendar').css("display","flex");
		$('#personalGanttchart').css("display","none");
		resetCal();
	});
	$('.btn.btn-primary.gantt').on('click', function(){
		$('#personalGanttchart').css("display","flex");
		$('#personalCalendar').css("display","none");
	});
	
    /*----------------------------
		업무리스트 스크롤바
	------------------------------*/
	$(function(){
		$('.businessListBox').slimScroll({
			height: '840px',
			width: '100%'
		});
		
		$('.businessListBox').parent().css('float', 'right');
	})
	
	/*----------------------------
		모달
	------------------------------*/
	// 권오준 추가
	var miPrjtNo = [[${prjtNo}]];
    
	// 업무리스트 클릭 시 모달
	$('.businessList').on('click', infoBusiness);
	function infoBusiness(){
		bussNo = $(this).find('input').val();
		$('#workModal').modal('toggle');
		$("#tab_info").trigger("click");
	}
	
	$(function(){
		var includes1 = $('[data-include1="showModalMain"]');
		jQuery.each(includes1, function(){
			$(this).load('/modal/modal-home.html');
		});
	})
	</script>
</th:block>
</body>
</html>