<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>개인 캘린더</title>
<!-- 간트차트 css & js -->
<link rel="stylesheet" href="http://cdn.dhtmlx.com/gantt/edge/dhtmlxgantt.css" type="text/css"> 
<script src="http://cdn.dhtmlx.com/gantt/edge/dhtmlxgantt.js"></script>
<!-- 전체 css -->
<link href="/css/style.css" rel="stylesheet">
<!-- 캘린더 js -->
<script src='https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@6.1.9/index.global.min.js'></script>
<!-- ajax -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<!-- 모달 -->
<link href="/css/modal.css" rel="stylesheet">
<link href="/css/modal-reply.css" rel="stylesheet" />
<!-- noUiSlider -->
<link rel="stylesheet" href="/plugins/nouislider/nouislider.min.css">

<style type="text/css">
body{
	overflow: auto;
}

#main-wrapper {
	overflow: visible;
}

#personalCalendarBox {
	width: 70%;
	float: right;
}

#personalCalendar {
	margin: 10px;
	background-color: white;
}

.calendarBusinessInfo {
	min-height: 1000px;
	height: 100%;
	width: 30%;
	padding: 10px;
	background-color: #dddddd;
	float: right;
}

select {
	appearance: none;
	text-align: center;
}

.fc .fc-toolbar.fc-header-toolbar {
	margin: 10px;
}

.fc-toolbar-chunk {
    display: flex;
    align-items: center;
}

#fc-dom-1 {
	margin-left: 0;
}

.fc .fc-prev-button {
	margin-right: 0.75em;
}

.fc .fc-button-primary {
	background-color: #7571f9;
	border-color: #7571f9;
}

.fc .fc-button-primary:hover {
	background-color: #4540f7;
}

.fc .fc-button-primary:disabled {
	background-color: #2c3e50;
}

.fc-event {
	padding: 0;
}

.fc-event-title-container {
	height: 1.5em;
	padding-top: 0.15em;
}

.fc-event-title.fc-sticky {
	font-size: 0.75em;
	margin-bottom: 0;
}

.button-group {
	float: left;
	margin-bottom: 10px;
}

.btn.btn-primary.dropdown-toggle {
	float: right;
	padding: 7px 10px;
}

.dropdown-menu {
	min-width: 3em;
}

.businessListBox {
	float: right;
}

.businessList {
	background-color: white;
	width: 100%;
	border-radius: 5px;
	float: left;
	padding: 10px;
	margin: 3px 0px;
}

.businessList:hover {
	background-color: #eeeeee;
}

.businessList2 {
	overflow: hidden;
	text-overflow: ellipsis;
	height: 18px;
	font-size: 1em;
	word-wrap : brek-word;
	display : -webkit-box;
	-webkit-line-clamp : 1;
	-webkit-box-orient: vertical;
}

#personalGanttchart {
	padding: 10px;
	float: left;
	display: none;
}

.gantt_tree_content {
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.gantt_link_control.task_left.task_start_date {
	display: none;
}

</style>

</head>
<body class="scroll-set">
	<div id="main-wrapper">
		<div class="body-container">
			<header th:replace="fragments/header :: header"></header>
			<aside th:replace="fragments/aside:: aside"></aside>
			<div class="content-container">
				<div class="content-body">
					<div class='calendarBusinessInfo'>
						<!--  업무 목록 - 버튼 시작 -->
						<div>
							<!-- 달력 간트 스위치 시작 -->
							<div class="button-group">
								<div class="btn-group">
									<button type="button" class="btn btn-primary calendar">달력</button>
									<button type="button" class="btn btn-primary gantt">차트</button>
								</div>
							</div>
							<!-- 달력 간트 스위치 끝 -->
							
							<!-- 정렬 버튼 시작 -->
							<div class="basic-dropdown">
								<div class="dropdown">
									<button type="button" class="btn btn-primary dropdown-toggle sort" 
										data-toggle="dropdown" aria-expanded="true">
										정렬
									</button>
									<div class="dropdown-menu">
										<a class="dropdown-item sort">날짜순</a>
										<a class="dropdown-item sort">진척도</a>
										<a class="dropdown-item sort">중요도</a>
									</div>
								</div>
							</div>
							<!-- 정렬 버튼 끝-->
						
							<!-- 필터링 버튼 시작 -->
							<div class="basic-dropdown">
								<div class="dropdown">
									<button type="button" class="btn btn-primary dropdown-toggle filter" 
										data-toggle="dropdown" aria-expanded="true"
										style="margin-right: 10px;">
										프로젝트
									</button>
									<div class="dropdown-menu">
										<a class="dropdown-item selectAll">전체</a>
										<th:block th:each="info : ${personalCalendarPage}">
											<a class="dropdown-item filter" th:data-prjtnm="${info.prjtNm}"
												th:text="${info.prjtNm}"></a>
										</th:block>
									</div>
								</div>
							</div>
							<!-- 필터링 버튼 끝 -->
						</div>
						<!--  업무 목록 - 버튼 끝 -->
						
						<!-- 업무 목록 - 리스트 시작 -->
						<div class="businessListBox">
							<th:block th:each="bussInfo : ${personalCalendarPage}">
								<div class="businessList">
									<div class="businessList2" 
										th:text="${#dates.format(bussInfo.bussFrdt, 'yy.MM.dd')} + ' ~ ' + ${#dates.format(bussInfo.bussTodt, 'yy.MM.dd')} +
										 ' | 중요도 ' + ${bussInfo.bussImp} + ' | 진척도 ' + ${bussInfo.bussPrgre} + '%'">
									</div>
									<div class="businessList2" 
										th:text="${bussInfo.bussNm}">
									</div>
									<input type="hidden" id="bussNo" th:value="${bussInfo.bussNo}" />
								</div>
							</th:block>
						</div>
						<!-- 업무 목록 - 리스트 끝 -->
					</div>
					
					<!-- 달력&차트 시작 -->
					<div id="personalCalendarBox">
						<div id='personalCalendar' class="tab-pane"></div>
						
						<div id='personalGanttchart' class="tab-pane" style='width: 100%; height:700px;'></div>
					</div>
					<!-- 달력&차트 끝 -->
				</div>
			</div>
		</div>
	</div>
	
	<!-- 업무 상세보기 모달 -->
	<div data-include1="showModalMain"></div>
	
	<script th:inline="javascript">
	let calendarData = [[${personalCalendarPage}]];
	
	let prjtNum = [];
	//console.log([[${session.loginInfo}]]);
	/*----------------------------
		필터링
	------------------------------*/
	// 필터링 - 중복제거
	for(let i=0; i<$('.dropdown-item.filter').length; i++){
		for(let j=i+1; j<$('.dropdown-item.filter').length; j++){
			if($('.dropdown-item.filter').eq(i).text() == $('.dropdown-item.filter').eq(j).text()){
				$('.dropdown-item.filter').eq(j).remove();
				i=0;
				j=0;
			}
		}
	}
	// 필터링 전체 - 화면에 다시 뿌리기
	if($('.dropdown-item.selectAll').on('click', function(){
		// 캘린더에 뿌리기
		$('.fc-daygrid-event-harness').css('display', 'block');
		
		// 업무리스트에 뿌리기
		$('.businessList').remove();
		for(let i=0; i<calendarData.length; i++){
			$('.businessListBox').append($('<div class="businessList"></div>'));
			
			$('.businessList:last').append($('<div class="businessList2"></div>'));
			$('.businessList2:last').append(formatDate(calendarData[i].bussFrdt).substr(2) + ' ~ ' + formatDate(calendarData[i].bussTodt).substr(2)
					+ ' | 중요도 ' + calendarData[i].bussImp);
			
			$('.businessList:last').append($('<div class="businessList2"></div>'));
			$('.businessList2:last').append(calendarData[i].bussNm + ' | 진척도 ' + calendarData[i].bussPrgre + '%');
		}
		
		// 간트에 뿌리기
		prjtNum = [];
		for(let j=0; j<calendarData.length; j++){
			prjtNum.push(calendarData[j].bussNo);
		}
		gantt.attachEvent("onBeforeTaskDisplay", function(id, task){
		    for(let i=0; i<prjtNum.length; i++){
		    	if (task.id == prjtNum[i]){
			        return true;
			    }
		    }
		    return false;
		});
		gantt.init("personalGanttchart");
		//console.log("target: " + $(event.target).text() + ", length: " + prjtNum.length);
	}));
	
	// 필터링 선택 - 업무리스트에 뿌리기
	for(let i=0; i<$('.dropdown-item.filter').length; i++){
		$('.dropdown-item.filter').eq(i).on('click', function(){
			$('.businessList').remove();
			for(let j=0; j<calendarData.length; j++){
				if(calendarData[j].prjtNm == $('.dropdown-item.filter').eq(i).text()){
					$('.businessListBox').append($('<div class="businessList"></div>'));
					
					$('.businessList:last').append($('<div class="businessList2"></div>'));
					$('.businessList2:last').append(formatDate(calendarData[j].bussFrdt).substr(2) + ' ~ ' + formatDate(calendarData[j].bussTodt).substr(2)
							+ ' | 중요도 ' + calendarData[j].bussImp + ' | 진척도 ' + calendarData[j].bussPrgre + '%');
					
					$('.businessList:last').append($('<div class="businessList2"></div>'));
					$('.businessList2:last').append(calendarData[j].bussNm);
				}
			}
		});
	}
	// 필터링 선택 - 캘린더&간트에 다시 뿌리기
	$('.dropdown-item.filter').on('click', function(){
		// 캘린더에 다시 뿌리기
		$('.fc-daygrid-event-harness').css('display', 'none');
		let target = event.target.dataset.prjtnm;
		
		let regexFor = / /gi;
		let targetStr = target.replace(regexFor, '.');
		
		$('.calendarEvent_' + targetStr).parent().css('display', 'block');
		
		// 간트차트에 다시 뿌리기
		prjtNum = [];
		for(let j=0; j<calendarData.length; j++){
			if(calendarData[j].prjtNm == $(event.target).text()){
				prjtNum.push(calendarData[j].bussNo);
			}
		}
		gantt.attachEvent("onBeforeTaskDisplay", function(id, task){
		    for(let i=0; i<prjtNum.length; i++){
		    	if (task.id == prjtNum[i]){
			        return true;
			    }
		    }
		    return false;
		});
		
		gantt.init("personalGanttchart");
	});
	
	/*----------------------------
		업무리스트 정렬
	------------------------------*/
	$('.dropdown-item.sort').eq(0).on('click', function(){ // 날짜
		calendarData.sort(function(a, b){
			if(a.bussFrdt<b.bussFrdt) return -1;
			if(a.bussFrdt>b.bussFrdt) return 1;
			if(a.bussFrdt===b.bussFrdt) return 0;
		});
		resetBussList();
	});
	$('.dropdown-item.sort').eq(1).on('click', function(){ // 진척도
		calendarData.sort(function(a, b){
			if(a.bussPrgre>b.bussPrgre) return -1;
			if(a.bussPrgre<b.bussPrgre) return 1;
			if(a.bussPrgre===b.bussPrgre) return 0;
		});
		resetBussList();
	});
	$('.dropdown-item.sort').eq(2).on('click', function(){ // 중요도
   		for(let i=0; i<calendarData.length; i++){
   			if(calendarData[i].bussImp == "상") calendarData[i].bussImp == 1;
   			if(calendarData[i].bussImp == "중") calendarData[i].bussImp == 2;
   			if(calendarData[i].bussImp == "하") calendarData[i].bussImp == 3;
   		}
   		calendarData.sort(function(a, b){
			if(a.bussImp<b.bussImp) return -1;
			if(a.bussImp<b.bussImp) return 0;
			if(a.bussImp<b.bussImp) return 1;
		});
   		for(let i=0; i<calendarData.length; i++){
   			if(calendarData[i].bussImp == 1) calendarData[i].bussImp == "상";
   			if(calendarData[i].bussImp == 2) calendarData[i].bussImp == "중";
   			if(calendarData[i].bussImp == 3) calendarData[i].bussImp == "하";
   		}
		resetBussList();
	});
	
	// 업무리스트 화면에 다시 뿌리기
	function resetBussList(){
		$('.businessList').remove();
		
		for(let i=0; i<calendarData.length; i++){
			$('.businessListBox').append($('<div class="businessList"></div>'));
			
			$('.businessList:last').append($('<div class="businessList2"></div>'));
			$('.businessList2:last').append(formatDate(calendarData[i].bussFrdt).substr(2) + ' ~ ' + formatDate(calendarData[i].bussTodt).substr(2)
					+ ' | 중요도 ' + calendarData[i].bussImp + ' | 진척도 ' + calendarData[i].bussPrgre + '%');
			
			$('.businessList:last').append($('<div class="businessList2"></div>'));
			$('.businessList2:last').append(calendarData[i].bussNm);
		}
	}
	
	/*----------------------------
		Calendar 구현
	------------------------------*/
   	document.addEventListener('DOMContentLoaded', function() {
       	var calendarEl = document.getElementById('personalCalendar');
       	var calendar = new FullCalendar.Calendar(calendarEl, {
       		height: "1000px",
       		expandRows: true,
			initialView: 'dayGridMonth',	// 나타낼 달력 형식(dayGridMonth: 월단위)
       		dayMaxEvents: 3,		// 이벤트가 오버되면 높이 제한 (+ 몇 개식으로 표현)
       		locale: 'ko',			// 한국어 설정
       		editable: true,			// 수정 가능
       		selectable: true,			// 달력 일자 드래그 기능
       		eventChange: function(data) { // 이벤트가 수정되면 발생하는 이벤트
            	//console.log(data.event.startStr);
       			//console.log(data.event.endStr);
       			var obj = new Object();
       			var end = new Date(data.event.endStr);
       			end.setDate(end.getDate() - 1);
       			var year = end.getFullYear();
       			var month = end.getMonth()+1;
       			var date = (String)(end.getDate());
       			if(date<10) date = '0' + date;
       			
       			obj.bussNo = data.event.id;
       			obj.bussFrdt = data.event.startStr;
       			obj.bussTodt = year + '-' + month + '-' + date;
       			
       			$.ajax({
       				type: 'post',
       				url: '/updateCalendarBuss',
       				contentType: 'application/json',
          			data: JSON.stringify(obj),
          			success: function(){
          				console.log("수정성공!");
          				console.log("수정된 날짜: " + obj.bussFrdt + " ~ " + obj.bussTodt);
          			},
          			error: function(error){
          				console.log(error);
          			}
       			})
            },
       		headerToolbar: {		// 헤더 꾸미기
				left: 'today',
				center: 'prev title next',
				right: ''
			},
			titleFormat: function (date) {		// 타이틀 날짜 형식 설정
	    		// YYYY년 MM월
	    		return `${date.date.year}년 ${date.date.month + 1}월`;
	    	},
	    	events: personalCalendarArr()		// 내용 데이터
       	});
       	calendar.render();
   	});
   	
   	/*----------------------------
		Calendar - events 출력
	------------------------------*/
	function personalCalendarArr(){
		let arr = [];
		let color = ['red', 'orange', 'sky', 'silver', 'green', 'fuchsia', 'olive', 'teal', 
			'blueviolet', 'purple', 'chocolate', 'deeppink'];
		
		for(let i=0; i<calendarData.length; i++){
   			let obj = new Object();
   			
   			var todt = new Date(new Date(calendarData[i].bussTodt).getTime() + 1000*60*60*24);
   			var todtDate = (String)(todt.getDate());
   			if(todtDate < 10) todtDate = '0' + todtDate;
   			var newTodt = todt.getFullYear() + '-' + (todt.getMonth() + 1) + '-' + todtDate;
   			
   			var frdt = new Date(calendarData[i].bussFrdt);
   			var frdtDate = (String)(frdt.getDate());
   			if(frdtDate < 10) frdtDate = '0' + frdtDate;
   			var newFrdt = frdt.getFullYear() + '-' + (frdt.getMonth() + 1) + '-' + frdtDate;
   			
   			obj.id = calendarData[i].bussNo; // id
   			obj.title = calendarData[i].bussNm;		// 제목
   			obj.start = newFrdt;	// 시작 날짜
   			obj.end = newTodt;		// 종료 날짜
   			obj.className = 'calendarEvent_' + calendarData[i].prjtNm;
   			obj.color = color[i%12];
   			arr.push(obj);
   			
   			calendarData[i].bussFrdt = newFrdt;
   			calendarData[i].bussTodt = newTodt;
   		}
   		return arr;
   	}
   	
	/*----------------------------
		Calendar - formatDate
	------------------------------*/
	function formatDate(date){
		var d = new Date(date),
		year = d.getFullYear(),
		month = '' + (d.getMonth() + 1),
		day = '' + d.getDate();
		
		if(month.length<2) month = '0'+month;
		if(day.length<2) day = '0'+day;
		
		return [year, month, day].join('.');
	}
	
	/*----------------------------
		Gantt Chart 구현
	------------------------------*/
	document.addEventListener('DOMContentLoaded', function() {
		gantt.config.scales = [
		    {unit: "month", step: 1, format: "<Strong style='font-size:16px'>%Y / %m</Strong>"},
		    {unit: "day", step: 1, format: "%j"}
		];
		
		gantt.config.min_column_width = 50;
		gantt.config.scale_height = 60;
		
		gantt.config.columns = [
			{name: "text", label: "업무명", tree: true, width: '*'},
			{name: "start_date", label: "시작일", align: "center", width: 100},
			{name: "duration", label: "기간", align: "center", width: 50}
		];
		// 업무바 수정 ajax
		gantt.attachEvent("onAfterTaskupdate", function(id, item){
			var obj = new Object();
			var end = new Date(item.end_date);
			end.setDate(end.getDate() - 1);
			end = end.getDate();
			if(end<10) end = '0' + end;
			
			var startDate = item.start_date.getFullYear() + "-" + (item.start_date.getMonth() + 1) + "-" + item.start_date.getDate();
			var endDate = item.end_date.getFullYear() + "-" + (item.end_date.getMonth() + 1) + "-" + end;
			
			obj.bussNo = item.id;
			obj.bussFrdt = startDate;
			obj.bussTodt = endDate;
			obj.bussPrgre = Math.floor(item.progress * 100);
			
			$.ajax({
				type: 'post',
				url: '/updateCalendarBuss',
				contentType: 'application/json',
				data: JSON.stringify(obj),
				success: function(){
					console.log("수정성공!");
					console.log("수정된 날짜: " + obj.bussFrdt + " ~ " + obj.bussTodt);
					console.log("수정된 진척도: " + obj.bussPrgre);
				},
				error: function(error){
					console.log(error);
				}
			})
		});
		// 상위업무 수정 ajax
		gantt.attachEvent("onAfterLinkAdd", function(id,item){
			var obj = new Object();
			obj.bussNo = item.target;
			obj.bussUpcd = item.source;
			
			// 중복 상위업무에 대한 처리
			for(let i=0; i<calendarData.length; i++){
				if(obj.bussNo == calendarData[i].bussNo){ // 해당업무번호와 같은 업무번호 찾기.
					if(calendarData[i].bussUpcd == 0){ // 업무번호의 상위업무가 0이면 통과
						$.ajax({
							type: 'post',
							url: '/updateGanttUpcd',
							contentType: 'application/json',
							data: JSON.stringify(obj),
							success: function(){
								console.log("수정성공!");
								console.log("업무번호: " + obj.bussNo + ", 상위업무: " + obj.bussUpcd);
							},
							error: function(error){
								console.log(error);
							}
						})
						// 캘린더 배열의 상위업무 정보 업데이트.
						calendarData[i].bussUpcd = obj.bussUpcd;
						return false; 
					} // 업무번호의 상위업무가 0이 아니면
					// 경고창 띄워주기
					alert('해당 업무는 이미 상위업무가 존재합니다.');
					// 방금 만든 간트 링크 없애기
					let thisId = item.id;
					gantt.deleteLink(thisId);
					return false;
				}
			}
		});
		// 상위업무 삭제 ajax
		gantt.attachEvent("onAfterLinkDelete", function(id,item){
			var obj = new Object();
			obj.bussNo = item.target;
			obj.bussUpcd = null;
			
			$.ajax({
				type: 'post',
				url: '/updatePersonalGanttUpcd',
				contentType: 'application/json',
				data: JSON.stringify(obj),
				success: function(){
					console.log("삭제성공!");
					console.log("업무번호: " + obj.bussNo + ", 상위업무: " + obj.bussUpcd);
				},
				error: function(error){
					console.log(error);
				}
			})
			for(let i=0; i<calendarData.length; i++){
				if(obj.bussNo == calendarData[i].bussNo){ // 해당업무번호와 같은 업무번호 찾기.
					calendarData[i].bussUpcd = 0;	// 캘린더 배열의 상위업무 0으로 업데이트.
					return false;
				}
			}
		});
		// 더블클릭 했을 때 - 수정 버튼 가리기
		gantt.attachEvent("onLightbox", function (task_id){
			gantt.hideLightbox();
		});
		// 간트 실행 코드
		gantt.init("personalGanttchart");
		// 데이터+상위업무 데이터 구현
		if(calendarData.length != 0){
			gantt.parse({
			    data: personalGanttData(),
			    links: personalGanttLink()
			});
		}
	});
	
	/*----------------------------
		Gantt Chart - data 출력
	------------------------------*/
	// 간트차트 내용 구현
	function personalGanttData(){
		let arr = [];
		
		for(let i=0; i<calendarData.length; i++){
			let obj = new Object();
			let frdt = calendarData[i].bussFrdt;
			let todt = calendarData[i].bussTodt;
			
			obj.id = calendarData[i].bussNo;
			obj.text = calendarData[i].bussNm;
			obj.start_date = getddmmyyyy(frdt);
			obj.duration = ((getMilliseconds(todt) - getMilliseconds(frdt)) / (24*60*60*1000)) + 1;
			obj.progress = calendarData[i].bussPrgre/100;
			/* if(calendarData[i].bussUpcd != null){
				obj.parent = calendarData[i].bussUpcd;
			} */
			arr.push(obj);
		}
		return arr;
	}
	// 간트차트 상위업무 구현
	function personalGanttLink(){
		let arr = [];
		
		for(let i=0; i<calendarData.length; i++){
			let obj = new Object();
			if(calendarData[i].bussUpcd != null){
				obj.id = calendarData[i].bussNo;
				obj.source = calendarData[i].bussUpcd;
				obj.target = calendarData[i].bussNo;
				obj.type = "0";
			}
				arr.push(obj);
		}
		return arr;
	}
	
	// 간트차트 날짜 형식 포맷
	function getddmmyyyy(dt){
		var date = new Date(dt);
		var year = date.getFullYear();
		var month = ('0' + (date.getMonth() + 1)).slice(-2);
		var day = ('0' + date.getDate()).slice(-2);
		
		return day + '-' + month + '-' + year;
	}
	
	// 간트차트 날짜 초단위 포맷
	function getMilliseconds(dt){
		var date = new Date(dt);
		var milli = date.getTime();
		return milli;
	}
	
	/*----------------------------
		Calendar&Gantt switch
	------------------------------*/
	$('.btn.btn-primary.calendar').on('click', function(){
		$('#personalCalendar').css("display","flex");
		$('#personalGanttchart').css("display","none");
	});
	$('.btn.btn-primary.gantt').on('click', function(){
		$('#personalGanttchart').css("display","flex");
		$('#personalCalendar').css("display","none");
	});
	
    /*----------------------------
		업무리스트 스크롤바
	------------------------------*/
	$(function(){
		$('.businessListBox').slimScroll({
			height: '940px'
		});
		
		$('.businessListBox').parent().css('float', 'right');
	})
	
	/*----------------------------
		업무 상세보기 모달
	------------------------------*/
	$('.businessList').on('click', infoBusiness);
    
	$(function(){
		var includes1 = $('[data-include1="showModalMain"]');
		jQuery.each(includes1, function(){
			$(this).load('/modal/modal-home.html');
		});
	})
    
    function infoBusiness(){
    	bussNo = $(this).find('input').val();
    	$('#workModal').modal('toggle');
    }
    </script>
	
	<script src="plugins/common/common.min.js"></script>
	<script src="js/custom.min.js"></script>
	<script src="js/settings.js"></script>
	<script src="js/gleek.js"></script>
	<script src="js/styleSwitcher.js"></script>
</body>
</html>