<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/projectlayout}">
<head>
<meta charset="UTF-8">
<title>프로젝트 캘린더</title>
<!-- 간트차트 css & js -->
<link rel="stylesheet" href="http://cdn.dhtmlx.com/gantt/edge/dhtmlxgantt.css" type="text/css"> 
<script src="http://cdn.dhtmlx.com/gantt/edge/dhtmlxgantt.js"></script>
<!-- 캘린더 js -->
<script src='https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@6.1.9/index.global.min.js'></script>

<style type="text/css">
body{
	overflow: auto;
}

#main-wrapper {
	overflow: visible;
}

#projectCalendarBox {
	width: 70%;
}

#projectCalendar {
	padding: 10px;
	background-color: white;
}

.calendarBusinessInfo {
	width: 30%;
	padding: 10px;
	background-color: #dddddd;
}

select {
	appearance: none;
	text-align: center;
}

.fc .fc-toolbar.fc-header-toolbar {
	margin: 10px;
}

.fc-toolbar-chunk {
    display: flex;
    align-items: center;
}

#fc-dom-1 {
	margin-left: 0;
}

.fc .fc-prev-button {
	margin-right: 0.75em;
}

.fc .fc-button-primary {
	background-color: #7571f9;
	border-color: #7571f9;
}

.fc .fc-button-primary:hover {
	background-color: #4540f7;
}

.fc .fc-button-primary:disabled {
	background-color: #2c3e50;
}

.fc-event {
	padding: 0;
}

.fc-event-title-container {
	height: 1.5em;
	padding-top: 0.15em;
}

.fc-event-title.fc-sticky {
	font-size: 0.75em;
	margin-bottom: 0;
}

.fc-license-message {
	display: none;
}

.button-group {
	float: left;
	margin-bottom: 10px;
}

.btn.btn-primary.dropdown-toggle {
	float: right;
	padding: 7px 10px;
}

.dropdown-menu {
	min-width: 3em;
}

.businessList {
	background-color: white;
	width: 100%;
	border-radius: 5px;
	float: left;
	padding: 10px;
	margin: 3px 0px;
}

.businessList:hover {
	background-color: #eeeeee;
}

.businessList2 {
	overflow: hidden;
	text-overflow: ellipsis;
	height: 18px;
	font-size: 1em;
	word-wrap : brek-word;
	display : -webkit-box;
	-webkit-line-clamp : 1;
	-webkit-box-orient: vertical;
}

#projectGanttchart {
	padding: 10px;
	float: left;
	display: none;
}

.gantt_tree_content {
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.gantt_link_control.task_left.task_start_date {
	display: none;
}
</style>

</head>
<body>
	<th:block layout:fragment="content">
	<div class="row">
		<!-- 달력&차트 박스 시작 -->
		<div id="projectCalendarBox" >
			<div id='projectCalendar' class="tab-pane"></div>
			
			<div id='projectGanttchart' class="tab-pane" style='width: 100%; height:1200px;'></div>
		</div>
		<!-- 달력&차트 박스 끝 -->
		
		<!-- 업무리스트 박스 시작 -->
		<div class='calendarBusinessInfo'>
			<div>
				<!-- 달력 간트 스위치 시작 -->
				<div class="button-group">
					<div class="btn-group">
						<button type="button" class="btn btn-primary calendar">달력</button>
						<button type="button" class="btn btn-primary gantt">차트</button>
					</div>
				</div>
				<!-- 달력 간트 스위치 끝 -->
			
				<!-- 정렬 버튼 시작 -->
				<div class="basic-dropdown">
					<div class="dropdown">
						<button type="button" class="btn btn-primary dropdown-toggle" 
							data-toggle="dropdown" aria-expanded="true">
							정렬
						</button>
						<div class="dropdown-menu">
							<a class="dropdown-item">날짜순</a>
							<a class="dropdown-item">진척도</a>
							<a class="dropdown-item">중요도</a>
						</div>
					</div>
				</div>
				<!-- 정렬 버튼 끝 -->
			</div>
			
			<!-- 업무 목록 - 리스트 시작 -->
			<div class="businessListBox">
				<th:block th:each="bussInfo : ${projectCalendarPage}">
					<div class="businessList" onclick="infoBusiness()">
						<div class="businessList2" 
							th:text="${#dates.format(bussInfo.bussFrdt, 'yy.MM.dd')} + ' ~ ' + ${#dates.format(bussInfo.bussTodt, 'yy.MM.dd')} +
							 ' | 중요도 ' + ${bussInfo.bussImp} + ' | 진척도 ' + ${bussInfo.bussPrgre} + '%'">
						</div>
						<div class="businessList2" 
							th:text="${bussInfo.bussNm}">
						</div>
						<input type="hidden" id="bussNo" th:value="${bussInfo.bussNo}" />
					</div>
				</th:block>
			</div>
			<!-- 업무 목록 - 리스트 끝 -->
		</div>
		<!-- 업무리스트 박스 끝 -->
	</div>
	
	<!-- 모달 시작 -->
	<div data-include1="showModalMain"></div>
	<div data-include2="showModalInsert"></div>
	<!-- 모달 끝 -->
	
	<script th:inline="javascript">
    let calendarData = [[${projectCalendarPage}]]; // 전체 업무리스트
    let calendarArr = calendarData; // 화면 출력할 업무리스트
    
	/*----------------------------
		리셋 데이터
	------------------------------*/
	// 업무리스트에 다시 뿌리기
   	function resetBussList(){
		$('.businessList').remove();
   		
   		$.each(calendarArr, function(idx, item){
   			$('.businessListBox').append($('<div class="businessList" onclick="infoBusiness()"></div>'));
   			$('.businessList:last').append($('<div class="businessList2"></div>'));
   			$('.businessList2:last').append(formatDate(item.bussFrdt).substr(2) + ' ~ ' + formatDate(item.bussTodt).substr(2)
   					+ ' | 중요도 ' + item.bussImp + ' | 진척도 ' + item.bussPrgre + '%');
   			$('.businessList:last').append($('<div class="businessList2"></div>'));
   			$('.businessList2:last').append(item.bussNm);
   		});
   		$('.businessList').on('click', infoBusiness);
   	}
    // 캘린더에 다시 뿌리기
    function resetCal(){
    	calendarEl = document.getElementById('projectCalendar');
		calendar = new FullCalendar.Calendar(calendarEl, {
       		height: "1200px",
       		expandRows: true,
       		initialView: 'dayGridMonth',	// 나타낼 달력 형식(dayGridMonth: 월단위)
       		dayMaxEvents: 5,		// 이벤트가 오버되면 높이 제한 (+ 몇 개식으로 표현)
       		locale: 'ko',			// 한국어 설정
       		editable: true,			// 수정 가능
       		selectable: true,			// 달력 일자 드래그 기능
       		eventChange: function(data) { // 이벤트가 수정되면 발생하는 이벤트
       			var obj = new Object();
       			var end = new Date(data.event.endStr);
       			end.setDate(end.getDate() - 1);
       			var endYear = end.getFullYear();
       			var endMonth = end.getMonth()+1;
       			if(endMonth<10) endMonth = '0'+endMonth;
       			var endDate = (String)(end.getDate());
       			if(endDate<10) endDate = '0' + endDate;
       			
       			obj.bussNo = data.event.id;
       			obj.bussFrdt = data.event.startStr;
       			obj.bussTodt = endYear + '-' + endMonth + '-' + endDate;
       			
       			$.ajax({
       				type: 'post',
       				url: '/updateCalendarBuss',
       				contentType: 'application/json',
          			data: JSON.stringify(obj),
          			success: function(){
          				
          			},
          			error: function(error){
          				console.log(error);
          			}
       			})
            },
       		headerToolbar: {		// 헤더 꾸미기
				left: 'today',
				center: 'prev title next',
				right: ''
			},
			titleFormat: function (date) {		// 타이틀 날짜 형식 설정
	    		// YYYY년 MM월
	    		return `${date.date.year}년 ${date.date.month + 1}월`;
	    	},
	    	events: projectCalendarArr(),		// 내용 데이터
       	});
       	calendar.render();
    }
    // 간트에 다시 뿌리기
    function resetGantt(){
    	gantt.attachEvent("onBeforeTaskDisplay", function(id, task){
			for(let i=0; i<calendarArr.length; i++){
				if (task.id == calendarArr[i].bussNo){
			        return true;
			    }
		    }
		    return false;
		});
		gantt.init("projectGanttchart");
    }
	
   	/*----------------------------
		업무리스트 정렬
	------------------------------*/
   	$('.dropdown-item').eq(0).on('click', function(){ // 날짜
   		calendarData.sort(function(a, b){
			if(a.bussFrdt<b.bussFrdt) return -1;
			if(a.bussFrdt>b.bussFrdt) return 1;
			if(a.bussFrdt===b.bussFrdt) return 0;
		});
   		resetBussList();
   	});
   	$('.dropdown-item').eq(1).on('click', function(){ // 진척도
   		calendarData.sort(function(a, b){
			if(a.bussPrgre>b.bussPrgre) return -1;
			if(a.bussPrgre<b.bussPrgre) return 1;
			if(a.bussPrgre===b.bussPrgre) return 0;
		});
   		resetBussList();
   	});
   	$('.dropdown-item').eq(2).on('click', function(){ // 중요도
   		for(let i=0; i<calendarData.length; i++){
   			if(calendarData[i].bussImp == "상") calendarData[i].bussImp == 1;
   			if(calendarData[i].bussImp == "중") calendarData[i].bussImp == 2;
   			if(calendarData[i].bussImp == "하") calendarData[i].bussImp == 3;
   		}
   		calendarData.sort(function(a, b){
			if(a.bussImp<b.bussImp) return -1;
			if(a.bussImp<b.bussImp) return 0;
			if(a.bussImp<b.bussImp) return 1;
		});
   		for(let i=0; i<calendarData.length; i++){
   			if(calendarData[i].bussImp == 1) calendarData[i].bussImp == "상";
   			if(calendarData[i].bussImp == 2) calendarData[i].bussImp == "중";
   			if(calendarData[i].bussImp == 3) calendarData[i].bussImp == "하";
   		}
		resetBussList();
   	});
    
   	/*----------------------------
		Calendar 구현
	------------------------------*/
   	document.addEventListener('DOMContentLoaded', function() {
       	var calendarEl = document.getElementById('projectCalendar');
       	var calendar = new FullCalendar.Calendar(calendarEl, {
       		height: "1200px",
       		expandRows: true,
       		initialView: 'dayGridMonth',	// 나타낼 달력 형식(dayGridMonth: 월단위)
       		dayMaxEvents: 5,		// 이벤트가 오버되면 높이 제한 (+ 몇 개식으로 표현)
       		locale: 'ko',			// 한국어 설정
       		editable: true,			// 수정 가능
       		selectable: true,			// 달력 일자 드래그 기능
       		eventChange: function(data) { // 이벤트가 수정되면 발생하는 이벤트
       			var obj = new Object();
       			var end = new Date(data.event.endStr);
       			end.setDate(end.getDate() - 1);
       			var endYear = end.getFullYear();
       			var endMonth = end.getMonth()+1;
       			if(endMonth<10) endMonth = '0'+endMonth;
       			var endDate = (String)(end.getDate());
       			if(endDate<10) endDate = '0' + endDate;
       			
       			obj.bussNo = data.event.id;
       			obj.bussFrdt = data.event.startStr;
       			obj.bussTodt = endYear + '-' + endMonth + '-' + endDate;
       			
       			$.ajax({
       				type: 'post',
       				url: '/updateCalendarBuss',
       				contentType: 'application/json',
          			data: JSON.stringify(obj),
          			success: function(){
          				
          				$.each(calendarArr, function(idx, item){
          					if(item.bussNo == obj.bussNo){
          						item.bussFrdt = obj.bussFrdt;
          						item.bussTodt = obj.bussTodt;
          						return false;
          					}
          				});
          				resetBussList();
          				gantt.parse({
          				    data: ganttData(),
          				    links: ganttLink()
          				});
          				resetGantt();
          				gantt.refreshData();
          			},
          			error: function(error){
          				console.log(error);
          			}
       			})
            },
       		headerToolbar: {		// 헤더 꾸미기
				left: 'today',
				center: 'prev title next',
				right: ''
			},
			titleFormat: function (date) {		// 타이틀 날짜 형식 설정
	    		// YYYY년 MM월
	    		return `${date.date.year}년 ${date.date.month + 1}월`;
	    	},
	    	events: projectCalendarArr(),		// 내용 데이터
       	});
       	calendar.render();
   	});
   	
   	/*----------------------------
   		Calendar - events 출력
   	------------------------------*/
   	function projectCalendarArr(){
   		let arr = [];
   		let color = ['#ff6666', '#ff8c66', '#ffb366', '#ffd966', '#ffff66', 
					'#d9ff66', '#b3ff66', '#8cff66', '#66ff66', '#66ff8c', 
					'#66ffb3', '#66ffd9', '#66ffff', '#66d9ff', '#66b3ff', 
					'#668cff', '#6666ff', '#8c66ff', '#b366ff', '#d966ff', 
					'#ff66ff', '#ff66d9', '#ff66b3', '#ff668c'];
		
   		for(let i=0; i<calendarData.length; i++){
   			let obj = new Object();
   			
   			var todt = new Date(new Date(calendarData[i].bussTodt).getTime() + 1000*60*60*24);
   			var todtDate = (String)(todt.getDate());
   			if(todtDate < 10) todtDate = '0' + todtDate;
   			var toMonth = (todt.getMonth() + 1);
   			if(toMonth<10) toMonth = '0'+toMonth;
   			var newTodt = todt.getFullYear() + '-' + toMonth + '-' + todtDate;
   			
   			obj.id = calendarData[i].bussNo; // id
   			obj.title = calendarData[i].bussNm;		// 제목
   			obj.start = calendarData[i].bussFrdt;	// 시작 날짜
   			obj.end = newTodt;		// 종료 날짜
   			obj.color = color[i%24]; 	// 바 색깔
   			
   			arr.push(obj);
   		}
   		return arr;
   	}
   	
   	/*----------------------------
		Calendar - formatDate
	------------------------------*/
   	function formatDate(date){
   		var d = new Date(date),
   		year = d.getFullYear(),
   		month = '' + (d.getMonth() + 1),
   		day = '' + d.getDate();
   		
   		if(month.length<2) month = '0'+month;
   		if(day.length<2) day = '0'+day;
   		
   		return [year, month, day].join('.');
   	}
   	
   	/*----------------------------
		Gantt Chart 구현
	------------------------------*/
	document.addEventListener('DOMContentLoaded', function() {
		gantt.config.scales = [
		    {unit: "month", step: 1, format: "<Strong style='font-size:16px'>%Y / %m</Strong>"},
		    {unit: "day", step: 1, format: "%j"}
		];
		
		gantt.config.min_column_width = 50;
		gantt.config.scale_height = 60;
		
		gantt.config.columns = [
			{name: "text", label: "업무명", tree: true, width: '*'},
			{name: "start_date", label: "시작일", align: "center", width: 100},
			{name: "duration", label: "기간", align: "center", width: 50}
		];
		// 업무바 수정 ajax
		gantt.attachEvent("onAfterTaskupdate", function(id, item){
			var obj = new Object();
			var newEnd = new Date(getMilliseconds(item.end_date)-1000*60*60*24);
			
			var frMonth = ('0'+(item.start_date.getMonth() + 1)).slice(-2);
			var frDate = ('0'+item.start_date.getDate()).slice(-2);
			var toMonth = ('0'+(newEnd.getMonth()+1)).slice(-2);
			var toDate = ('0'+newEnd.getDate()).slice(-2);
			
			var start = item.start_date.getFullYear() + "-" + frMonth + "-" + frDate;
			var end = newEnd.getFullYear() + "-" + toMonth + "-" + toDate;
			
			obj.bussNo = item.id;
			obj.bussFrdt = start;
			obj.bussTodt = end;
			obj.bussPrgre = Math.floor(item.progress * 100);
			
			$.ajax({
				type: 'post',
				url: '/updateCalendarBuss',
				contentType: 'application/json',
				data: JSON.stringify(obj),
				success: function(){
					
					$.each(calendarArr, function(idx, item){
      					if(item.bussNo == obj.bussNo){
      						item.bussFrdt = obj.bussFrdt;
      						item.bussTodt = obj.bussTodt;
      						item.bussPrgre = obj.bussPrgre;
      						return false;
      					}
      				});
					resetBussList();
					resetCal();
				},
				error: function(error){
					console.log(error);
				}
			})
		});
		// 상위업무 수정 ajax
		gantt.attachEvent("onBeforeLinkAdd", function(id,item){
			var obj = new Object();
			obj.bussNo = item.target;
			obj.bussUpcd = item.source;
			
			// 중복 상위업무에 대한 처리
			$.each(calendarArr, function(idx, item2){
				if(obj.bussNo == item2.bussNo){ // 해당업무번호와 같은 업무번호 찾기.
					if(item2.bussUpcd == 0){ // 업무번호의 상위업무가 0이면 통과
						$.ajax({
							type: 'post',
							url: '/updateGanttUpcd',
							contentType: 'application/json',
							data: JSON.stringify(obj),
							success: function(){
								
							},
							error: function(error){
								console.log(error);
							}
						})
						// 캘린더 배열의 상위업무 정보 업데이트.
						item2.bussUpcd = obj.bussUpcd;
						return false; 
					} // 업무번호의 상위업무가 0이 아니면
					// 경고창 띄워주기
					ganttUpcdDuplAlert();
					// 방금 만든 간트 링크 없애기
					/* let thisId = item.id;
					gantt.deleteLink(thisId); */
					return false;
				}
			})
		});
		// 상위업무 삭제 ajax
		gantt.attachEvent("onAfterLinkDelete", function(id,item){
			var obj = new Object();
			obj.bussNo = item.target;
			obj.bussUpcd = null;
			
			$.ajax({
				type: 'post',
				url: '/updateGanttUpcd',
				contentType: 'application/json',
				data: JSON.stringify(obj),
				success: function(){
					
				},
				error: function(error){
					console.log(error);
				}
			})
			for(let i=0; i<calendarData.length; i++){
				if(obj.bussNo == calendarData[i].bussNo){ // 해당업무번호와 같은 업무번호 찾기.
					calendarData[i].bussUpcd = 0;	// 캘린더 배열의 상위업무 0으로 업데이트.
					return false;
				}
			}
		});
		// 더블클릭 했을 때 - 수정 버튼 가리기
		gantt.attachEvent("onLightbox", function (task_id){
			gantt.hideLightbox();
		});
		// 간트 실행 코드
		gantt.init("projectGanttchart");
		// 데이터+상위업무 데이터 구현
		if(calendarData.length != 0){
			gantt.parse({
			    data: ganttData(),
			    links: ganttLink()
			});
		}
	});
	
	/*----------------------------
		Gantt Chart - data 출력
	------------------------------*/
	// 간트차트 내용 구현
	function ganttData(){
		let arr = [];
		
		for(let i=0; i<calendarData.length; i++){
			let obj = new Object();
			let frdt = calendarData[i].bussFrdt;
			let todt = calendarData[i].bussTodt;
			
			obj.id = calendarData[i].bussNo;
			obj.text = calendarData[i].bussNm;
			obj.start_date = getddmmyyyy(frdt);
			obj.duration = ((getMilliseconds(todt) - getMilliseconds(frdt)) / (24*60*60*1000)) + 1;
			obj.progress = calendarData[i].bussPrgre/100;
			arr.push(obj);
		}
		return arr;
	}
	
	// 간트차트 상위업무 구현
	function ganttLink(){
		let arr = [];
		
		for(let i=0; i<calendarData.length; i++){
			let obj = new Object();
			if(calendarData[i].bussUpcd != '0'){
				//obj.id = calendarData[i].bussNo; // id
				obj.source = calendarData[i].bussUpcd; // 상위업무
				obj.target = calendarData[i].bussNo; // 해당업무
				obj.type = "0";
				arr.push(obj);
			}
		}
		return arr;
	}

	// 간트차트 중복 상위업무 경고 Sweet Alert
	function ganttUpcdDuplAlert(){
		Swal.fire({
			icon: 'error',
			title: '상위업무가 이미 존재합니다.',
		});
	}
	
	// 간트차트 날짜 형식 포맷
	function getddmmyyyy(dt){
		var date = new Date(dt);
		var year = date.getFullYear();
		var month = ('0' + (date.getMonth() + 1)).slice(-2);
		var day = ('0' + date.getDate()).slice(-2);
		
		return day + '-' + month + '-' + year;
	}
	
	// 간트차트 날짜 초단위 포맷
	function getMilliseconds(dt){
		var date = new Date(dt);
		var milli = date.getTime();
		return milli;
	}

    /*----------------------------
		Calendar&Gantt switch
	------------------------------*/
	$('.btn.btn-primary.calendar').on('click', function(){
		$('#projectCalendar').css("display","flex");
		$('#projectGanttchart').css("display","none");
		resetCal();
	});
	$('.btn.btn-primary.gantt').on('click', function(){
		$('#projectGanttchart').css("display","flex");
		$('#projectCalendar').css("display","none");
	});
	
	/*----------------------------
		업무리스트 스크롤바
	------------------------------*/
	$(function(){
		$('.businessListBox').slimScroll({
			height: '1140px',
		});
		
		$('.businessListBox').parent().css('float', 'right');
	})
	
	// 프로젝트 헤더 탭
	window.onload = function () {
		var navItemHome = $('.nav-link').eq(1);
        navItemHome.addClass('active');
    }
    
	/*----------------------------
		모달
	------------------------------*/
	// 권오준 추가
	var miPrjtNo = [[${prjtNo}]];
	
	// 업무 등록 모달
	$('#insertModal').on('click', businessModal)
	function businessModal(){
		$('#insertbuss').modal('show');
	} 
	
	// 업무리스트 클릭시 모달
	$('.businessList').on('click', infoBusiness)
	function infoBusiness(){
		bussNo = $(this).find('input').val();
		$('#workModal').modal('toggle');
		$("#tab_info").trigger("click");
	}
	
 	$(function(){
		var includes1 = $('[data-include1="showModalMain"]');
		var includes2 = $('[data-include2="showModalInsert"]');
		
		jQuery.each(includes1, function(){
			$(this).load('/modal/modal-home.html');
		});
		jQuery.each(includes2, function(){
			$(this).load('/modal/business/insert');
		});
	})
	</script>
	</th:block>
</body>
</html>