<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://code.jquery.com/jquery-3.7.1.js"
	integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
	crossorigin="anonymous"></script>


<style>
ul li {
	list-style-type: none;
}
</style>

</head>
<body>
	<!-- 	<h2>파일 업로드</h2>

	<form action="/upload" method="post" enctype="multipart/form-data">

		<h4>단일 파일 업로드</h4>
		<input type="file" name="file">

		<h4>다중 파일 업로드</h4>
		<input type="file" multiple="multiple" name="files"> <input
			type="submit" />
	</form>
 -->

	<input type="file" multiple="multiple" onchange="return test()" />

	<ul id="wow">

	</ul>


	<table>

		<thead>
			<tr>
				<th>gd</th>
				<th>gd</th>
				<th>gd</th>
				<th>gd</th>
				<th>gd</th>
				<th>gd</th>
			</tr>
		</thead>
		<tbody id="wow">
		</tbody>
	</table>



</body>
<script>
	// 파일 선택시 기존 파일을 덮지않고 리스트 생성
	/* et selectedFiles = []; // 빈 배열 생성

			function test(files) { // input의 files를 넘겨주기
			    console.log(files);
			    const fileList = document.getElementById('wow'); // tr 지정
			    for(let i=0; i<files.length; i++) {
			        selectedFiles.push(files[i]); // 빈 배열에 선택한 파일들 배열값 넣기
			        const item = document.createElement('li'); // td를 새로 생성
			        const fileName = document.createTextNode(files[i].name); // 선택한 파일의 이름을 변수에 넣기
			        const fileSize = document.createTextNode(files[i].name); // 선택한 파일의 사이즈 변수에 넣기
			        const deleteButton = document.createElement('button'); // 삭제버튼추가
			        deleteButton.addEventListener('click', (event) => { // 삭제버튼 클릭시 새로운 이벤트 생성
			            item.remove(); // 해당 td 삭제
			            event.preventDefault(); // 이벤트 막기
			            deleteFile(files[i]); // files의 배열을 삭제
			        });
			        deleteButton.innerText="X"; // 삭제버튼 X 모양 
			        item.appendChild(fileName); // td에다가 파일 이름 추가
			        item.appendChild(deleteButton); // 삭제버튼 추가
			        fileList.appendChild(item); // fileList에 td를 넣어 화면에 출력
			    }
			} */

	// 파일 바이트 계산
	function ByteSize(size) {
		const byteUnits = [ "KB", "MB", "GB", "TB" ];
		for (let i = 0; i < byteUnits.length; i++) {
			size = Math.floor(size / 1024);
			if (size < 1024)
				return size.toFixed(1) + byteUnits[i];
		}
	};

	function test() {
		
		var fileInfo = document.querySelector('input[type=file]').files;
		
		var file = fileInfo[0];
		
		if (file) {
			var trTag = $('<tr/>');
			var fileNameTag = $('<td/>').text(file.name);
			var fileSizeTag = $('<td/>').text(ByteSize(file.size));
			var deleteFileTag = $('<td/>').attr('class', 'deleteFile');
			var fileInputType = $('<input/>').attr('type', 'file').attr('name',
					'files').css('display', 'none');
			trTag.append(fileNameTag);
			trTag.append(fileSizeTag);
			trTag.append(deleteFileTag);
			trTag.append(fileInputType);

			$('#wow').append(trTag);
		}
	}
</script>
</html>