<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://code.jquery.com/jquery-3.7.1.js"
	integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
	crossorigin="anonymous"></script>


<style>
ul li {
	list-style-type: none;
}
</style>

</head>
<body>
		<form method="post" action="/upload" enctype="multipart/form-data">
			<input type="file" multiple="multiple" id="hi" />
			<input type="submit">
		</form>
	
	<ul id="wow">

	</ul>
	
	<select name="type">
		<option value="name">파일명</option>
		<option value="writer">ㅅㅂ</option>
	</select>
	
	<input type="text" name="keyword">    
	<button id="tq"> tq</button>
	
	
	
	
	
</body>
<script>

</script>
</html>