<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout}">
<head>

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
	integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js">	
</script>

</head>
<body>
	<th:block layout:fragment="content">
		<div class="row">
			<div class="col-lg-6 col-md-12">
				<div class="card" style="height: 400px;">
					<div class="card-body" style="overflow: auto;">
						<h4 class="card-title">프로젝트</h4>
							<div class="dropdown custom-dropdown">
							<div>
								<select class="dropdown-business" name="project">
									<option class="dropdown-relation" value="0D1">진행중</option>
									<option class="dropdown-relation" value="0D2">완료</option>
									<option class="dropdown-relation" value="0D3">보류</option>
								</select>
							</div>
						</div>
						<div class="table-responsive">
							<table class="table">
								<thead>
									<tr>
										<th>즐겨찾기</th>
										<th>프로젝트번호</th>
										<th>프로젝트명</th>
										<th>참여인원</th>
										<th>시작기간</th>
										<th>종료기간</th>
										<th>상태</th>
									</tr>
								</thead>
								<tbody id="projecttbl">
									<th:block th:each="projectList : ${projectList}">
										<tr th:if="${projectList.prjtSt == '0D1'}" 
											th:data-no="${projectList.prjtNo}">
											<td th:if="${projectList.prjtFav == 'N'}"><i
												class="fa-regular fa-star" style="color: #080808;"></i></td>
											<td th:if="${projectList.prjtFav == 'Y'}"><i
												class="fa-solid fa-star" style="color: #dee203;"></i></td>
											<td th:text="${projectList.prjtNo}" />
											<td th:text="${projectList.prjtNm}" />
											<td th:text="${projectList.count}" />
											<td
												th:text="${#dates.format(projectList.prjtFdt, 'yyyy-MM-dd')}" />
											<td
												th:text="${#dates.format(projectList.prjtTdt, 'yyyy-MM-dd')}" />
											<td th:if="${projectList.prjtSt == '0D1'}">진행중</td>
										</tr>
									</th:block>
								</tbody>
							</table>
						</div>
					</div>
				</div>

			</div>
			<div class="col-lg-6 col-md-12">
				<div class="card" style="height: 400px;">
					<div class="card-body" style="overflow: auto;">
						<h4 class="card-title">코멘트(개인피드백)</h4>
						<div class="dropdown custom-dropdown">
							<div>
								<select class="dropdown-business" name="feedback">
									<option class="dropdown-relation" value="">최신순</option>
									<option class="dropdown-relation" value="">오래된순</option>
								
								</select>
							</div>
						</div>

						<div class="table-responsive">
							<table class="table">
								<thead>
									<tr>
										<th>프로젝트명</th>
										<th>코멘트</th>
										<th>날짜</th>
									</tr>
								</thead>
								<tbody id="replytbl">
									<th:block th:each=" memberFeedbackList: ${memberFeedbackList}">
										<tr th:attr="onclick='moveFeed(\'' + ${memberFeedbackList.prjtNo} + '\')'">
											<td th:text="${memberFeedbackList.prjtNm}" />
											<td th:text="${memberFeedbackList.membFdbkCntn}" />
											<td
												th:text="${#dates.format(memberFeedbackList.membFdbkDt, 'yyyy-MM-dd')}" />
										</tr>
									</th:block>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-12">
				<div class="card" style="height: 400px;">
					<div class="card-body" style="overflow: auto;">
						<h4 class="card-title">업무</h4>
						<div class="dropdown custom-dropdown">
							<div>
								<select class="dropdown-business" name="bussImp">
									<option class="dropdown-relation" value="*">전체</option>
									<option class="dropdown-relation" value="0J1">상</option>
									<option class="dropdown-relation" value="0J2">중</option>
									<option class="dropdown-relation" value="0J3">하</option>
								</select>
							</div>
						</div>
						<div class="table-responsive">
							<table class="table">
								<thead>
									<tr>
										<th>업무명</th>
										<th>프로젝트명</th>
										<th>시작기간</th>
										<th>종료기간</th>
										<th>중요도</th>
									</tr>
								</thead>
								<tbody id="businesstbl">
									<th:block th:each=" businessList: ${businessList}">
										<tr>
											<td th:text="${businessList.bussNm}" />
											<td th:text="${businessList.prjtNm}" />
											<td
												th:text="${#dates.format(businessList.bussFrdt, 'yyyy-MM-dd')}" />
											<td
												th:text="${#dates.format(businessList.bussTodt, 'yyyy-MM-dd')}" />

											<td th:text="${businessList.bussImpNm}">
										</tr>
									</th:block>
								</tbody>
							</table>
						</div>


					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-12">
				<div class="card" style="height: 400px;">
					<div class="card-body" style="overflow: auto;">
						<h4 class="card-title">이슈</h4>
						<div class="dropdown custom-dropdown">
							<div>
								<!-- selected 박스로 변경하기  -->
								<select class="dropdown-business" name="issue">
									<option class="dropdown-relation" value="*">전체</option>
									<option class="dropdown-relation" value="0E1">해결</option>
									<option class="dropdown-relation" value="0E2">미해결</option>
									<option class="dropdown-relation" value="0E3">해결불가</option>
								</select>
							</div>
						</div>
						<div class="table-responsive">
							<table class="table">
								<thead>
									<tr>
										<th>제목</th>
										<th>작성자</th>
										<th>날짜</th>
										<th>상태</th>
									</tr>
								</thead>
								<tbody id="issuetbl">
									<th:block th:each=" issueList: ${issueList}">
										<tr>
											<td th:text="${issueList.issuTtl}" />
											<td th:text="${issueList.membNm}" />
											<td
												th:text="${#dates.format(issueList.issuDt, 'yyyy-MM-dd')}" />
											<td th:if="${issueList.issuSt == '0E1'}">해결</td>
											<td th:if="${issueList.issuSt == '0E2'}">미해결</td>
											<td th:if="${issueList.issuSt == '0E3'}">해결불가</td>
										</tr>
									</th:block>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script th:inline="javascript">
		
			//즐겨찾기
			$('#projecttbl').on('click','td:nth-child(1)',projectFavorite)
				
				
		
			$('#projecttbl').on('click','tr', function(){
				console.log(event.target.nodeName);
				if(event.target.nodeName == 'I'){
					return ;
				}
				let prjtNo = $(event.target).closest('tr').data("no");
				location.href = '/project/home/' + prjtNo;
			})
			
			//드롭다운 
			$('select[name=project]').on('change', projectDropDown);
			$('select[name=feedback]').on('change', feedbackDropdown);
			$('select[name=bussImp]').on('change', businessDropdown);
			$('select[name=issue]').on('change', issueDropdown);
			
			function projectDropDown() {
				
				$(this).parent().siblings().attr('class', $(this).children().attr('class'));
				$(this).parent().siblings().text($(this).text());
				$(this).parent().siblings().append('<i class="fa fa-angle-down m-l-5"></i>');
				
				let projectState = $('select[name=project] option:selected').val();
				let projecttbl = $('#projecttbl');
		
				$.ajax('ProjectStateAjax',{
					type : 'post',
					data : { prjtSt : projectState}
				})
				.done(function(data){
					projecttbl.empty();
					$.each(data.projectStateList, function (idx, data) {
						let trTag = $('<tr/>');
						let tdTag= $('<td/>');
			
			 			if(data.prjtFav == 'Y'){
							tdTag.append('<i class="fa-solid fa-star" style="color: #dee203;"></i>');
						}
						if(data.prjtFav == 'N'){
							tdTag.append('<i class="fa-regular fa-star" style="color: #080808;"></i>');
						} 
					
    					trTag.append(tdTag);
						
    					tdTag= $('<td/>');
    					tdTag.append(data.prjtNo);
    					trTag.append(tdTag);
    					
    					tdTag= $('<td/>');
    					tdTag.append(data.prjtNm);
    					trTag.append(tdTag);
    					
    					tdTag= $('<td/>');
    					tdTag.append(data.count);
    					trTag.append(tdTag);
    					
    					let prjtFdt = new Date(data.prjtFdt);
    					tdTag= $('<td/>');
    					tdTag.append(dateFormat(prjtFdt));
    					trTag.append(tdTag);
    				
    					let prjtTdt = new Date(data.prjtTdt);
    					tdTag= $('<td/>');
    					tdTag.append(dateFormat(prjtTdt));
    					trTag.append(tdTag);
    					
    					tdTag= $('<td/>');
    					tdTag.append(data.prjtStNm);
    					trTag.append(tdTag);
    					
						projecttbl.append(trTag);
						
						
					})
				})
				.fail(err => console.log(err));
				}
				
			
			
			function feedbackDropdown(){
				let fdList = [[${memberFeedbackList}]];
			
				let membFdbkDt =$('select[name=feedback] option:selected').text();
				let replytbl = $('#replytbl');
				
				if(membFdbkDt=='최신순'){
					fdList.sort(date_desc);
					replytbl.empty();
					
					$.each(fdList, function (idx, data) {
						let trTag = $('<tr/>');
						let tdTag= $('<td/>');
						
						tdTag= $('<td/>');
    					tdTag.append(data.prjtNm);
    					trTag.append(tdTag);
    					
    					tdTag= $('<td/>');
    					tdTag.append(data.membFdbkCntn);
    					trTag.append(tdTag);
    					
    					let membFdbkDt = new Date(data.membFdbkDt);
    					tdTag= $('<td/>');
    					tdTag.append(dateFormat(membFdbkDt));
    					trTag.append(tdTag);
    					
    					replytbl.append(trTag);
					})
					
				}else{
					fdList.sort(date_asc);
				
					replytbl.empty();
					
					$.each(fdList, function (idx, data) {
						let trTag = $('<tr/>');
						let tdTag= $('<td/>');
						
						tdTag= $('<td/>');
    					tdTag.append(data.prjtNm);
    					trTag.append(tdTag);
    					
    					tdTag= $('<td/>');
    					tdTag.append(data.membFdbkCntn);
    					trTag.append(tdTag);
    					
    					let membFdbkDt = new Date(data.membFdbkDt);
    					tdTag= $('<td/>');
    					tdTag.append(dateFormat(membFdbkDt));
    					trTag.append(tdTag);
    					
    					replytbl.append(trTag);
					})
				}
			
			
			}
			
			function date_asc(a,b){
				
				var dateA = new Date(a['membFdbkDt']).getTime();
				var dateB = new Date(b['membFdbkDt']).getTime();
				return dateA > dateB ? 1 : -1;
			}
			function date_desc(a,b){
				
				var dateA = new Date(a['membFdbkDt']).getTime();
				var dateB = new Date(b['membFdbkDt']).getTime();
				return dateA < dateB ? 1 : -1;
			}
			
			function businessDropdown(){
				let businessList = [[${businessList}]];
		
				let membFdbkDt = $('select[name=bussImp] option:selected').text();
				let businesstbl = $('#businesstbl');
				
				if(membFdbkDt=='상'){
					let bussImp = businessList.filter( businessList => businessList.bussImp == '0J1');
					businesstbl.empty();
					
					$.each(bussImp, function (idx, data) {
						let trTag = $('<tr/>');
						let tdTag= $('<td/>');
						
						tdTag= $('<td/>');
    					tdTag.append(data.bussNm);
    					trTag.append(tdTag);
    					
						tdTag= $('<td/>');
    					tdTag.append(data.prjtNm);
    					trTag.append(tdTag);
    					
    					let bussFrdt = new Date(data.bussFrdt);
    					tdTag= $('<td/>');
    					tdTag.append(dateFormat(bussFrdt));
    					trTag.append(tdTag);
    					
    					let bussTodt = new Date(data.bussTodt);
    					tdTag= $('<td/>');
    					tdTag.append(dateFormat(bussTodt));
    					trTag.append(tdTag);
    					
    					tdTag= $('<td/>');
    					tdTag.append('상');
    					trTag.append(tdTag);
    					
    					businesstbl.append(trTag);
					})
					
				}else if(membFdbkDt=='중'){
					let bussImp = businessList.filter( businessList => businessList.bussImp == '0J2');
					businesstbl.empty();
					
					$.each(bussImp, function (idx, data) {
						let trTag = $('<tr/>');
						let tdTag= $('<td/>');
						
						tdTag= $('<td/>');
    					tdTag.append(data.bussNm);
    					trTag.append(tdTag);
    					
						tdTag= $('<td/>');
    					tdTag.append(data.prjtNm);
    					trTag.append(tdTag);
    					
    					let bussFrdt = new Date(data.bussFrdt);
    					tdTag= $('<td/>');
    					tdTag.append(dateFormat(bussFrdt));
    					trTag.append(tdTag);
    					
    					let bussTodt = new Date(data.bussTodt);
    					tdTag= $('<td/>');
    					tdTag.append(dateFormat(bussTodt));
    					trTag.append(tdTag);
    					
    					tdTag= $('<td/>');
    					tdTag.append('중');
    					trTag.append(tdTag);
    					
    					businesstbl.append(trTag);
					})
					
				}else if(membFdbkDt=='하'){
					let bussImp = businessList.filter( businessList => businessList.bussImp == '0J3');
					businesstbl.empty();
					
					$.each(bussImp, function (idx, data) {
						let trTag = $('<tr/>');
						let tdTag= $('<td/>');
						
						tdTag= $('<td/>');
    					tdTag.append(data.bussNm);
    					trTag.append(tdTag);
    					
						tdTag= $('<td/>');
    					tdTag.append(data.prjtNm);
    					trTag.append(tdTag);
    					
    					let bussFrdt = new Date(data.bussFrdt);
    					tdTag= $('<td/>');
    					tdTag.append(dateFormat(bussFrdt));
    					trTag.append(tdTag);
    					
    					let bussTodt = new Date(data.bussTodt);
    					tdTag= $('<td/>');
    					tdTag.append(dateFormat(bussTodt));
    					trTag.append(tdTag);
    					
    					tdTag= $('<td/>');
    					tdTag.append('하');
    					trTag.append(tdTag);
    					
    					businesstbl.append(trTag);
					})
				}else{
					let bussImp = businessList;
					businesstbl.empty();
					
					$.each(bussImp, function (idx, data) {
						let trTag = $('<tr/>');
						let tdTag= $('<td/>');
						
						tdTag= $('<td/>');
    					tdTag.append(data.bussNm);
    					trTag.append(tdTag);
    					
						tdTag= $('<td/>');
    					tdTag.append(data.prjtNm);
    					trTag.append(tdTag);
    					
    					let bussFrdt = new Date(data.bussFrdt);
    					tdTag= $('<td/>');
    					tdTag.append(dateFormat(bussFrdt));
    					trTag.append(tdTag);
    					
    					let bussTodt = new Date(data.bussTodt);
    					tdTag= $('<td/>');
    					tdTag.append(dateFormat(bussTodt));
    					trTag.append(tdTag);
    					
    					tdTag= $('<td/>');
    					tdTag.append(data.bussImpNm);
    					trTag.append(tdTag);
    					
    					businesstbl.append(trTag);
				})
				}
			
			}
			function issueDropdown(){
				let issueList = [[${issueList}]];
		
				let membFdbkDt =$('select[name=issue] option:selected').text();
				let issuetbl = $('#issuetbl');
				
				if(membFdbkDt=='해결'){
					let issueSt = issueList.filter(issueList =>issueList.issuSt == '0E1');
					
					issuetbl.empty();
					
					$.each(issueSt, function (idx, data) {
						let trTag = $('<tr/>');
						let tdTag= $('<td/>');
						
						tdTag= $('<td/>');
    					tdTag.append(data.issuTtl);
    					trTag.append(tdTag);
    					
    					tdTag= $('<td/>');
    					tdTag.append(data.membNm);
    					trTag.append(tdTag);
    					
    					let issuDt = new Date(data.issuDt);
    					tdTag= $('<td/>');
    					tdTag.append(dateFormat(issuDt));
    					trTag.append(tdTag);
    					
    					tdTag= $('<td/>');
    					tdTag.append('해결');
    					trTag.append(tdTag);
    					
    					issuetbl.append(trTag);
					})
					
				}else if(membFdbkDt=='미해결'){
					
					let issueSt = issueList.filter(issueList =>issueList.issuSt == '0E2');
					
					issuetbl.empty();
					
					$.each(issueSt, function (idx, data) {
						let trTag = $('<tr/>');
						let tdTag= $('<td/>');
						
						tdTag= $('<td/>');
    					tdTag.append(data.issuTtl);
    					trTag.append(tdTag);
    					
    					tdTag= $('<td/>');
    					tdTag.append(data.membNm);
    					trTag.append(tdTag);
    					
    					let issuDt = new Date(data.issuDt);
    					tdTag= $('<td/>');
    					tdTag.append(dateFormat(issuDt));
    					trTag.append(tdTag);
    					
    					tdTag= $('<td/>');
    					tdTag.append('미해결');
    					trTag.append(tdTag);
    					
    					issuetbl.append(trTag);
					})
					
				}else if(membFdbkDt=='해결불가'){
					
					let issueSt = issueList.filter(issueList =>issueList.issuSt == '0E3');
					
					issuetbl.empty();
					
					$.each(issueSt, function (idx, data) {
						let trTag = $('<tr/>');
						let tdTag= $('<td/>');
						
						tdTag= $('<td/>');
    					tdTag.append(data.issuTtl);
    					trTag.append(tdTag);
    					
    					tdTag= $('<td/>');
    					tdTag.append(data.membNm);
    					trTag.append(tdTag);
    					
    					let issuDt = new Date(data.issuDt);
    					tdTag= $('<td/>');
    					tdTag.append(dateFormat(issuDt));
    					trTag.append(tdTag);
    					
    					tdTag= $('<td/>');
    					tdTag.append('해결불가');
    					trTag.append(tdTag);
    					
    					issuetbl.append(trTag);
					})
					
				}else{
					let issueSt = issueList;
					
					issuetbl.empty();
					
					$.each(issueSt, function (idx, data) {
						let trTag = $('<tr/>');
						let tdTag= $('<td/>');
						
						tdTag= $('<td/>');
    					tdTag.append(data.issuTtl);
    					trTag.append(tdTag);
    					
    					tdTag= $('<td/>');
    					tdTag.append(data.membNm);
    					trTag.append(tdTag);
    					
    					let issuDt = new Date(data.issuDt);
    					tdTag= $('<td/>');
    					tdTag.append(dateFormat(issuDt));
    					trTag.append(tdTag);
    					
    					tdTag= $('<td/>');
    					tdTag.append(data.issuStNm);
    					trTag.append(tdTag);
    					
    					issuetbl.append(trTag);
				})
				}
			}
			
			function projectFavorite() {
				event.stopPropagation();
				let favorite = $(this).children().hasClass("fa-solid fa-star");
				let prjtNo =  $(this).next().text();
				let prjtSt = $(this).parent().find('td:last').text();
				if(prjtSt == '진행중'){
					prjtSt = '0D1';
				}else if(prjtSt == '완료'){
					prjtSt = '0D2';
				}else{
					prjtSt = '0D3';
				}
				
				let projecttbl = $('#projecttbl');
				let projectFavoriteSt;
				if(favorite){
					projectFavoriteSt = 'N';
				}
				else{
					projectFavoriteSt = 'Y';
				}
				
			 	$.ajax('favAjax',{
					type : 'post',
					data : { prjtFav : projectFavoriteSt , prjtNo : prjtNo , prjtSt : prjtSt}
				})
				.done(function(data){
					projecttbl.empty();
					$.each(data.project, function (idx, data) {
						
						let trTag = $('<tr/>').data('no',data.prjtNo);
						let tdTag= $('<td/>');
						
			 			if(data.prjtFav == 'Y'){
							tdTag.append('<i class="fa-solid fa-star" style="color: #dee203;"></i>');
						}
						if(data.prjtFav == 'N'){
							tdTag.append('<i class="fa-regular fa-star" style="color: #080808;"></i>');
						} 
						
    					trTag.append(tdTag);
						
    					tdTag= $('<td/>');
    					tdTag.append(data.prjtNo);
    					trTag.append(tdTag);
    					
    					tdTag= $('<td/>');
    					tdTag.append(data.prjtNm);
    					trTag.append(tdTag);
    					
    					tdTag= $('<td/>');
    					tdTag.append(data.count);
    					trTag.append(tdTag);
    					
    					let prjtFdt = new Date(data.prjtFdt);
    					tdTag= $('<td/>');
    					tdTag.append(dateFormat(prjtFdt));
    					trTag.append(tdTag);
    				
    					let prjtTdt = new Date(data.prjtTdt);
    					tdTag= $('<td/>');
    					tdTag.append(dateFormat(prjtTdt));
    					trTag.append(tdTag);
    					
    					tdTag= $('<td/>');
    					tdTag.append(data.prjtStNm);
    					trTag.append(tdTag);
    					
						projecttbl.append(trTag);
						
					})
					
				})
				.fail(err => console.log(err) );
			}
			
			function body(data){
				
			}
			
			function dateFormat(date){
					let year = date.getFullYear();
					let month = '0'+(date.getMonth() +1);
					let day  = '0' + date.getDate();

					return year +'-'+ month.substring(month.length -2) + '-'+day.substring(day.length -2);
			}
		
			function moveFeed(prjtNo){
				
				location.href = '/project/feedback/' + prjtNo;
			}
			
		
		
		</script>
	</th:block>

</body>
</html>