<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout}">
<head>

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
	integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js">	
</script>

</head>
<body>
	<th:block layout:fragment="content">
		<div class="row">
			<div class="col-lg-6 col-md-12">
				<div class="card" style="height: 400px;">
					<div class="card-body" style="overflow: auto;">
						<h4 class="card-title">프로젝트</h4>
						<div class="dropdown custom-dropdown">
							<div data-toggle="dropdown">
								<a class="dropdown-project" href="#"></a>진행중<i
									class="fa fa-angle-down m-l-5"></i>
							</div>
							<div class="dropdown-menu dropdown-menu-right">
								<a class="dropdown-project" href="#">진행중</a> <a
									class="dropdown-project" href="#">완료</a>
									<a
									class="dropdown-project" href="#">보류</a>
								

							</div>
						</div>

						<div class="table-responsive">
							<table class="table">
								<thead>
									<tr>
										<th>즐</th>
										<th>프로젝트번호</th>
										<th>프로젝트명</th>
										<th>참여인원</th>
										<th>시작기간</th>
										<th>종료기간</th>
										<th>상태</th>
									</tr>
								</thead>
								<tbody id="projecttbl">
									<th:block th:each="projectList : ${projectList}">
										<tr th:if="${projectList.prjtSt == '0D1'}">
											<td th:if="${projectList.prjtFav == 'N'}"><i
												class="fa-regular fa-star" style="color: #080808;"></i></td>
											<td th:if="${projectList.prjtFav == 'Y'}"><i
												class="fa-solid fa-star" style="color: #dee203;"></i></td>
											<td th:text="${projectList.prjtNo}" />
											<td th:text="${projectList.prjtNm}" />
											<td th:text="${projectList.count}" />
											<td
												th:text="${#dates.format(projectList.prjtFdt, 'yyyy-MM-dd')}" />
											<td
												th:text="${#dates.format(projectList.prjtTdt, 'yyyy-MM-dd')}" />
											<td th:if="${projectList.prjtSt == '0D1'}">진행중</td>
										</tr>
									</th:block>
								</tbody>
							</table>
						</div>
					</div>
				</div>

			</div>
			<div class="col-lg-6 col-md-12">
				<div class="card" style="height: 400px;">
					<div class="card-body" style="overflow: auto;">
						<h4 class="card-title">코멘트(개인피드백)</h4>
						<div class="dropdown custom-dropdown">
							<div data-toggle="dropdown">
								<a class="dropdown-feedback" href="#"></a>최신순<i
									class="fa fa-angle-down m-l-5"></i>
							</div>
							<div class="dropdown-menu dropdown-menu-right">
								<a class="dropdown-feedback" href="#">최신순</a> <a
									class="dropdown-feedback" href="#">오래된순</a>
							</div>
						</div>


						<!-- drop down -->

						<div class="table-responsive">
							<table class="table">
								<thead>
									<tr>
										<th>프로젝트명</th>
										<th>코멘트</th>
										<th>날짜</th>
									</tr>
								</thead>
								<tbody id="replytbl">
									<th:block th:each=" memberFeedbackList: ${memberFeedbackList}">
										<tr>
											<td th:text="${memberFeedbackList.prjtNm}" />
											<td th:text="${memberFeedbackList.membFdbkCntn}" />
											<td
												th:text="${#dates.format(memberFeedbackList.membFdbkDt, 'yyyy-MM-dd')}" />
										</tr>
									</th:block>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-12">
				<div class="card" style="height: 400px;">
					<div class="card-body" style="overflow: auto;">
						<h4 class="card-title">업무</h4>
						<div class="dropdown custom-dropdown">
							<div data-toggle="dropdown">
								<a class="dropdown-business" href="#"></a>중요도<i
									class="fa fa-angle-down m-l-5"></i>
							</div>
							<div class="dropdown-menu dropdown-menu-right">
								<a class="dropdown-business" href="#">상</a> <a
									class="dropdown-business" href="#">중</a> <a
									class="dropdown-business" href="#">하</a>
							</div>
						</div>
						<div class="table-responsive">
							<table class="table">
								<thead>
									<tr>
										<th>업무명</th>
										<th>프로젝트명</th>
										<th>시간기간</th>
										<th>종료기간</th>
										<th>중요도</th>
									</tr>
								</thead>
								<tbody id="businesstbl">
									<th:block th:each=" businessList: ${businessList}">
										<tr>
											<td th:text="${businessList.bussNm}" />
											<td th:text="${businessList.prjtNm}" />
											<td
												th:text="${#dates.format(businessList.bussFrdt, 'yyyy-MM-dd')}" />
											<td
												th:text="${#dates.format(businessList.bussTodt, 'yyyy-MM-dd')}" />

											<td th:if="${businessList.bussImp == '0J1'}">상</td>
											<td th:if="${businessList.bussImp == '0J2'}">중</td>
											<td th:if="${businessList.bussImp == '0J3'}">하</td>
										</tr>
									</th:block>
								</tbody>
							</table>
						</div>


					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-12">
				<div class="card" style="height: 400px;">
					<div class="card-body" style="overflow: auto;">
						<h4 class="card-title">이슈</h4>

						<div class="dropdown custom-dropdown">
							<div data-toggle="dropdown">
								<a class="dropdown-issue" href="#"></a>상태<i
									class="fa fa-angle-down m-l-5"></i>
							</div>
							<div class="dropdown-menu dropdown-menu-right">
								<a class="dropdown-issue" href="#">해결</a> <a
									class="dropdown-issue" href="#">미해결</a> <a
									class="dropdown-issue" href="#">해결불가</a>
							</div>
						</div>
						<div class="table-responsive">
							<table class="table">
								<thead>
									<tr>
										<th>제목</th>
										<th>작성자</th>
										<th>날짜</th>
										<th>상태</th>
									</tr>
								</thead>
								<tbody id="issuetbl">
									<th:block th:each=" issueList: ${issueList}">
										<tr>
											<td th:text="${issueList.prjtNm}" />
											<td th:text="${issueList.membId}" />
											<td
												th:text="${#dates.format(issueList.issuDt, 'yyyy-MM-dd')}" />
											<td th:if="${issueList.issuSt == '0E1'}">해결</td>
											<td th:if="${issueList.issuSt == '0E2'}">미해결</td>
											<td th:if="${issueList.issuSt == '0E3'}">해결불가</td>
										</tr>
									</th:block>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script th:inline="javascript">
		
			//즐겨찾기
			$(document).on('click','td:nth-child(1)' ,projectFavorite);
			//드롭다운 
			$('.dropdown-project').on('click', projectDropDown);
			$('.dropdown-feedback').on('click', feedbackDropdown);
			$('.dropdown-business').on('click', businessDropdown);
			$('.dropdown-issue').on('click', issueDropdown);
					
			function projectDropDown() {
				
				$(this).parent().siblings().attr('class', $(this).children().attr('class'));
				$(this).parent().siblings().text($(this).text());
				$(this).parent().siblings().append('<i class="fa fa-angle-down m-l-5"></i>');
				
				let projectState = $(this).text();
				let projecttbl = $('#projecttbl');
				if(projectState == '완료'){
					projectState = '0D2';
					
				}
				else if(projectState == '진행중'){
					projectState = '0D1';
				
				}
				else{
					projectState = '0D3';
				}
				
				$.ajax('ProjectStateAjax',{
					type : 'post',
					data : { prjtSt : projectState}
				})
				.done(function(data){
					projecttbl.empty();
					$.each(data.projectStateList, function (idx, data) {
						let trTag = $('<tr/>');
						let tdTag= $('<td/>');
			
			 			if(data.prjtFav == 'Y'){
							tdTag.append('<i class="fa-solid fa-star" style="color: #dee203;"></i>');
						}
						if(data.prjtFav == 'N'){
							tdTag.append('<i class="fa-regular fa-star" style="color: #080808;"></i>');
						} 
						
    					trTag.append(tdTag);
						
    					tdTag= $('<td/>');
    					tdTag.append(data.prjtNo);
    					trTag.append(tdTag);
    					
    					tdTag= $('<td/>');
    					tdTag.append(data.prjtNm);
    					trTag.append(tdTag);
    					
    					tdTag= $('<td/>');
    					tdTag.append(data.count);
    					trTag.append(tdTag);
    					
    					let prjtFdt = new Date(data.prjtFdt);
    					tdTag= $('<td/>');
    					tdTag.append(dateFormat(prjtFdt));
    					trTag.append(tdTag);
    				
    					let prjtTdt = new Date(data.prjtTdt);
    					tdTag= $('<td/>');
    					tdTag.append(dateFormat(prjtTdt));
    					trTag.append(tdTag);
    					
    					tdTag= $('<td/>');
    					tdTag.append(data.prjtStNm);
    					trTag.append(tdTag);
    					
						projecttbl.append(trTag);
						
					})
				})
				.fail(err => );
				}
				
			
			
			function feedbackDropdown(){
				$(this).parent().siblings().attr('class', $(this).children().attr('class'));
				$(this).parent().siblings().text($(this).text());
				$(this).parent().siblings().append('<i class="fa fa-angle-down m-l-5"></i>');
				
				 
				let fdList = [[${memberFeedbackList}]];
		
				let membFdbkDt =$(this).text();
				let replytbl = $('#replytbl');
				
				if(membFdbkDt=='최신순'){
					fdList.sort(date_desc);
					replytbl.empty();
					
					$.each(fdList, function (idx, data) {
						let trTag = $('<tr/>');
						let tdTag= $('<td/>');
						
						tdTag= $('<td/>');
    					tdTag.append(data.prjtNm);
    					trTag.append(tdTag);
    					
    					tdTag= $('<td/>');
    					tdTag.append(data.membFdbkCntn);
    					trTag.append(tdTag);
    					
    					let membFdbkDt = new Date(data.membFdbkDt);
    					tdTag= $('<td/>');
    					tdTag.append(dateFormat(membFdbkDt));
    					trTag.append(tdTag);
    					
    					replytbl.append(trTag);
					})
					
				}else{
					fdList.sort(date_asc);
				
					replytbl.empty();
					
					$.each(fdList, function (idx, data) {
						let trTag = $('<tr/>');
						let tdTag= $('<td/>');
						
						tdTag= $('<td/>');
    					tdTag.append(data.prjtNm);
    					trTag.append(tdTag);
    					
    					tdTag= $('<td/>');
    					tdTag.append(data.membFdbkCntn);
    					trTag.append(tdTag);
    					
    					let membFdbkDt = new Date(data.membFdbkDt);
    					tdTag= $('<td/>');
    					tdTag.append(dateFormat(membFdbkDt));
    					trTag.append(tdTag);
    					
    					replytbl.append(trTag);
					})
				}
			
			
			}
			
			function date_asc(a,b){
				
				var dateA = new Date(a['membFdbkDt']).getTime();
				var dateB = new Date(b['membFdbkDt']).getTime();
				return dateA > dateB ? 1 : -1;
			}
			function date_desc(a,b){
				
				var dateA = new Date(a['membFdbkDt']).getTime();
				var dateB = new Date(b['membFdbkDt']).getTime();
				return dateA < dateB ? 1 : -1;
			}
			
			function businessDropdown(){
				$(this).parent().siblings().attr('class', $(this).children().attr('class'));
				$(this).parent().siblings().text($(this).text());
				$(this).parent().siblings().append('<i class="fa fa-angle-down m-l-5"></i>');
				
				 
				let businessList = [[${businessList}]];
		
				let membFdbkDt =$(this).text();
				let businesstbl = $('#businesstbl');
				
				if(membFdbkDt=='상'){
					let bussImp = businessList.filter( businessList => businessList.bussImp == '0J1');
					businesstbl.empty();
					
					$.each(bussImp, function (idx, data) {
						let trTag = $('<tr/>');
						let tdTag= $('<td/>');
						
						tdTag= $('<td/>');
    					tdTag.append(data.bussNm);
    					trTag.append(tdTag);
    					
						tdTag= $('<td/>');
    					tdTag.append(data.prjtNm);
    					trTag.append(tdTag);
    					
    					let bussFrdt = new Date(data.bussFrdt);
    					tdTag= $('<td/>');
    					tdTag.append(dateFormat(bussFrdt));
    					trTag.append(tdTag);
    					
    					let bussTodt = new Date(data.bussTodt);
    					tdTag= $('<td/>');
    					tdTag.append(dateFormat(bussTodt));
    					trTag.append(tdTag);
    					
    					tdTag= $('<td/>');
    					tdTag.append('상');
    					trTag.append(tdTag);
    					
    					businesstbl.append(trTag);
					})
					
				}else if(membFdbkDt=='중'){
					let bussImp = businessList.filter( businessList => businessList.bussImp == '0J2');
					businesstbl.empty();
					
					$.each(bussImp, function (idx, data) {
						let trTag = $('<tr/>');
						let tdTag= $('<td/>');
						
						tdTag= $('<td/>');
    					tdTag.append(data.bussNm);
    					trTag.append(tdTag);
    					
						tdTag= $('<td/>');
    					tdTag.append(data.prjtNm);
    					trTag.append(tdTag);
    					
    					let bussFrdt = new Date(data.bussFrdt);
    					tdTag= $('<td/>');
    					tdTag.append(dateFormat(bussFrdt));
    					trTag.append(tdTag);
    					
    					let bussTodt = new Date(data.bussTodt);
    					tdTag= $('<td/>');
    					tdTag.append(dateFormat(bussTodt));
    					trTag.append(tdTag);
    					
    					tdTag= $('<td/>');
    					tdTag.append('중');
    					trTag.append(tdTag);
    					
    					businesstbl.append(trTag);
					})
					
				}else{
					let bussImp = businessList.filter( businessList => businessList.bussImp == '0J3');
					businesstbl.empty();
					
					$.each(bussImp, function (idx, data) {
						let trTag = $('<tr/>');
						let tdTag= $('<td/>');
						
						tdTag= $('<td/>');
    					tdTag.append(data.bussNm);
    					trTag.append(tdTag);
    					
						tdTag= $('<td/>');
    					tdTag.append(data.prjtNm);
    					trTag.append(tdTag);
    					
    					let bussFrdt = new Date(data.bussFrdt);
    					tdTag= $('<td/>');
    					tdTag.append(dateFormat(bussFrdt));
    					trTag.append(tdTag);
    					
    					let bussTodt = new Date(data.bussTodt);
    					tdTag= $('<td/>');
    					tdTag.append(dateFormat(bussTodt));
    					trTag.append(tdTag);
    					
    					tdTag= $('<td/>');
    					tdTag.append('하');
    					trTag.append(tdTag);
    					
    					businesstbl.append(trTag);
					})
				}
			
			}
			function issueDropdown(){
				$(this).parent().siblings().attr('class', $(this).children().attr('class'));
				$(this).parent().siblings().text($(this).text());
				$(this).parent().siblings().append('<i class="fa fa-angle-down m-l-5"></i>');
				
				 
				let issueList = [[${issueList}]];
		
				let membFdbkDt =$(this).text();
				let issuetbl = $('#issuetbl');
				
				if(membFdbkDt=='해결'){
					let issueSt = issueList.filter(issueList =>issueList.issuSt == '0E1');
					
					issuetbl.empty();
					
					$.each(issueSt, function (idx, data) {
						let trTag = $('<tr/>');
						let tdTag= $('<td/>');
						
						tdTag= $('<td/>');
    					tdTag.append(data.prjtNm);
    					trTag.append(tdTag);
    					
    					tdTag= $('<td/>');
    					tdTag.append(data.membId);
    					trTag.append(tdTag);
    					
    					let issuDt = new Date(data.issuDt);
    					tdTag= $('<td/>');
    					tdTag.append(dateFormat(issuDt));
    					trTag.append(tdTag);
    					
    					tdTag= $('<td/>');
    					tdTag.append('해결');
    					trTag.append(tdTag);
    					
    					issuetbl.append(trTag);
					})
					
				}else if(membFdbkDt=='미해결'){
					
					let issueSt = issueList.filter(issueList =>issueList.issuSt == '0E2');
					
					issuetbl.empty();
					
					$.each(issueSt, function (idx, data) {
						let trTag = $('<tr/>');
						let tdTag= $('<td/>');
						
						tdTag= $('<td/>');
    					tdTag.append(data.prjtNm);
    					trTag.append(tdTag);
    					
    					tdTag= $('<td/>');
    					tdTag.append(data.membId);
    					trTag.append(tdTag);
    					
    					let issuDt = new Date(data.issuDt);
    					tdTag= $('<td/>');
    					tdTag.append(dateFormat(issuDt));
    					trTag.append(tdTag);
    					
    					tdTag= $('<td/>');
    					tdTag.append('미해결');
    					trTag.append(tdTag);
    					
    					issuetbl.append(trTag);
					})
					
				}else{
					
					let issueSt = issueList.filter(issueList =>issueList.issuSt == '0E3');
					
					issuetbl.empty();
					
					$.each(issueSt, function (idx, data) {
						let trTag = $('<tr/>');
						let tdTag= $('<td/>');
						
						tdTag= $('<td/>');
    					tdTag.append(data.prjtNm);
    					trTag.append(tdTag);
    					
    					tdTag= $('<td/>');
    					tdTag.append(data.membId);
    					trTag.append(tdTag);
    					
    					let issuDt = new Date(data.issuDt);
    					tdTag= $('<td/>');
    					tdTag.append(dateFormat(issuDt));
    					trTag.append(tdTag);
    					
    					tdTag= $('<td/>');
    					tdTag.append('해결불가');
    					trTag.append(tdTag);
    					
    					issuetbl.append(trTag);
					})
					
				}
			}
			
			function projectFavorite() {
				let favorite = $(this).children().hasClass("fa-solid fa-star");
				let prjtNo =  $(this).next().text();
				//td요소 들중 마지막 값 proceed, end 가져오기 
				let prjtSt = $(this).parent().find('td:last').text();
				if(prjtSt == '진행중'){
					prjtSt = '0D1';
				}else if(prjtSt == '완료'){
					prjtSt = '0D2';
				}else{
					prjtSt = '0D3';
				}
				
				let projecttbl = $('#projecttbl');
				let projectFavorite;
				if(favorite){
					projectFavorite = 'N';
				}
				else{
					projectFavorite = 'Y';
				}
			
			 	$.ajax('favAjax',{
					type : 'post',
					data : { prjtFav : projectFavorite , prjtNo : prjtNo , prjtSt : prjtSt}
				})
				.done(function(data){
					projecttbl.empty();
					console.log(data);
					$.each(data.project, function (idx, data) {
						
						let trTag = $('<tr/>');
						let tdTag= $('<td/>');
						
			 			if(data.prjtFav == 'Y'){
							tdTag.append('<i class="fa-solid fa-star" style="color: #dee203;"></i>');
						}
						if(data.prjtFav == 'N'){
							tdTag.append('<i class="fa-regular fa-star" style="color: #080808;"></i>');
						} 
						
    					trTag.append(tdTag);
						
    					tdTag= $('<td/>');
    					tdTag.append(data.prjtNo);
    					trTag.append(tdTag);
    					
    					tdTag= $('<td/>');
    					tdTag.append(data.prjtNm);
    					trTag.append(tdTag);
    					
    					tdTag= $('<td/>');
    					tdTag.append(data.count);
    					trTag.append(tdTag);
    					
    					let prjtFdt = new Date(data.prjtFdt);
    					tdTag= $('<td/>');
    					tdTag.append(dateFormat(prjtFdt));
    					trTag.append(tdTag);
    				
    					let prjtTdt = new Date(data.prjtTdt);
    					tdTag= $('<td/>');
    					tdTag.append(dateFormat(prjtTdt));
    					trTag.append(tdTag);
    					
    					tdTag= $('<td/>');
    					tdTag.append(data.prjtStNm);
    					trTag.append(tdTag);
    					
						projecttbl.append(trTag);
					
					})
					
				})
				.fail(err => );
			}
			
			function body(data){
				
			}
			
			function dateFormat(date){
					let year = date.getFullYear();
					let month = '0'+(date.getMonth() +1);
					let day  = '0' + date.getDate();

					return year +'-'+ month.substring(month.length -2) + '-'+day.substring(day.length -2);
			}
		
		</script>
	</th:block>

</body>
</html>