<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout}">
<th:block layout:fragment="content">
	<div class="content-body">
		<button type="button" class="btn btn-primary" data-toggle="modal"
			data-target="#workModal">Launch workModal</button>

		<div class="modal fade" id="workModal" tabindex="-1"
			aria-labelledby="sidebarModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content"
					style="box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.15); width: 780px; top: calc(( 86vh - 601px)/2); height: 671px; opacity: 1; z-index: 500;">
					<!-- 모달 헤더 부분 -->
					<div class="modal-header">
						<div class="ContentTitleBox">
							<div class="ContentImg"
								style="background-image: url(/images/tab_issue.png);"></div>
							<p class="ContentText">이슈</p>
						</div>
						<button type="button" class="btn-close" data-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="modal-content-container">
						<div class="workModalTab">
							<ul>
								<li><i class="ModalTab tab_basic"></i> <span
									class="tooltip">기본정보</span></li>
								<li><i class="ModalTab tab_file"></i> <span
									class=" tooltip">자료관리</span></li>
								<li><i class="ModalTab tab_issue"></i> <span
									class="tooltip">이슈</span></li>
								<li><i class="ModalTab tab_log"></i> <span class="tooltip">로그</span></li>
							</ul>
						</div>
						<div class="modal-body">
							<div class="workModalContentBack">
								<div class="workModalContentSlider">
									<div class="workModalContent scroll issueContent">
										<div class="workModalBussTitle">
											<div class="ModalTitle">
												<div class="ModalProjectNameBox">
													<div id="ProjectLink">
														#<span></span>
														<p class="textEllipsis">프로젝트3</p>
													</div>
												</div>
												<div class="ModalBussNameBox Edit">
													<div class="ModalBussNameBack">
														<textarea id="ModalUpdateBussName" readonly
															maxlength="200" style="height: 34px;">업무명</textarea>
													</div>
												</div>
											</div>
										</div>
										<div class="ModalInfo">
											<div class="FixOnTop ModalTopBar">
												<div class="IssueTopBar">
													<div></div>
													<div class="TobBarIssueControlArea">
														<form action="ModalIssueList">
															<div class="SearchBox">
																<label for="SearchToggleCheckBox"></label>
																<div class="SearchInputBox" style="width: 270px;">
																	<div>
																		<div class="issue-selectBox" style="width: 100px;">
																			<div class="issue-selected" id="issue-selected">
																				<div class="issue-selected-value" id="keyword">전체</div>
																				<div class="arrow"></div>
																			</div>
																			<ul class="issue-select-ul"
																				style="width: 100px; top: 20%; display: none;">
																				<li class="issue-select-option" data-value="전체">전체</li>
																				<li class="issue-select-option" data-value="참여자">이름</li>
																				<li class="issue-select-option" data-value="참여자">제목</li>
																			</ul>
																		</div>
																	</div>
																	<input class="SearchInputModalView" id="search"
																		type="text" placeholder="검색어를 입력하세요."><span
																		class="DeleteSearchWord"></span>
																</div>
															</div>
														</form>
														<div class="PostWritingBox">
															<span></span>
															<p>글쓰기</p>
														</div>
													</div>
												</div>
											</div>
											<div class="ModalInfoArea IssueInfoArea">

												<div class="col-lg-6" style="width: 100%; max-width: 100%;">

													<div class="table-responsive">
														<table class="table table-hover">
															<thead>
																<tr>
																	<th style="font-weight: normal;">종류</th>
																	<th style="font-weight: normal;">제목</th>
																	<th style="font-weight: normal;">이름</th>
																	<th style="font-weight: normal;">상태</th>
																	<th style="font-weight: normal;">우선순위</th>
																</tr>
															</thead>
															<tbody>
																<tr th:each="issues : ${issues}">
																	<th th:if="${issues.issuKnd == 'BUG'}"><span
																		class="badge badge-danger" th:text="버그"></span></th>
																	<th th:if="${issues.issuKnd == 'IMPR'}"><span
																		class="badge badge-warning" th:text="개선사항"></span></th>
																	<th th:if="${issues.issuKnd == 'FUNC'}"><span
																		class="badge badge-info" th:text="새기능"></span></th>
																	<th th:if="${issues.issuKnd == 'BUSS'}"><span
																		class="badge badge-light" th:text="업무"></span></th>
																	<td th:text="${issues.issuCntn}"></td>
																	<td th:text="${issues.membId}"></td>
																	<th th:if="${issues.issuSt == 'solve'}"><span
																		class="badge badge-pill badge-success" th:text="해결"></span></th>
																	<th th:if="${issues.issuSt == 'unsolve'}"><span
																		class="badge badge-pill badge-dark" th:text="미해결"></span></th>
																	<th th:if="${issues.issuSt == 'unsolvable'}"><span
																		class="badge badge-pill badge-secondary"
																		th:text="해결불가"></span></th>

																	<th th:if="${issues.issuRank == '매우 높음'}"><span
																		class="badge badge-primary" th:text="매우높음"></span></th>
																	<th th:if="${issues.issuRank == '높음'}"><span
																		class="badge badge-secondary" th:text="높음"></span></th>
																	<th th:if="${issues.issuRank == '보통'}"><span
																		class="badge badge-success" th:text="보통"></span></th>
																	<th th:if="${issues.issuRank == '낮음'}"><span
																		class="badge badge-warning" th:text="낮음"></span></th>
																	<th th:if="${issues.issuRank == '매우 낮음'}"><span
																		class="badge badge-danger" th:text="매우낮음"></span></th>
																</tr>

															</tbody>
														</table>
													</div>
												</div>
											</div>
											<div
												class="paginate-container d-none d-sm-flex flex-sm-justify-center">
												<div role="navigation" aria-label="Pagination"
													class="pagination">


													<a id="previous_page"
														th:classappend="${issue.prePage == 0} ? 'disabled'"
														th:href="@{/ModalIssueList(pageNum=${issue.prePage}, keyword=${search.getKeyword()}, search=${search.getSearch()})}">Previous</a>
													<a
														th:each="page: ${#numbers.sequence(issue.navigateFirstPage, issue.navigateLastPage)}"
														th:text="${page}"
														th:href="@{/ModalIssueList(pageNum=${page}, keyword=${search.getKeyword()}, search=${search.getSearch()})}"></a>
													<a th:classappend="${issue.nextPage == 0} ? 'disabled'"
														id="next_page"
														th:href="@{/ModalIssueList(pageNum=${issue.nextPage}, keyword=${search.getKeyword()}, search=${search.getSearch()})}">Next</a>
												</div>
											</div>
										</div>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		$('.issue-selectBox').on('click', function() {
			$('.issue-select-ul').css('display', 'block');
		});

		$('.issue-select-option').on('click', function(e) {
			const selectValue = e.currentTarget.textContent.trim();

			$('.issue-selected-value').text(selectValue);
			$('.issue-select-ul').css('display', 'none');
			e.stopPropagation();
		});

		document.querySelector(".disabled").removeAttribute('href');
	</script>
</th:block>
</html>