<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout}">
<head>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
	integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js">
	
</script>

<style>
hr {
	width: 100%;
}

#FileInsert {
	float: right;
	display: block;
	width: 50px;
	height: 30px;
	margin-right: 130px;
	border-radius: 5px;
	color: white;
	font-size: 15px;
	width: 120px;
	font-weight: bold;
}

.FileText {
	font-weight: bold;
	font-size: 20px;
}

#DataBox {
	width: 500px;
	height: 150px;
	padding: 20px;
	background-color: #DCDCDC;
	display: block;
}

#jobDown {
	width: 180px;
	display: block;
	float: right;
	margin-right: 127px;
}

#FileSearch {
	display: block;
	margin-right: 30px;
	width: 300px;
	height: 41px;
	border-radius: 5px;
	text-align: left;
	border-color: black;
	padding-left: 15px;
}

#ulLeft {
	display: inline-block;
}

#ulLeft li {
	float: left;
}

#modal {
	margin-left: 150px;
}

#FileUpload {
	margin-bottom: 20px;
	font-size: 15px;
}

#fileBoxName {
	font-weight: bold;
	margin-right: 30px;
}

#fileBoxSize {
	font-weight: bold;
	margin-right: 30px;
}

#closeBtn {
	font-weight: bold;
}
</style>
</head>
<th:block layout:fragment="content">



	<div class="content-body">
		<button type="button" class="btn btn-primary" data-toggle="modal"
			data-target="#workModal">Launch workModal</button>

		<div class="modal fade" id="workModal" tabindex="-1"
			aria-labelledby="sidebarModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content"
					style="box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.15); width: 780px; top: calc(( 86vh - 601px)/2); height: 671px; opacity: 1; z-index: 500;">
					<!-- 모달 헤더 부분 -->
					<div class="modal-header">
						<button type="button" class="btn-close" data-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="modal-content-container">

						<div class="modal-body"></div>
					</div>
					<div id="modal">
						<button id="FileInsert" type="button" class="btn mb-1 btn-info" onclick="saveFiles()">등록</button>
						<br> <br> <br> <br> <br> <br> <br>
						<ul id="ulLeft">
							<li class="FileText" style="margin-right: 300px"><p>첨부파일</p></li>
							<li><input type="file" id="selectedFile"
								style="display: none;" multiple="multiple" onchange="saveRealRealFile(this)"/>
								<input type="button" id="FileUpload" value="업로드"
								class="btn mb-1 btn-info" /></li>
						</ul>

						<!-- 데이터 들어갈 박스 -->
						<span id="DataBox">
							<table>
								<thead>
									<tr>
									</tr>
								</thead>
								<tbody id="newTrTd">

								</tbody>
							</table>

						</span> <br>

						<!-- 업무선택 드랍다운 -->
						<div class="form-group">
							<select class="form-control" id="jobDown">
								<option>업무~</option>
								<option>2ㅁ2</option>
								<option>3ㅁ3</option>
								<option>4w4</option>
								<option>5w5</option>
							</select>
						</div>
						<br> <br> <br>

						<p class="FileText">파일설명</p>
						<input id="FileSearch" type="text" placeholder="설명을 입력해주세요">
					</div>
				</div>

			</div>
		</div>
	</div>
	<script>
		// 모달
		$('.issue-selectBox').on('click', function() {
			$('.issue-select-ul').css('display', 'block');
		});

		$('.issue-select-option').on('click', function(e) {
			const selectValue = e.currentTarget.textContent.trim();

			$('.issue-selected-value').text(selectValue);
			$('.issue-select-ul').css('display', 'none');
			e.stopPropagation();
		});

		// 파일 바이트 계산
		function ByteSize(size) {
			const byteUnits = [ "KB", "MB", "GB", "TB" ];
			for (let i = 0; i < byteUnits.length; i++) {
				size = Math.floor(size / 1024);
				if (size < 1024)
					return size.toFixed(1) + byteUnits[i];
			}
		};

		
		// 파일 업로드 클릭
		const RealFile = document.querySelector('#selectedFile');
		const secondFile = document.querySelector('#FileUpload');

		secondFile.addEventListener('click', () => RealFile.click());

		// 파일 삭제 버튼 누를 시 ..
		function saveFileRemove(element) {
			removeFileTransFer(element);
			var tr = $(element).closest('tr');
			tr.remove();
		}
		
		const saveFileDataTransFer = new DataTransfer();
		
		$("#selectedFile").change(function () {

			let fileArr = document.getElementById("selectedFile").files

			if (fileArr != null && fileArr.length > 0) {

				// =====DataTransfer 파일 관리========
				for (var i = 0; i < fileArr.length; i++) {
					saveFileDataTransFer.items.add(fileArr[i])
				}

				document.getElementById('selectedFile').files = saveFileDataTransFer.files;
				// ==========================================

			}
		})

		function removeFileTransFer(element) {
			var parent = $(element).parent().parent();
			var children = $(parent).children();
			var index = children.index($(element).parent());
		
			if (index != -1) {
				saveFileDataTransFer.items.remove(index);
				document.getElementById('selectedFile').files = saveFileDataTransFer.files;
			}
		}
		
		// 파일 추가
		function saveRealRealFile(element) {
			const file = element.files[0];
			// 1.  파일 선택 창에서 취소 버튼이 클릭되는 경우
			if (!file) {
				return false;
			}

			// 2. 파일 크기가 10MB을 초과하는 경우
			const fileSize = Math.floor(file.size / 1024 / 1024);

			if (fileSize > 10) {
				alert('10MB 이하의 파일로 업로드해 주세요.');
				return false;
			}

			if (file) {
				$('.fileEmpty').remove();
				var trTag = $('<tr/>').attr('id', 'tdData');
				var fileNameTag = $('<td/>').attr('id', 'fileBoxName').text(
						file.name); // li 파일이름
				var fileSizeTag = $('<td/>').attr('id', 'fileBoxSize').text(
						ByteSize(file.size)); // li 파일크기
				var deleteFileTag = $('<td/>').attr('id', 'closeBtn').attr('class', 'deletePISaveFile').attr('onclick', ' saveFileRemove(this);');
				trTag.append(fileNameTag);
				trTag.append(fileSizeTag);
				trTag.append(deleteFileTag);

				$('#newTrTd').append(trTag);

			}
		};
		
		function saveFiles() {

			var formData = new FormData();			
			var inputFile = document.querySelector('#selectedFile');
			var fileInfo = inputFile.files;

			for (i = 0; i < fileInfo.length; i++) {
				formData.append("drivefile", fileInfo[i]);
			};

			$.ajax({
				url: '/project/drive/save',
				type: 'POST',
				processData: false,	//기본값은 true, ajax 통신을 통해 데이터를 전송할 때, 기본적으로 key와 value값을 Query String으로 변환해서 보냅니다.
				contentType: false,	// multipart/form-data타입을 사용하기위해 false 로 지정합니다.
				data: formData,
				success: function () {
					alert("등록에 성공 !!");
					location.reload();
				},
				error: function (reject) {
					alert("등록에 실패");
				}
			});
		};
	</script>
</th:block>
</html>