<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout}">
<head>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
	integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js">	
</script>

<style>
hr {
	width: 100%;
}

#FileUpload {
	margin-right: 20px;
	border-radius: 5px;
	color: white;
	font-size: 13px;
	width: 120px;
	font-weight: bold;
}

#FileDelete {
	border-radius: 5px;
	color: white;
	font-size: 13px;
	width: 80px;
	font-weight: bold;
}

input[type=file]::file-selector-button {
	width: 0;
	height: 0;
	padding: 0;
	border: 0;
	overflow: hidden;
}

tr th {
	font-weight: bold;
	color: #696969;
}

input[type="checkbox"]::after {
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
	border: 1px solid black;
	appearance: none;
	cursor: pointer;
	transition: background 0.2s;
}

input[type="checkbox"]:checked::after {
	color: red;
	border-color: black;
}
</style>
</head>
<th:block layout:fragment="content">
	<div class="content-body">
		<button type="button" class="btn btn-primary" data-toggle="modal"
			data-target="#workModal">Launch workModal</button>

		<div class="modal fade" id="workModal" tabindex="-1"
			aria-labelledby="sidebarModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content"
					style="box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.15); width: 780px; top: calc(( 86vh - 601px)/2); height: 671px; opacity: 1; z-index: 500;">
					<!-- 모달 헤더 부분 -->
					<div class="modal-header">
						<div class="ContentTitleBox">
							<div class="ContentImg"
								style="background-image: url(/images/tab_file.png);"></div>
							<p class="ContentText">파일함</p>
						</div>
						<button type="button" class="btn-close" data-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="modal-content-container">
						<div class="workModalTab">
							<ul>
								<li><i class="ModalTab tab_basic"></i> <span
									class="tooltip">기본정보</span></li>
								<li><i class="ModalTab tab_file"></i> <span
									class=" tooltip">자료관리</span></li>
								<li><i class="ModalTab tab_issue"></i> <span
									class="tooltip">이슈</span></li>
								<li><i class="ModalTab tab_log"></i> <span class="tooltip">로그</span></li>
							</ul>
						</div>
						<div class="modal-body" style="overflow: auto;">
							<div class="workModalContentBack">
								<div class="workModalContentSlider">
									<div class="workModalContent scroll issueContent">
										<div class="workModalBussTitle">
											<div class="ModalTitle">
												<div class="ModalProjectNameBox">
													<div id="ProjectLink">
														#<span></span>
														<p class="textEllipsis">프로젝트3</p>
													</div>
												</div>
												<div class="ModalBussNameBox Edit">
													<div class="ModalBussNameBack">
														<textarea id="ModalUpdateBussName" readonly
															maxlength="200" style="height: 34px;">업무명</textarea>
														<hr style="border-bottom: solid 1px">
													</div>
												</div>
											</div>
										</div>

										<div class="ModalInfo">
											<div class="FixOnTop ModalTopBar">
												<div class="IssueTopBar">

													<!-- 검색 필터 -->
													<div class="SearchBox"
														style="margin-right: 20px; margin-left: 20px">

														<label for="SearchToggleCheckBox"></label>
														<div class="SearchInputBox" style="width: 290px;">

															<div>
																<div class="issue-selectBox" style="width: 100px;">
																	<div class="issue-selected" id="issue-selected">
																		<div class="issue-selected-value"
																			id="issue-select-value" data-value="파일명">파일명</div>
																		<div class="arrow"></div>
																	</div>
																	<ul class="issue-select-ul"
																		style="width: 100px; top: 20%; display: none;">
																		<li class="issue-select-option" data-value="fName">파일명</li>
																		<li class="issue-select-option" data-value="fWriter">작성자</li>
																	</ul>
																</div>
															</div>
															<input class="SearchInputModalView" id="search"
																name="search" type="text" placeholder="검색어를 입력하세요."
																onkeyup="search(this);"><span
																class="DeleteSearchWord"></span>
														</div>
													</div>

													<input type="file" id="selectedFile" style="display: none;"
														onchange="fileInfo()" multiple="multiple" /> 
														<input
														type="button" id="FileUpload" value="업로드"
														onclick="document.getElementById('selectedFile').click();"
														class="btn mb-1 btn-info" />
													<button id="FileDelete" type="submit"
														class="btn mb-1 btn-dark">삭제</button>
												</div>
												<hr>
												<br> <br>

												<div class="ModalInfoArea IssueInfoArea">

													<div class="col-lg-6" style="width: 100%; max-width: 100%;">

														<div class="table-responsive">
															<table class="table table-hover">
																<thead>
																	<tr>
																		<th><input type="checkbox" id="kingBox"></th>
																		<th style="font-weight: normal;">파일명</th>
																		<th style="font-weight: normal;">크기</th>
																		<th style="font-weight: normal;">작성자</th>
																		<th style="font-weight: normal;">등록일자</th>
																	</tr>
																	
																</thead>
																<form id="checkBoxForm">
																<tbody id="newTrTd">
																	<th:block th:each="file : ${fileList}">
																		<tr id="tdData" th:data-fileno="${file.fileNo}">
																			<td class="newCKB"><input type="checkbox"
																				name="files" th:value="${file.fileNo}"></td>
																			<td th:text="${file.fileNm}" />
																			<td th:text="${file.fileSize}" />
																			<td th:text="${file.membId}" />
																			<td th:text="${#dates.format(file.fileDt, 'yyyy-MM-dd')}" />
																			<!-- 다운로드 아이콘 -->
																			<td class="downIcon"><i
																				class="fa-solid fa-download"></i></td>
																			<!-- 쓰레기 아이콘 -->
																			<td class="trashIcon"><i class="fa-solid fa-trash"></i></td>
																		</tr>
																	</th:block>
																</tbody>
																</form>
															</table>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
	// ======== 모달 ========
		$('.issue-selectBox').on('click', function() {
			$('.issue-select-ul').css('display', 'block');
		});

		$('.issue-select-option').on('click', function(e) {
			const selectValue = e.currentTarget.textContent.trim();

			$('.issue-selected-value').text(selectValue);
			$('.issue-select-ul').css('display', 'none');
			e.stopPropagation();
		});
		
	// ======== 파일 바이트 계산 ========
	function ByteSize(size) {
		const byteUnits = ["KB", "MB", "GB", "TB"];
		for (let i = 0; i < byteUnits.length; i++) {
			size = Math.floor(size / 1024);
			if (size < 1024) return size.toFixed(1) + byteUnits[i];
		}
	};
	
	// ======== 파일 업로드시 등록 ========
	function fileInfo() {
			
			var fileInfo = document.querySelector('input[type=file]').files;
			
			var file = fileInfo[0];
			
			if (file) {
				var checkTd = $('<td/>').attr('class', 'newCKB');
				var trTag = $('<tr/>').attr('id','tdData');
				fileCheckTag = $('<input/>').attr('type', 'checkbox').attr('name','files');
				var fileNameTag = $('<td/>').text(file.name);
				var fileSizeTag = $('<td/>').text(ByteSize(file.size));
				// 작성자 들어갈 곳
				// 날짜 들어갈 곳
				
				var fileDownTag = $('<td/>').attr('class', 'downIcon');
				 fileDown = $('<i/>').attr('class', 'fa-solid fa-download');
				var fileDelTag = $('<td/>').attr('class', 'trashIcon');
				 fileDel = $('<i/>').attr('class', 'fa-solid fa-trash');
				
				checkTd.append(fileCheckTag);
				fileDownTag.append(fileDown);
				fileDelTag.append(fileDel);
				
				
				trTag.append(checkTd);
				trTag.append(fileNameTag);
				trTag.append(fileSizeTag);
				trTag.append(fileDownTag);
				trTag.append(fileDelTag);
					
				$('#newTrTd').append(trTag);
			}
		}
    
	// ======== 체크박스 전체선택 ========
		$('#kingBox').on('click', boxCK);
	
		function boxCK(){
			if($('#kingBox').is(':checked')){ // 아디 KIngBox 상태가 체크됐다면
				$('input[name="files"]').prop("checked", true); // td에 있는 인풋들에게 체크 부여
			}else{
				$('input[name="files"]').prop("checked", false); // 아니라면 해제
			};
			return "workFile"; // 리턴
		};
	
		// ======== 쓰레기통 아이콘 클릭시 삭제 ========
			$('#newTrTd').on('click', '.trashIcon', function(){
			let fileDel = $(event.target).closest('#tdData').data('fileno');
			// 클릭한 아이콘의 부모(tr)의 데이터 (파일번호를 가짐)
			
			let delTarget = $(event.target)
			
			$.ajax({
				type : "get",
				url : "fileOneDelete",
				dataType : "text",
				data : {fileNo:fileDel},
				success : function(){
					delTarget.closest('#tdData').remove();
				},
				error : function(){
					alert("AJAX 오류");
				}
				});
			});
		
		// ======== 체크박스 여러개 선택시 삭제 ========
			
			$('#FileDelete').on('click', selectCkbDel);
		
			function selectCkbDel(){
			
			let tdBox = $('input[name="files"]').is(':checked');
		
			// ajax
			$.ajax({
				type : "get",
				url : "fileSelectDel",
				dataType : "text",
				data : $('#checkBoxForm').serialize(),
				success : function(){
					tdBox.closest('#tdData').remove();
				},
				error : function(){
					alert("AJAX 오류");
				}	
			});
		}  
			
			
		
		// ======== 검색기능 ========
		function search(target){
			let findInput = $('input[name="search"]')
		}
		
		
	</script>
</th:block>
</html>