<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="projectHeader">
	<div class="container-fluid" style="font: inherit;">
		<div class="row">
			<div class="col-lg-4 col-sm-6">
				<div class="card">

					<div class="row">
						<div class="col-6">
							<div class="pt-3 pb-3 pl-0 pr-0 text-center">
								<!-- 데이터 prjtNM-->
								<h4 class="m-1">[[${session.projectVO.prjtNm}]]</h4>
							</div>
						</div>
						<div class="col-2  border-right">
							<div class="pt-3 pb-3 pl-5 pr-0 text-center">
								<!-- 데이터 -->
								<h4 class="m-1">
								<i id="prjtIcon" class="fa-solid fa-pen-to-square fa-xl" style="cursor: pointer;"></i>									
								</h4>

							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-2 col-sm-6">
				<div class="card">

					<div class="row">
						<div class="col-6 border-right">
							<div class="pt-3 pb-3 pl-0 pr-0 text-center">
								<h4 class="m-1">업무</h4>

							</div>
						</div>
						<div class="col-6">
							<div class="pt-3 pb-3 pl-0 pr-0 text-center">
								<h4 class="m-1">[[${session.projectVO.count}]]</h4>

							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-2 col-sm-6">
				<div class="card">

					<div class="row">
						<div class="col-6 border-right">
							<div class="pt-3 pb-3 pl-0 pr-0 text-center">
								<h4 class="m-1">일정</h4>
								<p class="m-0"></p>
							</div>
						</div>
						<div class="col-6">
							<div class="pt-3 pb-3 pl-0 pr-0 text-center">
								<!-- 데이터 -->
								<h4 class="m-1">[[${session.projectVO.date}]]</h4>
								<p class="m-0"></p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-2 col-sm-6">
				<div class="card">

					<div class="row">
						<div class="col-6 border-right">
							<div class="pt-3 pb-3 pl-0 pr-0 text-center">
								<h4 class="m-1">상태</h4>
							</div>
						</div>
						<div class="col-6">
							<div class="pt-3 pb-3 pl-0 pr-0 text-center">
								<!-- 데이터 -->
								<h4 class="m-1">[[${session.projectVO.prjtSt}]]</h4>
								<p class="m-0"></p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-2 col-sm-6">
				<div class="card">

					<div class="row">
						<div class="col-6 border-right">
							<div class="pt-3 pb-3 pl-0 pr-0 text-center">
								<h4 class="m-1">공개여부</h4>
							</div>
						</div>
						<div class="col-6">
							<div class="pt-3 pb-3 pl-0 pr-0 text-center">
								<h4 class="m-1">[[${session.projectVO.prjtPubcyn}]]</h4>
							</div>
						</div>
					</div>
				</div>
			</div>



		</div>

		<div class="row">
			<div class="col-md-12">
				<!-- 	<div class="card">
					<div class="card-body"> -->
				<div class="default-tab">
					<ul class="nav nav-tabs mb-3" role="tablist">
						<li class="nav-item"><a class="nav-link"
							th:href="@{/project/home/{prjtNo}(prjtNo=${prjtNo})}">홈</a></li>
						<li class="nav-item"><a class="nav-link" href="/projectCalendar">캘린더</a></li>
						<li class="nav-item"><a class="nav-link"
							th:href="@{/project/business/{prjtNo}(prjtNo=${prjtNo})}">업무</a></li>
						<li class="nav-item"><a class="nav-link"
							th:href="@{/project/issues/{prjtNo}(prjtNo=${prjtNo})}">이슈</a></li>
						<li class="nav-item"><a class="nav-link"
							th:href="@{/project/drive/{prjtNo}(prjtNo=${prjtNo})}">드라이브</a></li>
						<li class="nav-item"><a class="nav-link" th:href="@{/project/feedback/{prjtNo}(prjtNo=${prjtNo})}">피드백</a></li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane fade show active" id="" role="tabpanel">
							<div class="p-t-15">
								<!-- 여기 작성  -->
								<th:block layout:fragment="content"></th:block>
							</div>

						</div>

						<div class="tab-pane fade" id="">
							<div class="p-t-15"></div>

						</div>
						<div class="tab-pane fade" id="">
							<div class="p-t-15"></div>
						</div>
						<div class="tab-pane fade" id="">
							<div class="p-t-15"></div>
						</div>
					</div>

				</div>

				<div class="tab-pane fade" id="">
					<div class="p-t-15"></div>

				</div>
				<div class="tab-pane fade" id="">
					<div class="p-t-15"></div>
				</div>
				<div class="tab-pane fade" id="">
					<div class="p-t-15"></div>
				</div>
			</div>
		</div>
	</div>
	</div>
	</div>
	
	<div data-include="showProjectModal"></div>
	
	<script th:inline="javascript">
		$(function(){
		    var includes = $('[data-include="showProjectModal"]');
		    jQuery.each(includes, function(){
		       $(this).load('/project/modal/' + [[${prjtNo}]]);
		    	});
			})
	</script>
	
	<script>
		var navItemList = $('.nav-link');
		navItemList.click(function() {
			navItemList.removeClass('active');
		
			$(this).addClass('active');
		})
		
		$('#prjtIcon').on('click', function() {
			$('#updateProject').modal('toggle');
		})
	</script>
</th:block>
</html>