@charset "UTF-8";

.scroll-set{
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    overflow-y:scroll;
}

.scroll-set::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}