.TopBarProjectIssueControlArea, .TopBarCompanyIssueControlArea {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.piSearchBox {
	display: flex;
	align-items: center;
	height: 100%;
}

.piSearchBox>label {
	width: 32px;
	height: 32px;
	margin-top: 5px;
	margin-right : 3px;
	border-radius: 4px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 16px;
	background-image: url(/images/modal_search.png);
	transition: all 0.2s ease;
	cursor: pointer;
}
.piSearchBox>.piSearchInputBox {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 8px;
	width: 0px;
	height: 24px;
	border-bottom: solid 1px #eaeaea;
	overflow: hidden;
	transition: width 0.2s ease;
}

.piSearchInputBox>input {
	width: 250px;
	height: 100%;
	padding: 5px 0;
	font-size: 14px;
	color: #575757;
	box-sizing: border-box;
	border: none;
	outline: none;
    background-color: inherit;
}
.pissue-selectBox, .cissue-selectBox {
	display: inline-block;
	width: 60px;
	background: url(../images/arrow.png) no-repeat 97% 50%;
	background-size: 18px 18px;
}
.bussNm-selectBox {
	display: inline-block;
	width: 250px;
	background: url(../images/arrow.png) no-repeat 97% 50%;
	background-size: 18px 18px;
}

.pissue-selected, .cissue-selected, .pissue-filtered, .cissue-filtered, .issue-filtered {
	display: flex;
	justify-content: space-between;
	padding: 0 5px;
	cursor: pointer;
}
.bussNm-selected {
    display: flex;
    justify-content: space-between;
    padding: 8px 5px;
    cursor: pointer;
}
.pissue-select-ul, .cissue-select-ul, .pissue-filter-ul, .cissue-filter-ul {
	list-style-type: none;
	padding-left: 0px;
	width: 100px;
	border-radius: 4px;
	border: 1px solid #0098fe;
	position: absolute;
	background: #fff;
	margin: 1px 0 0 -1px;
	z-index: 300;
	display: none;
	cursor: pointer;
}

.pissue-filter-value, .cissue-filter-value, .issue-filter-value {
    width: 32px;
    height: 32px;
    border-radius: 4px;
    background-size: 20px;
    background-image: url(/images/filter.png);
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.1s ease;
    cursor: pointer;
    margin-bottom: 3px;
    margin-left: 2px;
}

.bussNm-select-ul {
	list-style-type: none;
	padding-left: 0px;
	width: 248px;
	border-radius: 4px;
	border: 1px solid #0098fe;
	position: absolute;
	background: #fff;
	margin: 1px 0 0 -1px;
	z-index: 300;
	display: none;
	cursor: pointer;
}

.pissue-select-option.active, .cissue-select-option.active, .bussNm-select-option.active,
.pissue-filter-option.active, .cissue-filter-option.active, .issue-filter-option.active {
	background: url(/images/arrow_active.png) no-repeat 97% 50%;
	background-size: 16px 16px;
}

.pissue-select-option, .cissue-select-option, .bussNm-select-option,
.pissue-filter-option, .cissue-filter-option, .issue-filter-option {
	padding: 8px 5px;
	cursor: pointer;
}

.piSearchBox .piDeleteSearchWord, .ciDeleteSearchWord, .deleteSearchWord {
	width: 14px;
	height: 14px;
	border-radius: 50%;
	padding: 1px 1px 0 0;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 30px;
	background-image: url(/images/delete_file.png);
	cursor: pointer;
	transition: background-color 0.2s ease;
}

.postWritingBoxP {
	flex-shrink: 0;
	display: flex;
	justify-content: center;
	gap: 4px;
	height: 32px;
	padding: 8px 10px;
	margin-left: 15px;
	box-sizing: border-box;
	border: solid 1px #0969DA;
	background-color: #0969DA;
	border-radius: 4px;
	transition: all 0.2s ease;
}

.postWritingBoxP>span {
	width: 16px;
	height: 16px;
	background-size: 16px;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(/images/write_feed.png);
	transition: all 0.2s ease;
}

.postWritingBoxP>p {
	font-size: 14px;
	color: #FFFFFF;
	transition: all 0.2s ease;
}
.paginate-container {
	margin-top: 16px;
	margin-bottom: 16px;
	text-align: center;
}

.paginate-container .piPagination, .ciPagination{
	display: inline-block;
}

.piPagination #previous_page, .piPagination #next_page, ciPagination #previous_page, .ciPagination #next_page {
	color: #0969DA;
}

.piPagination a, .piPagination span, .piPagination em, .ciPagination a, .ciPagination span, .ciPagination em {
	min-width: 32px;
	padding: 5px 10px;
	font-style: normal;
	line-height: 20px;
	color: #24292f;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	border-radius: 6px;
	transition: border-color .2s cubic-bezier(0.3, 0, 0.5, 1);
}


.piPagination .current, .piPagination .current:hover, .piPagination [aria-current]:not([aria-current=false])
	{
	display: inline-block;
	color: #FFFFFF;
	background-color: #0969DA;
	border-color: transparent;
	color: var(- -fgColor-onEmphasis, var(- -color-fg-on-emphasis));
}

.ciPagination .current, .ciPagination .current:hover, .ciPagination [aria-current]:not([aria-current=false])
	{
	display: inline-block;
	color: #FFFFFF;
	background-color: #0969DA;
	border-color: transparent;
	color: var(- -fgColor-onEmphasis, var(- -color-fg-on-emphasis));
}

.pIssueInfoContent, .cIssueInfoContent	{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0 6px 0 0;
    box-sizing: border-box;
}

.pIssueInfoContent > .pIssueInfoContentTopBar {
    position: sticky;
    top: 0;
    width: 100%;
    height: 48px;
    margin-right: 20px;
    padding: 8px 0;
}

.cIssueInfoContent > .cIssueInfoContentTopBar {
    position: sticky;
    top: 0;
    width: 100%;
    height: 48px;
    margin-right: 20px;
    padding: 8px 0;
}

 .pIssueInfoContentTopBar > .pIssueEditing {	 
    align-items: center;
    justify-content: center;
    padding: 8px 26px;
    box-sizing: border-box;
    height: 32px;
    border-radius: 4px;
    border: solid 1px #eaeaea;
    color: #FFFFFF;
    background-color: #0098fe;
    transition: all 0.2s ease;
    float: right;
 }

  .cIssueInfoContentTopBar > .cIssueEditing {
     align-items: center;
     justify-content: center;
     padding: 8px 26px;
     box-sizing: border-box;
     height: 32px;
     border-radius: 4px;
     border: solid 1px #eaeaea;
     color: #FFFFFF;
     background-color: #0098fe;
     transition: all 0.2s ease;
     float: right;
  }
 
  .pIssueInfoContentTopBar > .pIssueDeleting {	 
    align-items: center;
    justify-content: center;
    padding: 8px 26px;
    box-sizing: border-box;
    height: 32px;
    border-radius: 4px;
    border: solid 1px #eaeaea;
    color: #FFFFFF;
    background-color: #ff5e5e;
    transition: all 0.2s ease;
    margin-right: 8px;
    float: right;
 } 

  .cIssueInfoContentTopBar > .cIssueDeleting {
      align-items: center;
      justify-content: center;
      padding: 8px 26px;
      box-sizing: border-box;
      height: 32px;
      border-radius: 4px;
      border: solid 1px #eaeaea;
      color: #FFFFFF;
      background-color: #ff5e5e;
      transition: all 0.2s ease;
      margin-right: 8px;
      float: right;
   }
 
.pIssueNameInfo, .cIssueNameInfo {
    width: 100%;
    max-height: 82px;
}

.pIssueNames, .cIssueNames {
    width: 100%;
    min-height: 48px;
    height: fit-content;
    max-height: 82px;
    padding: 6px 6px 5px 6px;
    box-sizing: border-box;
    border-radius: 4px;
    border: solid 1px transparent;
    transition: all 0.2s ease;
}

.pIssueNames > textarea {
    width: 100%;
    max-height: 68px;
    line-height: 1.7;
    padding: 0;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    font-weight: bold;
    color: #222;
    resize: none;
    overflow: auto;
    outline: none;
    transition: all 0.4s ease;
    letter-spacing: -0.03em;
    background-color: inherit;
}

.cIssueNames > textarea {
    width: 100%;
    max-height: 68px;
    line-height: 1.7;
    padding: 0;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    font-weight: bold;
    color: #222;
    resize: none;
    overflow: auto;
    outline: none;
    transition: all 0.4s ease;
    letter-spacing: -0.03em;
    background-color: inherit;
}

.pIssueInfoContentTopBar > .returnPIssueList {
	display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 4px;
    background-size: 32px;
    background-repeat: no-repeat;
    background-image: url(/images/cancel_writing.png);
    cursor: pointer;
    transition: background-color 0.2s ease;
}
.cIssueInfoContentTopBar > .returnCIssueList {
	display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 4px;
    background-size: 32px;
    background-repeat: no-repeat;
    background-image: url(/images/cancel_writing.png);
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.pIssueRankInfo, .cIssueRankInfo {
    display: flex;
    align-items: center;
    height: 100%;
	margin-left: 250px;
}

 .pIssueRankInfo > p {
    font-size: 20px;
    font-weight: bold;
    color: #575757;
    width: 95px;
}
 .cIssueRankInfo > p {
    font-size: 20px;
    font-weight: bold;
    color: #575757;
    width: 95px;
}

.pIssueKndInfo, .cIssueKndInfo {
    display: flex;
    align-items: center;
    height: 100%;
    margin-right: 10px;
    margin-left : 40px;
}

 .pIssueKndInfo > p {
    font-size: 20px;
    font-weight: bold;
    color: #575757;
    width: 80px;
}
 .cIssueKndInfo > p {
    font-size: 20px;
    font-weight: bold;
    color: #575757;
    width: 80px;

}

.pIssueStInfo, .cIssueStInfo {
    display: flex;
    align-items: center;
    height: 100%;
    margin-right: 10px;
    margin-left : 40px;
}

.pIssueStInfo > p {
    font-size: 20px;
    font-weight: bold;
    color: #575757;
    width: 80px;

}
.cIssueStInfo > p {
    font-size: 20px;
    font-weight: bold;
    color: #575757;
    width: 80px;

}

.p-t-15p:hover {
    cursor: pointer;
    background-color: #f5f5f5;
    transition: border-color 0.3s ease;
    border-radius: 5px;
}

.p-t-16p:hover {
    cursor: pointer;
    background-color: #f5f5f5;
    transition: border-color 0.3s ease;
    border-radius: 5px;
}

.p-t-15c:hover {
    cursor: pointer;
    background-color: #f5f5f5;
    transition: border-color 0.3s ease;
    border-radius: 5px;
}

.p-t-16c:hover {
    cursor: pointer;
    background-color: #f5f5f5;
    transition: border-color 0.3s ease;
    border-radius: 5px;
}

.pIssueInfoFileList, .cIssueInfoFileList {
    width: 100%;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}

.pIssueInfoCommentList, .cIssueInfoCommentList {
    width: 100%;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}

.pIssueReply__details__form textarea {
	width: 50%;
	font-size: 15px;
	color: #b7b7b7;
	padding-left: 20px;
	padding-top: 12px;
	height: 110px;
	resize: none;
	margin-bottom: 24px;	
    border-radius: 4px;
    border: solid 1px #eaeaea;
    background-color: #ffffff;
}
.pIssueReply__details__form button {
	font-size: 12px;
	color: #ffffff;
	font-weight: 700;
	letter-spacing: 2px;
	background: #0969DA;
	border: none;
	padding: 10px 15px;
	border-radius: 2px;
}
.openBM, .openBMINC {
    align-items: center;
    justify-content: center;
    padding: 8px 26px;
    box-sizing: border-box;
    height: 32px;
    border-radius: 4px;
    border: solid 1px #0969DA;
    color: #FFFFFF;
    background-color: #0969DA;
    transition: all 0.2s ease;
    margin-right: 8px;
}

.cIssueReply__details__form textarea {
	width: 50%;
	font-size: 15px;
	color: #b7b7b7;
	padding-left: 20px;
	padding-top: 12px;
	height: 110px;
	resize: none;
	margin-bottom: 24px;
    border-radius: 4px;
    border: solid 1px #eaeaea;
    background-color: #ffffff;
}

.sectionBN {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 20px;
    width: 60%;
}

.savingFindBNSection {
    margin-top: 15px;
    margin-bottom: 15px;
}

.cIssueReply__details__form  button {
	font-size: 12px;
	color: #ffffff;
	font-weight: 700;
	letter-spacing: 2px;
	background: #0098fe;
	border: none;
	padding: 10px 15px;
	border-radius: 2px;
}

.pIssueReply__section-title {
	color: #ffffff;
	font-weight: 600;
	line-height: 21px;
	text-transform: uppercase;
	padding-left: 5px;
	position: relative;
}

.cIssueReply__section-title {
	color: #ffffff;
	font-weight: 600;
	line-height: 21px;
	text-transform: uppercase;
	padding-left: 5px;
	position: relative;
}

.issue__reply__itemP, .issue__reply__itemC {
	overflow: hidden;
	margin-bottom: 15px;
}

.issue__reply__itemP__pic, .issue__reply__itemC__pic {
	float: left;
	margin-right: 20px;
	position: relative;
}

.issue__reply__itemP__pic:before {
	position: absolute;
	right: -25px;
	top: 15px;
	border-top: 15px solid transparent;
	border-left: 15px solid #bcbfd5f5;
	content: "";
	transform: rotate(225deg);
}

.issue__reply__itemC__pic:before {
	position: absolute;
	right: -25px;
	top: 15px;
	border-top: 15px solid transparent;
	border-left: 15px solid #bcbfd5f5;
	content: "";
	transform: rotate(225deg);
}

.issue__reply__itemP__pic img {
	height: 50px;
	width: 50px;
	border-radius: 50%;
}

.issue__reply__itemC__pic img {
	height: 50px;
	width: 50px;
	border-radius: 50%;
}

.issue__reply__itemP__text, .issue__reply__itemC__text {
	overflow: hidden;
	padding: 18px 30px 16px 20px;
	border-radius: 5px;
	width: 700px; 
}

.issue__reply__itemP__text h6 {
	color: #76838f;
	font-weight: 700;
	margin-bottom: 10px;
}

.issue__reply__itemP__text h6 span {
	color: #b7b7b7;
	font-weight: 400;
}

.issue__reply__itemC__text h6 {
	color: #76838f;
	font-weight: 700;
	margin-bottom: 10px;
}

.issue__reply__itemC__text h6 span {
	color: #b7b7b7;
	font-weight: 400;
}

.issue__reply__itemP__text p {
	color: #575757;
	line-height: 23px;
	margin-bottom: 0;
}

.issue__reply__itemC__text p {
	color: #575757;
	line-height: 23px;
	margin-bottom: 0;
}

.replyP_edit_text_area {
	width: calc(100% - 13px);
	height: 200px;
	border: solid 1px #eaeaea;
	border-radius: 4px;
	max-width: 800px;
	background-color: #ffffff;
	color: #b7b7b7;
	padding: 10px 11px;
	font-size: 14px;
	font-weight: normal;
}

.replyC_edit_text_area {
	width: calc(100% - 13px);
	height: 200px;
	border: solid 1px #eaeaea;
	border-radius: 4px;
	max-width: 800px;
	background-color: #ffffff;
	color: #b7b7b7;
	padding: 10px 11px;
	font-size: 14px;
	font-weight: normal;
}

#delPConfirmationModal, #cancelPIEditConfirmationModal, 
#editPICheckingInput, #cancelPISaveConfirmationModal, #editCICheckingInput,
#savePICheckingInput, #delCConfirmationModal, #cancelCIEditConfirmationModal{
    width: 400px;
    min-height: 245px;
    box-sizing: border-box;
    height: auto;
    padding: 18px 24px 24px 24px;
    border-radius: 20px;
    display: inline-block;
    z-index: 10000;
}
#delPConfirmationModalBody, #cancelPIEditConfirmationModalBody, #editPIConfirmationModalBody, 
#cancelPISaveConfirmationModalBody, #savePIConfirmationModalBody, #delCConfirmationModalBody,
#cancelCIEditConfirmationModal, #editCIConfirmationModalBody {
    text-align: center;
    padding: 0 26px 0 26px;
}

.modalPIEditContent, .modalCIEditContent {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0 6px 0 0;
    box-sizing: border-box;
}


.modalPIEditContent > .pIssueEditContentTopBar {
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 48px;
    margin-right: 20px;
    padding: 8px 0;
    background-color: #FFFFFF;
}

.modalCIEditContent > .cIssueEditContentTopBar {
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 48px;
    margin-right: 20px;
    padding: 8px 0;
    background-color: #FFFFFF;
}

.pIssueEditContentTopBar > .cancelPIEditing {
    width: 32px;
    height: 32px;
    border-radius: 4px;
    background-size: 32px;
    background-repeat: no-repeat;
    background-image: url(/images/cancel_writing.png);
    background-color: #ffffff;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.cIssueEditContentTopBar > .cancelCIEditing {
    width: 32px;
    height: 32px;
    border-radius: 4px;
    background-size: 32px;
    background-repeat: no-repeat;
    background-image: url(/images/cancel_writing.png);
    background-color: #ffffff;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.pIssueEditContentTopBar > .completePIEditing {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 26px;
    box-sizing: border-box;
    height: 32px;
    border-radius: 4px;
    border: solid 1px #eaeaea;
    color: #cccccc;
    background-color: #eaeaea;
    transition: all 0.2s ease;
}

.cIssueEditContentTopBar > .completeCIEditing {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 26px;
    box-sizing: border-box;
    height: 32px;
    border-radius: 4px;
    border: solid 1px #eaeaea;
    color: #cccccc;
    background-color: #eaeaea;
    transition: all 0.2s ease;
}

.pIssueEditContentTopBar > .completePIEditing.registrable {
    color: #ffffff;
    background-color: #0098fe;
    border-color: #0098fe;
    cursor: pointer;
}

.cIssueEditContentTopBar > .completeCIEditing.registrable {
    color: #ffffff;
    background-color: #0098fe;
    border-color: #0098fe;
    cursor: pointer;
}

.editPIssueName, .editCIssueName {
    width: 100%;
    max-height: 82px;
}

.editPIssueNameBack:hover {
    border: solid 1px #eaeaea;
}

.editCIssueNameBack:hover {
    border: solid 1px #eaeaea;
}

.editPIssueNameBack.focus {
    border: solid 1px #0098fe;
}
.editCIssueNameBack.focus {
    border: solid 1px #0098fe;
}

.editPIssueNameBack {
    width: 85%;
    max-height: 68px;
    line-height: 1.7;
    padding: 0;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    font-weight: bold;
    color: #222;
    background-color: #ffffff;
    resize: none;
    overflow: auto;
    outline: none;
    transition: all 0.4s ease;
    letter-spacing: -0.03em;
}

.editCIssueNameBack {
    width: 84.8%;
    max-height: 68px;
    line-height: 1.7;
    padding: 0;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    font-weight: bold;
    color: #222;
    background-color: #ffffff;
    resize: none;
    overflow: auto;
    outline: none;
    transition: all 0.4s ease;
    letter-spacing: -0.03em;
}
.editCIssueNameBack > textarea {
    width: 100%;
    max-height: 68px;
    line-height: 1.7;
    padding: 0;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    font-weight: bold;
    color: #222;
    background-color: #ffffff;
    resize: none;
    overflow: auto;
    outline: none;
    transition: all 0.4s ease;
    letter-spacing: -0.03em;
}

.editPIssueNameBack > textarea {
    width: 100%;
    max-height: 68px;
    line-height: 1.7;
    padding: 0;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    font-weight: bold;
    color: #222;
    background-color: #ffffff;
    resize: none;
    overflow: auto;
    outline: none;
    transition: all 0.4s ease;
    letter-spacing: -0.03em;
}
.editPIssueKnd, .editCIssueKnd {
    display: flex;
    align-items: center;
    height: 100%;
    margin-top: 10px;
    margin-right: 10px;
}

 .editPIssueKnd > p {
    font-size: 15px;
    font-weight: bold;
    color: #575757;
    width: 50px;
}

 .editCIssueKnd > p {
    font-size: 15px;
    font-weight: bold;
    color: #575757;
    width: 50px;
}

.editPIssueSt, .editCIssueSt {
    display: flex;
    align-items: center;
    height: 100%;
	margin-left: 150px;
}

 .editPIssueSt > p {
    font-size: 15px;
    font-weight: bold;
    color: #575757;
    width: 65px;
}

 .editCIssueSt > p {
    font-size: 15px;
    font-weight: bold;
    color: #575757;
    width: 65px;
}

.editPIssueRank, .editCIssueRank {
    display: flex;
    align-items: center;
    height: 100%;
	margin-left: 150px;
}

 .editPIssueRank > p {
    font-size: 15px;
    font-weight: bold;
    color: #575757;
    width: 65px;
}
 .editCIssueRank > p {
    font-size: 15px;
    font-weight: bold;
    color: #575757;
    width: 65px;
}

.editingPIContent, .editingCIContent {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: calc(100% - 22px);
    margin-right: 22px;
    padding-bottom: 8px;
}

.editingPISection, .editingCISection {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
}

.editingPILoadBtn, .editingCILoadBtn {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    width: fit-content;
    height: 32px;
    padding: 0 10px;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #ffffff;
    cursor: pointer;
    transition: background-color 0.2s ease;
    margin-right: 75px;
}

.editingPILoadBtn > span {
    width: 16px;
    height: 16px;
    background-size: 16px;
    background-position: center;
    background-repeat: no-repeat;
}

.editingCILoadBtn > span {
    width: 16px;
    height: 16px;
    background-size: 16px;
    background-position: center;
    background-repeat: no-repeat;
}

.editingPILoadBtn.upload > span {
    background-image: url(/images/upload_file.png);
}

.editingCILoadBtn.upload > span {
    background-image: url(/images/upload_file.png);
}

.editingPILoadBtn > p {
    font-size: 14px;
    color: #575757;
    margin: 0;
}

piFileUpload.dz {
    width: 100%;
    margin-bottom: 1.5rem;
}

ciFileUpload.dz {
    width: 100%;
    margin-bottom: 1.5rem;
}

.editPIHashtagList, .editCIHashtagList {
    display: flex;
    flex-wrap: wrap;
    gap: 8px 4px;
    width: 100%;
    padding: 16px 12px;
    box-sizing: border-box;
}

.editPIHashtagContent, .editCIHashtagContent {
    width: 100%;
    border: solid 1px #eaeaea;
    border-radius: 4px;
    background-color: #FFFFFF;
    position: relative;
    height: 80px;
}

.editPITagBox, .editCITagBox {
    display: flex;
    align-items: center;
    gap: 2px;
    height: 20px;
    padding: 0 4px;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #f5f5f5;
}

.editPITagBox > p {
    font-size: 12px;
    color: #a8a8a8;
}

.editCITagBox > p {
    font-size: 12px;
    color: #a8a8a8;
}

.editPITagBox > p {
    font-size: 12px;
    color: #a8a8a8;
    margin: 0;
}
.editCITagBox > p {
    font-size: 12px;
    color: #a8a8a8;
    margin: 0;
}

.editPITextEllipsis, .editCITextEllipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.deletePIFile, .deletePIEditFile, .deletePISaveFile, .deleteCIFile, .deleteCIEditFile, .deleteCISaveFile {
    width: 28px;
    height: 28px;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 28px;
    background-color: #FFFFFF;
    cursor: pointer;
    transition: all 0.2s ease;
    background-image: url("/images/delete_file.png");
}

.modalPISaveContent {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0 6px 0 0;
    box-sizing: border-box;
}


.modalPISaveContent > .pIssueSaveContentTopBar {
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 48px;
    margin-right: 20px;
    padding: 8px 0;
    background-color: #FFFFFF;
}

.pIssueSaveContentTopBar > .cancelPISaving {
    width: 32px;
    height: 32px;
    border-radius: 4px;
    background-size: 32px;
    background-repeat: no-repeat;
    background-image: url(/images/cancel_writing.png);
    background-color: #ffffff;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.pIssueSaveContentTopBar > .completePISaving {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 26px;
    box-sizing: border-box;
    height: 32px;
    border-radius: 4px;
    border: solid 1px #eaeaea;
    color: #cccccc;
    background-color: #eaeaea;
    transition: all 0.2s ease;
}

.pIssueSaveContentTopBar > .completePISaving.registrable {
    color: #ffffff;
    background-color: #0098fe;
    border-color: #0098fe;
    cursor: pointer;
}

.savePIssueName {
    width: 100%;
    max-height: 82px;
}

.savePIssueNameBack {
    width: 85%;
    min-height: 48px;
    height: fit-content;
    max-height: 82px;
    padding: 6px 6px 5px 6px;
    box-sizing: border-box;
    border-radius: 4px;
    border: solid 1px transparent;
    transition: all 0.2s ease;
}

.savePIssueNameBack:hover {
    border: solid 1px #eaeaea;
}

.savePIssueNameBack.focus {
    border: solid 1px #0098fe;
}

.savePIssueNameBack > textarea {
    width: 100%;
    max-height: 68px;
    line-height: 1.7;
    padding: 0;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    font-weight: bold;
    color: #222;
    background-color: #ffffff;
    resize: none;
    overflow: auto;
    outline: none;
    transition: all 0.4s ease;
    letter-spacing: -0.03em;
}

.savePIssueKnd {
    display: flex;
    align-items: center;
    height: 100%;
    margin-top: 10px;
    margin-right: 10px;
}

 .savePIssueKnd > p {
    font-size: 15px;
    font-weight: bold;
    color: #575757;
    width: 50px;

}
.savePIssueRank {
    display: flex;
    align-items: center;
    height: 100%;
	margin-left: 150px;
}

 .savePIssueRank > p {
    font-size: 15px;
    font-weight: bold;
    color: #575757;
    width: 65px;
}

.savingPIContent {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: calc(100% - 22px);
    margin-right: 22px;
    padding-bottom: 8px;
}

.savingPISection {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
}

.savingPILoadBtn {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    width: fit-content;
    height: 32px;
    padding: 0 10px;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #ffffff;
    cursor: pointer;
    transition: background-color 0.2s ease;
    margin-right: 75px;
}

.savingPILoadBtn > span {
    width: 16px;
    height: 16px;
    background-size: 16px;
    background-position: center;
    background-repeat: no-repeat;
}

.savingPILoadBtn.upload > span {
    background-image: url(/images/upload_file.png);
}


.savingPILoadBtn > p {
    font-size: 14px;
    color: #575757;
    margin: 0;
}

piFileUpload.dz {
    width: 100%;
    margin-bottom: 1.5rem;
}

.showPIHashtagList, .showCIHashtagList {
    display: flex;
    flex-wrap: wrap;
    gap: 8px 4px;
    width: 100%;
    padding: 16px 0 12px;
    box-sizing: border-box;
}

.showPIHashtagContent, .showCIHashtagContent {
    width: 100%;
    border: solid 1px #eaeaea;
    border-radius: 4px;
    background-color: #FFFFFF;
    position: relative;
    height: 80px;
}


.showTagBoxPI, .showTagBoxCI {
    display: flex;
    align-items: center;
    gap: 2px;
    height: 20px;
    padding: 0 4px;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #458EFF;
}

.showTagBoxPI > p {
    font-size: 12px;
    color: #fff;
    margin: 0;
}

.showTagBoxCI > p {
    font-size: 12px;
    color: #fff;
    margin: 0;
}

.showTextEllipsisPI {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.showTextEllipsisCI {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

