.reply-body{
	padding: 1.88rem 1.81rem;
}

#reply-body-div li:first-child{
	padding-bottom:1.0rem;
}

.comment-body li:not(last-child){
	padding-bottom:0.5rem;
}

.editBtn{
	cursor:pointer;
}

.delBtn{
	cursor:pointer;
	margin-right:3%;

}

.submitBtn{
	margin-right:3%;
	cursor:pointer;
	display:none;
	color:blue;
}

.replyInsertBtn{
	margin-right:3%;
	cursor:pointer;
}

.replyDeleteBtn{
	cursor:pointer;
}

.wordWrapBreak{
	word-wrap: break-word;
	word-break:break-all;
}