	<div class="modal fade bd-example-modal-lg" id="updateProject"
		tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span>&times;</span>
					</button>

				</div>
				<div class="modal-body">

					<form id="updateform" class="form-valide" action="#" method="post">
						<div class="form-group row">
							<label class="col-lg-4 col-form-label" for="val-username">프로젝트명</label>
							<div class="col-lg-5 col-form-label">
								<div class="issueNameEdit">
									<div class="prjtName">
										<textarea class="modalIssueNameUpdate" id="prjtNm"
											name='prjtNm' maxlength="200" style="height: 34px;"
											th:text="${session.projectVO.prjtNm}"></textarea>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-form-label">
								<div class="dropdown custom-dropdown">
									<select class="dropdown-import" id="prjtSt" name="prjtSt"
										th:value="${session.projectVO.prjtSt}">
										<option class="dropdown-import" value="0D1"
											th:selected="${session.projectVO.prjtSt}=='0D1'">진행중</option>

										<option class="dropdown-import" value="0D2"
											th:selected="${session.projectVO.prjtSt}=='0D2'">완료</option>
										<option class="dropdown-import" value="0D3"
											th:selected="${session.projectVO.prjtSt}=='0D3'">초과</option>

									</select>

								</div>
							</div>

						</div>
						<div class="form-group row">
							<label class="col-lg-4 col-form-label" for="val-username">공개여부
							</label>
							<div class="col-lg-6">
								<label class="radio-inline mr-3"> 
								<input type="radio"
									 id="prjtPubcyn" name="prjtPubcyn" th:value="0F1" th:checked="${session.projectVO.prjtPubcyn eq '0F1'}">
									공개
								</label> <i class="fa-solid fa-lock-open fa-lg"></i> 
								<label class="radio-inline mr-3"> 
								<input type="radio"
									 id="prjtPubcyn" name="prjtPubcyn" th:value="0F2" th:checked="${session.projectVO.prjtPubcyn eq '0F2'}">
									비공개
								</label><i class="fa-solid fa-lock fa-lg"></i>


							</div>
						</div>

						<div class="form-group row">
							<label class="col-lg-4 col-form-label">일정 </label>
							<div class="col-lg-3">
								<input type="date" class="form-control" id="prjtFdt"
									name="prjtFdt"
									th:value="${#dates.format(session.projectVO.prjtFdt, 'yyyy-MM-dd')}" />
								<!-- th:value="${#dates.format(projectList.prjtFdt, 'yyyy-MM-dd')}" -->
							</div>
							<div class="col-lg-1">
								<label class="col-lg-4 col-form-label">~ </label>

							</div>
							<div class="col-lg-3">
								<input type="date" class="form-control" id="prjtTdt"
									name="prjtTdt"
									th:value="${#dates.format(session.projectVO.prjtTdt, 'yyyy-MM-dd')}">
							</div>
						</div>
						<div>
							<label class="col-lg-4 col-form-label" for="val-username">참여자
							</label>
							<div class="card" style="height: 200px;">
								<div class="card-body" style="overflow: auto;">
									<div class="table-responsive">
										<table class="table">
											<thead>
												<tr>
													<th>프로필</th>
													<th>부서</th>
													<th>직책</th>
													<th>이름</th>
													<th>삭제</th>
												</tr>
											</thead>
											<tbody id="updatemembertbl">
												
												<th:block th:each="prjtMember : ${projectMemberList}">

													 <tr th:id="${prjtMember.membId}">
														<td><img
															th:src="@{/images/profile/}+${prjtMember.membPhtPath}"
															height="50px" width="50px" alt="프로필"
															th:if="${prjtMember.membPhtPath != null}" /></td> 
														<td th:text="${prjtMember.membDept}" />  
														<td th:text="${prjtMember.membWkgd}" />  
														<td th:text="${prjtMember.membNm}" />  
														<td th:if="${prjtMember.prjtMembPerm} != 'CRTR'"><i class="fa-solid fa-minus"></i></td>
														<input type="hidden" name ="membId" th:value="${prjtMember.membId}">
													</tr> 
												</th:block>
											</tbody>
										</table>
									</div>

								</div>
							</div>
							<div>
								<div class="card" style="height: 200px;">
									<div class="card-body" style="overflow: auto;">
										<div class="SearchBox" style="height: 50%">
											<label for="SearchToggleCheckBox"
												th:attr="onclick='searchMember()'"></label> <input
												type="hidden" id="prjtkeyword" value="전체">
											<div class="SearchInputBox" style="width: 270px;">
												<div>
													<div class="member-selectBox" style="width: 100px;">
														<div class="member-selected" id="member-selected">
															<div class="member-selected-value">전체</div>
															<div class="arrow"></div>
														</div>
														<ul class="member-select-ul"
															style="width: 100px; top: 20%; display: none;">
															<li class="member-select-option" data-value="전체">전체</li>
															<li class="member-select-option" data-value="부서">부서</li>
															<li class="member-select-option" data-value="직책">직책</li>
															<li class="member-select-option" data-value="이름">이름</li>
														</ul>
													</div>

												</div>
												<input class="SearchInputModalView" id="prjtsearch" type="text"
													placeholder="검색어를 입력하세요." />
											</div>

										</div>
										<div class="table-responsive">
											<table class="table">
												<thead>
													<tr>
														<th>프로필</th>
														<th>부서</th>
														<th>직책</th>
														<th>이름</th>
														<th>추가</th>
													</tr>
												</thead>
												<tbody id="prjtmembertbl">
													<th:block th:each="memberList : ${memberList}">
														<tr th:id="${memberList.membId}">
															<td><img
																th:src="@{/images/profile/}+${memberList.membPhtPath}"
																height="50px" width="50px" alt="프로필"
																th:if="${memberList.membPhtPath != null}" /></td>
															<td th:text="${memberList.membDept}" />
															<td th:text="${memberList.membWkgd}" />
															<td th:text="${memberList.membNm}" />
															<td><i class="fa-solid fa-plus"></i></td>
														</tr>
													</th:block>
												</tbody>
											</table>
										</div>

									</div>
								</div>
							</div>
						</div>
						<div>
							<input type="hidden" name="prjtNo" th:value="${prjtNo}" />
						</div>
						<div class="modal-footer">
							<button id="prjtUpdateBtn" type="button" class="btn btn-primary">수정</button>

						</div>
					</form>

				</div>
			</div>
		</div>
	</div>
	
	<script>
		
		$('#prjtUpdateBtn').on('click', function(){
		
	 		let formData = $('#updateform').serializeArray();
	
		 	let formObj = {};
		 	let memberArray = [];
			$.each(formData, function(idx,obj){
	 		  	if(obj.name != "membId"){
					formObj[obj.name] = obj.value;
				}  
	 		  	else{
					memberArray.push({membId : obj.value});
			    }
			});
		
			let obj = {};
		
			obj["project"] = formObj;
			obj["projectMember"] = memberArray;
			
		 	$.ajax('/updateProject' ,{
				type : 'post',
				contentType : 'application/json',
				data : JSON.stringify(obj)
			})
			.done(data => {})
			.fail(err => {}); 
	 	})
		
		$('#prjtmembertbl').on('click', 'td:nth-child(5)',  function(){insertMember($('#updatemembertbl'))})
		$('#updatemembertbl').on('click','td:nth-child(5)' ,deleteMember)
		
		function insertMember(tbl){
				//tr의 ID -중복체크를 위한 값 
				let id = $(event.target).closest('tr').attr('id');
				
				let image = $(event.target).closest('tr').children().eq(0).children().attr('src');
				let dept = $(event.target).closest('tr').children().eq(1).text();
				let position = $(event.target).closest('tr').children().eq(2).text();
				let name = $(event.target).closest('tr').children().eq(3).text();
				
				let isDup = true;				
				tbl.find('tr').each(function(){
					 let checkId = $(this).attr('id');
					 if(checkId == id){
						 isDup = false;
					 }
				})
				
				if (isDup){
					
					let trTag = $('<tr/>');
					let tdTag= $('<td/>');
					
					trTag.attr('id', id);
					
					if(image != null){
						let imgTag = $('<img>',{
							src:image,
							height:"50px", 
							width:"50px"
						})
						
						tdTag.append(imgTag);
					}
					trTag.append(tdTag);
					
					tdTag= $('<td/>');
					tdTag.append(dept);
					trTag.append(tdTag);
					
					tdTag= $('<td/>');
					tdTag.append(position);
					trTag.append(tdTag);
				
					tdTag= $('<td/>');
					tdTag.append(name);
					trTag.append(tdTag);
					
					tdTag= $('<td/>');
					tdTag.append('<i class="fa-solid fa-minus"></i>');
					trTag.append(tdTag);
					
					let inputTag = $('<input/>');
					inputTag.attr('type', 'hidden');
					inputTag.attr('name', 'membId');
					inputTag.attr('value', id);
					trTag.append(inputTag);
					
					tbl.append(trTag); 
				}
			}
		
		function deleteMember(event){
			$(this).parent().remove();
		}
		
		$('#prjtkeyword').on('click', searchMember)
		
			$('.member-selectBox').on('click', function () {
				$('.member-select-ul').css('display', 'block');
			})
			
			$('.member-select-option').on('click', function (e) {
				
				var selectValue = e.currentTarget.textContent;
				$('.member-selected-value').text(selectValue);
				$('#prjtkeyword').val(selectValue);
				$('.member-select-ul').css('display', 'none');
				e.stopPropagation();
		})
		function dropdown(){
				$(this).parent().siblings().attr('class', $(this).children().attr('class'));
				$(this).parent().siblings().text($(this).text());
		}	
	
		function searchMember(){
			
				let selected = $('.member-selected-value').first().text();
				let search  = $('#prjtsearch').val();
				
				$.ajax('/memSearchAjax?&key='+selected + '&value=' + search)
				.done(function(data){
					let tbody = $('#prjtmembertbl');
					tbody.empty();
					$.each( data, function(idx,data){
	
					 	let trTag = $('<tr/>');
					 	let tdTag = $('<td/>');
					 	
						trTag.attr('id', data.MEMB_ID);
				
						if(data.MEMB_PHT_PATH != null){
						let imgTag = $('<img>',{
							src:"/images/profile/" +data.MEMB_PHT_PATH,
							height:"50px", 
							width:"50px",
						})
			
					 		tdTag.append(imgTag);
						}
					 	trTag.append(tdTag);
					 	
					 	tdTag = $('<td/>');
					 	tdTag.append(data.MEMB_DEPT);
					 	trTag.append(tdTag);
					 	
					 	tdTag = $('<td/>');
					 	tdTag.append(data.MEMB_WKGD);
					 	trTag.append(tdTag);
					 	
					 	tdTag = $('<td/>');
					 	tdTag.append(data.MEMB_NM);
					 	trTag.append(tdTag);
					
					 	tdTag = $('<td/>');
					 	tdTag.append('<i class="fa-solid fa-plus"></i>');
					 	trTag.append(tdTag);
					 	
					 	tbody.append(trTag);
					 	
					})
				})
				.fail(err =>  console.log(err));
	 	
		}
	
	</script>