
<form id="updatebussform" class="form-valide" action="#" method="post">

	<div>
		<div class="issueNameEdit">
			<div class="issueNameBack">
				<textarea class="modalIssueNameUpdate" id="bussNm" name='bussNm'
					maxlength="200" style="height: 34px;" placeholder="업무명을 입력하세요."
					th:text="${businessVO.bussNm}"></textarea>
			</div>
		</div>
		<div>

			<div class="card" style="height: 200px;">
				<div class="card-body" style="overflow: auto;">
					<div class="table-responsive">
						<table class="table">
							<thead>
								<tr>
									<th>프로필</th>
									<th>부서</th>
									<th>직책</th>
									<th>이름</th>
									<th>삭제</th>
								</tr>
							</thead>
							<tbody id="updatemembertbl">
								<th:block th:each="bussMemList : ${businessMemberList}">
									<tr th:id="${bussMemList.membId}">
										<td><img
											th:src="@{/images/profile/}+${bussMemList.membPhtPath}"
											height="50px" width="50px" alt="프로필"
											th:if="${bussMemList.membPhtPath != null}" /></td>
										<td th:text="${bussMemList.membDept}" />
										<td th:text="${bussMemList.membWkgd}" />
										<td th:text="${bussMemList.membNm}" />
										<!-- 버튼 수정하기 -->
										<td><i class="fa-solid fa-minus"></i></td>
										<input type="hidden" name="membId" th:value="11">
									</tr>
								</th:block>
							</tbody>
						</table>
					</div>

				</div>
			</div>
			<div>
				<div class="card" style="height: 200px;">
					<div class="card-body" style="overflow: auto;">
						<div class="SearchBox" style="height: 50%">
							<label for="SearchToggleCheckBox"
								th:attr="onclick='searchMember()'"></label> <input type="hidden"
								id="infokeyword" value="전체">
							<div class="SearchInputBox" style="width: 270px;">
								<div>
									<div class="member-selectBox" style="width: 100px;">
										<div class="member-selected" id="info-member-selected">
											<div class="member-selected-value">전체</div>
											<div class="arrow"></div>
										</div>
										<ul class="member-select-ul"
											style="width: 100px; top: 20%; display: none;">
											<li class="member-select-option" data-value="전체">전체</li>
											<li class="member-select-option" data-value="부서">부서</li>
											<li class="member-select-option" data-value="직책">직책</li>
											<li class="member-select-option" data-value="제목">이름</li>
										</ul>
									</div>
								</div>
								<input class="SearchInputModalView" id="infosearch" type="text"
									placeholder="검색어를 입력하세요.">
							</div>

						</div>
						<div class="table-responsive">
							<table class="table">
								<thead>
									<tr>
										<th>프로필</th>
										<th>부서</th>
										<th>직책</th>
										<th>이름</th>
										<th>추가</th>
									</tr>
								</thead>
								<tbody id="infomembertbl">
									<th:block th:each="memberList : ${memberList}">
										<tr th:id="${memberList.membId}">
											<td><img
												th:src="@{/images/profile/}+${memberList.membPhtPath}"
												height="50px" width="50px" alt="프로필"
												th:if="${memberList.membPhtPath != null}" /></td>
											<td th:text="${memberList.membDept}" />
											<td th:text="${memberList.membWkgd}" />
											<td th:text="${memberList.membNm}" />
											<!-- 버튼 수정하기 -->
											<td><i class="fa-solid fa-plus"></i></td>
										</tr>
									</th:block>
								</tbody>
							</table>
						</div>

					</div>
				</div>
			</div>
		</div>

		<div class="form-group row">
			<label class="col-lg-4 col-form-label">일정 </label>
			<div class="col-lg-3">
				<input type="date" class="form-control" id="bussFrdt"
					name="bussFrdt"
					th:value="${#dates.format(businessVO.bussFrdt, 'yyyy-MM-dd')}">
			</div>
			<div class="col-lg-1">
				<label class="col-lg-4 col-form-label">~ </label>

			</div>
			<div class="col-lg-3">
				<input type="date" class="form-control" id="bussTodt"
					name="bussTodt"
					th:value="${#dates.format(businessVO.bussTodt, 'yyyy-MM-dd')}">
			</div>
		</div>

		<div class="form-group row">
			<label class="col-lg-4 col-form-label" for="val-username">중요도
			</label>
			<div class="col-lg-6">
				<div class="dropdown custom-dropdown">
					<select class="dropdown-import" id="bussImp" name="bussImp"
						th:value="${businessVO.bussImpNm}">
						<option class="dropdown-import" value="0J1"
							th:selected="${businessVO.bussImpNm}=='상'">상</option>
						<option class="dropdown-import" value="0J2"
							th:selected="${businessVO.bussImpNm}=='중'">중</option>
						<option class="dropdown-import" value="0J3"
							th:selected="${businessVO.bussImpNm}=='하'">하</option>

					</select>

				</div>
			</div>
		</div>
		<div class="form-group row">
			<label class="col-lg-4 col-form-label" for="val-username">진척도
			</label>
			<div class="col-lg-5">
				<div class="snap">
					<div id="hover"></div>
					<span class="example-val mt-4 d-inline-block" id="hover-val"></span>
				</div>
			</div>
			<div class="col-lg-2">
				<input type="text" id="bussPrgre" name="bussPrgre"
					th:value="${businessVO.bussPrgre}" />
			</div>
		</div>
		<div class="form-group row">
			<label class="col-lg-4 col-form-label" for="val-username">상태
			</label>
			<div class="col-lg-6">
				<input type="text" id="bussSt" name="bussSt"
					th:value="${businessVO.bussSt}" readonly="readonly" />
			</div>

		</div>
		<div class="form-group row">
			<label class="col-lg-4 col-form-label" for="val-username">종속관계
			</label>
			<div class="col-lg-6">
				<div class="dropdown custom-dropdown">
					<div>
						<select class="dropdown-relation" name="bussDep">
							<option class="dropdown-relation" value="">선택</option>
							<option class="dropdown-relation" value="up">선행 작업</option>
							<option class="dropdown-relation" value="down">후속 작업</option>

						</select>
					</div>
				</div>

				<div class="dropdown custom-dropdown">
					<div>
						<select class="dropdown-relation" name="bussUpNm">
							<option class="dropdown-business" value="">선택</option>
							<th:block th:each="bussNameList : ${businessNameList}">

								<option class="dropdown-business"
									th:value="${bussNameList.bussNm}"
									th:text="${bussNameList.bussNm}"></option>
							</th:block>
						</select>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div>
		<input type="hidden" name="prjtNo"
			th:value="${session.projectVO.prjtNo}" /> <input type="hidden"
			name="bussNo" th:value="${businessVO.bussNo}" />
	</div>
	<div class="modal-footer">
		<button id="updatebussBtn" type="button" class="btn btn-primary">수정</button>
	</div>
</form>

<script src="/plugins/nouislider/nouislider.min.js"></script>
<script src="/plugins/wnumb/wNumb.js"></script>
<script src="/js/plugins-init/nouislider-init.js"></script>
<script>
	var slider = document.getElementById('hover');
	var bussPrgre = $('#bussPrgre').val();

	noUiSlider.create(slider, {
		start : bussPrgre,
		connect : 'lower',
		range : {
			'min' : 0,
			'max' : 100
		}
	});
	slider.noUiSlider.on('slide', function(value, handle) {
		$('#bussPrgre').val(Math.round(value[handle], 0));

	})
	$('#bussPrgre').on('change', function() {
		slider.noUiSlider.set($(this).val());
	})
	
	if($('#bussSt').val() == '0K1'){
		$('#bussSt').val('진행중');
	}else if($('#bussSt').val() == '0K2'){
		$('#bussSt').val('완료');
	}else if($('#bussSt').val() == '0K3'){
		$('#bussSt').val('초과');
	}else{
		$('#bussSt').val('초과완료');
	}

	$('#infomembertbl').on('click', function() {

				let id = $(event.target).closest('tr').attr('id');

				let image = $(event.target).closest('tr').children().eq(0)
						.children().attr('src');
				let dept = $(event.target).closest('tr').children().eq(1)
						.text();
				let position = $(event.target).closest('tr').children().eq(2)
						.text();
				let name = $(event.target).closest('tr').children().eq(3)
						.text();

				let isDup = true;
				tbl = $('#updatemembertbl');
				tbl.find('tr').each(function() {
					let checkId = $(this).attr('id');
					if (checkId == id) {
						isDup = false;
					}
				})

				if (isDup) {

					let trTag = $('<tr/>');
					let tdTag = $('<td/>');

					trTag.attr('id', id);

					if (image != null) {
						let imgTag = $('<img>', {
							src : image,
							height : "50px",
							width : "50px"
						})

						tdTag.append(imgTag);
					}
					trTag.append(tdTag);

					tdTag = $('<td/>');
					tdTag.append(dept);
					trTag.append(tdTag);

					tdTag = $('<td/>');
					tdTag.append(position);
					trTag.append(tdTag);

					tdTag = $('<td/>');
					tdTag.append(name);
					trTag.append(tdTag);

					tdTag = $('<td/>');
					tdTag.append('<i class="fa-solid fa-minus"></i>');
					trTag.append(tdTag);

					let inputTag = $('<input/>');
					inputTag.attr('type', 'hidden');
					inputTag.attr('name', 'membId');
					inputTag.attr('value', id);
					trTag.append(inputTag);

					tbl.append(trTag);
				}

	})
	$('#updatemembertbl').on('click','td:nth-child(5)' ,function(){
		$(this).parent().remove();
	})


	$('.member-selectBox').on('click', function() {
		$('.member-select-ul').css('display', 'block');
	})

	$('.member-select-option').on('click', function(e) {

		var selectValue = e.currentTarget.textContent;
		$('.member-selected-value').text(selectValue);
		$('#keyword').val(selectValue);
		$('.member-select-ul').css('display', 'none');
		e.stopPropagation();
	})
	
	function searchMember(){
		let selected = $('.member-selected-value').first().text();
		let search  = $('#infosearch').val();
	
		$.ajax('/memSearchAjax?&key='+selected + '&value=' + search)
		.done(function(data){
			let tbody = $('#infomembertbl');
			tbody.empty();
			$.each( data, function(idx,data){
	
			let trTag = $('<tr/>');
			let tdTag = $('<td/>');
					 	
			trTag.attr('id', data.MEMB_ID);
				
			if(data.MEMB_PHT_PATH != null){
				let imgTag = $('<img>',{
				src:"/images/profile/" +data.MEMB_PHT_PATH,
				height:"50px", 
				width:"50px",
				})
				
				tdTag.append(imgTag);
				}
				trTag.append(tdTag);
					 	
				tdTag = $('<td/>');
				tdTag.append(data.MEMB_DEPT);
				trTag.append(tdTag);
					 	
			 	tdTag = $('<td/>');
			 	tdTag.append(data.MEMB_WKGD);				 
				trTag.append(tdTag);
					 	
				tdTag = $('<td/>');
				tdTag.append(data.MEMB_NM);
				trTag.append(tdTag);
					
				tdTag = $('<td/>');
			 	tdTag.append('<i class="fa-solid fa-plus"></i>');
			 	trTag.append(tdTag);
					 	
			 	tbody.append(trTag);
			})
		})
		.fail(err =>  console.log(err));
	}
	$('#updatebussBtn').on('click', function(){
			
				let formData = $('#updatebussform').serializeArray();

			 	let formObj = {};
			 	let memberArray = [];
				$.each(formData, function(idx,obj){
		 		  	if(obj.name != "membId"){
						formObj[obj.name] = obj.value;
					}  
		 		  	else{
						memberArray.push({membId : obj.value});
				    }
				});
			
				let obj = {};
			
				obj["business"] = formObj;
				obj["businessMember"] = memberArray;
				
				$.ajax('/updateBusiness' ,{
					type : 'post',
					contentType : 'application/json',
					data : JSON.stringify(obj)
				})
				.done(data => {
				})
				.fail(err => {});
					
	})
	
</script>

	
		

