
<form id="updatebussform" class="form-valide" action="#" method="post">

	<div>
		<div class="issueNameEdit">
			<div class="prjtName">
				<input class="modalIssueNameUpdate" id="bussNm" name='bussNm'
					maxlength="200" style="height: 34px;" placeholder="업무명을 입력하세요."
					th:value="${businessVO.bussNm}">
			</div>
		</div>
		<div>
			<label class="col-lg-4 col-form-label" for="val-username">업무
				참여자 </label>
			<div class="card" style="height: 200px;">
				<div class="card-body" style="overflow: auto;">
					<div class="table-responsive">
						<table class="table">
							<thead>
								<tr>
									<th>프로필</th>
									<th>부서</th>
									<th>직책</th>
									<th>이름</th>
									<th>삭제</th>
								</tr>
							</thead>
							<tbody id="updatemembertbl">
								<th:block th:each="bussMemList : ${businessMemberList}">
									<tr th:id="${bussMemList.membId}">
										<td><img
											th:src="'/uploads/'+${bussMemList.membPhtPath}"
											height="50px" width="50px" alt="프로필"
											th:if="${bussMemList.membPhtPath != null}" /></td>
										<td th:text="${bussMemList.membDept}" />
										<td th:text="${bussMemList.membWkgd}" />
										<td th:text="${bussMemList.membNm}" />
										<!-- 버튼 수정하기 -->
										<td><i class="fa-solid fa-minus"></i></td>
										<input type="hidden" name="membId"
											th:value="${bussMemList.membId}">
									</tr>
								</th:block>
							</tbody>
						</table>
					</div>

				</div>
			</div>
			<div>
				<label class="col-lg-4 col-form-label" for="val-username">프로젝트
					참여자 </label>
				<div class="card" style="height: 200px;">
					<div class="card-body" style="overflow: auto;">
						<div class="SearchBox" style="height: 50%">
							<label for="SearchToggleCheckBox"
								th:attr="onclick='searchMember()'"></label> <input type="hidden"
								id="infokeyword" value="전체">
							<div class="SearchInputBox" style="width: 270px;">
								<div>
									<div class="member-selectBox" style="width: 100px;">
										<div class="member-selected" id="info-member-selected">
											<div class="member-selected-value">전체</div>
											<div class="arrow"></div>
										</div>
										<ul class="member-select-ul"
											style="width: 100px; top: 20%; display: none;">
											<li class="member-select-option" data-value="전체">전체</li>
											<li class="member-select-option" data-value="부서">부서</li>
											<li class="member-select-option" data-value="직책">직책</li>
											<li class="member-select-option" data-value="제목">이름</li>
										</ul>
									</div>
								</div>
								<input class="SearchInputModalView" id="infosearch" type="text"
									placeholder="검색어를 입력하세요.">
							</div>

						</div>
						<div class="table-responsive">
							<table class="table">
								<thead>
									<tr>
										<th>프로필</th>
										<th>부서</th>
										<th>직책</th>
										<th>이름</th>
										<th>추가</th>
									</tr>
								</thead>
								<tbody id="infomembertbl">
									<th:block th:each="prjtmemberList : ${projectMemberList}">
										<tr th:id="${prjtmemberList.membId}">
											<td><img
												th:src="'/uploads/'+${prjtmemberList.membPhtPath}"
												height="50px" width="50px" alt="프로필"
												th:if="${prjtmemberList.membPhtPath != null}" /></td>
											<td th:text="${prjtmemberList.membDept}" />
											<td th:text="${prjtmemberList.membWkgd}" />
											<td th:text="${prjtmemberList.membNm}" />
											<td><i class="fa-solid fa-plus"></i></td>
										</tr>
									</th:block>
								</tbody>
							</table>
						</div>

					</div>
				</div>
			</div>
		</div>

		<div class="form-group row">
			<label class="col-lg-4 col-form-label">일정 </label>
			<div class="col-lg-3">
				<input type="date" class="form-control" id="bussFrdt"
					name="bussFrdt"
					th:value="${#dates.format(businessVO.bussFrdt, 'yyyy-MM-dd')}">
			</div>
			<div class="col-lg-1">
				<label class="col-lg-4 col-form-label">~ </label>

			</div>
			<div class="col-lg-3">
				<input type="date" class="form-control" id="bussTodt"
					name="bussTodt"
					th:value="${#dates.format(businessVO.bussTodt, 'yyyy-MM-dd')}">
			</div>
		</div>

		<div class="form-group row">
			<label class="col-lg-4 col-form-label" for="val-username">중요도
			</label>
			<div class="col-lg-6">
				<div class="dropdown custom-dropdown">
					<select class="dropdown-import" id="bussImp" name="bussImp"
						th:value="${businessVO.bussImpNm}">
						<option class="dropdown-import" value="0J1"
							th:selected="${businessVO.bussImpNm}=='상'">상</option>
						<option class="dropdown-import" value="0J2"
							th:selected="${businessVO.bussImpNm}=='중'">중</option>
						<option class="dropdown-import" value="0J3"
							th:selected="${businessVO.bussImpNm}=='하'">하</option>

					</select>

				</div>
			</div>
		</div>
		<div class="form-group row">
			<label class="col-lg-4 col-form-label" for="val-username">진척도
			</label>
			<div class="col-lg-5" style="padding-right: 0;">
				<div class="drag">
					<div id="drag"></div>
					<span class="example-val mt-4 d-inline-block" id="hover-val"></span>
				</div>
			</div>
			<div class="col-lg-2">
				<input type="text" id="bussPrgre" name="bussPrgre"
			 		style="border:none;" readonly
					th:value="${businessVO.bussPrgre}" />
			</div>
		</div>
		<div class="form-group row">
			<label class="col-lg-4 col-form-label" for="val-username">상태
			</label>
			<div class="col-lg-6">

				<!-- <input type="text" id="bussSt" name="bussSt"
					th:value="${businessVO.bussSt}" readonly="readonly" > -->
				<th:block th:switch="${businessVO.bussSt}">
					<span th:case="0K1" th:text="진행중" class="badge badge-info px-2"></span>
					<span th:case="0K2" th:text="완료" class="badge badge-success px-2"></span>
					<span th:case="0K3" th:text="초과" class="badge badge-danger px-2"></span>
					<span th:case="0K4" th:text="초과완료" class="badge badge-light px-2"></span>
				</th:block>
			</div>

		</div>
		<div class="form-group row">
			<label class="col-lg-5 col-form-label" for="val-username">종속관계</label>
			<label class="col-lg-3 col-form-label" for="val-username">선행
				업무</label>

			<div class="dropdown custom-dropdown">
				<div>
					<select class="dropdown-relation" name="bussUpcd">

						<div th:if="${businessVO.bussUpcd == null}">
							<option class="dropdown-business" value="">선택</option>
						</div>
						<div th:if="${businessVO.bussUpcd != null}">
							<option class="dropdown-business"
								th:value="${businessVO.bussUpcd}"
								th:text="${businessVO.bussUpNm}"></option>
							<option class="dropdown-business" value="">선택</option>
						</div>
						<th:block th:each="bussNameList : ${businessNameList}">
							<option th:if="${businessVO.bussNo != bussNameList.bussNo}"
								class="dropdown-business" th:value="${bussNameList.bussNo}"
								th:text="${bussNameList.bussNm}"></option>
						</th:block>
					</select>

				</div>
			</div>

		</div>

		<div class="form-group row">
			<th:block th:if="${#lists.isEmpty(downList)}">
				<div class="col-lg-4 col-form-label"></div>
				<div class="col-lg-1">
					<i class="fa-solid fa-plus fa-lg" onclick="addRowUpdate(this);"></i>
				</div>

				<label id="downlabel" class="col-lg-3 col-form-label"
					for="val-username">후속업무</label>

				<div class="dropdown custom-dropdown">

					<div>
						<select class="dropdown-relation" name="bussdownNo"
							th:onchange="changeUpdate(this);">
							<option class="dropdown-business" value="">선택</option>
							<th:block th:each="bussNameList : ${businessNameList}">
								<option th:if="${businessVO.bussNo == bussNameList.bussNo}"
									class="dropdown-business" th:value="${bussNameList.bussNo}"
									th:text="${bussNameList.bussNm}" disabled></option>

								<option th:if="${businessVO.bussNo != bussNameList.bussNo}"
									class="dropdown-business" th:value="${bussNameList.bussNo}"
									th:text="${bussNameList.bussNm}"></option>
							</th:block>
						</select>
					</div>

				</div>
			</th:block>
		</div>
		<th:block th:each="downList,idx : ${downList}">
			<div class="form-group row">

				<div class="col-lg-4 col-form-label">
					<span class="bussdown"></span>
				</div>
				<div class="col-lg-1">
					<i th:if="${idx.index == 0}" class="fa-solid fa-plus fa-lg"
						onclick="addRowUpdate(this);"></i>
				</div>

				<label id="downlabel" class="col-lg-3 col-form-label"
					for="val-username">후속업무</label>

				<div class="dropdown custom-dropdown">

					<div>
						<select class="dropdown-relation" name="bussdownNo"
							th:onchange="changeUpdate(this);" disabled>
							<option class="dropdown-business" th:value="${downList.bussNo}"
								th:text="${downList.bussNm}">선택</option>
							<th:block th:each="bussNameList : ${businessNameList}">
								<option class="dropdown-business"
									th:value="${bussNameList.bussNo}"
									th:text="${bussNameList.bussNm}"></option>
							</th:block>
						</select>
					</div>

				</div>
				<div class="col-lg-1">
					<i class="fa-solid fa-minus fa-lg" onclick="removeRowUpdate(this);"></i>
				</div>
			</div>
		</th:block>
		<input type="hidden" name="prjtNo"
			th:value="${session.projectVO.prjtNo}" /> <input type="hidden"
			name="bussNo" th:value="${businessVO.bussNo}" />
	</div>
	<div class="modal-footer">
		<button th:if="${session.updateCheck != null}" type="button"
			id="deletebussBtn" class="btn btn-primary">삭제</button>
		<button th:if="${session.updateCheck != null}" type="button"
			id="updatebussBtn" class="btn btn-primary">수정</button>
	</div>
</form>

<script src="/plugins/nouislider/nouislider.min.js"></script>
<script src="/plugins/wnumb/wNumb.js"></script>
<script>
	var slider = document.getElementById('drag'); 
	var bussPrgre = $('#bussPrgre').val();

 	noUiSlider.create(slider, {
		start : bussPrgre,
		connect : 'lower',
		range : {
			'min' : 0,
			'max' : 100
		}
	}); 

	slider.noUiSlider.on('slide', function(value, handle) {
		$('#bussPrgre').val(Math.round(value[handle], 0));

	})
	$('#bussPrgre').on('change', function() {
		slider.noUiSlider.set($(this).val());
	})
	
	if($('#bussSt').val() == '0K1'){
		$('#bussSt').val('진행중');
	}else if($('#bussSt').val() == '0K2'){
		$('#bussSt').val('완료');
	}else if($('#bussSt').val() == '0K3'){
		$('#bussSt').val('초과');
	}else{
		$('#bussSt').val('초과완료');
	}

	$('#infomembertbl').on('click', function() {

				let id = $(event.target).closest('tr').attr('id');

				let image = $(event.target).closest('tr').children().eq(0)
						.children().attr('src');
				let dept = $(event.target).closest('tr').children().eq(1)
						.text();
				let position = $(event.target).closest('tr').children().eq(2)
						.text();
				let name = $(event.target).closest('tr').children().eq(3)
						.text();

				let isDup = true;
				tbl = $('#updatemembertbl');
				tbl.find('tr').each(function() {
					let checkId = $(this).attr('id');
					if (checkId == id) {
						isDup = false;
					}
				})

				if (isDup) {

					let trTag = $('<tr/>');
					let tdTag = $('<td/>');

					trTag.attr('id', id);

					if (image != null) {
						let imgTag = $('<img>', {
							src : image,
							height : "50px",
							width : "50px"
						})

						tdTag.append(imgTag);
					}
					trTag.append(tdTag);

					tdTag = $('<td/>');
					tdTag.append(dept);
					trTag.append(tdTag);

					tdTag = $('<td/>');
					tdTag.append(position);
					trTag.append(tdTag);

					tdTag = $('<td/>');
					tdTag.append(name);
					trTag.append(tdTag);

					tdTag = $('<td/>');
					tdTag.append('<i class="fa-solid fa-minus"></i>');
					trTag.append(tdTag);

					let inputTag = $('<input/>');
					inputTag.attr('type', 'hidden');
					inputTag.attr('name', 'membId');
					inputTag.attr('value', id);
					trTag.append(inputTag);

					tbl.append(trTag);
				}

	})
	$('#updatemembertbl').on('click','td:nth-child(5)' ,function(){
		$(this).parent().remove();
	})


	$('.member-selectBox').on('click', function() {
		$('.member-select-ul').css('display', 'block');
	})

	$('.member-select-option').on('click', function(e) {

		var selectValue = e.currentTarget.textContent;
		$('.member-selected-value').text(selectValue);
		$('#keyword').val(selectValue);
		$('.member-select-ul').css('display', 'none');
		e.stopPropagation();
	})
	
	function searchMember(){
		let selected = $('.member-selected-value').first().text();
		let search  = $('#infosearch').val();
	
		$.ajax('/prjtMemSearchAjax?&key='+selected + '&value=' + search)
		.done(function(data){
			let tbody = $('#infomembertbl');
			tbody.empty();
			$.each( data, function(idx,data){
	
			let trTag = $('<tr/>');
			let tdTag = $('<td/>');
					 	
			trTag.attr('id', data.MEMB_ID);
				
			if(data.MEMB_PHT_PATH != null){
				let imgTag = $('<img>',{
				src:'/uploads/'+data.MEMB_PHT_PATH,
				height:"50px", 
				width:"50px",
				})
				
				tdTag.append(imgTag);
				}
				trTag.append(tdTag);
					 	
				tdTag = $('<td/>');
				tdTag.append(data.MEMB_DEPT);
				trTag.append(tdTag);
					 	
			 	tdTag = $('<td/>');
			 	tdTag.append(data.MEMB_WKGD);				 
				trTag.append(tdTag);
					 	
				tdTag = $('<td/>');
				tdTag.append(data.MEMB_NM);
				trTag.append(tdTag);
					
				tdTag = $('<td/>');
			 	tdTag.append('<i class="fa-solid fa-plus"></i>');
			 	trTag.append(tdTag);
					 	
			 	tbody.append(trTag);
			})
		})
		.fail(err =>  console.log(err));
	}
	$('#updatebussBtn').on('click', function(){
				 
				let no =$('select[name="bussdownNo"]').each(function(){
					let no = $(this).val();
					disableNo.push(Number(no));
				});
				
				let formData = $('#updatebussform').serializeArray();
				let bussUpNo = '';
				for(let i=0; i< formData.length; i++){
					if(formData[i].name == 'bussUpcd'){
						 bussUpNo = formData[i].value;
					
					}
				}
				for(let i= 0; i< disableNo.length; i++){
					if(bussUpNo != disableNo[i]){
						formData.push({name : 'bussdownNo', value: disableNo[i]});
					}
				}
				
				let bussName = $('[name="bussNm"]');
				if(bussName.val() == ''){
					Swal.fire("업무 제목을 입력해주세요.", "" ,"warning");
					bussName.focus();
					return;
				}
					
			
			 	let formObj = {};
			 	let memberArray = [];
			 	let relationArray = [];
				$.each(formData, function(idx,obj){
		 		  	if(obj.name == "membId"){
						memberArray.push({membId : obj.value});
					}  
		 		  	else if(obj.name == "bussdownNo"){
		 		  		relationArray.push({bussdownNo : obj.value});
		 		  	}
		 		  	else{
						
						formObj[obj.name] = obj.value;
				    }
		 		  	
				});
				
				let obj = {};
				console.log(obj);
				obj["business"] = formObj;
				obj["businessMember"] = memberArray;
				obj["relationList"] = relationArray;
			
				$.ajax('/updateBusiness' ,{
					type : 'post',
					contentType : 'application/json',
					data : JSON.stringify(obj)
				})
				.done(data => {
					Swal.fire({
						  title: "업무수정",
						  icon:  "success",
						  confirmButtonText: "확인"
						}).then((result) => {
						  if (result.isConfirmed) {
							  location.reload();
						  }
						});
				})
				.fail(err => {});
					
	})
	$('#deletebussBtn').on('click', function(){
		let bussNo = $('input[name="bussNo"]').val();
		
		$.ajax('/deleteBusiness' ,{
			type : 'post',
			data : {bussNo : bussNo}
		})
		.done(data => {
			location.reload();
		})
		.fail(err => {});
	})
	
	$('[name="bussFrdt"]').on('change',function(){
		let startDay = $(this).val();
		let endDay = $('[name="bussTodt"]');
		if( startDay > endDay.val()){
			$(this).val(endDay.val());
			endDay.val(startDay);
		}
	})
	$('[name="bussTodt"]').on('change',function(){
		let endDay = $(this).val();
		let startDay = $('[name="bussFrdt"]');
		
		if( startDay.val() > endDay){
			$(this).val(startDay.val());
			startDay.val(endDay);
		}

	
	})
	
	function removeRowUpdate(e){
			let removeSelect = $(e).parent().prev().find('option:selected');
			removeSelect.prop('disabled',false);
			let removeNo = removeSelect.val();
			let index = disableNo.indexOf( Number(removeNo));
			
			if (index !== -1) {
				disableNo.splice(index, 1);
			}
			let div = $(e).parent().parent().parent();
			$(e).parent().parent().remove();
			if($('#downlabel').length == 0 ){
				div.append(selectTempDown);
					
				let select = div.find('.dropdown-relation');
					
				let option = '';
				for(let i =0; i< bussList.length ; i++){
						option = $('<option>' + bussList[i].bussNm+'</option>');
						option.attr('value' , bussList[i].bussNo);
						select.append(option);
				} 
			}
				
			//+버튼 추가
			if($('.fa-solid.fa-plus.fa-lg').length == 1){
				div.last().find('#downlabel').prev().append('<i class="fa-solid fa-plus fa-lg" ></i>');
			    div.children().last().find('.col-lg-5').attr('class', 'col-lg-4 col-form-label');
					
			}
			$('.fa-solid.fa-plus.fa-lg').attr('onclick', 'addRowUpdate();');
				
	}

	function changeUpdate(e){
		$(e).prop('disabled', true);
		let no =$(e).find('option:selected').val();
		disableNo.push(Number(no));
		let div = $('<div class="col-lg-1"></div>');
		let icon = $('<i class="fa-solid fa-minus fa-lg" onclick="removeRowUpdate(this);"></i></div>');
		div.append(icon);
		$(e).parent().parent().parent().append(div);
		if(disableNo.length <  bussList.length){
			$('.fa-solid.fa-plus.fa-lg').attr('onclick', 'addRowUpdate();');
		}
		
	}
	 var tempDown = 	`
	    	<div class="form-group row">

		 	<div class="col-lg-4 col-form-label"></div>
			<div class="col-lg-1"></div>
			<label id = "downlabel" class="col-lg-3 col-form-label" for="val-username">후속업무</label>
			<div class="dropdown custom-dropdown">
				<div>
					<select  class="dropdown-relation" name="bussdownNo"  onchange="changeUpdate(this);">
					<option class="dropdown-business" value="">선택</option>
						
					</select>
				</div>
			</div>
			
			</div>`;
			
	 var selectTempDown = `<div class="form-group row">
		<div class="col-lg-4 col-form-label"></div>
		<div class="col-lg-1">
			<i class="fa-solid fa-plus fa-lg" ></i>
		</div>
		<label id="downlabel" class="col-lg-3 col-form-label"
			for="val-username">후속업무</label>
	
		<div class="dropdown custom-dropdown">
			<div>
	
				<select class="dropdown-relation" name="bussdownNm"
					onchange="changeUpdate(this);">
					<option class="dropdown-business" value="">선택</option>
					
				</select>
			</div>
		</div>
	</div>`;
	

	function addRowUpdate(){
		
		$(event.target).attr('onclick', 'return false');
		
		let div = $(event.target).parent().parent().parent();

		div.append(tempDown);
	
		let select = div.find('.dropdown-relation').last();
		 
			let option = '';
			for(let i =0; i< bussList.length ; i++){
				option = $('<option>' + bussList[i].bussNm+'</option>');
				option.attr('value' , bussList[i].bussNo);
				select.append(option);
				for(let j = 0;  j < disableNo.length; j++){
					if(bussList[i].bussNo == disableNo[j]){

						option.prop('disabled', true);		
					}
				}
			}
	}

	
</script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
