<div class="workModalContentBack">
	<div class="workModalContentSlider">
		<div class="workModalContent issueContent">
			<div class="workModalBussTitle">
				<div class="ModalTitle">
					<div class="ModalProjectNameBox">
						<div id="ProjectLinkI">
							#<span></span>
							<p class="textEllipsis" th:text="${buss.prjtNm}" />
						</div>
					</div>
					<div class="ModalBussNameBox Edit">
						<div class="ModalBussNameBack">
							<textarea id="ModalUpdateBussName" th:text="${buss.bussNm}" readonly maxlength="200"
								style="height: 34px;"></textarea>
						</div>
					</div>
				</div>
			</div>
			<div class="ModalInfo">
				<div class="FixOnTop ModalTopBar">
					<div class="IssueTopBar">
						<div></div>
						<div class="TobBarIssueControlArea">
							<div class="SearchBox">
								<div class="issue-filterBox">
									<div class="issue-filtered" id="issue-filtered">
										<div class="issue-filter-value"></div>
										<input type="hidden" id="filterTypeM" name="filterTypeM" value="정렬">
									</div>
									<ul class="issue-filter-ul" style="width: 100px; display: none;">
										<li class="issue-filter-option" data-value="날짜순">날짜순</li>
										<li class="issue-filter-option" data-value="상태순">상태순</li>
										<li class="issue-filter-option" data-value="우선순위순">우선순위순</li>
										<li class="issue-filter-option" data-value="종류순">종류순</li>
									</ul>
								</div>
								<label for="SearchToggleCheckBox" th:attr="onclick='issuePaging(1)'"></label> <input
									type="hidden" id="keyword" name="keyword" value="전체">
								<div class="SearchInputBox" style="width: 270px;">
									<div>
										<div class="issue-selectBox" style="width: 100px;">
											<div class="issue-selected" id="issue-selected">
												<div class="issue-selected-value">전체</div>
												<div class="arrow"></div>
											</div>
											<ul class="issue-select-ul" style="width: 100px; top: 20%; display: none;">
												<li class="issue-select-option" data-value="전체">전체</li>
												<li class="issue-select-option" data-value="작성자">작성자</li>
												<li class="issue-select-option" data-value="제목">제목</li>
											</ul>
										</div>
									</div>
									<input class="SearchInputModalView" id="searchBI" name="searchBI" type="text"
										placeholder="검색어를 입력하세요."><span class="deleteSearchWord"
										onclick="delVal()"></span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="ModalInfoArea IssueInfoArea">

					<div class="col-lg-6" style="width: 100%; max-width: 100%;">

						<div class="table-responsive">
							<table class="table table-hover">
								<thead>
									<tr>
										<th style="font-weight: normal;">종류</th>
										<th style="font-weight: normal;">제목</th>
										<th style="font-weight: normal;">이름</th>
										<th style="font-weight: normal;">상태</th>
										<th style="font-weight: normal;">우선순위</th>
									</tr>
								</thead>
								<tbody  style="cursor: pointer;" id="issueLists">
								
										<tr th:each="issueList : ${issue.list}"  th:onclick="viewIssueInfo([[${issueList.issuNo}]])">
											<th th:if="${issueList.issuKnd == '0L1'}"><span class="badge badge-danger"
													th:text="버그"></span></th>
											<th th:if="${issueList.issuKnd == '0L2'}"><span class="badge badge-warning"
													th:text="개선사항"></span></th>
											<th th:if="${issueList.issuKnd == '0L3'}"><span class="badge badge-info"
													th:text="새기능"></span></th>
											<th th:if="${issueList.issuKnd == '0L4'}"><span class="badge badge-light"
													th:text="업무"></span></th>
											<td th:text="${issueList.issuTtl}"></td>
											<td th:text="${issueList.membNm}"></td>
											<th th:if="${issueList.issuSt == '0E1'}"><span
													class="badge badge-pill badge-success" th:text="해결"></span></th>
											<th th:if="${issueList.issuSt == '0E2'}"><span
													class="badge badge-pill badge-dark" th:text="미해결"></span></th>
											<th th:if="${issueList.issuSt == '0E3'}"><span
													class="badge badge-pill badge-secondary" th:text="해결불가"></span>
											</th>

											<th th:if="${issueList.issuRank == '0G1'}"><span class="badge badge-primary"
													th:text="매우높음"></span></th>
											<th th:if="${issueList.issuRank == '0G2'}"><span
													class="badge badge-secondary" th:text="높음"></span></th>
											<th th:if="${issueList.issuRank == '0G3'}"><span class="badge badge-success"
													th:text="보통"></span></th>
											<th th:if="${issueList.issuRank == '0G4'}"><span class="badge badge-warning"
													th:text="낮음"></span></th>
											<th th:if="${issueList.issuRank == '0G5'}"><span class="badge badge-danger"
													th:text="매우낮음"></span></th>
										</tr>
									
								</tbody>
							</table>
						</div>
					</div>
				</div>

			</div>
			<!--/* 페이지네이션 */-->
			<div class="paginate-container d-none d-sm-flex flex-sm-justify-center">
				<div role="navigation" aria-label="Pagination" class="pagination">

					<a id="previous_page" th:classappend="${issue.prePage == 0} ? 'disabled'"
						th:attr="onclick='issuePaging(\'' + ${issue.prePage} + '\')'">Previous</a>
					<a class="cur_page"
						th:each="page: ${#numbers.sequence(issue.navigateFirstPage, issue.navigateLastPage)}"
						th:text="${page}" th:attr="onclick='issuePaging(\'' + ${page} + '\')'"></a> <a id="next_page"
						th:classappend="${issue.nextPage == 0} ? 'disabled'"
						th:attr="onclick='issuePaging(\'' + ${issue.nextPage} + '\')'">Next</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!--/* 이슈 등록 폼 START */-->
<div class="modalIssueInsertForm" style="display: none">

	<div class="modalInsertContent">
		<div class="issueInsertContentTopBar">
			<span class="cancelWriting"></span>
			<button type="button" class="completeWriting">등록</button>
		</div>
	</div>
	<div class="issueNameEdit">
		<div class="issueNameBack">
			<input class="modalIssueNameUpdate" id="issuTtlVal" maxlength="200" style="height: 34px;"
				placeholder="제목을 입력하세요."></input>
		</div>
	</div>
	<hr style="margin: 0; height: 2px; background-color: #eaeaea; width: 608px;">
	<!--/* 이슈 종류, 중요도 START */-->
	<div class="issueKnd">
		<p>종류</p>
		<div class="dropBoxArea">
			<div class="basic-dropdown" style="display: inline;">
				<div class="dropdown">
					<button type="button" id="issuKndVal" name="issuKndVal" class="badge badge-dark"
						data-toggle="dropdown">선택</button>
					<div class="dropdown-menu" style="cursor: pointer;">
						<a class="dropdown-item"><span class="badge badge-pill badge-warning">개선사항</span></a> <a
							class="dropdown-item"><span class="badge badge-pill badge-info">새기능</span></a> <a
							class="dropdown-item"><span class="badge badge-pill badge-light">업무</span></a> <a
							class="dropdown-item"><span class="badge badge-pill badge-danger">버그</span></a>
					</div>
				</div>
			</div>
		</div>

		<div class="issueRank">
			<p>중요도</p>
			<div class="dropBoxArea">
				<div class="basic-dropdown">
					<div class="dropdown">
						<button type="button" class="badge badge-dark" data-toggle="dropdown"
							id="issuRankVal">선택</button>
						<div class="dropdown-menu" style="cursor: pointer;">
							<a class="dropdown-item"><span class="badge badge-primary">매우높음</span></a>
							<a class="dropdown-item"><span class="badge badge-secondary">높음</span></a>
							<a class="dropdown-item"><span class="badge badge-success">보통</span></a>
							<a class="dropdown-item"><span class="badge badge-warning">낮음</span></a>
							<a class="dropdown-item"><span class="badge badge-danger">매우낮음</span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--/* 이슈 종류, 중요도 END */-->
	<div class="writingContent">
		<div class="writingSection">
			<div class="sectionTitle">
				<p class="sectionTitleText" id="issuCntnVal">내용</p>
			</div>

			<div id="editor" style="width: 630px;"></div>

		</div>

		<div class="attachSection">
			<div class="sectionTitle">
				<p class="sectionTitleText">파일</p>
				<div class="LoadBtn upload">
					<span></span>
					<p>파일 업로드</p>
					<input type="file" class="real-upload" id="files" name="files" multiple
						onchange="addIssueFile(this);" style="display: none;">
				</div>
			</div>
			<div class="fileupload dz">
				<div class="dz-message" style="width: 630px;">
					<table class="table">
						<thead>
							<tr>
								<th>파일명</th>
								<th>크기</th>
								<th></th>
							</tr>
						</thead>
						<tbody id="issueFileList">
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="hashtagSection">
			<div class="sectionTitle">
				<p class="sectionTitleText">해시태그</p>
			</div>
			<input name='input-custom-dropdown' class='tagify__dropdown__item'
				placeholder='Enter키로 등록하세요. 최대 5개까지 등록이 가능합니다.'>
		</div>
	</div>
	<!--/* 취소 확인하는 모달 START */-->
	<div class="modal fade" id="cancelConfirmationModal" tabindex="-1"
		style="display: none; margin-top: 200px; margin-left: 200px;" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header" style="border-bottom: none;">
					<button type="button" class="close" data-dismiss="modal" style="margin: 0; padding: 0;"
						aria-label="Close"></button>
				</div>
				<div class="modal-body" id="cancelConfirmationModalBody">
					<img class="cancelWarning"> <span id="modal-meg" class="notice_msg">현재 작성중인 글은 저장되지 않습니다.<br> 뒤로
						가시겠습니까?
					</span>
				</div>
				<div class="modal-footer" style="border-top: none;">
					<button type="button" class="btn btn-danger btn-sm" id="cancelCancel">취소</button>
					<button type="button" class="btn btn-light btn-sm" id="confirmCancel">확인</button>
				</div>
			</div>
		</div>
	</div>
	<!--/* 취소 확인 모달 END */-->

	<!--/* 종류, 제목, 중요도가 다 입력되지 않을 때 START */-->
	<div class="modal fade" id="checkingInput" tabindex="-1"
		style="display: none; margin-top: 200px; margin-left: 200px;" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header" style="border-bottom: none;">
					<button type="button" class="close" data-dismiss="modal" style="margin: 0; padding: 0;"
						aria-label="Close"></button>
				</div>
				<div class="modal-body" id="cancelConfirmationModalBody">
					<img class="cancelWarning"> <span id="modal-meg" class="notice_msg">제목, 종류, 중요도를 입력하세요!<br>
					</span>
				</div>
				<div class="modal-footer" style="border-top: none;">
					<button type="button" class="btn btn-info btn-sm" id="confirmCheckingInput"
						style="margin: auto;">확인</button>
				</div>
			</div>
		</div>
	</div>
	<!--/* END */-->
</div>
<!--/* 이슈 등록 폼 END */-->

<!--/* 이슈 상세보기 START */-->
<div class="modalIssueInfoForm" style="display: none;">
	<div class="modalIssueInfoContent">
		<div class="issueInfoContentTopBar">
			<span class="returnIssueList" onclick="returnIssueList()"></span>
				<button type="button" class="issueEditing" onclick="switchEditForm()">수정</button>
				<button type="button" class="issueDeleting" onclick="deleteIssue()">삭제</button>
		</div>

		<div class="issueNameInfo">
			<div class="issueNames">
				<textarea class="modalIssueName" maxlength="200" style="height: 34px;" readonly></textarea>
			</div>
		</div>
		<hr style="margin: 0; height: 2px; background-color: #eaeaea; width: 608px;">
		<div class="read-content">
			<div class="showHashtagList">

			</div>

			<div class="media pt-5" style="padding-top: 20px !important;">
				<img class="mr-3 rounded-circle" id="issueWriterImg" style="height:50px; width:50px;">
				<div class="media-body" style="margin-right: 50px; flex: 0;">
					<h5 class="m-b-3"></h5>
					<p class="m-b-2" style="width: 75px;">2023/10/24</p>

				</div>
				<div class="issueRankInfo"></div>
				<div class="issueKndInfo"></div>
				<div class="issueStInfo"></div>
			</div>
			<hr style="margin: 0; height: 1px; background-color: #eaeaea; width: 608px;">
			<div class="card-body">
				<div id="viewer"></div>
			</div>
			<h6 class="p-t-15" style="display: inline-block; padding: 3px;">
				<i class="fa fa-download mb-2"></i> 첨부파일 <span id="countFile"></span>
			</h6>
			<h6 class="p-t-16" style="display: inline-block; margin-left: 20px; padding: 3px;">
				<i class="fa fa-comment mb-2" style="margin-right: 5px;"></i>댓글 <span id="countReply"></span>
			</h6>
			<hr style="margin: 0; height: 1px; background-color: #eaeaea; width: 608px;">

			<div class="issueInfoFileList" style="display: none;">
				<div class="list-message" style="width: 630px;">
					<table class="table">
						<thead>
							<tr>
								<th>파일명</th>
								<th>크기</th>
								<th></th>
							</tr>
						</thead>
						<tbody id="issueInfoFiles">
						</tbody>
					</table>
				</div>
			</div>
			<div class="issueInfoCommentList" style="display: none;">
				<div class="IssueReviews"></div>
				<!--/* 이슈 상세보기에서 댓글 등록 START */-->
				<div class="issueReply__details__form">
					<div class="issueReply__section-title">
						<h5>
							댓글<i id="counter">0/300자</i>
						</h5>
					</div>
					<form action="#">
						<textarea id="issueReplyCntn" name="issueReplyCntn" onkeyup="countingLength(this);"
							placeholder="댓글을 입력하세요"></textarea>

						<button type="button" id="issueReplySave" onclick="saveReply();">
							<i class="fa fa-location-arrow"></i>등록
						</button>
					</form>
				</div>

			</div>
		</div>
	</div>
</div>
<!--/* 이슈 상세보기 END */-->

<!--/* 이슈 수정 폼 START */-->
<div class="modalIssueEditForm" style="display: none">

	<div class="modalEditContent">
		<div class="issueEditContentTopBar">
			<span class="cancelEditing"></span>
			<button type="button" class="completeEditing">수정</button>
		</div>
	</div>
	<div class="editIssueName">
		<div class="editIssueNameBack">
			<input class="modalIssueNameEdit" id="editIssuTtlVal" maxlength="200" style="height: 34px;"></input>
		</div>
	</div>
	<hr style="margin: 0; height: 2px; background-color: #eaeaea; width: 608px;">
	<!--/* 이슈 종류, 상태, 중요도 START */-->
	<div class="editIssueKnd">
		<p>종류</p>
		<div class="dropBoxArea">
			<div class="basic-dropdown" style="display: inline;">
				<div class="dropdown">
					<button type="button" id="editIssuKndVal" class="badge badge-dark" data-toggle="dropdown"></button>
					<div class="dropdown-menu" style="cursor: pointer;">
						<a class="dropdown-item"><span class="badge badge-pill badge-warning">개선사항</span></a> <a
							class="dropdown-item"><span class="badge badge-pill badge-info">새기능</span></a> <a
							class="dropdown-item"><span class="badge badge-pill badge-light">업무</span></a> <a
							class="dropdown-item"><span class="badge badge-pill badge-danger">버그</span></a>
					</div>
				</div>
			</div>
		</div>

		<div class="editIssueSt">
			<p>상태</p>
			<div class="dropBoxArea">
				<div class="basic-dropdown" style="display: inline;">
					<div class="dropdown">
						<button type="button" id="editIssuStVal" class="badge badge-dark"
							data-toggle="dropdown"></button>
						<div class="dropdown-menu" style="cursor: pointer;">
							<a class="dropdown-item"><span class="badge badge-pill badge-success">해결</span></a> <a
								class="dropdown-item"><span class="badge badge-pill badge-info">미해결</span></a> <a
								class="dropdown-item"><span class="badge badge-pill badge-light">해결불가</span></a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="editIssueRank">
			<p>중요도</p>
			<div class="dropBoxArea">
				<div class="basic-dropdown">
					<div class="dropdown">
						<button type="button" class="badge badge-dark" data-toggle="dropdown"
							id="editIssuRankVal"></button>
						<div class="dropdown-menu" style="cursor: pointer;">
							<a class="dropdown-item"><span class="badge badge-primary">매우높음</span></a>
							<a class="dropdown-item"><span class="badge badge-secondary">높음</span></a>
							<a class="dropdown-item"><span class="badge badge-success">보통</span></a>
							<a class="dropdown-item"><span class="badge badge-warning">낮음</span></a>
							<a class="dropdown-item"><span class="badge badge-danger">매우낮음</span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--/* 이슈 종류, 중요도, 상태 END */-->
	<div class="editingContent">
		<div class="editingSection">
			<div class="sectionTitle">
				<p class="sectionTitleText">내용</p>
			</div>

			<div id="editorEditing" style="width: 630px;"></div>

		</div>

		<div class="editingAttachSection">
			<div class="sectionTitle">
				<p class="sectionTitleText">파일</p>
				<div class="editingLoadBtn upload">
					<span></span>
					<p>파일 업로드</p>
					<input type="file" class="editReal-upload" id="editFiles" name="editFiles" multiple
						onchange="addIssueFileE(this);" style="display: none;">
				</div>
			</div>
			<div class="fileupload dz">
				<div class="dz-message" style="width: 630px;">
					<table class="table">
						<thead>
							<tr>
								<th>파일명</th>
								<th>크기</th>
								<th></th>
							</tr>
						</thead>
						<tbody id="editIssueFileList">
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<div class="editHashtagSection">
			<div class="sectionTitle">
				<p class="sectionTitleText">해시태그</p>
			</div>
			<input name='input-custom-dropdownE' class='tagify__dropdown__itemE'
				placeholder='Enter키로 등록하세요. 최대 5개까지 등록이 가능합니다.'>
		</div>
	</div>
	<!--/* 이슈 수정폼에서 수정 취소 확인 START */-->
	<div class="modal fade" id="cancelEditConfirmationModal" tabindex="-1"
		style="display: none; margin-top: 200px; margin-left: 200px;" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header" style="border-bottom: none;">
					<button type="button" class="close" data-dismiss="modal" style="margin: 0; padding: 0;"
						aria-label="Close"></button>
				</div>
				<div class="modal-body" id="cancelEditConfirmationModalBody">
					<img class="cancelWarning"> <span id="modal-meg" class="notice_msg"> 현재 수정중인 글은 저장되지 않습니다.<br> 뒤로
						가시겠습니까?
					</span>
				</div>
				<div class="modal-footer" style="border-top: none;">
					<button type="button" class="btn btn-danger btn-sm" id="cancelEditCancel">취소</button>
					<button type="button" class="btn btn-light btn-sm" id="confirmEditCancel">확인</button>
				</div>
			</div>
		</div>
	</div>
	<!--/* 이슈 수정폼에서 수정 취소 확인 END */-->

	<!--/* 이슈 수정폼에서 제목 입력되지 않았을 때 START */-->
	<div class="modal fade" id="editCheckingInput" tabindex="-1"
		style="display: none; margin-top: 200px; margin-left: 200px;" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header" style="border-bottom: none;">
					<button type="button" class="close" data-dismiss="modal" style="margin: 0; padding: 0;"
						aria-label="Close"></button>
				</div>
				<div class="modal-body" id="editConfirmationModalBody">
					<img class="cancelWarning"> <span id="modal-meg" class="notice_msg">제목 을 입력하세요!<br>
					</span>
				</div>
				<div class="modal-footer" style="border-top: none;">
					<button type="button" class="btn btn-info btn-sm" id="confirmEditCheckingInput"
						style="margin: auto;">확인</button>
				</div>
			</div>
		</div>
	</div>
	<!--/* 이슈 수정폼에서 제목 입력되지 않았을 때 END */-->
</div>
<!--/* 이슈 수정폼 END */-->

<!--/* 이슈 삭제시 경고창 START */-->
<div class="modal fade" id="delConfirmationModal" tabindex="-1"
	style="display: none; margin-top: 200px; margin-left: 200px;" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" style="border-bottom: none;">
				<button type="button" class="close" data-dismiss="modal" style="margin: 0; padding: 0;"
					aria-label="Close"></button>
			</div>
			<div class="modal-body" id="delConfirmationModalBody">
				<img class="cancelWarning"> <span id="modal-meg" class="notice_msg"> 정말 삭제하시겠습니까? </span>
			</div>
			<div class="modal-footer" style="border-top: none;">
				<button type="button" class="btn btn-danger btn-sm" id="delCancel">취소
				</button>
				<button type="button" class="btn btn-light btn-sm" id="delConfirm">확인
				</button>
			</div>
		</div>
	</div>
</div>
<!--/* 이슈 삭제시 경고창 END */-->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script th:inline="javascript">
	
	$('#ProjectLinkI').on('click', function() {
		location.href = '/project/home/' + miPrjtNo;
	})
	
	var miMemberId = [[${ session.loginInfo.membId }]];
	var miBussNm = [[${ buss.bussNm }]];
	var miPrjtNm = [[${ buss.prjtNm }]];
	
	// 프로젝트 멤버만 '글쓰기' 버튼 활성화
	var memvomi = [[${memvomi}]];
	for(let i = 0; i < memvomi.length; i++) {
		if(memvomi[i].membId == miMemberId) {
			let makebtn = $('<button/>').attr('class', 'postWritingBox');
			let spans = $('<span/>');
			let ps = $('<p/>').text('글쓰기');
			makebtn.append(spans)
			makebtn.append(ps)
			$('.TobBarIssueControlArea').append(makebtn)
			break;
		}
	}

	//검색 조건 ( 제목, 작성자, 전체)
	$('.issue-selectBox').on('click', function () {
		let issueSelectUl = $('.issue-select-ul');
		if (issueSelectUl.css('display') == 'none') {
			issueSelectUl.css('display', 'block');
		} else {
			issueSelectUl.css('display', 'none');
		}
	})
	// 필터링
	 $('.issue-filterBox').on('click', function () {
		if($('.issue-filter-ul').css('display') == 'none') {
		   $('.issue-filter-ul').css( 'display', 'block');
		} else {
			$('.issue-filter-ul').css('display', 'none');
		}
  	})
	// 현재 페이지에 current 클래스 붙이기!
	$('.cur_page').each(function () {
		let page = $(this).text();

		if (page == 1) {
			$(this).addClass('current').css('color', '#ffffff');
		} else {
			$(this).removeClass('current').css('color', '#76838F');
		}
	});

	// disabled 일 때 , onclick 지우기
	$(".disabled").css("color", "#8C959F").removeAttr("onclick");

	$('.issue-select-option').on('click', function (e) {
		let selectValue = e.currentTarget.textContent;
		$('.issue-selected-value').text(selectValue);
		$('#keyword').val(selectValue);
		$('.issue-select-ul').css('display', 'none');
		e.stopPropagation();
	});

	// filter링.
	$('.issue-filter-option').on('click', function (e) {
		let selectValue = e.currentTarget.textContent;
		$('#filterTypeM').val(selectValue);
		$('.issue-filter-ul').css('display', 'none');
		e.stopPropagation();
		issuePaging(1);
	});

	// ajax 
	function issuePaging(pageNum) {
		let keywordVal = $('#keyword').val();
		let searchVal = $('#searchBI').val();
		let issueLists = $('#issueLists');
		let pagination = $('.pagination');
		let filterTypeVal = $('#filterTypeM').val();

		$.ajax('/ModalAjaxIssueList/' + bussNo,
			{
				type: 'GET',
				data :{ pageNum, 
					    keyword: keywordVal, 
					    searchBI: searchVal, 
					    filterTypeM: filterTypeVal }
			}).done(function (data) {
				issueLists.empty();
				$.each(data.issue.list, function (idx, item) {
					let trTag = $('<tr/>').attr('onclick', 'viewIssueInfo(' + item.issuNo + ')');
					let starr= {'0E1':['success','해결'], 
							 '0E2':['dark','미해결'],
							 '0E3':['secondary','해결불가']
							   }
					
					let kndarr = {'0L1':['danger','버그'], 
							      '0L2':['warning','개선사항'],
							      '0L3':['info','새기능'],
							      '0L4':['light','업무']
							     }
					
					let rankarr = {'0G1':['primary','매우높음'], 
								   '0G2':['secondary','높음'],
								   '0G3':['success','보통'],
								   '0G4':['warning','낮음'],
								   '0G5': ['danger','매우낮음']
								  }
						
					trTag.append(`<th><span class="badge badge-${kndarr[item.issuKnd][0]}">${kndarr[item.issuKnd][1]}</span></th>`);
					trTag.append('<td>' + item.issuTtl + '</td>');
					trTag.append('<td>' + item.membNm + '</td>');
					trTag.append(`<th><span class="badge badge-${starr[item.issuSt][0]}">${starr[item.issuSt][1]}</span></th>`);

					trTag.append(`<th><span class="badge badge-${rankarr[item.issuRank][0]}">${rankarr[item.issuRank][1]}</span></th>`);

					issueLists.append(trTag);

					/* 여기까지 tbody에 데이터 넣는 것 */

				})
				// 페이징 업데이트..
				updatePaging(data.issue);


				let prePageNum = data.issue.prePage;
				let nextPageNum = data.issue.nextPage;
				let curPageNum = data.issue.pageNum;
				let navFirstPage = data.issue.navigateFirstPage;
				let navLastPage = data.issue.navigateLastPage;
				let lastPage = data.issue.pages;

				// 현재 페이지에 current 클래스 붙이기!
				$('.cur_page').each(function () {
					let page = $(this).text();

					if (page == curPageNum) {
						$(this).addClass('current').css('color', '#ffffff');
					} else {
						$(this).removeClass('current').css('color', '#76838F');
					}
				});

				// 현재 페이지 업데이트.
				$('#previous_page').attr('onclick',
					'issuePaging(' + prePageNum + ')');
				$('#next_page').attr('onclick',
					'issuePaging(' + nextPageNum + ')');

				// previous, next disabled 설정 + onclick 속성 제거
				if (prePageNum == 0) {
					$('#previous_page').addClass('disabled').css("color", "#8C959F").removeAttr("onclick");
				} else {
					$('#previous_page').css("color", "#0969DA");
				};

				if (nextPageNum == 0) {
					$('#next_page').addClass('disabled').css("color", "#8C959F").removeAttr("onclick");
				} else {
					$('#next_page').css("color", "#0969DA");
				};


			}).fail(function () {
				alert('실패');
			});
	}

	function updatePaging(paging) {
		let pagination = $('.pagination');
		pagination.empty();
		let pagesPer = 8;  // 한 번에 보이는 페이지 수
		let endPage = (Math.ceil(paging.pageNum / pagesPer) * pagesPer);  // 끝 페이지
		let realEndPage = paging.pages;
		let startPage = (endPage - pagesPer) + 1;

		if (endPage > realEndPage) {
			endPage = realEndPage;
		};

		for (var i = startPage; i <= endPage; i++) {
			let aTag = $('<a/>');
			aTag.addClass('cur_page').text(i);
			aTag.attr('onclick', 'issuePaging(' + i + ')');
			pagination.append(aTag);
		};

		if (startPage >= 1) {
			let prevTag = $('<a/>');
			prevTag.attr('id', 'previous_page');
			prevTag.text('Previous');
			prevTag.attr('onclick', 'issuePaging(' + (paging.prePage) + ')');
			pagination.prepend(prevTag);
		};

		if (endPage <= paging.pages) {
			let nextTag = $('<a/>');
			nextTag.attr('id', 'next_page');
			nextTag.text('Next');
			nextTag.attr('onclick', 'issuePaging(' + (paging.nextPage) + ')');
			pagination.append(nextTag);
		};
	}

	function delVal() {
		$('.SearchInputModalView').val('');
	}

	/* 페이징 끝 */

	/* 이슈 등록 폼 시작 */

	// "등록" 버튼 활성화 or 비활성화 (제목, 종류, 중요도) 3개의 값이 다 들어오는 경우 활성화 된다.
	function checkInput() {
		let issuKndVal = $('#issuKndVal').text();
		let issuRankVal = $('#issuRankVal').text();
		let issuTtlVal = $('#issuTtlVal').val();

		if (issuKndVal !== '선택' && issuRankVal !== '선택' && issuTtlVal !== '') {
			$('.completeWriting').addClass('registrable');
		} else {
			$('.completeWriting').removeClass('registrable');
		}
	}


	$('#issuTtlVal').on('change', function () {
		checkInput();
	})

	// 글쓰기 버튼
	$('.postWritingBox').on('click', function () {
		$('.modalIssueInsertForm').css('display', 'block');
		$('.workModalContentBack').css('display', 'none');
		inputHash.value = miPrjtNm;
		checkFile();
	})
	
	// 글쓰기 취소 버튼
	$('.modalIssueInsertForm').on('click', '.cancelWriting', function () {
		$('#cancelConfirmationModal').modal('show');

		// ' 확인' 버튼이 클릭 시
		$('#confirmCancel').on('click', function () {
			// 입력 필드 초기화
			$('#issuKndVal').text('선택').attr('class', 'badge badge-dark');
			$('#issuRankVal').text('선택').attr('class', 'badge badge-dark');
			$('#issuTtlVal').val('');
			editor.setHTML('내용을 입력해 주세요.');
			$('#issueFileList').empty();
			$('.tagify__tag').remove();
			checkFile();
			checkInput();

			$('#cancelConfirmationModal').modal('hide');
			$('.modalIssueInsertForm').css('display', 'none');
			$('.workModalContentBack').css('display', 'block');
			issuePaging(1);
		});

		// '취소' 버튼 클릭 시
		$('#cancelCancel').on('click', function () {
			$('#cancelConfirmationModal').modal('hide');
		});
	})

	// 제목 입력하는 textarea 클릭시 focus
	$('.modalIssueNameUpdate').on('click', function () {
		$('.issueNameBack').addClass('focus');
	})
	// textarea 벗어날 때 focus 클래스 삭제하기.
	$('.modalIssueNameUpdate').on('blur', function () {
		$('.issueNameBack').removeClass('focus');
	})
	
	// 제목 입력하는 textarea 클릭시 focus
	$('.modalIssueNameEdit').on('click', function () {
		$('.editIssueNameBack').addClass('focus');
	});
	// textarea 벗어날 때 focus 클래스 삭제하기.
	$('.modalIssueNameEdit').on('blur', function () {
		$('.editIssueNameBack').removeClass('focus');
	});
	
	$('.completeWriting').on('click', function () {
		// "등록" 버튼이 활성화 상태일 때만 실행됨
		if ($(this).hasClass('registrable')) {
			savePost();
		} else {
			$('#checkingInput').modal('show');
			$('#checkingInput').css('display', 'block');
			// 확인 버튼 클릭 시
			$('#confirmCheckingInput').on('click', function () {
				$('#checkingInput').modal('hide');
				$('#checkingInput').css('display', 'none');
			});
		}

	})

	function savePost() {

		let formData = new FormData();
		formData.append('issuTtl', $('#issuTtlVal').val());
		formData.append('bussNo', bussNo);
		formData.append('membId', miMemberId);
		formData.append('prjtNo', miPrjtNo);

		let htobj = tagify.value;
		let htobjVal = htobj.map(row => row.value);
		formData.append('inserthashtags', htobjVal);

		// 중요도 text 값 확인 후 data로 넣기 !
		if ($('#issuRankVal').text() == '매우높음') {
			formData.append('issuRank', '0G1');
		} else if ($('#issuRankVal').text() == '높음') {
			formData.append('issuRank', '0G2');
		} else if ($('#issuRankVal').text() == '보통') {
			formData.append('issuRank', '0G3');
		} else if ($('#issuRankVal').text() == '낮음') {
			formData.append('issuRank', '0G4');
		} else if ($('#issuRankVal').text() == '매우낮음') {
			formData.append('issuRank', '0G5');
		}
		// 종류 text 값 확인 후 data로 넣기 !
		if ($('#issuKndVal').text() == '버그') {
			formData.append('issuKnd', '0L1');
		} else if ($('#issuKndVal').text() == '개선사항') {
			formData.append('issuKnd', '0L2');
		} else if ($('#issuKndVal').text() == '새기능') {
			formData.append('issuKnd', '0L3');
		} else if ($('#issuKndVal').text() == '업무') {
			formData.append('issuKnd', '0L4');
		}

		let content = editor.getHTML();
		formData.append('issuCntn', content);

		let inputFile = document.querySelector('.real-upload');
		let fileInfo = inputFile.files;

		for (i = 0; i < fileInfo.length; i++) {
			formData.append("files", fileInfo[i]);
		};

		$.ajax({
			url: '/ModalAjaxIssueInsert',
			type: 'POST',
			processData: false,	//기본값은 true, ajax 통신을 통해 데이터를 전송할 때, 기본적으로 key와 value값을 Query String으로 변환해서 보냅니다.
			contentType: false,	// multipart/form-data타입을 사용하기위해 false 로 지정합니다.
			data: formData,
			success: function () {
				$('#issuKndVal').text('선택').attr('class', 'badge badge-dark');
				$('#issuRankVal').text('선택').attr('class', 'badge badge-dark');
				$('#issuTtlVal').val('');
				editor.setHTML('내용을 입력해 주세요.');
				$('#issueFileList').empty();
				$('.tagify__tag').remove();
				checkFile();
				checkInput();
				$('.modalIssueInsertForm').css('display', 'none');
				$('.workModalContentBack').css('display', 'block');
				issuePaging(1);
			},
			error: function (reject) {
				alert("등록에 실패");
				console.log(reject);
			}
		});
	}


	// 드랍다운 
	$('.dropdown-item').on('click', function () {
		$(this).parent().siblings().attr('class', $(this).children().attr('class'));
		$(this).parent().siblings().text($(this).text());
		checkInput();
	})

	// 업로드 된 파일이 없을 경우 ..
	function checkFile() {
		if ($('#issueFileList tr').length == 0) {
			let trTag = $('<tr/>').attr('class', 'fileEmpty');
			let fileEmptyTag = $('<td/>').text('등록된 파일은 여기에 저장됩니다').css('color', '#A8A8A8');
			let emptyTdTag = $('<td/>');
			let emptyTdTags = $('<td/>');
			trTag.append(fileEmptyTag);
			trTag.append(emptyTdTag);
			trTag.append(emptyTdTags);
			$('#issueFileList').append(trTag);
		};
	}
	
	// 업로드 된 파일이 없을 경우 ..
	function checkEditFile() {
		if ($('#editIssueFileList tr').length == 0) {
			let trTag = $('<tr/>').attr('class', 'fileEmpty');
			let fileEmptyTag = $('<td/>').text('등록된 파일은 여기에 저장됩니다').css('color', '#A8A8A8');
			let emptyTdTag = $('<td/>');
			let emptyTdTags = $('<td/>');
			trTag.append(fileEmptyTag);
			trTag.append(emptyTdTag);
			trTag.append(emptyTdTags);
			$('#editIssueFileList').append(trTag);
		};
	}

	// 파일 삭제 버튼 누를 시 ..
	function removeFile(element) {
		removeFileFromDataTransfer(element);
		let tr = $(element).closest('tr');
		tr.remove();

		checkFile();
	}

	// 파일 추가
	function addIssueFile(element) {
		const file = element.files[0];
		// 1.  파일 선택 창에서 취소 버튼이 클릭되는 경우
		if (!file) {
			return false;
		}

		// 2. 파일 크기가 10MB을 초과하는 경우
		const fileSize = Math.floor(file.size / 1024 / 1024);

		if (fileSize > 10) {
			Swal.fire({
				icon: 'error',                         // Alert 타입
				text: '10MB 이하의 파일을 업로드 해 주세요.',  // Alert 내용
			});
			return false;
		}

		if (file) {
			$('.fileEmpty').remove();
			let trTag = $('<tr/>');
			let fileNameTag = $('<td/>').text(file.name);
			let fileSizeTag = $('<td/>').text(getByteSize(file.size));
			let deleteFileTag = $('<td/>').attr('class', 'deleteFile').attr('onclick', 'removeFile(this);');
			trTag.append(fileNameTag);
			trTag.append(fileSizeTag);
			trTag.append(deleteFileTag);

			$('#issueFileList').append(trTag);

		}
	}

	$("#files").change(function () {

		let fileArr = document.getElementById("files").files

		if (fileArr != null && fileArr.length > 0) {
			let maxSize = 10 * 1024 * 1024;

			for (var i = 0; i < fileArr.length; i++) {
				let fileSize = fileArr[i].size;
					if (fileSize > maxSize) {
						$(this).val('');
					} else {
						dataTransfer.items.add(fileArr[i])
					}
			}
			document.getElementById("files").files = dataTransfer.files;
		}
	})

	function removeFileFromDataTransfer(element) {
		let parent = $(element).parent().parent();
		let children = $(parent).children();
		let index = children.index($(element).parent());

		if (index != -1) {
			dataTransfer.items.remove(index);
			document.getElementById("files").files = dataTransfer.files;
		}
	}

	/* 이슈 상세 보기 START */
	$('.read-content').on('click', '.p-t-16', function () {
		if ($('.issueInfoCommentList').css("display") == "none") {
			$('.issueInfoCommentList').css('display', 'block');
			findAllReply();
		} else {
			$('.issueInfoCommentList').css('display', 'none');
		}

		$('.issueInfoFileList').css('display', 'none');
	})

	$('.read-content').on('click', '.p-t-15', function () {
		if ($('.issueInfoFileList').css("display") == "none") {
			$('.issueInfoFileList').css('display', 'block');
		} else {
			$('.issueInfoFileList').css('display', 'none');
		}
		$('.issueInfoCommentList').css('display', 'none');
	})

	// 글상세보기에서 글목록으로 돌아가기 버튼
	function returnIssueList() {
		// 입력 필드 초기화
		$('#issuReplyCntn').val('');
		$('#updateReplyComment').val('');
		$('#issueInfoFiles').empty();
		$('.modalIssueInfoForm').css('display', 'none');
		$('.workModalContentBack').css('display', 'block');
		$('.issueInfoFileList').css('display', 'none');
		$('.issueInfoCommentList').css('display', 'none');
		issuePaging(1);
	}

	function viewIssueInfo(id) {
		let issuNo = id;
		let modals = $('.modalIssueInfoForm');
		modals.find('.modalIssueName').val('');
		modals.find('.m-b-3').text('');
		modals.find('.m-b-2').text('');
		modals.find('.issueRankInfo').empty();
		modals.find('.issueKndInfo').empty();
		modals.find('.issueStInfo').empty();
		modals.find('.showHashtagList').empty();
		modals.find('.issueInfoContentTopBar').empty();

		$.ajax('/ModalIssueInfo?issuNo=' + issuNo)
			.done(function (data) {
				let issueInfo = data.issueInfo;
				let issueFile = data.issueFile;
				let issueHash = data.issueHash;
				 if (issueInfo.membId == miMemberId) {
							let btnReturn = $('<span/>').attr('class', 'returnIssueList').attr('onclick', 'returnIssueList()');
		 				    let btnEdit = $('<button/>').attr('class', 'issueEditing').attr('onclick', 'switchEditForm()').text('수정');
							let btnDel =  $('<button/>').attr('class', 'issueDeleting').attr('onclick', 'deleteIssue()').text('삭제');
							$('.issueInfoContentTopBar').append(btnReturn);
							$('.issueInfoContentTopBar').append(btnEdit);
							$('.issueInfoContentTopBar').append(btnDel);
						} else {
							let btnReturn = $('<span/>').attr('class', 'returnIssueList').attr('onclick', 'returnIssueList()');
							$('.issueInfoContentTopBar').append(btnReturn);
							
						}
				
				let issueInfoFiles = $('#issueInfoFiles');
				let mr3 = $('#issueWriterImg');
				mr3.attr('src', '/uploads/' + issueInfo.membPhtPath);
				if (issueFile.length != 0) {
					issueInfoFiles.empty();
				} else {
					issueInfoFiles.empty();
					let itrTag = $('<tr/>').addClass('InfoFilesEmpty');
					let itdTag = $('<td/>').text('등록된 파일이 없습니다').css('color', '#A8A8A8');
					itrTag.append(itdTag);
					issueInfoFiles.append(itrTag);
				};

				$('.modalIssueName').val(issueInfo.issuTtl).data('issuNo', issuNo);
				$('.m-b-3').text(issueInfo.membNm);

				$('.m-b-2').text(dateFormatting(issueInfo.issuDt));
				viewer.setMarkdown(issueInfo.issuCntn);
				countReply(issuNo);
				countFile(issuNo);
				// 종류 
				let kndVal = $('.issueKndInfo');
				
                let starr= {'0E1':['success','해결'], 
							'0E2':['dark','미해결'],
							'0E3':['secondary','해결불가']
						    }
				
				let kndarr = {'0L1':['danger','버그'], 
						      '0L2':['warning','개선사항'],
						      '0L3':['info','새기능'],
						      '0L4':['light','업무']
						     }
				
			   let rankarr = {'0G1':['primary','매우높음'], 
						      '0G2':['secondary','높음'],
						      '0G3':['success','보통'],
						      '0G4':['warning','낮음'],
						      '0G5': ['danger','매우낮음']
						     }
                
                kndVal.append(`<p>종류</p><div class="badge badge-${kndarr[issueInfo.issuKnd][0]}" style="margin-bottom: 15px;">${kndarr[issueInfo.issuKnd][1]}</div>`);
				
                let stInfo = $('.issueStInfo');
                stInfo.append(`<p>상태</p><div class="badge badge-${starr[issueInfo.issuSt][0]}" style="margin-bottom: 15px;">${starr[issueInfo.issuSt][1]}</div>`);
				
                let rankInfo = $('.issueRankInfo');
                rankInfo.append(`<p>상태</p><div class="badge badge-${rankarr[issueInfo.issuRank][0]}" style="margin-bottom: 15px;">${rankarr[issueInfo.issuRank][1]}</div>`);

				// 첨부된 파일 리스트.												
				$.each(issueFile, function (idx, item) {
					let trTag = $('<tr/>').data('fileNo', item.issuFileNo);

					let fileNameTag = $('<td/>').text(item.issuFileNm);
					let fileSizeTag = $('<td/>').text(getByteSize(item.issuFileSize));
					let downloadFileTag = $('<td/>').attr('class', 'downloadFile').attr("onclick", "fileDownloading(" + issuNo + "," + item.issuFileNo + ")");
					trTag.append(fileNameTag);
					trTag.append(fileSizeTag);
					trTag.append(downloadFileTag);

					issueInfoFiles.append(trTag);
				});

				// 해시 태그 리스트
				$.each(issueHash, function (idx, item) {
					let showList = $('.showHashtagList');
					let TagBox = $('<div/>').attr('class', 'showTagBox task').attr('title', item.issuHtNm);
					let Hash = $('<p/>').text('#');
					let spans = $('<span/>').attr('class', 'ready');
					let hashNm = $('<p/>').attr('class', 'showTextEllipsis').text(item.issuHtNm);

					TagBox.append(Hash);
					TagBox.append(spans);
					TagBox.append(hashNm);
					showList.append(TagBox);
				});

				countFile(issuNo);

			})
			.fail(function (error) {
				console.log(error);
			})

		$('.modalIssueInfoForm').css('display', 'block');
		$('.workModalContentBack').css('display', 'none');
	};

	function fileDownloading(issuNo, issuFileNo) {
		location.href = '/issues/' + issuNo + '/files/' + issuFileNo + '/download';
	}

	// 댓글 길이 카운팅
	function countingLength(content) {
		if (content.value.length > 300) {
			Swal.fire({
				icon: 'error',                         // Alert 타입
				text: '댓글을 300자 이하로 입력해 주세요.',  // Alert 내용
			});
			content.value = content.value.substring(0, 300);
			content.focus();
		}
		document.getElementById('counter').innerText = content.value.length + '/300자';
	}

	// 댓글 저장
	function saveReply() {
		let issueReplyCntn = document.getElementById('issueReplyCntn').value;
		issueReplyCntn = issueReplyCntn.replaceAll(/(\n|\r\n)/g, '<br>');
		const issuNo = $('.modalIssueName').data('issuNo');

		const params = {
			issuNo: issuNo,
			issuRplyCntn: issueReplyCntn,
			membId: miMemberId
		}

		$.ajax({
			url: '/issues/' + issuNo + '/reply',
			type: 'post',
			contentType: 'application/json;',
			data: JSON.stringify(params)
		})
			.done(function (data) {
				findAllReply();
				$('#issueReplyCntn').val('');
				countReply(issuNo);
				countingLength(document.getElementById('issueReplyCntn'));
			})
			.fail(function (error) {
				console.log(error);
			})
	}

	// 전체 댓글 조회
	function findAllReply() {
		const issuNo = $('.modalIssueName').data('issuNo');

		$.ajax({
			url: '/issues/' + issuNo + '/reply',
			type: 'GET'
		})
			.done(function (response) {

				// 1. 조회된 데이터가 없는 경우
				if (!response.length) {
					document.querySelector('.IssueReviews').innerHTML = '<div class="cm_none"><p>등록된 댓글이 없습니다.</p></div>';
					return false;
				}

				// 2. 렌더링 할 HTML을 저장할 변수
				let commentHtml = '';

				// 3. 댓글 HTML 추가
				response.forEach(row => {
					commentHtml += `                            
	                            <div class="IssueReviews">
								<div class="issue__reply__item">
									<div class="issue__reply__item__pic">
									<img src="/uploads/${row.membPhtPath}" alt="">
									</div>
									
									<div class="issue__reply__item__text">
										
										<h6>${row.membNm} - <span>${dateFormatting(row.issuRplyDt)}</span>
										${row.membId == miMemberId ? `
										<a id="edit_btn" onclick="openReplyUpdateForm(${row.issuRplyNo})"> <img class="toolsIcon"
											src="https://community.akamai.steamstatic.com/public/images//sharedfiles/icons/icon_edit.png" 
											style="margin-left: 170px; ">
											수정
										</a>
										<a id="del_btn" onclick="deleteReply(${row.issuRplyNo});"> <img class="toolsIcon"
											src="https://community.akamai.steamstatic.com/public/images//sharedfiles/icons/icon_delete.png">
											삭제
										</a>` : ''}
										
										</h6>
										
										<div id="IssueReplyEditForm_${row.issuRplyNo}" style="display: none;">
												<textarea id="updateReplyComment_${row.issuRplyNo}" class="reply_edit_text_area" maxlength="300" rows="2"
													cols="30" placeholder="수정할 내용을 입력"></textarea>
												<button type="button" class="button condensed save" id="replyUpdateBtn" onclick="updateReply(${row.issuRplyNo})">저장</button>
												<button type="button" class="button condensed cancel"
													onclick="closeReplyUpdateForm(${row.issuRplyNo});">취소</button>
										</div>
										
										
										<p id="replyText_${row.issuRplyNo}">${row.issuRplyCntn}</p>
									</div>
								</div>
	                        `;

					// 4. class가 "IssueReviews"인 요소를 찾아 HTML을 렌더링
					document.querySelector('.IssueReviews').innerHTML = commentHtml;

				})
				countReply(issuNo);
			})
			.fail(function (err) {
				console.log(err)
			})
	}

	// 댓글 수정 div open
	function openReplyUpdateForm(id) {

		const issuNo = $('.modalIssueName').data('issuNo');
		const issuRplyNo = id;
		$.ajax({
			url: '/issues/' + issuNo + '/reply/' + issuRplyNo,
			type: 'get'
		})
			.done(function (response) {
				let editForm = document.getElementById('IssueReplyEditForm_' + id);
				let replyText = document.getElementById('replyText_' + id);

				if (editForm.style.display === 'none') {
					editForm.style.display = 'block';
					replyText.style.display = 'none';

				} else {
					editForm.style.display = 'none';
					replyText.style.display = 'block';
				}
				var text = response.issuRplyCntn;
				text = text.replaceAll('<br>', '\r\n');
				document.getElementById('updateReplyComment_' + id).value = text;
			})

			.fail(function (err) {
				console.log(err)
			})

	}

	// 댓글 수정 div close
	function closeReplyUpdateForm(id) {
		document.getElementById('updateReplyComment_' + id).value = '';

		document.getElementById('IssueReplyEditForm_' + id).style.display = 'none';
		document.getElementById('replyText_' + id).style.display = 'block';
	}

	// 댓글 수정 ajax
	function updateReply(id) {
		const issuNo = $('.modalIssueName').data('issuNo');
		const issuRplyNo = id;
		const writer = miMemberId;
		let content = document.getElementById('updateReplyComment_' + id);
		content = content.value.replaceAll(/(\n|\r\n)/g, '<br>');

		const params = {
			issuRplyNo: id,
			issuNo: issuNo,
			issuRplyCntn: content,
			membId: writer
		}

		$.ajax({
			url: '/issues/' + issuNo + '/reply/' + issuRplyNo,
			type: 'put',
			contentType: 'application/json;',
			data: JSON.stringify(params)
		})
			.done(function (response) {
				findAllReply();
				closeReplyUpdateForm(id);
				countReply(issuNo);
			})

			.fail(function (err) {
				console.log(err)
			})
	}

	// 댓글 삭제
	function deleteReply(id) {

		$('#delConfirmationModal').modal('show');

		$('#delCancel').on('click', function () {
			$('#delConfirmationModal').modal('hide');
		})

		$('#delConfirm').on('click', function () {

			const issuNo = $('.modalIssueName').data('issuNo');
			const issuRplyNo = id;

			$.ajax({
				url: '/issues/' + issuNo + '/reply/' + issuRplyNo,
				type: 'delete'
			})
				.done(function (response) {
					findAllReply();
					countReply(issuNo);
					$('#delConfirmationModal').modal('hide');
				})

				.fail(function (err) {
					console.log(err)
				})
		})
	}

	// 댓글 카운트
	function countReply(issuNo) {
		$.ajax({
			url: '/issues/' + issuNo + '/reply/count',
			type: 'get'
		})
			.done(function (response) {
				$('#countReply').text('(' + response + ')');
			})
			.fail(function (err) {
				console.log(err)
			})
	}

	// 파일 카운트
	function countFile(issuNo) {
		$.ajax({
			url: '/issues/' + issuNo + '/files/count',
			type: 'get'
		})
			.done(function (response) {
				$('#countFile').text('(' + response + ')');
			})
			.fail(function (err) {
				console.log(err)
			})
	}
	/* 이슈 상세 보기 END */

	/* 이슈 수정 FORM */

	function switchEditForm() {

		const issuNo = $('.modalIssueName').data('issuNo');

		$.ajax({
			url: '/ModalIssueInfo?issuNo=' + issuNo,
			type: 'get'
		})
			.done(function (response) {
				let issueEditForm = document.querySelector('.modalIssueEditForm');
				let infoForm = document.querySelector('.modalIssueInfoForm');
				let kndVal = document.getElementById('editIssuKndVal');
				let stVal = document.getElementById('editIssuStVal');
				let rankVal = document.getElementById('editIssuRankVal');
				
				let starr= {'0E1':['success','해결'], 
						    '0E2':['dark','미해결'],
						    '0E3':['secondary','해결불가']
					       }
			
			 	let kndarr = {'0L1':['danger','버그'], 
					          '0L2':['warning','개선사항'],
					          '0L3':['info','새기능'],
					          '0L4':['light','업무']
					         }  
			
			  	let rankarr = {'0G1':['primary','매우높음'], 
						       '0G2':['secondary','높음'],
						       '0G3':['success','보통'],
						       '0G4':['warning','낮음'],
						       '0G5': ['danger','매우낮음']
						      }
				
				if (issueEditForm.style.display === 'none') {
					issueEditForm.style.display = 'block';
					infoForm.style.display = 'none';

					document.getElementById('editIssuTtlVal').value = response.issueInfo.issuTtl;
					editorEditing.setHTML(response.issueInfo.issuCntn);
					
					kndVal.className ='badge badge-pill badge-' + kndarr[response.issueInfo.issuKnd][0];
					kndVal.innerHTML = kndarr[response.issueInfo.issuKnd][1];			
					
					stVal.className = 'badge badge-' + starr[response.issueInfo.issuSt][0];
					stVal.innerHTML = starr[response.issueInfo.issuSt][1];
					
					rankVal.className = 'badge badge-' + rankarr[response.issueInfo.issuRank][0];
					rankVal.innerHTML = rankarr[response.issueInfo.issuRank][1];				
					
					findAllHashtag();
					checkEditInput();					
					findAllFile();
					checkEditFile();
				} else {
					issueEditForm.style.display = 'none';
					infoForm.style.display = 'block';
				}
			})

			.fail(function (err) {
				console.log(err)
			})
	}
	
	function removePapa(elem) {
		$(elem).parent.parent.remove();
	}

	// "수정" 버튼 활성화 or 비활성화 (제목, 종류, 중요도) 3개의 값이 다 들어오는 경우 활성화 된다.
	function checkEditInput() {
		let issuTtlVal = $('#editIssuTtlVal').val();

		if (issuTtlVal == '') {
			$('.completeEditing').removeClass('registrable');
		} else {
			$('.completeEditing').addClass('registrable');
		}
	}

	$('#editIssuTtlVal').on('change', function () {
		checkEditInput();
	});

	// ajax 이슈 수정
	function updateIssue() {
		let formData = new FormData();

		let issuNo = $('.modalIssueName').data('issuNo');
		formData.append('issuNo', issuNo);

		let title = $('#editIssuTtlVal').val();
		formData.append('issuTtl', title);

		let content = editorEditing.getHTML();
		formData.append('issuCntn', content);

		let htupdateobj = tagifyE.value;
		let htupdateobjVal = htupdateobj.map(row => row.value);
		formData.append('edithashtags', htupdateobjVal);

		let kind = $('#editIssuKndVal').text();
		let rank = $('#editIssuRankVal').text();
		let status = $('#editIssuStVal').text();

		// 중요도 text 값 확인 후 data로 넣기 !
		if (rank == '매우높음') {
			rank = '0G1';
		} else if (rank == '높음') {
			rank = '0G2';
		} else if (rank == '보통') {
			rank = '0G3';
		} else if (rank == '낮음') {
			rank = '0G4';
		} else if (rank == '매우낮음') {
			rank = '0G5';
		}
		// 종류 text 값 확인 후 data로 넣기 !
		if (kind == '버그') {
			kind = '0L1';
		} else if (kind == '개선사항') {
			kind = '0L2';
		} else if (kind == '새기능') {
			kind = '0L3';
		} else if (kind == '업무') {
			kind = '0L4';
		}

		// 상태 text 값 확인 후 data로 넣기 !
		if (status == '해결') {
			status = '0E1';
		} else if (status == '미해결') {
			status = '0E2';
		} else if (status == '해결불가') {
			status = '0E3';
		}
		formData.append('issuRank', rank);
		formData.append('issuKnd', kind);
		formData.append('issuSt', status);

		let inputFiles = document.querySelector('.editReal-upload');
		let filesInfo = inputFiles.files;

		for (i = 0; i < filesInfo.length; i++) {
			formData.append("editFiles", filesInfo[i]);
		}
		formData.append('removeFileIds', removeFileId.getAll().join());

		$.ajax({
			url: '/ModalIssueUpdate',
			type: 'post',
			processData: false,	//기본값은 true, ajax 통신을 통해 데이터를 전송할 때, 기본적으로 key와 value값을 Query String으로 변환해서 보냅니다.
			contentType: false,	// multipart/form-data타입을 사용하기위해 false 로 지정합니다.
			data: formData
		})
			.done(function (response) {
				$('.modalIssueEditForm').css('display', 'none');
				$('.modalIssueInfoForm').css('display', 'block');
				viewIssueInfo(response.issuNo);
				removeFileId.removeAll();
				editDataTransfer.clearData();
			})
			.fail(function (err) {
				console.log(err)
			})
	}

	// 이슈 수정하기 취소 버튼
	$('.modalIssueEditForm').on('click', '.cancelEditing', function () {
		$('#cancelEditConfirmationModal').modal('show');

		// ' 확인' 버튼이 클릭 시
		$('#confirmEditCancel').on('click', function () {
			// 입력 필드 초기화

			$('#issuTtlVal').val('');
			editorEditing.setHTML('');
			editDataTransfer.clearData();
			$('#cancelEditConfirmationModal').modal('hide');
			$('.modalIssueEditForm').css('display', 'none');
			$('.modalIssueInfoForm').css('display', 'block');
		});

		// '취소' 버튼 클릭 시
		$('#cancelEditCancel').on('click', function () {
			$('#cancelEditConfirmationModal').modal('hide');
		});
	});

	$('.completeEditing').on('click', function () {
		// "수정" 버튼이 활성화 상태일 때만 실행됨
		if ($(this).hasClass('registrable')) {
			updateIssue();
		} else {
			$('#editCheckingInput').modal('show');
			$('#editCheckingInput').css('display', 'block');
			// 확인 버튼 클릭 시
			$('#confirmEditCheckingInput').on('click', function () {
				$('#editCheckingInput').modal('hide');
				$('#editCheckingInput').css('display', 'none');
			});
		}

	})

	// 이슈 삭제
	function deleteIssue() {
		let issuNo = $('.modalIssueName').data('issuNo');
		// 경고창
		$('#delConfirmationModal').modal('show');

		$('#delCancel').on('click', function () {
			$('#delConfirmationModal').modal('hide');
		})

		$('#delConfirm').on('click', function () {
			$('#delConfirmationModal').modal('hide');
			$.ajax({
				url: '/ModalIssueDelete',
				type: 'post',
				data: { issuNo: issuNo } // 데이터를 객체 형식으로 전달
			})
				.done(function (response) {
					$('.modalIssueInfoForm').css('display', 'none');
					$('.workModalContentBack').css('display', 'block');
					issuePaging(1);
				})
				.fail(function (err) {
					console.log(err)
				})
		})
	}

	// 이슈 수정 창에서 파일 리스트 조회
	function findAllFile() {
		let issuNo = $('.modalIssueName').data('issuNo');
		$('#editIssueFileList').empty();
		$.ajax({
			url: '/issues/' + issuNo + '/files',
			type: 'get'
		})
		
			.done(function (response) {
				$.each(response, function (idx, item) {
					$('.fileEmpty').remove();
					let trTag = $('<tr/>').data('editFileNo', item.issuFileNo);
					let fileNameTag = $('<td/>').text(item.issuFileNm);
					let fileSizeTag = $('<td/>').text(getByteSize(item.issuFileSize));
					let deleteFileTag = $('<td/>').attr('class', 'deleteEditFile').attr('onclick', 'removeExistingFile(this,' + item.issuFileNo + ')'); // 기존꺼 삭제하는 함수.

					trTag.append(fileNameTag);
					trTag.append(fileSizeTag);
					trTag.append(deleteFileTag);

					$('#editIssueFileList').append(trTag);
				})
			})
			.fail(function (err) {
				console.log(err);
			})
	}

	// 이슈 수정 창에서 해시태그 리스트 조회
	function findAllHashtag() {
		let issuNo = $('.modalIssueName').data('issuNo');
		$('.tagify__tag').remove();

		$.ajax({
			url: '/issues/' + issuNo + '/hashtags',
			type: 'get',
			success: function (response) {
				let hts = [];
				$.each(response, function (idx, item) {
					hts.push(item.issuHtNm);
				})
				inputHashE.value = hts.join(',');
			},
			error: function (err) {
				console.log(err);
			}

		});
	}

	function addIssueFileE(element) {
		const file = element.files[0];

		// 1. 파일 선택 창에서 취소 버튼이 클릭 되는 경우
		if (!file) {
			return false;
		}
		// 2. 파일 크기가 10MB을 초과하는 경우
		const editFileSize = Math.floor(file.size / 1024 / 1024);
		if (editFileSize > 10) {
			Swal.fire({
				icon: 'error',                         // Alert 타입
				text: '10MB 이하의 파일을 업로드 해 주세요.',  // Alert 내용
			});
			return false;
		}

		if (file) {
			$('.fileEmpty').remove();
			let trTag = $('<tr/>').addClass('added');
			let fileNameTag = $('<td/>').text(file.name);
			let fileSizeTag = $('<td/>').text(getByteSize(file.size));
			let deleteFileTag = $('<td/>').attr('class', 'deleteEditFile').attr('onclick', 'editRemoveFile(this);');

			trTag.append(fileNameTag);
			trTag.append(fileSizeTag);
			trTag.append(deleteFileTag);

			$('#editIssueFileList').append(trTag);
		}
	}

	$("#editFiles").change(function () {
		let fileArr = document.getElementById("editFiles").files

		if (fileArr != null && fileArr.length > 0) {
			let maxSize = 10 * 1024 * 1024;

			for (let i = 0; i < fileArr.length; i++) {
				let fileSize = fileArr[i].size;
					if (fileSize > maxSize) {
						$(this).val('');
					} else {
						editDataTransfer.items.add(fileArr[i])
					}
			}
			document.getElementById('editFiles').files = editDataTransfer.files;
		}
	})
	// 수정 폼에서 새롭게 추가된 파일 삭제 시
	function removeEditFileFromDataTransfer(element) {
		let addedFiles = $(".added");
		let index = addedFiles.index($(element).parent());
		if (index != -1) {
			editDataTransfer.items.remove(index);
			document.getElementById("editFiles").files = editDataTransfer.files;
		}
	}
	// 수정 폼에서 새롭게 추가된 파일 삭제 시
	function editRemoveFile(element) {
		removeEditFileFromDataTransfer(element);
		let tr = $(element).closest('tr');
		tr.remove();
		checkEditFile();
	}

	// 수정 폼 기존 파일 삭제
	function removeExistingFile(element, id) {
		// 1. 삭제할 파일 id 추가
		if (id) {
			removeFileId.add(id);
		}
		// 2. 파일 영역 삭제
		let tr = $(element).closest('tr');
		tr.remove();
		checkEditFile();
	}
	/* 이슈 수정 FORM END*/

	var inputHash = document.querySelector('input[name="input-custom-dropdown"]');

	var tagify = new Tagify(inputHash, {
		maxTags: 5, // 최대 허용 태그 개수
		dropdown: {
			position: "input",
			classname: "tags-look", // 드롭다운 메뉴 엘리먼트 클래스 이름.
			enabled: 0
			// always opens dropdown when input gets focus
		}
	})

	// 수정 폼에서 HashTag 폼.
	var inputHashE = document.querySelector('input[name="input-custom-dropdownE"]');

	var tagifyE = new Tagify(inputHashE, {
		maxTags: 5, // 최대 허용 태그 개수
		dropdown: {
			position: "input",
			classname: "tags-look", // 드롭다운 메뉴 엘리먼트 클래스 이름.
			enabled: 0
			// always opens dropdown when input gets focus
		}
	})

	<!-- dddd-->

	// toastuieditor
	var editor = new toastui.Editor({
		el: document.querySelector('#editor'), // 에디터를 적용할 요소 (컨테이너)
		height: '400px', // 에디터 영역의 높이 값 (OOOpx || auto)
		initialEditType: 'wysiwyg', // 최초로 보여줄 에디터 타입 (markdown || wysiwyg)
		initialValue: '내용을 입력해 주세요.', // 내용의 초기 값으로, 반드시 마크다운 문자열 형태여야 함
		previewStyle: 'vertical' // 마크다운 프리뷰 스타일 (tab || vertical)
	})
	editor.removeToolbarItem("image");

	var realUpload = document.querySelector('.real-upload');
	var upload = document.querySelector('.LoadBtn.upload');
	upload.addEventListener('click', () => realUpload.click());

	var dataTransfer = new DataTransfer();

	// toastuiviewer
	var viewer = toastui.Editor.factory({
		el: document.querySelector('#viewer'),
		viewer: true,
		height: '600px'
	});

	// toastuieditor
	var editorEditing = new toastui.Editor({
		el: document.querySelector('#editorEditing'), // 에디터를 적용할 요소 (컨테이너)
		height: '400px', // 에디터 영역의 높이 값 (OOOpx || auto)
		initialEditType: 'wysiwyg', // 최초로 보여줄 에디터 타입 (markdown || wysiwyg)
		initialValue: '내용을 입력해 주세요.', // 내용의 초기 값으로, 반드시 마크다운 문자열 형태여야 함
		previewStyle: 'vertical' // 마크다운 프리뷰 스타일 (tab || vertical)
	})

	 editorEditing.removeToolbarItem("image");

	// 수정 폼에서 파일 추가
	var editRealUpload = document.querySelector('.editReal-upload');
	var editUpload = document.querySelector('.editingLoadBtn.upload');
	editUpload.addEventListener('click', () => editRealUpload.click());

	var editDataTransfer = new DataTransfer();

	// 파일 삭제 처리용 익명 함수
	var removeFileId = (function () {
		const ids = [];
		return {
			add(id) {
				if (ids.includes(id)) {
					return false;
				}
				ids.push(id);
			},
			getAll() {
				return ids;
			},
			removeAll() {
				ids.length = 0;
			}
		}
	}());
</script>