
<form  id="updatebussform"class="form-valide" action="#" method="post">
[[${session.loginInfo}]]
	[[${session.projectVO}]]
	<div>
		<div class="issueNameEdit">
			<div class="issueNameBack">
				<textarea class="modalIssueNameUpdate" id="bussNm" name='bussNm'
					maxlength="200" style="height: 34px;" placeholder="업무명을 입력하세요."
					th:text="${businessVO.bussNm}"></textarea>
			</div>
		</div>
		<div>

			<div class="card" style="height: 200px;">
				<div class="card-body" style="overflow: auto;">
					<div class="table-responsive">
						<table class="table">
							<thead>
								<tr>
									<th>프로필</th>
									<th>부서</th>
									<th>직책</th>
									<th>이름</th>
									<th>삭제</th>
								</tr>
							</thead>
							<tbody id="updatemembertbl">
								<th:block th:each="bussMemList : ${businessMemberList}">
									<tr th:id="${bussMemList.membId}">
										<td><img
											th:src="@{/images/profile/}+${bussMemList.membPhtPath}"
											height="50px" width="50px" alt="프로필"
											th:if="${bussMemList.membPhtPath != null}" /></td>
										<td th:text="${bussMemList.membDept}" />
										<td th:text="${bussMemList.membWkgd}" />
										<td th:text="${bussMemList.membNm}" />
										<!-- 버튼 수정하기 -->
										<td><i class="fa-solid fa-minus"></i></td>
										<input type="hidden" name ="membId" th:value="11">
									</tr>
								</th:block>
							</tbody>
						</table>
					</div>

				</div>
			</div>
			<div>
				<div class="card" style="height: 200px;">
					<div class="card-body" style="overflow: auto;">
						<div class="SearchBox" style="height: 50%">
							<label for="SearchToggleCheckBox"
								th:attr="onclick='searchMember()'"></label> <input type="hidden"
								id="infokeyword" value="전체">
							<div class="SearchInputBox" style="width: 270px;">
								<div>
									<div class="member-selectBox" style="width: 100px;">
										<div class="member-selected" id="info-member-selected">
											<div class="member-selected-value">전체</div>
											<div class="arrow"></div>
										</div>
										<ul class="member-select-ul"
											style="width: 100px; top: 20%; display: none;">
											<li class="member-select-option" data-value="전체">전체</li>
											<li class="member-select-option" data-value="부서">부서</li>
											<li class="member-select-option" data-value="직책">직책</li>
											<li class="member-select-option" data-value="제목">이름</li>
										</ul>
									</div>
								</div>
								<input class="SearchInputModalView" id="infosearch" type="text"
									placeholder="검색어를 입력하세요.">
							</div>

						</div>
						<div class="table-responsive">
							<table class="table">
								<thead>
									<tr>
										<th>프로필</th>
										<th>부서</th>
										<th>직책</th>
										<th>이름</th>
										<th>추가</th>
									</tr>
								</thead>
								<tbody id="infomembertbl">
									<th:block th:each="memberList : ${memberList}">
										<tr th:id="${memberList.membId}">
											<td><img
												th:src="@{/images/profile/}+${memberList.membPhtPath}"
												height="50px" width="50px" alt="프로필"
												th:if="${memberList.membPhtPath != null}" /></td>
											<td th:text="${memberList.membDept}" />
											<td th:text="${memberList.membWkgd}" />
											<td th:text="${memberList.membNm}" />
											<!-- 버튼 수정하기 -->
											<td><i class="fa-solid fa-plus"></i></td>
										</tr>
									</th:block>
								</tbody>
							</table>
						</div>

					</div>
				</div>
			</div>
		</div>

		<div class="form-group row">
			<label class="col-lg-4 col-form-label">일정 </label>
			<div class="col-lg-3">
				<input type="date" class="form-control" id="bussFrdt"
					name="bussFrdt"
					th:value="${#dates.format(businessVO.bussFrdt, 'yyyy-MM-dd')}">
			</div>
			<div class="col-lg-1">
				<label class="col-lg-4 col-form-label">~ </label>

			</div>
			<div class="col-lg-3">
				<input type="date" class="form-control" id="bussTodt"
					name="bussTodt"
					th:value="${#dates.format(businessVO.bussTodt, 'yyyy-MM-dd')}">
			</div>
		</div>

		<div class="form-group row">
			<label class="col-lg-4 col-form-label" for="val-username">중요도
			</label>
			<div class="col-lg-6">
				<div class="dropdown custom-dropdown">
					<select class="dropdown-import" id="bussImp" name="bussImp"
						th:value="${businessVO.bussImpNm}">
						<option class="dropdown-import" value="0J1"
							th:selected="${businessVO.bussImpNm}=='상'" >상</option>
						<option class="dropdown-import" value="0J2"
							th:selected="${businessVO.bussImpNm}=='중'">중</option>
						<option class="dropdown-import" value="0J3"
							th:selected="${businessVO.bussImpNm}=='하'">하</option>

					</select>

				</div>
			</div>
		</div>
		<div class="form-group row">
			<label class="col-lg-4 col-form-label" for="val-username">진척도
			</label>
			<div class="col-lg-5">
				<div class="snap">
					<div id="hover"></div>
					<span class="example-val mt-4 d-inline-block" id="hover-val"></span>
				</div>
			</div>
			<div class="col-lg-2">
				<input type="text" id="bussPrgre" name = "bussPrgre"th:value="${businessVO.bussPrgre}" />
			</div>
		</div>
		<div class="form-group row">
			<label class="col-lg-4 col-form-label" for="val-username">상태
			</label>
			<div class="col-lg-6">
				<input type="text" id="bussSt" name = "bussSt" th:value="${businessVO.bussStNm}"
					readonly="readonly" />
			</div>

		</div>
		<div class="form-group row">
			<label class="col-lg-4 col-form-label" for="val-username">종속관계
			</label>
			<div class="col-lg-6">
				<div class="dropdown custom-dropdown">
					<div>
						<select class="dropdown-relation" name="bussDep">
							<option class="dropdown-relation" value="">선택</option>
							<option class="dropdown-relation" value="up">선행 작업</option>
							<option class="dropdown-relation" value="down">후속 작업</option>

						</select>
					</div>
				</div>

				<div class="dropdown custom-dropdown">
					<div>
						<select class="dropdown-relation" name="bussUpNm">
							<option class="dropdown-business" value="">선택</option>
							<th:block th:each="bussNameList : ${businessNameList}">

								<option class="dropdown-business"
									th:value="${bussNameList.bussNm}"
									th:text="${bussNameList.bussNm}"></option>
							</th:block>
						</select>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div>
		<input type="hidden" name="prjtNo" th:value="${session.projectVO.prjtNo}" />
	</div>
	<div class="modal-footer">
		<button id="updatebussBtn" type="button" class="btn btn-primary">수정</button>
	</div>
</form>
<script>
	var slider = document.getElementById('hover');
	var bussPrgre = $('#bussPrgre').val();
	noUiSlider.create(slider, {
		start : bussPrgre,
		connect : 'lower',
		range : {
			'min' : 0,
			'max' : 100
		}
	});
	slider.noUiSlider.on('slide', function(value, handle) {
		$('#bussPrgre').val(Math.round(value[handle], 0));

	})
	$('#bussPrgre').on('change', function() {
		slider.noUiSlider.set($(this).val());
	})

	$('.member-selectBox').on('click', function() {
		$('.member-select-ul').css('display', 'block');
	})

	$('.member-select-option').on('click', function(e) {
		var selectValue = e.currentTarget.textContent;
		$('.member-selected-value').text(selectValue);
		$('#keyword').val(selectValue);
		$('.member-select-ul').css('display', 'none');
		console.log(slider.noUiSlider.get());
		e.stopPropagation();
	})

	$('#infomembertbl').on('click', 'td:nth-child(5)', function() {insertMember($('#updatemembertbl'))})
	$('#updatemembertbl').on('click', 'td:nth-child(5)', deleteMember)
	

	$('#updatebussBtn').on('click',function(){
		
		let formData = $('#updatebussform').serializeArray();

	 	let formObj = {};
	 	let memberArray = [];
		$.each(formData, function(idx,obj){
 		  	if(obj.name != "membId"){
				formObj[obj.name] = obj.value;
			}  
 		  	else{
				memberArray.push({membId : obj.value});
		    }
		});
	
		let obj = {};
	
		obj["business"] = formObj;
		obj["businessMember"] = memberArray;
		
	 	$.ajax('/updateBuss' ,{
			type : 'post',
			contentType : 'application/json',
			data : JSON.stringify(obj)
		})
		.done(data => {})
		.fail(err => {}); 
 	})
		
	
	
	
	
</script>
