<!--  업무 등록 모달  -->
<div class="modal fade bd-example-modal-lg" id="insertbuss"
	tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span>&times;</span>
				</button>
			</div>
			<div class="modal-body">

				<form id="insertbussform" class="form-valide" action="#"
					method="post">
					<div>
						<div class="issueNameEdit">
							<div class="prjtName">
								<input class="modalIssueNameUpdate" id="bussNm" name='bussNm'
									maxlength="200" style="height: 34px;" placeholder="업무명을 입력하세요.">
							</div>
						</div>
					
						<div>
							<label class="col-lg-4 col-form-label" for="val-username">업무 참여자
										</label>
							<div class="card" style="height: 200px;">
								<div class="card-body" style="overflow: auto;">
									
									<div class="table-responsive">
										<table class="table">
											<thead>
												<tr>
													<th>프로필</th>
													<th>부서</th>
													<th>직책</th>
													<th>이름</th>
													<th>삭제</th>
												</tr>
											</thead>
											<tbody id="insertbussmembertbl">

											</tbody>
										</table>
									</div>

								</div>
							</div>
							<div>
							<label class="col-lg-4 col-form-label" for="val-username">프로젝트 참여자
										</label>
								<div class="card" style="height: 200px;">
									<div class="card-body" style="overflow: auto;"> 
										
										<div class="SearchBox" style="height: 50%">
											<label for="SearchToggleCheckBox"
												th:attr="onclick='busssearchMember()'"></label> <input
												type="hidden" id="keyword" value="전체">
											<div class="SearchInputBox" style="width: 270px;">
												<div>
													<div class="member-selectBox" style="width: 100px;">
														<div class="member-selected" id="member-selected">
															<div class="member-selected-value">전체</div>
															<div class="arrow"></div>
														</div>
														<ul class="member-select-ul"
															style="width: 100px; top: 20%; display: none;">
															<li class="member-select-option" data-value="전체">전체</li>
															<li class="member-select-option" data-value="부서">부서</li>
															<li class="member-select-option" data-value="직책">직책</li>
															<li class="member-select-option" data-value="이름">이름</li>
														</ul>
													</div>

												</div>
												<input class="SearchInputModalView" id="search" type="text"
													placeholder="검색어를 입력하세요." />
											</div>

										</div>
										
										<div class="table-responsive">
											<table class="table">
												<thead>
													<tr>
														<th>프로필</th>
														<th>부서</th>
														<th>직책</th>
														<th>이름</th>
														<th>추가</th>
													</tr>
												</thead>
												<tbody id="bussmembertbl">
													<!--  <input type="hidden" name="membId" th:value="${memberList.membId}" />-->
													<tr th:id="${memberList.membId}"
														th:each="memberList : ${projectMemberList}">
														<td><img
															th:src="'/uploads/'+${memberList.membPhtPath}"
															height="50px" width="50px" alt="프로필"
															th:if="${memberList.membPhtPath != null}" /></td>
														<td th:text="${memberList.membDept}">개발</td>
														<td th:text="${memberList.membWkgd}" />
														<td th:text="${memberList.membNm}" />
														<td><i class="fa-solid fa-plus"></i></td>
													</tr>
												</tbody>
											</table>
										</div>

									</div>
								</div>
							</div>
						</div>

						<div class="form-group row">
							<label class="col-lg-4 col-form-label">일정 </label>
							<div class="col-lg-3">
								<input type="date" class="form-control" id="bussFrdt" style="cursor:pointer;"
									name="bussFrdt" />
								<!--/* th:value="${#dates.format(projectList.prjtFdt, 'yyyy-MM-dd')}" */-->
							</div>
							<div class="col-lg-1">
								<label class="col-lg-4 col-form-label">~ </label>

							</div>
							<div class="col-lg-3">
								<input type="date" class="form-control" id="bussTodt" style="cursor:pointer;"
									name="bussTodt">
							</div>
						</div>

						<div class="form-group row">
							<label class="col-lg-4 col-form-label" for="val-username">중요도
							</label>
							<div class="col-lg-6">
								<div class="dropdown custom-dropdown" >
									<select class="dropdown-import" name="bussImp" >
										<option class="dropdown-import" value="0J1">상</option>
										<option class="dropdown-import" value="0J2">중</option>
										<option class="dropdown-import" value="0J3">하</option>
									</select>
								</div>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-lg-5 col-form-label" for="val-username">종속관계</label>
							<label class="col-lg-3 col-form-label" for="val-username">선행
								업무</label>

							<div class="dropdown custom-dropdown">
								<div>
									<select class="dropdown-relation" name="bussUpcd">
										<option class="dropdown-business" value="">선택</option>
										<th:block th:each="bussNameList : ${businessNameList}">
											<option class="dropdown-business"
												th:value="${bussNameList.bussNo}"
												th:text="${bussNameList.bussNm}"></option>
										</th:block>
									</select>
								</div>
							</div>
							<!--후속  -->
						</div>
						<div class="form-group row">
							<div class="col-lg-4 col-form-label"></div>
							<div class="col-lg-1">
								<i class="fa-solid fa-plus fa-lg" ></i>
							</div>
							<label id="label" class="col-lg-3 col-form-label"
								for="val-username">후속업무</label>

							<div class="dropdown custom-dropdown">
								<div>
									<select class="dropdown-relation" name="bussdownNo"
										th:onchange="change(this);">
										<option class="dropdown-business" value="">선택</option>
										<th:block th:each="bussNameList : ${businessNameList}">
											<option class="dropdown-business"
												th:value="${bussNameList.bussNo}"
												th:text="${bussNameList.bussNm}"></option>
										</th:block>
									</select>
								</div>

							</div>
						</div>
					</div>
					<div>
						<input type="hidden" name="prjtNo" th:value="${session.prjtNo}" />
					</div>
					<div class="modal-footer">
						<button id="insertBtn" type="button" class="btn btn-primary">등록</button>
					</div>

				</form>

			</div>
		</div>
	</div>
</div>


<script th:inline="javascript">

			//$('#membertbl').on('click', 'td:nth-child(5)',insertMember)
			$('#bussmembertbl').on('click', 'td:nth-child(5)',  function(){insertbussMember( $('#insertbussmembertbl'))})
			$('#insertbussmembertbl').on('click','td:nth-child(5)' ,deleteMember)
			$('#keyword').on('click', busssearchMember)
		 	$('.dropdown-import').on('click', dropdown)
			$('.dropdown-relation').on('click', dropdown)
			$('.dropdown-business').on('click', dropdown)
			 
			$('#insertBtn').on('click',insertBusiness)
		
			$('.member-selectBox').on('click', function () {
				$('.member-select-ul').css('display', 'block');
			})
			let disableNo = [];
			$('.member-select-option').on('click', function (e) {
				
				var selectValue = e.currentTarget.textContent;
				$('.member-selected-value').text(selectValue);
				$('#keyword').val(selectValue);
				$('.member-select-ul').css('display', 'none');
				e.stopPropagation();
			})
		
			function dropdown(){
				$(this).parent().siblings().attr('class', $(this).children().attr('class'));
				$(this).parent().siblings().text($(this).text());
			}
			
			function insertbussMember(tbl){
				//tr의 ID -중복체크를 위한 값 
				
				let id = $(event.target).closest('tr').attr('id');
				
				let image = $(event.target).closest('tr').children().eq(0).children().attr('src');
				let dept = $(event.target).closest('tr').children().eq(1).text();
				let position = $(event.target).closest('tr').children().eq(2).text();
				let name = $(event.target).closest('tr').children().eq(3).text();
				
				let isDup = true;				
				tbl.find('tr').each(function(){
					 let checkId = $(this).attr('id');
					 if(checkId == id){
						 isDup = false;
					 }
				})
				
				if (isDup){
					
					let trTag = $('<tr/>');
					let tdTag= $('<td/>');
					
					trTag.attr('id', id);
					
					if(image != null){
						let imgTag = $('<img>',{
							src:image,
							height:"50px", 
							width:"50px"
						})
						
						tdTag.append(imgTag);
					}
					trTag.append(tdTag);
					
		
					tdTag= $('<td/>');
					tdTag.append(dept);
					trTag.append(tdTag);
					
					tdTag= $('<td/>');
					tdTag.append(position);
					trTag.append(tdTag);

				
					tdTag= $('<td/>');
					tdTag.append(name);
					trTag.append(tdTag);
					
					tdTag= $('<td/>');
					tdTag.append('<i class="fa-solid fa-minus"></i>');
					trTag.append(tdTag);
					
					let inputTag = $('<input/>');
					inputTag.attr('type', 'hidden'); 
					inputTag.attr('name', 'membId');
					inputTag.attr('value', id);
					trTag.append(inputTag);
					
					tbl.append(trTag); 
					
				}
			}
			
			function deleteMember(event){
				$(this).parent().remove();
			}
		
			function busssearchMember(){
				let selected = $('.member-selected-value').first().text();
				let search  = $('#search').val();
	
				$.ajax('/prjtMemSearchAjax?&key='+selected + '&value=' + search)
				.done(function(data){
					let tbody = $('#bussmembertbl');
					tbody.empty();
					$.each( data, function(idx,data){
	
					 	let trTag = $('<tr/>');
					 	let tdTag = $('<td/>');
					 	
						trTag.attr('id', data.MEMB_ID);
				
						if(data.MEMB_PHT_PATH != null){
						let imgTag = $('<img>',{
							src:'/uploads/' +data.MEMB_PHT_PATH,
							height:"50px", 
							width:"50px",
						})
			
					 		tdTag.append(imgTag);
						}
					 	trTag.append(tdTag);
					 	
					 	tdTag = $('<td/>');
					 	tdTag.append(data.MEMB_DEPT);
					 	trTag.append(tdTag);
					 	
					 	tdTag = $('<td/>');
					 	tdTag.append(data.MEMB_WKGD);
					 	trTag.append(tdTag);
					 	
					 	tdTag = $('<td/>');
					 	tdTag.append(data.MEMB_NM);
					 	trTag.append(tdTag);
					
					 	tdTag = $('<td/>');
					 	tdTag.append('<i class="fa-solid fa-plus"></i>');
					 	trTag.append(tdTag);
					 	
					 	tbody.append(trTag);
					})
				})
				.fail(err =>  console.log(err));
			}
			
			 let bussList = [[${businessNameList}]];
			 let temp = 	`
			    	<div class="form-group row">

				 	<div class="col-lg-4 col-form-label"></div>
					<div class="col-lg-1"></div>
					<label id = "label" class="col-lg-3 col-form-label" for="val-username">후속 업무</label>
					<div class="dropdown custom-dropdown">
						<div>
							<select  class="dropdown-relation" name="bussdownNo"  onchange="change(this);">
							<option class="dropdown-business" value="">선택</option>
								
							</select>
						</div>
					</div>
					
					</div>`;
					
		    let selectTemp = 			`<div class="form-group row">
			<div class="col-lg-4 col-form-label"></div>
			<div class="col-lg-1">
				<i class="fa-solid fa-plus fa-lg" ></i>
			</div>
			<label id="label" class="col-lg-3 col-form-label"
				for="val-username">후속업무</label>

			<div class="dropdown custom-dropdown">
				<div>

					<select class="dropdown-relation" name="bussdownNm"
						onchange="change(this);">
						<option class="dropdown-business" value="">선택</option>
						
					</select>
				</div>
			</div>
		</div>`;
		

		function addRow(){
				
 				$(event.target).attr('onclick', 'return false');
 				
				let div = $(event.target).parent().parent().parent();

				div.append(temp);
			
				let select = div.find('.dropdown-relation').last();
				 
					let option = '';
					for(let i =0; i< bussList.length ; i++){
						option = $('<option>' + bussList[i].bussNm+'</option>');
						option.attr('value' , bussList[i].bussNo);
						select.append(option);
						for(let j = 0;  j < disableNo.length; j++){
							if(bussList[i].bussNo == disableNo[j]){

								option.prop('disabled', true);		
							}
						}
					}
			}

			function removeRow(e){
				
				let removeSelect = $(e).parent().prev().find('option:selected');
				removeSelect.prop('disabled',false);
				let removeNo = removeSelect.val();
				let index = disableNo.indexOf( Number(removeNo));
			
				if (index !== -1) {
					disableNo.splice(index, 1);
				}
				let div = $(e).parent().parent().parent();
				$(e).parent().parent().remove();
				console.log(disableNo);
				if($('#label').text() == ''){
					div.append(selectTemp);
					
					let select = div.find('.dropdown-relation');
					
					let option = '';
					for(let i =0; i< bussList.length ; i++){
							option = $('<option>' + bussList[i].bussNm+'</option>');
							option.attr('value' , bussList[i].bussNo);
							select.append(option);
					} 
				}
				
				//+버튼 추가
				if($('.fa-solid.fa-plus.fa-lg').length == 0){
					//
					div.last().find('#label').prev().append('<i class="fa-solid fa-plus fa-lg" ></i>');
				    div.children().last().find('.col-lg-5').attr('class', 'col-lg-4 col-form-label');
					
				}
				$('.fa-solid.fa-plus.fa-lg').attr('onclick', 'addRow();');
				
			}
			
			function change(e){

				$(e).prop('disabled', true);
				let no =$(e).find('option:selected').val();
				disableNo.push(Number(no));
				let div = $('<div class="col-lg-1"></div>');
				let icon = $('<i class="fa-solid fa-minus fa-lg" onclick="removeRow(this);"></i></div>');
				div.append(icon);
				$(e).parent().parent().parent().append(div);
				if(disableNo.length <  bussList.length){
					$('.fa-solid.fa-plus.fa-lg').attr('onclick', 'addRow();');
				}
				
			}
		
			function insertBusiness(){
				
				let formData = $('#insertbussform').serializeArray();
				let bussUpNo = '';
				for(let i=0; i< formData.length; i++){
					if(formData[i].name == 'bussUpcd'){
						 bussUpNo = formData[i].value;
					
					}
				}
				for(let i= 0; i< disableNo.length; i++){
					if(bussUpNo != disableNo[i]){
						formData.push({name : 'bussdownNo', value: disableNo[i]});
					}
				}
		
				let bussName = $('[name="bussNm"]');
				let bussFrdt = $('[name="bussFrdt"]');
				let bussTodt = $('[name="bussTodt"]');
				if(bussName.val() == ''){
					Swal.fire("업무 제목을 입력해주세요.", "" ,"warning");
					
					return;
				}
				if(bussFrdt.val() == ''){
					Swal.fire("시작 날짜를 입력해주세요.", "" ,"warning");
					
					return;
				}
				if(bussTodt.val() == ''){
					Swal.fire("종료 날짜를 입력해주세요.", "" ,"warning");
					
					return;
				}
				
			 	let formObj = {};
			 	let memberArray = [];
			 	let relationArray = [];
				$.each(formData, function(idx,obj){
		 		  	if(obj.name == "membId"){
						memberArray.push({membId : obj.value});
					}  
		 		  	else if(obj.name == "bussdownNo"){
		 		  		relationArray.push({bussdownNo : obj.value});
		 		  	}
		 		  	else{
						
						formObj[obj.name] = obj.value;
				    }
		 		  	
				});
			
				let obj = {};
			
				obj["business"] = formObj;
				obj["businessMember"] = memberArray;
				obj["relationList"] = relationArray;
				$.ajax('/insertBusiness' ,{
					type : 'post',
					contentType : 'application/json',
					data : JSON.stringify(obj)
				})
				.done(data => {
					Swal.fire({
						  title: "업무등록",
						  icon:  "success",
						  confirmButtonText: "확인"
						}).then((result) => {
						  if (result.isConfirmed) {
							  location.reload();
						  }
						});
					
				})
				.fail(err => {});
					
			}
			
			$('.close').on('click', function(){
				location.reload();
			})
			
		</script>

<script src="/plugins/nouislider/nouislider.min.js"></script>
<script src="/plugins/wnumb/wNumb.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
