<div class="workModalContentBack">
    <div class="workModalContentSlider">
        <div class="workModalContent issueContent">
            <div class="workModalBussTitle">
                <div class="ModalTitle">
                    <div class="ModalProjectNameBox">
                        <div id="ProjectLink">
                            #<span></span>
                            <p class="textEllipsis">프로젝트 이름</p>
                        </div>
                    </div>
                    <div class="ModalBussNameBox Edit">
						<div class="ModalBussNameBack">
							<textarea id="ModalUpdateBussName" readonly
								maxlength="200" style="height: 34px;">업무명</textarea>
							<hr style="border-bottom: solid 1px">
						</div>
					</div>
                </div>
            </div>
            <div class="ModalInfo" >
            	<!-- Comment List Area Start -->
                <div class="reply-body" id="reply-body-div">
                	<th:block th:each="reply : ${replyList}">
                        <div class="media border-bottom-1 pt-3 pb-3">
                            <div class="media-body">
                                <h5 th:text="${reply.membNm}"></h5>
                                <p class="mb-0" th:text="${reply.replyCntn}"></p>
                            </div>
                            
                            <ul>
                           		<li>
                           			<span class="text-muted" th:text="${#dates.format(reply.replyDt,'yyyy-MM-dd HH:mm')}"></span>
                           		</li>
                           		<li>
                           			<span>수정</span>
                           			<span>삭제</span>
                           		</li>
                            </ul>
                            	
                        </div>
                	</th:block>
                </div>
                <!-- Comment List Area End -->
                   
	            <!-- Comemnt Input Area Start -->
            	<div class="reply-body">
					<textarea class="form-control" name="inputCntn" id="inputCntn"/>
					<button id="insertBtn" class="btn btn-primary px-3 ml-4 float-right"
					style="margin-top:0.88em">Send</button>
			    </div>
				<!-- Comment Input Area End -->
            </div>
		</div>
	</div>
</div>

<script>
	$(function(){
	    $('#reply-body-div').slimScroll({
	        height: '250px'
	    });
	})
</script>
            