<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.compani.company.mapper.CompanyMapper">

	<!-- 소속회사목록 -->
	<select id="selectCompanyList" resultType="Map">
		SELECT *
		FROM COMPANY
	</select>
</mapper>